.bank-howto
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    justify-content: space-between

    border-radius: 8px
    border: 2px solid #dfdfdf

    padding: 19px 38px 25px

    @media screen and (max-width: 1000px)
        border: none
        border-radius: 0

    @media screen and (max-width: 500px)
        padding: 5px 10px 0

    &-section
        padding: 37px 0 45px

        @media screen and (max-width: 1000px)
            padding: 6px 0
            background: #FFFFFF

    &-section &
        @media screen and (max-width: 900px)
            margin: 0 -10px

    & > &-item--first
        width: 51.5%

        @media screen and (max-width: 500px)
            width: 100%

    & > &-item--second
        width: 42.4%

        @media screen and (max-width: 500px)
            width: 100%

    & > &-item--third
        width: 53%
        margin: -9px 0 10px

        @media screen and (max-width: 500px)
            width: 100%

    & > &-item--fourth
        width: 100%
        display: none

        margin: 1px 0 -1px

        @media screen and (max-width: 500px)
            display: block

        .button-container
            width: 100%
            margin: 0 0 15px

            .button
                width: 100%

    & &-item
        margin: 10px 0

    &-item
        & &-header
            margin: 0 0 8px

        &-header
            color: $color-dark
            font-weight: $font-weight-bold
            font-size: 25px

            @media screen and (max-width: 500px)
                font-size: 27px
                font-weight: $font-weight-black
                line-height: 0.93

        & &-list
            margin: 20px 0 0

            @media screen and (max-width: 500px)
                margin: 18px 0 0

        &-list
            color: $color-dark
            font-size: 18px

            padding: 0
            margin: 0
            list-style: none

            @media screen and (max-width: 800px)
                font-size: 16px

            @media screen and (max-width: 500px)
                font-size: 14px
                line-height: 1.07

            &--horizontal
                li
                    display: inline-block
                    margin-right: 18px

                    @media screen and (max-width: 500px)
                        display: block
                        margin: 0 0 16px

            &--vertical
                li
                    margin: 0 0 23px

                    @media screen and (max-width: 500px)
                        margin: 0 0 16px
                        padding: 0 0 0 17px

            &--documents
                column-count: 2

                margin: 12px 43px 7px -1px

                @media screen and (max-width: 1200px)
                    margin: 12px 0 7px -1px

                @media screen and (max-width: 500px)
                    column-count: 1
                    line-height: normal

                li
                    margin: 0 0 23px

                    @media screen and (max-width: 500px)
                        margin: 0 0 18px

            li
                position: relative
                padding: 0 0 0 20px

                @media screen and (max-width: 500px)
                    padding: 0 0 0 17px

                &:before
                    +icon-bullet
                    font-size: 9px
                    color: $color-cool-grey
                    position: absolute
                    top: 5px
                    left: 3px

                    @media screen and (max-width: 500px)
                        top: 3px
                        left: 1px

    & &-get
        margin: -8px 0 0

        @media screen and (max-width: 500px)
            margin: 0

    &-get
        & &-item
            border-bottom: 1px solid #dfdfdf
            padding: 18px 0

            @media screen and (max-width: 500px)
                padding: 11px 0 18px

        &-item
            display: flex
            align-items: flex-start
            flex-wrap: wrap

            &-photo
                display: flex
                align-items: center
                justify-content: center

                &__icon
                    width: 24px
                    height: 24px

                    fill: $color-cool-grey

            & &-header
                margin: 2px 0 0

                @media screen and (max-width: 500px)
                    margin: 4px 0 0

                a
                    @media screen and (max-width: 800px)
                        font-size: 16px

                    @media screen and (max-width: 500px)
                        font-size: 15px

            &-header
                color: $color-cool-grey
                font-size: 18px
                font-weight: 400

            & &-content
                flex: 1
                margin: 0 0 0 12px

                @media screen and (max-width: 800px)
                    margin: 0 0 0 10px

                @media screen and (max-width: 500px)
                    margin: 0 0 0 13px

        &-item &-phones
            margin: 14px 0 5px

            @media screen and (max-width: 800px)
                margin: 0

            @media screen and (max-width: 500px)
                margin: 6px 0 -6px

        &-phones
            display: flex
            flex-wrap: wrap
            justify-content: space-between

            & > *
                width: 50%

                @media screen and (max-width: 800px)
                    width: 100%
                    margin: 10px 0 0

                @media screen and (max-width: 500px)
                    margin: (19px/2) 0

        &-phone
            display: flex
            align-items: flex-start
            flex-direction: column
            color: $color-dark

            font-size: 14px
            font-weight: 400

            @media screen and (max-width: 500px)
                font-size: 12px

            a
                color: $color-dark
                font-size: 18px
                font-weight: 700

                margin: 0 0 2px

                transition-property: color
                transition-duration: $transition-duration

                @media screen and (max-width: 500px)
                    font-size: 16px

                &:hover,
                &:active
                    text-decoration: none
                    color: $color-clear-blue
