.listcredit-slider
    .container
        .listcreditslider
            .listcreditslider__dots.listcreditslider__dots--desktop
                span Последние отзывы
                div.listcreditslider-nav
                    a(href="#") 
                        | Все 
                        span отзывы
                    .js-init--listcreditslider-dots
            .listcreditslider__wrap.js-init--listcreditslider
                .listcreditslider__item
                    div 
                        //- Block
                        .blockreview
                            .blockreview__header
                                .star-rating
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star"})
                                    +add-svg({icon: "star"})
                                    +add-svg({icon: "star"})
                                
                                .blockreview__header-link
                                    | Андрей Сергеевич • 
                                    a(href="#") Краснодар
                                em 21 сен 2019
    
                            .blockreview__content
                                .blockreview__content-text
                                    a(href="#").blockreview__content-link
                                        | Подключение страховки при однозначном отказе от нее клиентом
                                    p
                                        | Являюсь клиентом (дебетовые карты, кредитная карта) банка более 4 лет. Пару месяцев назад успешно воспользовался акцией — возврат 50% стоимости билетов  
    
                                a(href="#").blockreview__content-img
                                    +add-image({src: "static/listcredit/halyk.png", retina: true})
    
                            .blockreview__footer
                                a(href="#").blockreview__footer-link Страхование
                                a(href="#").blockreview__comment
                                    i 
                                        span 2
                                    span комментария


                .listcreditslider__item
                    div 
                        //- Block
                        .blockreview
                            .blockreview__header
                                .star-rating
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star"})
                                    +add-svg({icon: "star"})
                                    +add-svg({icon: "star"})
                                
                                .blockreview__header-link
                                    | Виталий Валерьевич • 
                                    a(href="#") Нур-Султан
                                em 21 сен 2019
    
                            .blockreview__content
                                .blockreview__content-text
                                    a(href="#").blockreview__content-link
                                        | Никогда больше не буду обращаться в этот проклятый банк! 2
                                    p
                                        | Являюсь клиентом (дебетовые карты, кредитная карта) банка более 4 лет. Пару месяцев назад успешно воспользовался акцией — возврат 50% стоимости билетов 
    
                                a(href="#").blockreview__content-img
                                    +add-image({src: "static/listcredit/caspi.png", retina: true})
    
                            .blockreview__footer
                                a(href="#").blockreview__footer-link КРЕДИТНЫЕ КАРТЫ
                                span 
                                    +add-svg({icon: "check"})
                                    | Ответ банка
                                a(href="#").blockreview__comment
                                    i 
                                        span 4
                                    span комментария

                .listcreditslider__item
                    div 
                        //- Block
                        .blockreview
                            .blockreview__header
                                .star-rating
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star"})
                                    +add-svg({icon: "star"})
                                    +add-svg({icon: "star"})
                                
                                .blockreview__header-link
                                    | Виталий Валерьевич • 
                                    a(href="#") Нур-Султан
                                em 21 сен 2019
    
                            .blockreview__content
                                .blockreview__content-text
                                    a(href="#").blockreview__content-link
                                        | Никогда больше не буду обращаться в этот проклятый банк! 3
                                    p
                                        | Являюсь клиентом (дебетовые карты, кредитная карта) банка более 4 лет. Пару месяцев назад успешно воспользовался акцией — возврат 50% стоимости билетов 
    
                                a(href="#").blockreview__content-img
                                    +add-image({src: "static/listcredit/caspi.png", retina: true})
    
                            .blockreview__footer
                                a(href="#").blockreview__footer-link КРЕДИТНЫЕ КАРТЫ
                                span 
                                    +add-svg({icon: "check"})
                                    | Ответ банка
                                a(href="#").blockreview__comment
                                    i 
                                        span 4
                                    span комментария
                .listcreditslider__item
                    div 
                        //- Block
                        .blockreview
                            .blockreview__header
                                .star-rating
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star"})
                                    +add-svg({icon: "star"})
                                    +add-svg({icon: "star"})
                                
                                .blockreview__header-link
                                    | Виталий Валерьевич • 
                                    a(href="#") Нур-Султан
                                em 21 сен 2019
    
                            .blockreview__content
                                .blockreview__content-text
                                    a(href="#").blockreview__content-link
                                        | Никогда больше не буду обращаться в этот проклятый банк! 4
                                    p
                                        | Являюсь клиентом (дебетовые карты, кредитная карта) банка более 4 лет. Пару месяцев назад успешно воспользовался акцией — возврат 50% стоимости билетов 
    
                                a(href="#").blockreview__content-img
                                    +add-image({src: "static/listcredit/caspi.png", retina: true})
    
                            .blockreview__footer
                                a(href="#").blockreview__footer-link КРЕДИТНЫЕ КАРТЫ
                                span 
                                    +add-svg({icon: "check"})
                                    | Ответ банка
                                a(href="#").blockreview__comment
                                    i 
                                        span 4
                                    span комментария

            .listcreditslider__dots.listcreditslider__dots--mobile.js-init--listcreditslider-dots--mobile

