.container.tablemax-container
    .reviews-list__filter.listing-bangs-sorting
        +add-select-common({
            placeholder: "Только проверенные",
            name: "value1",
            options: ["Лучшие по активам", "Только проверенные1", "Только проверенные2"],
            selectedOption: 0})
        a(href="#").map-link
            i
                +add-svg({icon: "pin"})
            span На карте
           

    .tablemax.tablemax_banks
        .tablemax__header
            .tablemax__header-item.tablemax__header-item--bank.tablemax-item--bank_1
                span БАНК
            .tablemax__header-item.tablemax-item--phone
                span.reverse
                    | Телефон
            .tablemax__header-item.tablemax-item--address
                span
                    | АДРЕС
        .tablemax_content
            .tablemax__item

                .tablemax__item-wrap
                    //- Img
                    .tablemax__img.tablemax-item--bank_1
                        figure
                            +add-image({src: "static/listcredit/rayffayzenbank.png", retina: true})
                        span.bank-title
                            a(href="#") Райффайзен Банк
                        .lic-bl
                            em Лиц. № 3293
                        .tablemax-item--reviews
                            .bank-reviews
                                .with-tooltip 
                                    .star-rating.tooltip-link.js-tooltip-link
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star"})
                                        +add-svg({icon: "star"})
                                        +add-svg({icon: "star"})
                                    .rating-bank.tooltip-wrap.js-rating
                                        .rating-head-mob
                                            .rating-title-mob Рейтинг банка
                                            .popup__close.close-rating.js__close-rating
                                                +add-svg({icon: "cross-small"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title Общая оценка
                                                .rating-bank__value 1.4 — плохо
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title По активам
                                                .rating-bank__value 2 место
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title По вкладам
                                                .rating-bank__value 2 место
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title Отделений
                                                .rating-bank__value 443
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title Банкоматов
                                                .rating-bank__value 539
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                a(href="#").bank-reviews__link 360 отзывов



                    //- phone
                    .tablemax-item--phone
                        div
                            a(href="tel:88002235577") 8 (800) 223-55-77
                            .tablemax-item--phone-info Горячая линия

                    //- Address
                    .tablemax-item--address
                        .tablemax-item__address 050000, Усть-Каменогорск, Гражданский проспект, 52
                        .tablemax-item--address-note Пн-Пт: 09:00-18:00, перерыв 14:00-15:00
                        .tablemax-item--address-links
                            .tablemax-item--address-item
                                a(href="#").tablemax-item--address-link
                                    i
                                        +add-svg({icon: "bank"})
                                    span.tablemax-item--address-text 256 отделений
                            .tablemax-item--address-item
                                a(href="#").tablemax-item--address-link
                                    i
                                        +add-svg({icon: "atm"})
                                    span.tablemax-item--address-text 395 банкоматов

            .tablemax__item

                .tablemax__item-wrap
                    //- Img
                    .tablemax__img.tablemax-item--bank_1
                        figure
                            +add-image({src: "static/listcredit/invalid-name.png", retina: true})
                        span.bank-title
                            a(href="#") Альянс Банк
                        .lic-bl
                            em Лиц. № 3293
                        .tablemax-item--reviews
                            .bank-reviews
                                .with-tooltip 
                                    .star-rating.tooltip-link.js-tooltip-link
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star"})
                                        +add-svg({icon: "star"})
                                        +add-svg({icon: "star"})
                                    .rating-bank.tooltip-wrap.js-rating
                                        .rating-head-mob
                                            .rating-title-mob Рейтинг банка
                                            .popup__close.close-rating.js__close-rating
                                                +add-svg({icon: "cross-small"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title Общая оценка
                                                .rating-bank__value 1.4 — плохо
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title По активам
                                                .rating-bank__value 2 место
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title По вкладам
                                                .rating-bank__value 2 место
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title Отделений
                                                .rating-bank__value 443
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title Банкоматов
                                                .rating-bank__value 539
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})

                                a(href="#").bank-reviews__link 360 отзывов


                    //- phone
                    .tablemax-item--phone
                        div
                            a(href="tel:88002235577") 8 (800) 567-33-42
                            .tablemax-item--phone-info Горячая линия
                        div
                            a(href="tel:88002235577") 0995
                            .tablemax-item--phone-info Для абонентов Билайна

                    //- Address
                    .tablemax-item--address
                        .tablemax-item__address 345679, Алматы, улица Ленина, 37
                        .tablemax-item--address-note Ежедневно 09:00-18:00
                        .tablemax-item--address-links
                            .tablemax-item--address-item
                                a(href="#").tablemax-item--address-link
                                    i
                                        +add-svg({icon: "bank"})
                                    span.tablemax-item--address-text 742 отделений 
                            .tablemax-item--address-item
                                a(href="#").tablemax-item--address-link
                                    i
                                        +add-svg({icon: "atm"})
                                    span.tablemax-item--address-text 321 банкомат


                
            .tablemax__item

                .tablemax__item-wrap
                    //- Img
                    .tablemax__img.tablemax-item--bank_1
                        figure
                            +add-image({src: "static/listcredit/caspi.png", retina: true})
                        span.bank-title
                            a(href="#") Народный Банк
                        .lic-bl
                            em Лиц. № 3293
                        .tablemax-item--reviews
                            .bank-reviews
                                .with-tooltip 
                                    .star-rating.tooltip-link.js-tooltip-link
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star"})
                                        +add-svg({icon: "star"})
                                        +add-svg({icon: "star"})
                                    .rating-bank.tooltip-wrap.js-rating
                                        .rating-head-mob
                                            .rating-title-mob Рейтинг банка
                                            .popup__close.close-rating.js__close-rating
                                                +add-svg({icon: "cross-small"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title Общая оценка
                                                .rating-bank__value 1.4 — плохо
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title По активам
                                                .rating-bank__value 2 место
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title По вкладам
                                                .rating-bank__value 2 место
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title Отделений
                                                .rating-bank__value 443
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title Банкоматов
                                                .rating-bank__value 539
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})

                                a(href="#").bank-reviews__link 360 отзывов

                        span.info-bb С 16.10.2018 объединен с Каспийским Банком

                    //- phone
                    .tablemax-item--phone
                        div
                            a(href="tel:88002235577") 8 (800) 223-55-77
                            .tablemax-item--phone-info Горячая линия

                    //- Address
                    .tablemax-item--address
                        .tablemax-item__address 050000, Усть-Каменогорск, Гражданский проспект, 52
                        .tablemax-item--address-note Пн-Пт: 09:00-18:00, перерыв 14:00-15:00
                        .tablemax-item--address-links
                            .tablemax-item--address-item
                                a(href="#").tablemax-item--address-link
                                    i
                                        +add-svg({icon: "bank"})
                                    span.tablemax-item--address-text 256 отделений
                            .tablemax-item--address-item
                                a(href="#").tablemax-item--address-link
                                    i
                                        +add-svg({icon: "atm"})
                                    span.tablemax-item--address-text 395 банкоматов


                
            .tablemax__item

                .tablemax__item-wrap
                    //- Img
                    .tablemax__img.tablemax-item--bank_1
                        figure
                            +add-image({src: "static/listcredit/halyk.png", retina: true})
                        span.bank-title
                            a(href="#") Халык Банк
                        .lic-bl
                            em Лиц. № 3293
                        .tablemax-item--reviews
                            .bank-reviews
                                .with-tooltip 
                                    .star-rating.tooltip-link.js-tooltip-link
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star"})
                                        +add-svg({icon: "star"})
                                        +add-svg({icon: "star"})
                                    .rating-bank.tooltip-wrap.js-rating
                                        .rating-head-mob
                                            .rating-title-mob Рейтинг банка
                                            .popup__close.close-rating.js__close-rating
                                                +add-svg({icon: "cross-small"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title Общая оценка
                                                .rating-bank__value 1.4 — плохо
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title По активам
                                                .rating-bank__value 2 место
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title По вкладам
                                                .rating-bank__value 2 место
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title Отделений
                                                .rating-bank__value 443
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title Банкоматов
                                                .rating-bank__value 539
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})

                                a(href="#").bank-reviews__link 360 отзывов


                    //- phone
                    .tablemax-item--phone
                        div
                            a(href="tel:88002235577") 8 (800) 223-55-77
                            .tablemax-item--phone-info Горячая линия

                    //- Address
                    .tablemax-item--address
                        .tablemax-item__address 050000, Усть-Каменогорск, Гражданский проспект, 52
                        .tablemax-item--address-note Пн-Пт: 09:00-18:00, перерыв 14:00-15:00
                        .tablemax-item--address-links
                            .tablemax-item--address-item
                                a(href="#").tablemax-item--address-link
                                    i
                                        +add-svg({icon: "bank"})
                                    span.tablemax-item--address-text 256 отделений
                            .tablemax-item--address-item
                                a(href="#").tablemax-item--address-link
                                    i
                                        +add-svg({icon: "atm"})
                                    span.tablemax-item--address-text 395 банкоматов


                
            .tablemax__item

                .tablemax__item-wrap
                    //- Img
                    .tablemax__img.tablemax-item--bank_1
                        figure
                            +add-image({src: "static/listcredit/rayffayzenbank.png", retina: true})
                        span.bank-title
                            a(href="#") Райффайзен Банк
                        .lic-bl
                            em Лиц. № 3293
                        .tablemax-item--reviews
                            .bank-reviews
                                .with-tooltip 
                                    .star-rating.tooltip-link.js-tooltip-link
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star"})
                                        +add-svg({icon: "star"})
                                        +add-svg({icon: "star"})
                                    .rating-bank.tooltip-wrap.js-rating
                                        .rating-head-mob
                                            .rating-title-mob Рейтинг банка
                                            .popup__close.close-rating.js__close-rating
                                                +add-svg({icon: "cross-small"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title Общая оценка
                                                .rating-bank__value 1.4 — плохо
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title По активам
                                                .rating-bank__value 2 место
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title По вкладам
                                                .rating-bank__value 2 место
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title Отделений
                                                .rating-bank__value 443
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                        .rating-bank__item
                                            .rating-bank__counts
                                                .rating-bank__title Банкоматов
                                                .rating-bank__value 539
                                            .star-rating.rating-bank__stars
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star", class: "active"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})
                                                +add-svg({icon: "star"})

                                a(href="#").bank-reviews__link 360 отзывов


                    //- phone
                    .tablemax-item--phone
                        div
                            a(href="tel:88002235577") 8 (800) 223-55-77
                            .tablemax-item--phone-info Горячая линия

                    //- Address
                    .tablemax-item--address
                        .tablemax-item__address 050000, Усть-Каменогорск, Гражданский проспект, 52
                        .tablemax-item--address-note Пн-Пт: 09:00-18:00, перерыв 14:00-15:00
                        .tablemax-item--address-links
                            .tablemax-item--address-item
                                a(href="#").tablemax-item--address-link
                                    i
                                        +add-svg({icon: "bank"})
                                    span.tablemax-item--address-text 256 отделений
                            .tablemax-item--address-item
                                a(href="#").tablemax-item--address-link
                                    i
                                        +add-svg({icon: "atm"})
                                    span.tablemax-item--address-text 395 банкоматов
               


        .tablemax__footer-button.tablemax__footer-button_show-mob
            +add-button({text: "Показать еще", types: ["secondary", "line", "icon", "icon-right"], icon: true, iconBefore: false})
