section.video-block
    .container


        .youtube-video
            iframe(width='560', height='315', data-src='https://www.youtube.com/embed/Rb0UmrCXxVA', class="js__init-youtube", frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

