.repaiment-schedule
    &-body &-table
        margin: 38px 0 0

        @media screen and (max-width: 700px)
            margin: 30px 0 0

    & &-footer
        margin: 30px 0 10px
        padding: 0 4px 0 2px

        @media screen and (max-width: 800px)
            margin: 30px 0 0

    &-footer
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center

        .send-to-email-container
            display: none
            flex: 1
            margin: 0 25px 0 0

            @media screen and (max-width: 900px)
                flex: auto
                width: 100%
                margin: 0

        .button-container
            @media screen and (max-width: 800px)
                margin: 10px auto 0


    & &-header
        @media screen and (max-width: 700px)
            margin: 6px 0 0

    &-header
        color: $color-dark
        font-weight: $font-weight-extra-bold
        font-size: 37px

        @media screen and (max-width: 700px)
            font-size: 25px

        @media screen and (max-width: 500px)
            font-size: 24px
            font-weight: 700
            line-height: 1.04

    &-table
        width: 100%
        color: $color-dark
        font-size: 18px
        font-weight: 400

        @media screen and (max-width: 1140px)
            overflow: auto

        &-head,
        &-body
            width: 100%
            min-width: 1083px
            margin-right: -21px
            padding-right: 25px

        &-body
            height: 440px
            overflow: auto

        table
            width: 100%
            table-layout: fixed

            th, td
                &:nth-child(1)
                    width: 55px

                &:nth-child(2)
                    width: 203px

                &:nth-child(3)
                    width: 164px

                &:nth-child(4)
                    width: 184px

                &:nth-child(5)
                    width: 167px

                &:nth-child(6)
                    width: 167px

                &:nth-child(7)
                    width: 122px

        th, td
            vertical-align: top

            @media screen and (max-width: 700px)
                vertical-align: middle

        th
            color: $color-dark
            font-size: 12px
            font-weight: 400
            letter-spacing: 1px
            text-transform: uppercase

        thead
            th
                border-bottom: 3px solid $color-white
                padding: 12px 0

                @media screen and (max-width: 700px)
                    padding: 6px 0

                &:nth-last-child(-n + 1)
                    width: 116px

                &:nth-last-child(-n + 2)
                    width: 116px

        tbody
            tr
                box-shadow: inset 0 -1px 0 0 #dfdfdf

                & > td
                    padding: 17px 0

                    @media screen and (max-width: 700px)
                        padding: 10px 0
