.listingbank-section .credit-info
	padding-top: 9px
	padding-bottom: 19px
.listing-bangs-sorting
	display: flex
	align-items: center
	justify-content: space-between
	padding-top: 24px
	margin-bottom: 0
	padding-bottom: 25px
.tablemax-item--bank_1
	width: 37.5%
	figure img
		width: auto
		max-width: 100%
.tablemax-item--reviews 
	margin-top: 19px
.tablemax-item--phone
	width: 197px
	padding-right: 20px
	a 
		color: inherit
		font-size: 18px;
	div + div
		margin-top: 15px
.tablemax-item--address
	width: calc(62.5% - 197px)
	margin-bottom: 3px;
	padding-right: 25px
.tablemax-item--phone-info
	font-size: 12px;
	margin-top: 4px;
.tablemax__img a.bank-reviews__link
	color: #2d64fc
	font-size: 12px
	font-weight: 400;
	margin-bottom: 0
.bank-reviews
	display: flex
	align-items: center
	justify-content:space-between
	margin-top: 10px
.tablemax-item__address
	font-size: 18px
	font-weight: 400
.tablemax-item--address-note
	font-size: 12px
	margin-top: 4px
.map-link
	color: #152c51
	font-size: 14px;
	height: 36px;
	border-radius: 5px;
	border: 1px solid #dfdfdf;
	background-color: #fff;	
	display: flex
	align-items: center
	justify-content:center
	padding: 5px 8px
	i
		margin-right: 8px
	svg 
		width: 12px
		height: 16px
		fill: #c0c2c6
		transition: fill .2s ease-in
	&:hover
		color: $color-link
		text-decoration: none
.with-tooltip
	position: relative
	&:hover
		.tooltip-wrap
			display: block
.tooltip-wrap
	position: absolute
	left: -20px
	width: 254px
	top: -35px	
	display: none
	padding: 15px 20px
	background: #fff
	box-shadow: 0 7px 16px rgba(0, 0, 0, 0.2)
	border-radius: 5px
	z-index: 100000
.tooltip-link 
	cursor: pointer
.rating-bank
	&__item
		display: flex
		justify-content: space-between
	&__item + &__item
		margin-top: 16px
	&__counts
		padding-right: 20px
		width: calc(100% - 100px)
	&__title 
		font-size: 12px;
	&__value
		margin-top: 2px
		color: #a6a9ae;
		font-size: 12px;
	&__stars
		width: 100px
.listcreditslider-nav
	display: flex
	align-items: center
	justify-content: space-between
.tablemax-item--address-links
	margin-top: 13px
.tablemax-item--address-item
	display: inline-block
	margin-right: 20px
	&:last-child
		margin-right: 0
.tablemax-item--address-link
	display: inline-flex
	align-items: flex-end
	color: #2d64fc
	font-size: 12px
	i 
		margin-right: 4px
	svg 
		width: 16px
		height: 16px
		fill: #a6a9ae
	
.video-block
    margin-top: 44px
.info-bb
	display: inline-block
	font-size: 12px
	color: #fff
	border-radius: 5px;
	background-color: #1e2633;
	line-height: 14px
	color: #fff;
	padding: 4px 10px
.tablemax__img span.info-bb
	font-size: 12px
	margin: 16px 0 0 -168px
	color: #fff;
	line-height: 14px
	display: inline-block

.rating-head-mob
	display: none
	margin-bottom: 18px
.close-rating	
	text-transform: uppercase
	transform: none
	opacity: 1
	margin-top: -3px
.rating-title-mob
	color: $color-dark;
	font-size: 27px;
	font-weight: 900;
	line-height: 25px;
@media (min-width: 601px)
	.tablemax_banks .tablemax__item-wrap 
		padding-top: 24px
	.tablemax_banks .tablemax__img figure img
		margin-top: 3px
	.tablemax__header-item 
		padding-top: 7px
		padding-bottom: 8px;	
@media (max-width: 1100px)
	.tablemax-item--bank_1
		width: 40%
	.tablemax-item--address
		width: calc(60% - 197px);		
@media (max-width: 992px)
	.tablemax-item--address, .tablemax-item--phone
		padding-left: 25px
	.tablemax-item--bank_1
		width: 30%
	.tablemax-item--address
		width: calc(70% - 197px);

@media (max-width: 992px)
	.tablemax__img span.info-bb
		margin-left: 0		
@media (max-width: 768px)
	.tablemax_banks .tablemax__item-wrap
		padding-bottom: 25px
@media (max-width: 767px)
	.tablemax-item--bank_1, .tablemax-item--address
		width: 100%
	.tablemax__img.tablemax-item--bank_1 
		position: relative
	.tablemax_banks .tablemax__img>div 
		order: 3
	.tablemax-item--reviews 
		position: absolute
		right: 0;
		top: 0;
	.tablemax__img a.bank-reviews__link
		padding-right: 0
		margin-top: 6px
	.tablemax-item--phone
		width: 100%
		padding-right: 0
		margin-top: 10px
	.bank-reviews
		display: block
		margin-top: 0
		text-align: right
	.tablemax-item--address
		margin-top: 15px
	.tablemax-item--reviews
		margin-top: 0
		.star-rating svg:last-child
			margin-right: 0
	.listingbank-section 
	    .credit-info
	        padding-top: 1px
	        padding-bottom: 0
	    .credit-info-description
	        font-size: 12px;
	        line-height: 18px
	.listing-bangs-sorting
		background-color: #f5f5f5
		border-bottom: 1px solid #dfdfdf
		margin-left: -10px;
		margin-right: -10px;
		padding: 19px 20px 22px; 
	.tablemax_banks
		.tablemax__item-wrap
			padding-top: 24px
			padding-bottom: 19px
	.tablemax__img span.info-bb
		margin-left: 0
	.tablemax-item--phone
		display: flex
	.tablemax-item--phone > div+div
		margin-top: 0
	.tablemax-item--phone > div
		width: 50%
		padding-right: 15px

	.with-tooltip:hover .tooltip-wrap
		display: none
	.tooltip-wrap
		left: 0;
		right: 0
		top: 0
		position: fixed
		border-radius: 0
		padding: 15px 10px
		transform: none
		width: 100%
	.with-tooltip:hover .tooltip-wrap.active
		display: block
	.listing-bangs-sorting
		padding-left: 10px
		padding-right: 10px
	.rating-head-mob
		display: flex
		justify-content: space-between
	.rating-bank__title
		font-weight: 700
	.rating-bank__counts
		text-align: left
	.rating-bank__stars
		margin-right: 10px
	.tablemax__footer-button_show-mob
		display: block
		max-width: 300px
		margin-left: auto
		margin-right: auto
		padding-top: 19px
		padding-bottom: 19px
		.button-container, .button--secondary
			width: 100%
		.button--secondary
			display: flex
			justify-content: space-between
			align-items: center
			padding-left: 17px
			padding-right: 14px
		.button--icon svg
			margin-top: 5px
@media (max-width: 600px)
	.tablemax-item--address, .tablemax-item--phone
		padding-left: 0
	.tablemax-item--reviews
		margin-top: 6px
	.tablemax_banks .tablemax__img figure
		height: 38px
		display: flex;
		align-items: center
		img 
			max-height: 100%
	.tablemax_banks .tablemax__img a
		margin-top: 30px
	.tablemax_banks  .bank-reviews .bank-reviews__link
		margin-top: 6px
	.tablemax_banks .tablemax-item--phone
		margin-top: 16px
	.tablemax-item--address
		margin-top: 22px
	.tablemax-item--address-link
		font-size: 14px
	.listing-bangs-sorting
		.custom-select-container
			padding-right: 29px
	.tablemax_banks .tablemax__img span.info-bb
		order: 5
		min-width: 300px
	.tablemax_banks .tablemax__img .bank-title
		order: 3
		width: 100%
		a
			width: auto
			display: inline-block
	.tablemax_banks .tablemax__img>div.lic-bl
		text-align: left
		width: 100%
		max-width: 100%
		order: 4
		margin-top: -2px;
	.tablemax_banks .tablemax__img>div.tablemax-item--reviews
		order: 2
