section.reviews-filter
	.container
		.reviews-filter__row-title
			.reviews-filter__left
				h1 Отзывы о банках
				p Отзывы о банках Казахстана
			.reviews-filter__right
				+add-button({text: "Добавить отзыв", types: ["primary", "line", "icon", "icon-left"], icon: true, iconName: 'add-comment', containerClass: 'js__open-review-popup'})
		.reviews-filter__row
			.reviews-filter__col
				+add-select-common({placeholder: "Город", name: "value2"})
			.reviews-filter__col
				+add-select-common({placeholder: "Банк", name: "value2"})
			.reviews-filter__col
				+add-select-common({placeholder: "Услуга", name: "value2"})