section.reviews-list
	.container
		.reviews-list__filter
			.choice-rating
				.choice-rating__title С оценкой до
				.custom-select-container.js-custom-select-rating.active
					.custom-select-rating__title
						div.custom-select-rating__item
							.star-rating
								+add-svg({icon: "star", class: "active"})
								+add-svg({icon: "star", class: "active"})
								+add-svg({icon: "star"})
								+add-svg({icon: "star"})
								+add-svg({icon: "star"})
					ul.custom-select-rating
						li.custom-select-rating__item
							.star-rating
								+add-svg({icon: "star", class: "active"})
								+add-svg({icon: "star"})
								+add-svg({icon: "star"})
								+add-svg({icon: "star"})
								+add-svg({icon: "star"})
						li.custom-select-rating__item
							.star-rating
								+add-svg({icon: "star", class: "active"})
								+add-svg({icon: "star", class: "active"})
								+add-svg({icon: "star"})
								+add-svg({icon: "star"})
								+add-svg({icon: "star"})
						li.custom-select-rating__item
							.star-rating
								+add-svg({icon: "star", class: "active"})
								+add-svg({icon: "star", class: "active"})
								+add-svg({icon: "star", class: "active"})
								+add-svg({icon: "star"})
								+add-svg({icon: "star"})
						li.custom-select-rating__item
							.star-rating
								+add-svg({icon: "star", class: "active"})
								+add-svg({icon: "star", class: "active"})
								+add-svg({icon: "star", class: "active"})
								+add-svg({icon: "star", class: "active"})
								+add-svg({icon: "star"})
						li.custom-select-rating__item
							.star-rating
								+add-svg({icon: "star", class: "active"})
								+add-svg({icon: "star", class: "active"})
								+add-svg({icon: "star", class: "active"})
								+add-svg({icon: "star", class: "active"})
								+add-svg({icon: "star", class: "active"})



			+add-select-common({
				placeholder: "Только проверенные",
				name: "value1",
				options: ["Только проверенные", "Только проверенные1", "Только проверенные2"],
				selectedOption: 0})

		.reviews-list__row.js-list
			.reviews-list__main
				ul.list-review
					li.list-review__item
						.blockreview
							.blockreview__header
								.star-rating
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star"})
									+add-svg({icon: "star"})
									+add-svg({icon: "star"})

								.blockreview__header-link
									| Андрей Сергеевич • 
									a(href="#") Краснодар
								em 21 сен 2019

							.blockreview__content
								.blockreview__content-text
									a(href="#").blockreview__content-link
										| Подключение страховки при однозначном отказе от нее клиентом
									p
										| Сегодня все больше москвичей обращаются за помощью к психотерапевту и психиатру. Депрессия, пограничное расстройство личности, биполярное расстройство перестали быть чем-то исключительным и спокойно обсуждаются в соцсетях и на встречах с друзьями, а терапия заняла 
									a(href="#") Читать полностью
								a(href="#").blockreview__content-img
									+add-image({src: "static/listcredit/halyk.png", retina: true})
						
							.blockreview__footer
								a(href="#").blockreview__footer-link Страхование
								span 
									+add-svg({icon: "check"})
									| Ответ банка
								a(href="#").blockreview__comment
									i 
										span 2
									span комментария
					li.list-review__item
						.blockreview
							.blockreview__header
								.star-rating
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star"})

								.blockreview__header-link
									| Андрей Сергеевич • 
									a(href="#") Краснодар
								em 21 сен 2019

							.blockreview__content
								.blockreview__content-text
									a(href="#").blockreview__content-link
										| Низкая ставка, срок кредитования до 25 лет
									p.overflow-text
										| Хотим взять квартиру. Низкая ставка, срок кредитования до 25 лет, по-моему всё очень даже удобно и выгодно для заёмщиков. С мтс давно дружим уже, доверяем им) Заявку уже подали, находится на рассмотрении, конечно надеемся что одобрят.
						
								a(href="#").blockreview__content-img
									+add-image({src: "static/listcredit/caspi.png", retina: true})
						
							.blockreview__footer
								a(href="#").blockreview__footer-link Кредиты
								span 
									+add-svg({icon: "check"})
									| Ответ банка
								a(href="#").blockreview__comment
									i 
										span 0
									span комментария
					li.list-review__item
						.blockreview
							.blockreview__header
								.star-rating
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star"})
									+add-svg({icon: "star"})
									+add-svg({icon: "star"})

								.blockreview__header-link
									| Андрей Сергеевич • 
									a(href="#") Краснодар
								em 21 сен 2019

							.blockreview__content
								.blockreview__content-text
									a(href="#").blockreview__content-link
										| Подключение страховки при однозначном отказе от нее клиентом
									p
										| Сегодня все больше москвичей обращаются за помощью к психотерапевту и психиатру. Депрессия, пограничное расстройство личности, биполярное расстройство перестали быть чем-то исключительным и спокойно обсуждаются в соцсетях и на встречах с друзьями, а терапия заняла 
									a(href="#") Читать полностью
								a(href="#").blockreview__content-img
									+add-image({src: "static/listcredit/halyk.png", retina: true})
						
							.blockreview__footer
								a(href="#").blockreview__footer-link Страхование
								span 
									+add-svg({icon: "check"})
									| Ответ банка
								a(href="#").blockreview__comment
									i 
										span 2
									span комментария
					li.list-review__item
						.blockreview
							.blockreview__header
								.star-rating
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star"})

								.blockreview__header-link
									| Андрей Сергеевич • 
									a(href="#") Краснодар
								em 21 сен 2019

							.blockreview__content
								.blockreview__content-text
									a(href="#").blockreview__content-link
										| Низкая ставка, срок кредитования до 25 лет
									p.overflow-text
										| Хотим взять квартиру. Низкая ставка, срок кредитования до 25 лет, по-моему всё очень даже удобно и выгодно для заёмщиков. С мтс давно дружим уже, доверяем им) Заявку уже подали, находится на рассмотрении, конечно надеемся что одобрят.
						
								a(href="#").blockreview__content-img
									+add-image({src: "static/listcredit/caspi.png", retina: true})
						
							.blockreview__footer
								a(href="#").blockreview__footer-link Кредиты
								span 
									+add-svg({icon: "check"})
									| Ответ банка
								a(href="#").blockreview__comment
									i 
										span 0
									span комментария
					li.list-review__item
						.blockreview
							.blockreview__header
								.star-rating
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star"})
									+add-svg({icon: "star"})
									+add-svg({icon: "star"})

								.blockreview__header-link
									| Андрей Сергеевич • 
									a(href="#") Краснодар
								em 21 сен 2019

							.blockreview__content
								.blockreview__content-text
									a(href="#").blockreview__content-link
										| Подключение страховки при однозначном отказе от нее клиентом
									p
										| Сегодня все больше москвичей обращаются за помощью к психотерапевту и психиатру. Депрессия, пограничное расстройство личности, биполярное расстройство перестали быть чем-то исключительным и спокойно обсуждаются в соцсетях и на встречах с друзьями, а терапия заняла 
									a(href="#") Читать полностью
								a(href="#").blockreview__content-img
									+add-image({src: "static/listcredit/halyk.png", retina: true})
						
							.blockreview__footer
								a(href="#").blockreview__footer-link Страхование
								span 
									+add-svg({icon: "check"})
									| Ответ банка
								a(href="#").blockreview__comment
									i 
										span 2
									span комментария
					li.list-review__item
						.blockreview
							.blockreview__header
								.star-rating
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star"})

								.blockreview__header-link
									| Андрей Сергеевич • 
									a(href="#") Краснодар
								em 21 сен 2019

							.blockreview__content
								.blockreview__content-text
									a(href="#").blockreview__content-link
										| Низкая ставка, срок кредитования до 25 лет
									p.overflow-text
										| Хотим взять квартиру. Низкая ставка, срок кредитования до 25 лет, по-моему всё очень даже удобно и выгодно для заёмщиков. С мтс давно дружим уже, доверяем им) Заявку уже подали, находится на рассмотрении, конечно надеемся что одобрят.
						
								a(href="#").blockreview__content-img
									+add-image({src: "static/listcredit/caspi.png", retina: true})
						
							.blockreview__footer
								a(href="#").blockreview__footer-link Кредиты
								span 
									+add-svg({icon: "check"})
									| Ответ банка
								a(href="#").blockreview__comment
									i 
										span 0
									span комментария
					li.list-review__item.item-hidden
						.blockreview
							.blockreview__header
								.star-rating
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star", class: "active"})
									+add-svg({icon: "star"})

								.blockreview__header-link
									| Андрей Сергеевич • 
									a(href="#") Краснодар
								em 21 сен 2019

							.blockreview__content
								.blockreview__content-text
									a(href="#").blockreview__content-link
										| Низкая ставка, срок кредитования до 25 лет
									p.overflow-text
										| Хотим взять квартиру. Низкая ставка, срок кредитования до 25 лет, по-моему всё очень даже удобно и выгодно для заёмщиков. С мтс давно дружим уже, доверяем им) Заявку уже подали, находится на рассмотрении, конечно надеемся что одобрят.
						
								a(href="#").blockreview__content-img
									+add-image({src: "static/listcredit/caspi.png", retina: true})
						
							.blockreview__footer
								a(href="#").blockreview__footer-link Кредиты
								span 
									+add-svg({icon: "check"})
									| Ответ банка
								a(href="#").blockreview__comment
									i 
										span 0
									span комментария

			.reviews-list__right
				a(href="#").promo
					+add-image({src: "static/promo/drweb.png", retina: true})
		.reviews-list__pagination
			+add-button({text: "Показать еще", types: ["secondary", "line", "icon", "icon-right"], icon: true, iconBefore: false, buttonClass: 'js-show-more'})
			ul.paging-list
				li.paging-list__item
					a.paging-list__link 1 
				li.paging-list__item
					a.paging-list__link ...
				li.paging-list__item
					a.paging-list__link 22
				li.paging-list__item
					a.paging-list__link 23
				li.paging-list__item.active
					a.paging-list__link 24
				li.paging-list__item
					a.paging-list__link 25
				li.paging-list__item
					a.paging-list__link 26
				li.paging-list__item.hide-mob
					a.paging-list__link 27
				li.paging-list__item.hide-mob
					a.paging-list__link 28
				li.paging-list__item.hide-mob
					a.paging-list__link 29
				li.paging-list__item
					a.paging-list__link ...
				li.paging-list__item
					a.paging-list__link 346

		

        
       


        

