.first-screen
    background: #ebf3f8
    position: relative
    padding-bottom: 32px
    &__text
        max-width: 366px
        padding-bottom: 20px
        h1
            color: #152c51
            padding: 40px 0 20px 0
        p
            font-size: 18px
            font-weight: 400
            line-height: 25px
            padding: 3px 0 0 0
            color: #152c51
    &__img
        position: absolute
        right: -10%
        bottom: 0
        img
            display: block
            max-width: 890px
.list-product    
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding-top: 29px
    max-width: 750px
    &__item
        display: block
        width: calc(25% - 24px)
        background: #ffffff
        border-radius: 10px
        position: relative
        padding: 23px 15px 20px 15px
        margin: 0 0 29px 0
        text-align: center
        &:hover
            color: #1e2633
        &:nth-child(5)
            img
                max-width: 70px
    &__number
        font-size: 12px
        color: #a6a9ae
        position: absolute
        right: 15px
        top: 12px
        line-height: 14px
    &__img
        display: block
        height: 60px;
        display: flex;
        align-items: center;
        align-content: center;
        margin-bottom: 12px
        img
            display: block
            margin: 0 auto
    &__name
        font-size: 14px
        line-height: 19px
        font-weight: 700
        color: #1e2633
        &_mob
            display: none
.box-courses
    max-width: 750px
    position: relative
    margin-top: 5px
.list-courses
    display: flex
    justify-content:flex-start
    padding-right: 75px
    &__item
        position: relative
        padding: 0 2% 0 0
        margin-right: 27px
        white-space: nowrap
        &:last-child
            padding: 0 0 0 0
            margin-right: 0
            &:after
                display: none
            
        &:after
            display: block
            content: ''
            position: absolute
            right: 0
            top: 0
            width: 1px
            height: 22px
            background: #dfdfdf
    &__name
        font-size: 15px
        line-height: 19px
        color: #1e2633;
        font-weight: 700
        display: inline-block
        vertical-align: top
        margin-right: 10px
    &__down
        font-size: 15px
        line-height: 19px
        color: #1e2633;
        font-weight: 400
        display: inline-block
        vertical-align: top
        position: relative
        padding: 0 0 0 15px
        margin-right: 10px
        &:after
            display: block
            content: ''
            position: absolute
            left: 0
            top: 4px
            width: 11px
            height: 11px
            background:url(../img/main_page/arrow-sort-down@2x.png)
            background-size: cover
    &__up
        font-size: 15px
        line-height: 19px
        color: #1e2633;
        font-weight: 400
        display: inline-block
        vertical-align: top
        position: relative
        padding: 0 0 0 15px
        margin-right: 17px
        &:after
            display: block
            content: ''
            position: absolute
            left: 0
            top: 4px
            width: 11px
            height: 11px
            background:url(../img/main_page/arrow-sort-up@2x.png)
            background-size: cover
.all-cources
    position: absolute
    right: 0
    top: 0
    font-weight: 700
    font-size: 14px
    &-container &-profile
        margin: 0 0 0 18px

@media (max-width: 1150px)
    .first-screen__img
        bottom: 7%
        right: -23%
        img
            max-width: 800px
    .first-screen__text h1
        font-size: 40px
@media (max-width: 1000px)
    .first-screen__img
        display: none
    .list-product,
    .box-courses,
    .first-screen__text
        max-width: none
    .list-product__item
        width: calc(25% - 15px)
        margin-bottom: 20px
@media (max-width: 767px)
    .first-screen
        &__text
            margin-left: -10px
            margin-right: -10px
            padding: 20px 10px 30px 10px
            background: #FFF
            h1
                padding-top: 20px
    .list-product
        margin-left: -10px
        margin-right: -10px
        &__item
            width: calc(33.33333% - 20px);
            margin-bottom: 20px;
            margin-left: 10px;
            margin-right: 10px;
            &:last-child
                margin-right: auto;
    .list-courses
        display: block
        &__up
            margin: 0 0 0 0
            padding: 0 0 0 15px
            min-width: 80px
        &__down
            margin: 0 0 0 0
            padding: 0 0 0 15px
            min-width: 80px
        &__item
            padding-top: 3px
            padding-bottom: 13px
            &:last-child
                padding-top: 3px
            &:after
                display: none
        &__name
            min-width: 40px
    .all-cources
        top: auto
        bottom: 1px
@media (max-width: 550px)
    .first-screen
        padding-bottom: 15px
        &__text
            padding-right: 35px
            padding-bottom: 23px
            h1
                font-size: 31px
                line-height: 31px
                color: #1e2633
                padding-top: 0
                padding-bottom: 9px
            p
                font-size: 14px
                line-height: 18px
    .list-product
        padding-top: 15px
        margin-left: -6px
        margin-right: -6px
        &__item
            width: calc(33.33333% - 12px)
            margin-left: 6px
            margin-right: 6px
            padding-top: 10px
            margin-bottom: 10px
            padding-bottom: 17px
            &:nth-child(5)
                img
                    max-width: 45px
            &:nth-child(4)
                .list-product__img
                    max-width: 45px
            &:nth-child(6)
                .list-product__img
                    max-width: 45px
            &:nth-child(7)
                .list-product__img
                    max-width: 45px
            &:nth-child(8)
                .list-product__img
                    max-width: 45px
        &__img
            max-width: 37px
            margin: 0 auto
            height: 47px
            img
                max-width: 100%
        &__number
            right: 8px
            top: 6px
        &__name
            font-weight: 500
            font-size: 12px
            line-height: 15px
            &_mob
                display: block
                & + .list-product__name
                    display: none
    .list-courses
        display: block
        &__item
            padding-top: 3px
            padding-bottom: 8px
            &:last-child
                padding-top: 3px
        &__name
            font-size: 13px
            line-height: 16px
        &__up,
        &__down
            font-size: 12px
            line-height: 15px
            min-width: 75px
            &:after
                top: 2px
    .all-cources
        font-size: 12px
        line-height: 16px
        bottom: 4px
