.action-link
    display: inline-flex
    align-items: center
    transition-property: color
    transition-duration: $transition-duration
    flex-shrink: 0

    &:hover,
    &:active
        text-decoration: none
        color: $color-clear-blue

    &:hover &-image,
    &:active &-image
        color: $color-clear-blue

    &-image
        display: flex
        align-items: center
        justify-content: center

        color: $color-cool-grey

        transition-property: color
        transition-duration: $transition-duration

        &__icon
            width: 16px
            height: 16px

            fill: currentColor

    & &-text
        margin: 0 0 0 6px
        position: relative
        top: 1px

    &-text
        font-size: 18px
