.credit-calculator-wrapper
    .container.credit-calculator-container
        form(action="#").credit-calculator
            .credit-calculator-left
                h2.credit-calculator-header
                    span Расчет кредита

                .credit-calculator-content
                    .credit-calculator-row.credit-calculator-row--checkboxes
                        +add-custom-checkbox({name: "option1", id: "checkboxOption1", label: "Без страхования"})
                        +add-custom-checkbox({name: "option2", id: "checkboxOption2", label: "Без комиссии"})

                    .credit-calculator-row
                        +add-typed-number-input({
                            placeholder: "Сумма",
                            name: "sum",
                            types: ["Тнг", "Руб"],
                            min: 0,
                            max: 30000000,
                            value: 0,
                            classInput: "js-input-sum"
                        })

                        +add-select-common({placeholder: "Срок", name: "duration", options: ["1 год", "2 года", "3 года", "4 года"], selectedOption: 0, slider: true})

                    .credit-calculator-row
                        +add-select-common({placeholder: "Цель кледита", name: "value1"})
                        +add-select-common({placeholder: "Обеспечение", name: "value2"})

                    .credit-calculator-row
                        +add-common-tab({
                            header: "Схема погашения",
                            name: "value3",
                            tabs: ["Аннуитетная", "Дифференц."],
                        })
                        +add-select-common({placeholder: "Категория заемщика", name: "value4"})

                    .credit-calculator-row
                        +add-common-tab({
                            header: "Подтверждение дохода",
                            name: "value5",
                            tabs: ["Требуется", "Не требуется"]
                        })

                        +add-common-tab({
                            header: "Кредитная история",
                            name: "value6",
                            tabs: ["Положительная", "Отрицательная"]
                        })


            .credit-calculator-right
                .credit-calculator-info-row
                    .credit-calculator-info
                        .credit-calculator-info-header
                            span Ежемесячный платеж
                        .credit-calculator-info-value
                            span 25 000T

                    .credit-calculator-info
                        .credit-calculator-info-header
                            span Ставка
                        .credit-calculator-info-value
                            span 10%

                .credit-calculator-info-row
                    .credit-calculator-info
                        .credit-calculator-info-header
                            span Переплата
                        .credit-calculator-info-value
                            span 399 500T

                    .credit-calculator-info
                        .credit-calculator-info-header
                            span ГЭСВ
                                i(aria-label="Дополнительная информация" data-balloon-pos="up")
                                    span.icon.icon-question-tips-invert

                        .credit-calculator-info-value
                            span 15%

                .credit-calculator-info-row
                    .credit-calculator-info
                        .credit-calculator-info-header
                            span Общая сумма выплат
                        .credit-calculator-info-value
                            span 2 589 379T

                .credit-calculator-info-footer
                    //- +add-button({text: "Оформить кредит онлайн", types: ["primary", "line", "invert"], isSubmit: true})
                    //- .button-container
                    //-     label.button--primary.button--main-button.button--invert.button(href='#', data-scroll-to="[data-scroll-to-this]")
                    //-         input.button-native-input(type="submit")
                    //-         span Оформить кредит онлайн
                        
                    .button-container
                        div.button--primary.button--main-button.button--invert.button--line.button(data-scroll-to="[data-scroll-to-this]")
                            span Оформить кредит онлайн

                    .payments-calendar-open-button-container
                        a(href="#modal-calendar" data-fancybox-modal).payments-calendar-open-button
                            +add-svg({class: "payments-calendar-open-button__icon", icon: "calendar"})
                            span Календарь платежей
