.promo-section.js-init--promo-gallery-container
    .container
        .common-slider-dots.js-init--promo-gallery-dots
        .promo-gallery.js-init--promo-gallery
            each _, index in new Array(3)
                .promo-gallery-item
                    .container.promo-gallery-item-container
                        .promo-gallery-item-category.promo-gallery-item-category--show-on-mobile
                            span АКЦИИ

                        .promo-gallery-item-image
                            +add-image({src: "static/promo/tv.png"})

                        .promo-gallery-item-content
                            .promo-gallery-item-header
                                span Телевизор в подарок #{index !== 0 ? index : null}

                            .promo-gallery-item-info
                                span Оформляйте кредиты с 26 марта по 31 июля и получайте гарантированный подарок от Альфа-Банка — телевизор.

                            .promo-gallery-item-button
                                +add-button({text: "Подробности акции", isLink: true, types: ["secondary", "form", "line", "invert"]})
    