// Popup
.popup {
    z-index: 100;
    position: absolute;
    width: 100%;

    background: #fff;
    margin-top: 59px;
    max-height: calc(100% - 59px);
    // overflow: auto;
    padding-top: 1px;

    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    visibility: hidden;
    transition: .4s;
    will-change: auto;
    top: 0px;

    overflow: hidden;

    // @media(max-width: 480px) {
    //     width: calc(100% - 10px);
    // }

        

    @media(max-width: 900px) {
        // margin-top: 56px;
        margin-top: 95px;
    }

    @media(max-width: 500px) {
        // margin-top: 54px;
    }

    @media(max-width: 768px) {
        height: 100vh;
        margin-top: 0px;
        max-height: 100vh;
        z-index: 10000000;
        position: fixed;
        top: 0px;

        justify-content: space-between;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .container {
            flex: 1 100%;
            // position: fixed;
            height: 100%;
            // justify-content: space-between;
            justify-content: flex-start;
            
            overflow: hidden;
            -webkit-overflow-scrolling: touch;

            position: relative;
            top: 0px;
            align-items: stretch;
            display: flex;
            flex-direction: column;
            flex-direction: column;
        }

        
        .popup__container {
            height: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        .popup__header {
            flex: 0;
                flex: 0 0 70px;
        }
        
        .popup__content {
            max-height: initial;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            overflow: auto;

            // outline: 1px solid red;
        }

        .popup-city__content,
        .popup-city__content {
            height: 100% !important;
            max-height: inherit !important;
        }

        .popup__footer {
            position: relative;
            z-index: 999;
            // height: 43px;
            // flex: 86px;
            align-items: flex-start;
            // margin-bottom: 10px !important;

            margin-bottom: 0px;
            padding: 0px;

            @at-root html.is-safari-ios & {
                // margin-bottom: 65px;
                padding-bottom: 65px;

                @media(min-width: 480px) {
                    padding-bottom: 80px;
                }
            }

            @at-root html.is-mac & {
                margin-bottom: 10px;
            }

            .button-container {
                height: 43px;
            }
        }

        @at-root html.is-safari-ios .form-el-group--close {
            margin-bottom: 0px;
            padding-bottom: 65px;

            @media(min-width: 480px) {
                padding-bottom: 80px;
            }

            // .button-container {
            //     // padding-bottom: 65px;
            //     // margin-bottom: 65px;
            // }
        }
        
        @at-root html.is-mac .form-el-group--close {
            .button-container {
                padding-bottom: 10px;
                // margin-bottom: 65px;
            }
        }
        
        @at-root html.is-safari-ios .credit-request-row--button {
            
            margin-bottom: 0px;
            padding-bottom: 65px;

            @media(min-width: 480px) {
                padding-bottom: 80px;
            }
            .button-container {
                // padding-bottom: 65px;
                // margin-bottom: 65px;
            }
        }
        
        @at-root html.is-mac .credit-request-row--button {
            .button-container {
                padding-bottom: 10px;
                // margin-bottom: 65px;
            }
        }

        @at-root html.is-safari-ios .credit-request-row {
            margin-bottom: 0px;
            padding-bottom: 0px;
            .btn-last {
                margin-bottom: 65px;

                @media(min-width: 480px) {
                    padding-bottom: 80px;
                }
            }
        }
        
        @at-root html.is-mac .credit-request-row {
            .btn-last {
                margin-bottom: 10px;
            }
        }

        @at-root html.is-safari-ios .form-extsel__item--clean {
            padding-bottom: 65px;
            margin-bottom: 0px;

            @media(min-width: 480px) {
                padding-bottom: 80px;
            }
        }

        @at-root html.is-mac .form-extsel__item--clean {
            padding-bottom: 65px;
            margin-bottom: 0px;

            @media(min-width: 480px) {
                padding-bottom: 80px;
            }
        }
    }

    // @media(max-width: 480px) {
    //     &--mobile-full {
    //         height: 100vh;
    //         margin-top: 0px;
    //         max-height: 100vh; 
    //         z-index: 10000000;
    //         position: fixed;

    //         .container {
    //             display: flex;
    //             flex-direction: column;
    //             height: 100vh;
    //             justify-content: space-between;
    //             overflow: auto;
    //             -webkit-overflow-scrolling: touch;
    //             padding-bottom: 40px;
    //         }

    //         .popup__content {
    //             // height: 100%;
    //             // height: calc(100% - 70px);
    //             // height: calc(100% - 50px);
    //             max-height: inherit;

    //             flex: 1 100%;
    //         }
    //     } 
    // }

    &--fixed {
        height: 100vh;
        margin-top: 0px;
        max-height: 100vh;
        z-index: 10000000;
        position: fixed;
        top: 0px;
        left: 0px;

        
        .container {
            display: flex;
            flex-direction: column;
            height: 100vh;

            justify-content: space-between;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }

        .popup__content {
            // height: 100%;
            flex: 1 100%;
            max-height: inherit;
        }
    }
    
    &.active {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0px);
        visibility: visible;

        .popup__header {
            .popup__close, .h2 {
                transform: translateX(0%);
                opacity: 1;
            }
        }
    }
    
    &__container {
        
    }
    
    &__header {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        align-items: center;
        flex-shrink: 0;

        @media(max-width: 768px) {
            margin-top: 20px;
            padding-bottom: 10px;
        }

        @media(max-width: 500px) {
            padding-top: 9px;
            margin-top: 0px;
            padding-bottom: 10px;
        }

        .h2 {
            font-size: 43px;
            font-weight: 900;
            line-height: 1.05;
            color: #1e2633;
            transform: translateX(10%);
            transition: .4s;
            // transition-delay: .2s;
            opacity: 0;
            will-change: auto;
            width: calc(100% - 30px);
            color: #1e2633;

            @media(max-width: 768px) {
                font-size: 27px;
                font-weight: 900;
                line-height: 0.93;
                color: #1e2633;
                transform: translateX(6%);
            }
        }
    }

    &__reset-form {
        margin-right: 19px;
        cursor: pointer;
        display: none;

        @media(min-width: 769px) {
            display: block;
        }

        &:hover {
            span {
                text-decoration: underline;
            }
        }

        span {
            font-size: 14px;
            font-weight: bold;
            text-align: right;
            color: #2d64fc;
            white-space: nowrap;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 144px);
        flex-grow: 12;

        @media(max-width: 899px) and (min-width: 769px) {
            height: calc(100vh - 171px);
        }

        @media(max-width: 768px) and (orientation: landscape) {
            height: 100vh;
        }

        // @media(max-width: 768px) {
        //     max-height: 100vh;
        // }

        &#{&}-btnform {
            .popup__footer {
                padding-bottom: 0px;
                position: relative;

                @media(max-width: 768px) {
                    // text-align: center;
                    display: flex;
                    justify-content: center;
                    padding-bottom: 37px;

                    .button-container {
                        width: auto;
                    }
                }

                @media(max-width: 380px) {
                    .button-container {
                        width: 100%;
                    }
                }

                .button {
                    position: absolute;
                    top: -82px;
                    right: 0px;
                    
                    @media(max-width: 768px) {
                        position: static;
                        width: 360px;
                        transform: translateY(0%);
                    }

                    @media(max-width: 480px) and (min-width: 381px) {
                        width: 360px !important;
                    }

                    @media(max-width: 380px) {
                        width: 100% !important;
                    }
                }
            }
        }
    }

    &__close {
        width: 30px;
        height: 30px;
        min-width: 30px;
        border-radius: 100%;
        background-color: #C0C2C6;
        position: relative;
        transition: .2s;
        cursor: pointer;
        transform: translateX(-30px);
        transition: .4s;
        // transition-delay: .2s;
        opacity: 0;
        will-change: auto;

        &:hover {
            background-color: #1e2633;
        }

        @media(max-width: 768px) {
            
        }
        
        
        svg {
            width: 15px;
            height: 15px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill: #fff;
        }
    }


    // Search
    .popup__search {
        width: 100%;
        // height: 64px;
        position: relative;
        margin-top: 35px;
        margin-bottom: 33px;

        @media(max-width: 500px) {
            margin-top: 21px;
            margin-bottom: 25px;
        }

        .input-container {
            width: 100%;

            input {
                padding-right: 50px;
            }
        }

        button {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 65px;
            height: 100%;
            border: 0px;
            background-color: transparent;

            @media(max-width: 500px) {
                width: 53px;
                height: 53px;
            }

            svg {
                width: 16px;
                height: 16px;
                fill: #C0C2C6;
                position: relative;
                top: -2px;
            }
        }
    }

    // City
    &.popup-city {

        @media(max-width: 480px) and (orientation: portrait) {
            .popup__container {
                .container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between; 
    
                    .popup__content {
                        flex: 1 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
    
                    .popup__search {
                        // flex: 1;
                    }
    
                    .popup-city__content {
                        // flex: 1 100%;
                        // height: 150px
                        height: calc(100vh - 305px);
                    }
    
                    .popup__footer {
                        // flex: 1;
                    }
                }
            }
        }

        // Content
        .popup-city__content {
            // padding-bottom: 39px;
            // padding-bottom: 16px;
            // height: calc(100vh - 266px);
            overflow: auto;
            margin-bottom: 20px;
            -webkit-overflow-scrolling: touch;
        }
        
        .popup-city__list {
            column-count: 6;
            column-gap: 10px;
            // margin-bottom: 20px;

            @media(max-width: 1180px) {
                column-count: 4;
            }

            @media(max-width: 768px) {
                column-count: 3;
            }
            
            @media(max-width: 560px) {
                column-count: 2;
            }
            
            // @media(max-width: 480px) {
            //     column-count: 1;
            // }
        }

        .popup-city__item {
            margin-bottom: 23px;
            break-inside: avoid;

            span {
                font-size: 24px;
                color: #a6a9ae;
                display: block;
                width: 100%;
                font-weight: 400;
                margin-bottom: 8px;
            }
            
            a {
                font-size: 14px;
                // line-height: 1.64;
                color: #1e2633;
                display: block;
                width: 100%;
                margin-bottom: 6px;

                &.hide {
                    display: none;
                }

                span {
                    font-size: 18px;
                    margin-bottom: 14px;
                    color: #1e2633; 
                }
            }

            .button {
                margin-top: 94px;
            }
        }

    }
    
    // Footer
    .popup__footer {
        padding-bottom: 39px;
        display: flex;
        justify-content: flex-end;

        @media(max-width: 480px) {
            justify-content: center;
            padding-bottom: 20px;
            // margin-bottom: 20px;

            .button-container {
                width: 100%;   
                height: auto;
                
                .button {
                    width: inherit;
                    height: auto;
                    height: 43px;
                }
            }
        }

    }


    // Search
    &.popup-searchbl {
        .popup-search__content {
            height: 226px;
            max-height: 226px;
            overflow: auto;
            margin-bottom: 20px;

            @media(max-width: 768px) {
                height: auto;
            }
        }

        .popup-search__list {
            padding-right: 20px;

            @media(max-width: 900px) {
                padding-right: 0px;
            }
        }

        .popup-search__item {
            border-radius: 5px;
            background-color: #f5f5f5;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            padding-left: 20px;
            padding-top: 13px;
            padding-right: 18px;
            padding-bottom: 15px;

            &:last-child {
                margin-bottom: 0px;
            }

            a {
                font-size: 18px;
                color: #2d64fc;
                letter-spacing: 0.1px;
                margin-bottom: 6px;

                span {
                    background-color: #D7DFF6;
                    display: inline;
                    margin-right: 3px;
                }
            }
            
            b {
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 1.49px;
                text-align: right;
                color: #c0c2c6;
            }

            p {
                font-size: 14px;
                line-height: 1.5;
                color: #1e2633;
                width: 100%;

                span {
                    background-color: #D7DFF6;
                    display: inline;
                    margin-right: 3px;
                }
            }
        }
    }

    // Extsel
    &.popup-extsel {
        .popup__header {
            padding-bottom: 40px;

            @media(max-width: 768px) {
                padding-bottom: 23px;
            }
        }

        .popup__content {
            // max-height: calc(100vh - 174px);

            // @media(max-width: 768px) {
            //     padding-bottom: 60px;
            // }

            @media(max-width: 480px) {
                max-height: 100%;
            }

            @media(min-width: 769px) {
                max-height: inherit;
                overflow: visible
            }
        }
    }

    // Query Credit
    &.popup-querycr {
        .form-extsel {
            width: 283px;
            display: block;
            margin: 0 auto;

            @media(max-width: 480px) {
                width: 100%;
            }
        }

        .input-container {
            width: 100%;
        }

        .lcreviews__form-block-hidden {
            margin-bottom: 15px;
           .custom-checkbox-container {
               margin-top: 15px;
           }
        }

        .form-extsel__item {
            width: 100%;
            margin-bottom: 17px;
            justify-content: center;

            p {
                font-size: 12px;
                line-height: 1.5;
                text-align: center;
                color: #a6a9ae;
            }
            &:last-child {
                margin-bottom: 0;
                padding-bottom: 17px
            }
        }

        .button-container {
            .button {
                display: block;
                margin: 0 auto;

                @media(max-width: 768px) {
                    width: 283px;
                }

                @media(max-width: 480px) {
                    width: 100%;
                }
            }
        }

        .popup__content {
            padding-top: 23px;
        }
    }

    &.popup-credit {
        .credit-request-section {
            background: transparent;
            padding: 0px;
            display: block !important;
        }

        .credit-request-body {
            @media(max-width: 767px) {
                max-width: 100%;
            }
        }

        .input-container {
            @media(max-width: 480px) {
                width: 100%;
            }
        }

        .popup-credit-btn {
            display: none;

            @media(max-width: 767px) {
                display: block;
                margin-top: 20px;
            }

            @media(max-width: 480px) {
                // margin-bottom: 20px;
                margin-top: 15px;
            }
        }

        @media(max-width: 480px) {
            .button {
                width: 100%;
            }
        }

        .credit-request {
            padding: 0px;
            padding-bottom: 20px;
            padding-top: 20px;
            box-shadow: none;

            @media(max-width: 580px) {
                padding-top: 12px;
                padding-bottom: 15px;
            }
        }

        .credit-request-head {
            max-width: inherit;
        }

        .credit-request-step-title {
            min-width: inherit;

            @media(max-width: 580px) {
                font-size: 12px;
            }
        }

        .credit-request-step-image__icon {
            @media(max-width: 580px) {
                width: 12px;
                height: 12px;
                position: relative;
                top: -2px;
            }
        }

        .credit-request-step {
            align-items: flex-start;

            @media(max-width: 580px) {
                // width: 33.3333333%;
                padding-right: 10px;

                &:last-child {
                    padding-right: 0px;
                }
            }
        }

        .credit-request-steps {
            flex-wrap: nowrap;

            @media(max-width: 580px) {
                margin-bottom: 14px;
            }
        }

        .button-container {
            margin: 0px;
        }

        .custom-select-container {
            @media(max-width: 580px) {
                width: 100%;
                margin-bottom: 5px;
            }
        }

        .custom-checkbox-container {
            @media(max-width: 580px) {
                &:first-child {
                    margin-top: 14px;
                }
            }
        }

        .credit-request-success-image {
            @media(max-width: 480px) {
                width: 100%;
                height: auto;
                margin-top: 39px;

                img {
                    width: 103px;
                    height: auto;
                }
            }
        }

        .credit-request-success-header {
            @media(max-width: 480px) {
                line-height: 1;
                margin-top: 22px;
                margin-bottom: 13px;
            }
        }

        .credit-request-success-info {
            @media(max-width: 480px) {
                font-size: 16px;
            }
        }

        
    }

    &.popup-grafic {

    }
}

.graficpop {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
        background-color: #f5f5f5;
        display: flex;
        margin-left: -10px;
        margin-right: -10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-left: 20px;

        padding-top: 12px;
        padding-bottom: 15px;
        position: relative;


        &-item {
            &:first-child {
                margin-right: 29px;
            }

            > i {
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-right: 6px;

                svg {
                    width: 100%;
                    height: 100%;
                    fill: #a6a9ae;
                } 
            }

            > span {
                font-size: 14px;
                color: #2d64fc;
            }

            &.active {
                .graficpop__header-submenu {
                    visibility: visible;
                    max-height: 200px;
                    overflow: auto;
                    opacity: 1;
                    z-index: 999;
                }
            }
        }

        &-submenu {
            position: absolute;
            top: 100%;
            left: 0px;
            width: 100%;
            background-color: #f5f5f5;
            border: 0px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 15px;
            padding-left: 20px;
            padding-right: 20px;
            transition: .2s;
            max-height: 0px;
            overflow: hidden;
            visibility: hidden;
            opacity: 0;

            .input-container {
                width: 100%;
            }

            .button {
                width: 100%;
                margin-top: 15px;
            }

            // .button-container {
            //     margin: 0px;
            // }
        }
    }

    &__content {
        height: 100%;
        overflow: auto;
    }

    &__line {
        padding-top: 16px;
        border-bottom: 1px solid #dfdfdf;
        // padding-bottom: 16px;
        padding-bottom: 9px;

        &:last-child {
            border-bottom: 0px;
        }

        &-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 6px;

            b {
                font-size: 16px;
                font-weight: bold;
                color: #1e2633;
                margin-bottom: 4px;
            }

            span {
                font-size: 16px;
                text-align: right;
                color: #1e2633;
            }
        }

        &-content {
            display: flex;
            flex-wrap: wrap;

            div {
                width: 50%;
                padding-right: 10px;
                margin-bottom: 10px;

                em {
                    font-size: 12px;
                    color: #a6a9ae;
                    font-style: normal;
                    display: block;
                }

                span {
                    font-size: 14px;
                    color: #1e2633;
                }
            }
        }
    }

    &__footer {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: -10px;
        margin-right: -10px;

        border-top: 1px solid #dfdfdf;

        padding-left: 10px;
        padding-right: 10px;

        .button {
            width: 100%;
        }

        
    }
}

.form-extsel {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // margin-top: 40px;
    // padding-top: 40px;
    width: 80%;

    @media(max-width: 768px) {
        width: 100%;
    }

    &__item {
        width: calc(50% - 15px);
        margin-bottom: 33px;

        @media(max-width: 768px) {
            margin-bottom: 23px;
        }

        @media(max-width: 700px) {
            width: 100%;
        }

        
        &--check {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;

            @media(max-width: 380px) {
                justify-content: space-between;
                // display: block;
            }
            
            .custom-checkbox-container {
                margin-bottom: 15px;
                width: auto;
                margin-right: 15px;
           
                @media(max-width: 380px) {
                    width: calc(50% - 5px);
                    margin: 0px;
                    margin-bottom: 8px;
                }

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }

        &--btn {
            width: 100%;

            @media(max-width: 768px) {
                display: block;
                margin-bottom: 15px;

                .button {
                    display: block;
                    margin: 0 auto;
                }
            }

            @media(max-width: 380px) {
                .button-container {
                    width: 100%;

                    .button {
                        width: 100%;
                    }
                }
            }
        }

        &--close {
            display: none;
            @media(max-width: 768px) {
                display: block;
                width: 100%;   
                margin-bottom: 15px;

                .button {
                    width: 283px;
                    display: block;
                    margin: 0 auto;
                }
            }
            

            @media(max-width: 500px) {
                .button {
                    width: 260px;
                }
            }

            @media(max-width: 380px) {
                .button {
                    width: 100%;
                }
            }
        }

        &--clean {
            display: none;

            @media(max-width: 768px) {
                display: block;
                width: 100%;  
                
                
                .form-extsel__reset {
                    text-align: center;
                    
                    &:hover {
                        span {
                            color: #000;
                        }
                    }

                    span {
                        font-size: 14px;
                        font-weight: bold;
                        text-align: right;
                        color: #2d64fc;
                        transition: .2s;
                    }
                }
            }
        }
    }
}


.form-el {
    &-group {
        margin-bottom: 15px;

        &--check {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0px;
        }

        .button {
            width: 100%;
        }

        .custom-checkbox-container {
            margin-bottom: 15px;
            margin-right: 15px;
            width: auto;

            &:last-child {
                // margin-bottom: 0px;
            }
        }
    }
}

.calendarpay {
    
    padding: 15px;
    padding-top: 0px;
    
    background-color: #2d64fc;
    
    // margin-left: -15px;
    // margin-right: -15px;
    margin-top: 15px;
    margin-bottom: 15px;

    &__line {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 16px;
        padding-top: 20px;

        &:last-child {
            border-bottom: 0px;
        }

        &-btn {
            padding-top: 15px;
            padding-bottom: 2px;
        }
    }

    em {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1.49px;
        color: #ffffff;
        text-transform: uppercase;
        font-style: normal;
        display: block;
        margin-bottom: 3px;

        i {
            top: -1px;
            margin-left: 5px;
        }

        // i {
        //     width: 13px;
        //     height: 13px;
        //     display: inline-block;
        //     border-radius: 100%;
        //     background-color: #fff;
        //     display: inline-flex;
        //     justify-content: center;
        //     align-items: center;
        //     margin-left: 5px;
        //     font-style: normal;
        //     position: relative;
        //     top: -2px;
            
        //     span  {
        //         position: relative;
        //         top: 1px;
        //         left: 1px;
        //         color: #2d64fc;
        //         font-size: 9px;
        //         font-weight: bold;
        //     }
        // }
    }

    span {
        font-size: 24px;
        color: #ffffff;
    }

    &__btn {
        margin:  0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-right: 6px;
            svg {
                width: 100%;
                height: 100%;
                fill: #fff;
                display: inline-block;
                vertical-align: top;
            }
        }

        span {
            font-size: 14px;
            font-weight: bold;
            color: #ffffff;
        }
    }
}

.popup-review__btn {
    padding-top: 10px;
    border-top: 5px solid #f5f5f5;
    margin-top: 10px;
}

.style-scroll {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    

    @media(min-width: 769px) {
        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }
    
        &::-webkit-scrollbar-track {
            background: transparent;
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 100px;
            background-color: #c0c2c6;
        }
    }

}



// Form
.fornlog {
    width: 360px; 
    display: block;
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 19px;

    @media(max-width: 768px) {
        padding-bottom: 15px;
    }

    @media(max-width: 380px) {
        width: 100%;
    }

   .input-container  {
        width: 100%;
        margin-bottom: 0;
    }

    .form-input {
        margin-bottom: 20px;
    }
    .group {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            padding-left: 24px;
            font-size: 14px;
            line-height: 1;
            color: #2d64fc;
        }
        .input-container {
            max-width: calc(100% - 81px)
        }
    }

    &__text {
        font-size: 14px;
        line-height: 1.5;
        color: #1e2633; 
        margin-top: -14px;
        margin-bottom: 20px;
    }

    .button {
        width: 100%;
        // margin-top: 30px;
        margin-top: 10px;
        // margin-bottom: 40px;
    }

    &__close {
        .button {
            width: 165px;
        }
    }
}

.header-form {
    &__login, &__reg {
        display: none;

        &.active {
            display: block;
        }
    }
}

.social-link {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;

    &__item {
        width: 48px;
        height: 48px;
        margin: 0px 10px;
        transition-duration: .2s;
        svg {
            width: 100%;
            height: 100%;
            fill: #c0c2c6;
            transition-duration: .2s;
        }
        &:hover {
            svg {
                fill: #2d64fc;
            }
            
        }
    }
}


// Select Search
.selectsearch {
    width: 100%;
    z-index: 10;

    &-header {
        height: 64px;
        border-radius: 5px;
        border: solid 1px #c0c2c6;
        background-color: #ffffff;
        padding-right: 46px;
        position: relative;
        transition: .2s;

        &.focus {
            border-color: #0033c2;
            box-shadow: inset 0 0 0 1px #0033c2;

            .selabel {
                font-size: 12px;
                color: #1e2633;
                top: 10px;
                transform: translateY(0px);
            }

            .selected {
                opacity: 1;
                transform: translateY(0px);
                transition-delay: .1s;
            }

            & .arrow {
                svg {
                    fill: #0033c2;
                }
            }

            .selectsearch-dropdown {
                display: block;
            }

            &.top {
                .selectsearch-dropdown {
                    display: block;
                    // top: -100%;

                    margin-top: -80px;
                    transform: translateY(-100%);
                }
            }
        }

        &.selected {
            // border-color: #0033c2;
            // box-shadow: inset 0 0 0 1px #0033c2;

            .selabel {
                font-size: 12px;
                color: #1e2633;
                top: 10px;
                transform: translateY(0px);
            }

            .selected {
                opacity: 1;
                transform: translateY(0px);
                transition-delay: .1s;
            }

            // & .arrow {
            //     svg {
            //         fill: #0033c2;
            //     }
            // }
        }

        & .selabel {
            font-size: 22px;
            color: #a6a9ae;
            transition: .2s;
            position: absolute;
            left: 17px;
            top: 50%;
            transform: translateY(-50%);

            @media(max-width: 480px) {
                font-size: 18px;
            }
        }

        & .selected {
            display: flex;
            align-items: center;
            position: absolute;
            left: 0px;
            top: 10px;
            opacity: 0;
            pointer-events: none;

            left: 16px;
            top: 27px;
            transition: .2s;
            transition-delay: 0s;
            transform: translateY(5px);
            cursor: pointer;

            span {
                font-size: 22px;
                color: #1e2633;
            }   
            
            em {
                border-radius: 5px;
                background-color: #2d64fc;
                display: inline-block;
                padding: 2px 6px;
                color: #ffffff;
                font-style: normal;
                margin-left: 6px;
            }
        }

        & .clear {
            position: absolute;
            right: 62px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;

            &:hover {
                svg {
                    fill: #0033c2;
                }
            }

            svg {
                width: 12px;
                height: 12px;
                fill: #C0C2C6;
                position: relative;
                top: -1px;
                transition: .2s;
            }
        }

        & .arrow {
            width: 46px;
            height: 41px;
            border-left: 1px solid #c0c2c6;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
                svg {
                    fill: #0033c2;
                }
            }

            svg {
                width: 12px;
                height: 12px;
                fill: #C0C2C6;
                transform: rotate(90deg);
                transition: .2s;
            }
        }
    }

    &-dropdown {
        border-radius: 5px;
        box-shadow: 0 2px 15px 0 rgba(#000,.25);
        background-color: #fff;
        width: 100%;
        margin-top: 8px;
        padding: 16px;
        padding-top: 11px;
        padding-bottom: 14px;

        position: absolute;
        top: 100%;
        left: 0px;
        display: none;
        max-height: 272px;
        overflow: auto;

        &__search {
            position: relative;
            border-bottom: 1px solid #a6a9ae;
            margin-bottom: 19px;

            input {
                font-size: 22px;
                color: #a6a9ae;
                padding-right: 30px;
                border: 0px;
                width: 100%;
                outline: 0px;
                padding-bottom: 13px;

                &::placeholder {
                    color: #a6a9ae;
                }
            }

            svg {
                position: absolute;
                width: 16px;
                height: 16px;
                fill: #a6a9ae;
                top: 6px;
                right: 1px;
            }
        }

        &__content {
            // overflow: auto;
            .custom-checkbox-container {
                cursor: pointer;
                padding: 0px;
                margin-bottom: 18px;

                // &.noremove {
                //     display: none;
                // }

                &.remove {
                    display: none;
                }

                &:last-child {
                    margin-bottom: 0px;
                }

                .custom-checkbox {
                    &:before {
                        background: transparent !important;
                    }
                }

                .custom-checkbox-label {
                    font-size: 18px;
                    top: -5px;
                }
            }
        }
    }
}



.popup__footer {

    &--mobile {
        display: none !important;

        @media(max-width: 768px) {
            display: block !important;
        }
    }

    &--desktop {
        display: block !important;

        @media(max-width: 768px) {
            display: none !important;
        }
    }
}


.popup-content {
    display: flex;
}
.popup-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(100% - 238px);
    max-width: 750px;
    .form-extsel__item {
        width: calc(50% - 15px);
        margin-bottom: 30px;
    }
    .form-extsel__item_1 {
        width: calc(38% - 15px);
        margin-bottom: 33px;
    }
    .form-extsel__item_2 {
        width: calc(24% - 15px);
        margin-bottom: 33px;
    }
    .form-extsel__item--btn {
        width: 100%
    }
}
.popup-aside {
    padding-left: 30px;
    width: 238px
}
.check-item-filter {
    margin-bottom: 15px;
    .custom-checkbox-label {
        line-height: 17px;
        padding-top: 2px
    }
}
.filters-mob {
    display: none;
}
.popup-ask-question-mob {
    .form-extsel__item {
        position: relative;
    }
    .block-textarea span {
        top: 29px;
    }
    .block-textarea.focus span {
        top: 8px;
    }
    .popup__header .h2 {
        margin-right: 10px
    }
    &.popup  {
        .form-extsel {
            width: 300px
        }
        .popup__content {
            padding-top: 13px;
        }
        .lcreviews__form-block-hidden {
            margin-bottom: 19px
        }
        .lcreviews__form-block-hidden .custom-checkbox-container {
            margin-top: 20px
        }
        .form-extsel__item--close {
            margin-bottom: 12px;
        }
        .button-container .button {
            width: 100%
        }
    }
    .input {
        font-size: 22px;
    }
    .input-container {
        padding: 27px 17px 11px;
    }    
    .input-container.active .input-placeholder {
        top: 6px;
    }
    .block-textarea {
        min-height: 200px
    }
    .form-extsel__item--btn .button--primary {
        padding-top: 13px;
        padding-bottom: 14px
    }
    .form-extsel__item--close {
        .button--primary {
            font-size: 14px;
            padding-top: 10px;
            padding-bottom: 9px
        }
    }
}
@media (max-width: 959px) {
    .popup-content {
        display: block;
    }
    .popup-form {
        width: 100%
    }
    .filters-mob {
        display: flex;
        width: 100%;
        flex-wrap: wrap
    }
    .check-item-filter {
        margin: 0 15px 15px 0;
        &:last-child {
            margin-right: 0
        }
    }
}

@media (max-width: 700px) {
    .popup-form .form-extsel__item {
        margin-bottom: 18px;
        width: 100%;
    }
    .popup-form .form-extsel__item_1, .popup-form .form-extsel__item_2 {
        margin-bottom: 24px;
    }
    .popup-creditpay {
        .container {
            padding: 0;
        }
        .popup__header,
        .form-el-group,
        .graficpop__content,
        .graficpop__footer .button-container {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
@media (max-width: 500px) {
    .fornlog  {
        .input-container {
            padding: 28px 17px 10px
        }
        .input-container .input-placeholder {
            top: 20px;
        }
    }
}
@media (max-width: 480px) {
    .filters-mob {
        display: block;
        columns: 2;
        column-gap: 20px;
    }
    .check-item-filter {
        margin-right: 0;
        display: inline-block;
        break-inside: avoid;
        width: 100%
    }
}