.header-search
    display: flex
    align-items: center
    justify-content: center

    padding: 3px
    color: #c0c2c6

    transition-property: color
    transition-duration: $transition-duration

    &:hover
        text-decoration: none
        color: $color-clear-blue

    &__icon
        width: 16px
        height: 16px
        fill: currentColor
