.input-container
    position: relative
    border-radius: 5px
    box-shadow: inset 0 0 0 1px #c0c2c6
    padding: 28px 17px 10px

    transition-property: box-shadow
    transition-duration: $transition-duration

    @media screen and (max-width: 500px)
        // padding: 17px 17px 10px

    .input-placeholder
        position: absolute
        top: 21px
        left: 17px

        @media screen and (max-width: 500px)
            // top: 17px
            // left: 17px

    &.error
        box-shadow: inset 0 0 0 1px $color-orangey-red

    &:hover
        box-shadow: inset 0 0 0 1px $color-clear-blue

    &.active
        .input-placeholder
            top: 8px
            left: 17px
            transform: none

            +forminput-title-small

            @media screen and (max-width: 500px)
                top: 5px

    &.focus
        box-shadow: inset 0 0 0 2px #152c51


.input
    @extend %input-webkit-appearance
    border: none
    outline: none
    background: none
    width: 100%
    height: 26px

    color: $color-dark
    +forminput-text

    padding: 0

    // @media screen and (max-width: 500px)
    //     font-size: 16px

    &[type=number]
        @extend %input-type-number-arrows

    &-placeholder
        +forminput-title-big
        transition: $transition-duration all
.bootstrap-select .dropdown-toggle .filter-option
    height: auto
.input::-ms-clear
    display: none