section.error404-content
    .error404-img
        +add-image({src: "static/errors/rabbit.svg"})
    h1 Страница не найдена
    p Такой страницы нет на сайте, либо она была удалена.
    p На всякий случай проверьте адресную строку браузера.
    a(href="#") ← Вернуться назад