.common-slider-dots
    position: relative

    .slick-dots
        display: flex
        flex-wrap: wrap
        list-style: none
        padding: 0
        margin: 0

        position: absolute
        top: 19px
        right: -11px

        z-index: 2

        @media screen and (max-width: 500px)
            top: 23px
            right: -9px

        li
            position: relative

            width: 16px
            height: 16px

            margin: 4px 4.5px

            cursor: pointer
            user-select: none

            &.slick-active
                &:before
                    width: 12px
                    height: 12px
                    background-color: #ffffff

            &:hover
                &:before
                    background-color: #ffffff

            &:before
                content: ""
                position: absolute
                top: 50%
                left: 50%

                width: 6px
                height: 6px
                background-color: rgba(#ffffff, .4)

                transform: translate(-50%, -50%)

                border-radius: 100%

                transition: $transition-duration

            button
                display: none
