.common-tabs
    &-container &-header
        margin: -3px 0 10px

    &-header
        color: $color-cool-grey
        font-size: 18px

.common-tab
    position: relative
    z-index: 2

    &-group--has-separator &
        &:before
            content: ""
            position: absolute
            top: 50%
            left: 0

            width: 100%
            height: calc(100% - 11px * 2)

            z-index: -1

            transform: translate(0, -50%)

            border: none
            border-left: 1px solid #dfdfdf
            border-right: 1px solid #dfdfdf

    &-group
        display: flex

        border-radius: 5px
        box-shadow: inset 0 0 0 1px #dfdfdf

        &.common-tab-group--minw-101
            & > *
                min-width: 101px

        & > *
            flex: 1

    &-native-radio
        @extend %input-webkit-appearance
        position: absolute
        top: 50%
        left: 50%

        transform: translate(-50%, -50%)
        z-index: -1
        opacity: 0

    &-native-radio:checked + &-block
        background: $color-clear-blue
        color: #ffffff

    &-block
        display: block
        color: $color-dark
        font-size: 14px

        padding: 9px 10px 10px

        text-align: center
        border-radius: 5px

        cursor: pointer

        transition-property: color, background-color
        transition-duration: $transition-duration

        &:hover
            color: $color-clear-blue


// .common-tab-group 
//     flex-direction: column

//     &::after
//         content: "Быстрая сортировка"
//         width: 300px
//         // height: 36px
//         border-radius: 5px
//         border: solid 1px #dfdfdf
//         background-color: #ffffff
//         padding: 9px 15px  
//         line-height: 1
//         cursor: pointer

.common-tab-select
    @media (max-width: 768px) 
        width: 300px 
        margin-left: auto
        margin-right: auto
        display: flex
        flex-direction: column
        position: relative

.common-tab-mobile 
    // width: 300px
    display: none

    @media (max-width: 768px) 
        width: 100%
        border-radius: 5px
        border: solid 1px #dfdfdf
        background-color: #ffffff
        padding: 9px 15px  
        line-height: 1
        cursor: pointer
        display: flex
        align-items: center
        justify-content: space-between
        padding-right: 12px
        cursor: pointer
        transition: .2s
        user-select: none

        &.active 
            svg 
                transform: rotate(270deg)

            & + .common-tab-group  
                transform: translateY(0px)
                opacity: 1
                pointer-events: auto
                visibility: visible
                background-color: #fff

        span 
            font-size: 14px
            color: #152c51

        svg 
            width: 12px
            height: 12px
            fill: #C0C2C6
            transform: rotate(90deg)
            transform-origin: center center
            transition: .2s

        & + .common-tab-group 
            width: 100%
            display: flex
            flex-direction: column
            position: absolute
            top: 45px
            left: 0
            z-index: 99

            transform: translateY(10px)
            opacity: 0
            pointer-events: none
            visibility: hidden
            transition: .2s
