.reviews-filter
    background-color: #fff
    padding-bottom: 40px
    padding-top: 17px
    &__row-title
    	display: flex
    	justify-content: space-between
    	align-items: flex-end
    	margin-bottom: 42px
    	h1 
    		color: #1E2633
    		font-size: 43px
    		line-height: 45px
    		font-weight: 900
    		margin-bottom: 19px
    	p
    		letter-spacing: -0.65px
    &__right
    	padding-bottom: 5px
    	.button--icon svg
    		width: 32px
    		height: 31px
    		margin: 0
    		transform: none
    		margin-right: 12px
    	.button--primary
    		padding: 15px 22px 17px
    &__row    
    	display: flex
    	margin: 0 -15px
    &__col
    	width: 33.3%
    	padding: 0 15px

.reviews-list__filter
	display: flex
	margin-bottom: 25px
	.custom-select-placeholder,
	.input-placeholder
		font-size: 14px
		line-height: 19px
		padding:  7px 18px 8px

	.custom-select-container, .input-container
		padding:  7px 18px 8px		
		background-color: #fff
		box-shadow: inset 0 0 0 1px #dfdfdf

	.custom-select-placeholder
		display: none

	.custom-select-common-button
		font-size: 14px
		line-height: 19px
		color: #152C51

	.dropdown-item
		font-size: 14px
		line-height: 19px


.choice-rating
	border-radius: 5px
	border: 1px solid #dfdfdf
	background-color: #ffffff
	height: 36px
	padding: 5px 7px 5px 12px
	display: flex
	align-items: center
	margin-right: 15px
	&__title
		color: #1e2633
		font-size: 14px
		line-height: 18px
		font-weight: 400
		margin-right: 12px
	.js-custom-select-rating
		padding: 0!important
		box-shadow: none!important
	.star-rating 
		margin-right: 0!important

.reviews-list
	background: #F5F5F5
	border-top: 1px solid #979797
	padding-top: 25px
	&__row
		display: flex
		align-items: flex-start
	&__main
		padding-right: 29px
		width: calc(100% - 263px)
	&__right
		width: 263px
.promo
	display: block
	padding: 11px
	background-color: #fff
	border-radius: 10px
	img
		display: block
		max-width: 100%
.list-review
	padding: 0
	margin: 0
	list-style-type: none
	&__item
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0

.blockreview__content-text
	a 
		font-size: 14px


.reviews-list__pagination
	padding-top: 30px
	padding-bottom: 30px
	display: flex
	align-items: center
	justify-content: flex-end
	.button-container
		margin-right: 66px		
	.button.button--line
		background-color: transparent

.paging-list
	display: flex
	align-items: center
	list-style-type: none
	padding: 0
	margin: 0
	&__item
		margin-right: 0px
		color: #2d64fc
		&:last-child
			margin-right: 0
		&.active
			color: #fff
			.paging-list__link
				color: #fff
				background-color: #2D64FC
		&:hover
			color: #fff
			a
				background-color: #2D64FC
	&__link
		color: #2D64FC
		font-size: 15px
		line-height: 18px
		display: block
		border-radius: 5px
		height: 30px
		text-align: center
		min-width: 35px
		padding: 7px 5px 0

.popup-review
	padding-bottom: 45px
	.popup__header
		margin-bottom: 38px
	.popup__content
		max-height: calc(100vh - 290px)
	.popup-review__row
		margin-right: 0
		margin-left: 0
		position: relative
	.reviews-filter__col
		&:first-child
			padding-left: 0
		&:last-child
			padding-right: 0

.popup-review__row
	margin-bottom: 30px
	align-items: center
	.input-container
		width: 100%

.popup-review__btn
	display: flex
	justify-content: space-between
	.button-container
		&:first-child
			min-width: 33.3%
			padding-right: 20px
			.button--primary
				width: 100%

.textarea
	resize: none
	min-height: 209px

.textarea-inf
	min-height: 87px

.popup-review__checkbox
	display: flex

.textarea-max-lenght
	color: #A6A9AE
	font-size: 12px
	line-height: 18px
	font-weight: 400
	position: absolute
	right: 20px
	top: 9px

.overflow-text
	max-height: 63px
	overflow: hidden
	&+a
		font-size: 14px
		line-height: 21px
		color: #2D64FC

.star-rating .star-icon
	display: block
	margin-right: 7px
	width: 14px
	height: 14px
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	background-image: url("../svg/sprite.svg#svg--star")
	fill: red
	&.selected
		fill: #fa0

.custom-select-rating
	position: absolute
	left: 0
	bottom: 100%
	z-index: 1000
	padding: 8px 0
	font-size: 1.125rem
	color: #1e2633
	list-style: none
	background-color: #fff
	background-clip: padding-box
	border: 0 solid rgba(0,0,0,.15)
	border-radius: 5px
	box-shadow: 0 2px 15px rgba(0,0,0,.15)
	list-style: none
	min-width: 100%
	display: none
	&__item 
		font-weight: 400
		color: #212529
		font-size: 1.125rem
		padding: 8px 16px
		display: flex
		align-items: center
		&.active
			background: rgba(255,237,202,.43)
			color: #1e2633
		.star-rating
			margin-right: 10px
		&:hover
			background: rgba(255,237,202,.43)
			color: #1e2633
.custom-select-rating__title
	.custom-select-rating__item
		padding-left: 0
		padding-right: 0
		font-size: 22px
		line-height: 20px
		&:hover
			background-color: transparent
			color: #212529
.custom-select-container
	&.show
		.custom-select-rating
			display: block
.item-hidden
	display: none
@media (max-width: 900px)
	.reviews-list__main
		width: calc(100% - 180px)
	.reviews-list__right
		width: 180px

	.reviews-filter__row-title h1
		font-size: 35px
		line-height: 42px

@media (max-width: 767px)
	.reviews-list__main
		width: 100%
		padding-right: 0
	.reviews-list__right
		display: none
	.reviews-filter__row-title
		display: block
		margin-bottom: 15px
		.button--primary
			display: block
			width: 100%
	.reviews-filter__row-title h1
		margin-bottom: 12px
	.reviews-filter__left
		margin-bottom: 21px
	.reviews-filter__row
		margin: 0 -5px
	.reviews-filter__col
		padding: 0 5px
	.hide-mob
		display: none
	.reviews-list__pagination
		display: block
	.reviews-list__pagination .button-container
		margin-right: 0
		margin-bottom: 20px
	.paging-list
		justify-content: center
	.reviews-list__pagination .button.button--line
		display: block
		width: 100%
	.reviews-filter__row-title p
		font-size: 12px
		letter-spacing: 0
	.reviews-filter__right .button--icon svg
		width: 25px
		height: 22px
	.reviews-filter__right .button--primary
		padding: 12px 22px 13px
	.reviews-filter
		padding-bottom: 18px
	.reviews-list
		padding-top: 14px
		border-top: none
	.paging-list__link
		min-width: 34px
	
	.popup-review .popup-review__row
		display: block

	.popup-review .reviews-filter__col
		padding: 0
		margin-bottom: 20px
		width: 100%
		&:last-child
			margin-bottom: 0px

	.popup-review .popup-review__row
		margin-bottom: 20px

	.popup-review .popup__header
		margin-bottom: 0

	.popup-review__checkbox
		display: block

	.textarea
		min-height: 168px

	.textarea-inf
		min-height: 168px

	.popup-review .popup__content
		max-height: calc(100vh - 195px)
	.popup-review
		padding-bottom: 0
	.choice-rating 
		justify-content: space-between

@media (max-width: 500px)
	.reviews-filter__row-title h1
		font-size: 31px
		line-height: 31px

	.reviews-filter__row
		display: block
		margin: 0

	.reviews-filter__col
		width: 100%
		margin-bottom: 17px
		padding: 0
		&:last-child
			margin-bottom: 0

	.reviews-list__filter
		display: block

	.choice-rating
		margin-right: 0
		margin-bottom: 10px
	
	.list-review
		.blockreview__footer
			margin-bottom: 0
			padding-bottom: 15px


	.popup-review__btn
		display: block

	.popup-review__btn .button-container:first-child
		width: 100%
		padding-right: 0
		margin-bottom: 15px

	.popup-review__btn .button-container .button--primary
		width: 100%
	.blockreview__content-img
		margin: 10px 0

@media (max-width: 480px)
	.overflow-text
		max-height: 92px

	.overflow-text+a
		font-size: 12px