.credit-tip-section
    display: none

    background-color: $color-white
    text-align: center

    padding: 28px 0 25px

    @media screen and (max-width: 1000px)
        display: block

.credit-tip
    color: $color-dark
    font-size: 14px
    line-height: 1.5

    @media screen and (max-width: 500px)
        padding: 0 3px
