.article
    .section-comments
        padding-top: 35px
    .credit-info .credit-info-header
        margin: 9px 0 25px
    .credit-info
        padding: 4px 0 25px
    .popular-articles
        background-color: #152c51
        padding-top: 44px
        margin-top: 6px
        h2 
            margin-bottom: 75px
            color: #ffffff
    .credit-info-left 
        width: 100%
    .credit-info-description
        span 
            margin-right: 10px
            padding-right: 13px
            color: #152c51
            font-size: 12px
            font-weight: 700
            &:first-of-type
                position: relative
                &:after
                    position: absolute
                    right: 0
                    top: 6px
                    content: ''
                    width: 4px
                    height: 4px
                    border: 1px solid #979797
                    background-color: #1e2633
                    border-radius: 50%
    .section-converter-table
        padding-top: 0
        background-color: #fff
    .promo
        padding: 0
        padding-left: 23px
    &__img
        width: 100%
        height: 373px
        background-size: cover
        background-image: url(../img/article/article-img1.png)
        background-position: center
        margin-bottom: 32px
    &__content
        p 
            max-width: 652px
            color: #1e2633
            font-size: 16px
            font-weight: 400
            line-height: 24px
            margin-bottom: 29px
            &.article__info
                font-size: 20px
                line-height: 27px
    &__inner 
        padding: 30px 0
        background-color: #f5f5f5
        margin: 30px 0
        width: 150vw
        padding-left: 50vw
        margin-left: -50vw
        .article__inner-title 
            color: #464646
            font-size: 24px
            font-weight: 400
            display: block
            margin-bottom: 15px
        ul 
            padding: 0
            margin: 0
            display: inline-block
            margin-right: 122px
            &:last-of-type
                margin-right: 0
        li 
            color: #2d64fc
            font-size: 14px
            font-weight: 500
            line-height: 22px
            list-style: none
            margin-bottom: 5px
            letter-spacing: -.3px
            &:last-of-type
                margin-bottom: 0
            span 
                color: #464646
                text-align: right
                width: 12px
                display: inline-block
                margin-right: 7px
            a 
                color: #464646
    h3
        color: #1e2633
        font-weight: 900
        font-size: 37px
        margin-bottom: 10px
    h4
        font-size: 24px
        color: #1e2633
        font-weight: 900
        margin-bottom: 10px
    .answers__dots
        margin-bottom: 20px
        margin-top: 10px
        justify-content: space-between
        align-items: flex-start
        span 
            font-size: 14px
            font-weight: 400
            line-height: 19px
    &-slider
        width: calc(100% + 292px)
    &-slide 
        background-size: cover
        background-position: center
        height: 520px
    &-add 
        position: relative
    &-footnote  
        position: absolute
        right: -215px
        top: 0
        border-left: 2px solid#dfdfdf
        font-size: 12px
        font-weight: 400
        line-height: 19px
        padding-left: 10px
        width: 186px
    &-quote
        max-width: 702px
        width: 100%
        min-height: 207px
        border-radius: 10px
        background-color: #152c51
        padding: 35px 50px
        margin-left: -50px
        margin-bottom: 27px
        p 
            color: #ffffff
            font-size: 24px
            font-weight: 400
            line-height: 32px
            position: relative
            max-width: 522px
            margin: 0
            span:first-of-type,
            span:last-of-type  
                position: absolute
                left: -20px
                top: -3px
                font-size: 33px
                color: #a6a9ae
            span:last-of-type
                left: auto
                top: auto
                right: -7px
                bottom: 2px
        span.article-quote__author
            color: #ffffff
            margin-top: 20px
            display: block
            font-size: 16px
            font-weight: 700
    &-table 
        width: 100%
        min-height: 208px
        border-radius: 10px
        border: 1px solid #dfdfdf
        padding-bottom: 15px
        margin-bottom: 35px
        &__row 
            display: flex
            justify-content: space-between
            color: #1e2633
            font-size: 18px
            font-weight: 400
            padding: 16px 18px
            border-bottom: 1px solid #dfdfdf
        &__head
            border-bottom: 2px solid #dfdfdf
            color: #1e2633
            font-size: 12px
            font-weight: 400
            letter-spacing: 1px
            text-transform: uppercase
        &__col1 
            width: 5%
        &__col2
            width: 25%
        &__col3, &__col4
            width: 21%
        &__col5 
            width: 20%
        span 
            padding-left: 18px
            color: #152c51
            font-size: 14px
            font-weight: 400
            line-height: 19px
            margin-top: 14px
            display: block
    &__list 
        margin-top: 40px
        max-width: 652px
        position: relative
        &-title 
            color: #464646
            font-size: 24px
            font-weight: 400
            display: block
            margin-bottom: 15px
        &-subtitle 
            color: #1e2633
            font-size: 16px
            font-weight: 700
            line-height: 24px
            margin-bottom: 15px
            display: block
        ul 
            padding: 0
            margin: 0
            display: inline-block
            margin-bottom: 10px
            li 
                list-style: none
                margin-bottom: 15px
                color: #1e2633
                font-size: 16px
                font-weight: 400
                line-height: 20px
            span 
                width: 20px
                height: 20px
                border-radius: 5px
                background-color: #a6a9ae
                color: #ffffff
                font-size: 12px
                font-weight: 700
                display: inline-block
                text-align: center
                margin-right: 10px
                vertical-align: bottom
            &:last-of-type
                li 
                    position: relative
                    padding-left: 15px
                    &:before 
                        font-family: glyphter,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif
                        font-style: normal
                        font-weight: 400
                        line-height: 1
                        -webkit-font-smoothing: antialiased
                        -moz-osx-font-smoothing: grayscale
                        content: '\006c'
                        font-size: 9px
                        color: #a6a9ae
                        position: absolute
                        top: 5px
                        left: 0  
        .article-footnote
            top: auto
            bottom: 48px

@media (max-width: 1200px)
    .article-quote
        margin-left: 0
@media (max-width: 900px)
    .article-slider
        width: 100%
    .article-footnote
        display: none
    .article-quote,
    .article__content p,
    .article__list
        max-width: 100%
    .article-quote p
        max-width: 522px
    .article__content img 
        width: 100%
    .add-comment .button--primary
        font-size: 24px
        padding: 16px 44px 20px
    .article 
        .listcreditslider__dots--desktop .slick-dots
            display: flex!important
@media (max-width: 767px)
    .article__img 
        height: 200px
        width: 110vw
        margin-left: -10vw
        margin-bottom: 15px
    .article .credit-info .credit-info-header
        width: 90%
        margin-bottom: 13px
    .article .credit-info
        padding-bottom: 15px
    .article__content p.article__info
        font-size: 18px
    .article__content p
        margin-bottom: 22px
        font-size: 14px
        line-height: 21px
    .article__inner
        margin-top: 0
        padding-top: 20px
        padding-bottom: 20px
        margin-bottom: 20px
    .article__inner .article__inner-title
        margin-bottom: 10px
    .article__inner ul
        margin-right: 0
        margin-bottom: 0
    .article h3
        font-size: 27px
    .article-slider
        .article-slide
            height: 260px
        .answers__dots
            display: flex!important
            margin-bottom: 15px
            margin-top: 5px
    .article .answers__dots span
        font-size: 12px
        width: 65%
    .article-quote
        padding: 23px 32px
        margin-bottom: 20px
        p 
            font-size: 18px
            line-height: 22px
        span.article-quote__author
            font-size: 14px
    .article-table 
        overflow: auto
        min-height: auto
        margin-bottom: 20px
        margin-left: -15px
        margin-right: -15px
        width: 110%
    .article-table__row
        padding-top: 10px
        padding-bottom: 10px
        width: 800px
        flex-wrap: nowrap
    .article-table__head
        padding-bottom: 0
    .article__list
        margin-top: 15px
    .article__list-title
        font-size: 20px
        margin-bottom: 20px
    .article__list-subtitle,
    .article__list ul li
        line-height: 22px
        font-size: 14px
    .article__list ul li
        margin-bottom: 12px
    .article__list ul span
        vertical-align: initial
    .article-quote p span:first-of-type, .article-quote p span:last-of-type
        position: relative
        top: 3px
        left: auto
        right: auto
        bottom: auto
        display: inline-block
        line-height: 10px
    .article-quote p span:first-of-type
        margin-right: 4px
    .article-quote p span:last-of-type
        margin-left: 4px
    .article-table span
        font-size: 12px
    .article
        .popular-articles
            padding-top: 25px
            h2 
                margin-bottom: 25px
            .popular-articles__text 
                padding-top: 12px
    .article .section-comments
        padding-top: 15px
@media (max-width: 500px)
    .article-slider
        width: 109%
        margin-left: -5%
    .article .answers__dots span
        margin-left: 5%