@media (min-width: 1200px)
	.listloan-header
		.listcredit-head__img
			width: 524px;
			max-width: 40.307vw
			overflow: visible
			margin: -91px -12.5vw 0 -27px;
			img
				vertical-align: top
		.listcredit-head__form
			width: 74.3%