.custom-checkbox-container
    display: flex
    flex-wrap: wrap
    align-items: flex-start

    position: relative
    z-index: 2

    padding: 8px

    &:hover *
        cursor: pointer

    .custom-checkbox-label
        flex: 1

.custom-checkbox
    width: 17px
    height: 17px
    border-radius: 4px
    background-color: #ffffff

    box-shadow: inset 0 0 0 1px #c0c2c6

    display: flex
    align-items: center
    justify-content: center

    user-select: none
    cursor: pointer

    transition-property: box-shadow, background-color
    transition-duration: $transition-duration

    // &::after
    //     content: ""
    //     display: block
    //     position: absolute
    //     top: 0
    //     left: 0
    //     bottom: 0
    //     right: 0
    //     border-radius: 5px
    //     background-color: #f5f5f5
    //     z-index: -1
    //     cursor: pointer

    & &__icon
        opacity: 0
        transition-property: opacity, fill
        transition-duration: $transition-duration

        &:hover
            opacity: 1
            fill: $color-clear-blue

    &__icon
        width: 11px
        height: 11px
        fill: #ffffff

    &-container &-label
        position: relative
        top: -2px
        margin: 0 0 -4px 6px

    &-label
        color: $color-dark
        font-size: 14px
        line-height: 1.5
        padding: 0 4px 0 0
        user-select: none

    &-native
        @extend %input-webkit-appearance
        width: 17px
        height: 17px
        opacity: 0
        margin-right: -17px

        z-index: -1

    &-native + &
        &:before
            content: ""
            display: block

            position: absolute
            top: 0
            left: 0
            bottom: 0
            right: 0

            border-radius: 5px
            background-color: $color-white
            z-index: -1

            cursor: pointer

            transition-property: background-color
            transition-duration: $transition-duration

    &-native:checked + &
        box-shadow: none
        background-color: $color-clear-blue

        &:before
            background-color: #e5ecff

        & .custom-checkbox__icon
            opacity: 1
            fill: #FFFFFF
