.best-proposition
    background: #152c51
    position: relative
    padding-bottom: 43px
    padding-top: 30px
    h2
        font-size: 37px
        line-height: 42px
        color: #FFF
        font-weight: 900
.hide-tab
    position: absolute
    left: 0px;
    top: 0px;
    width: 100%
    opacity: 0;
    pointer-events: none;
    z-index: -1

.credit-recommend-block:hover
    z-index: 10
    
.proposition-list
    padding: 13px 0 1px 0
    margin-bottom: 15px
    &__item
        display: inline-block
        vertical-align: top
        margin: 0 32px 10px 0
        &:last-child
            margin-right: 0;
        &.active
           .proposition-list__link
                font-weight: bold
                &:after
                    display: block
    &__link
        display: block
        position: relative
        font-size: 16px;
        line-height: 22px;
        font-weight: 400
        color: #FFF
        padding-bottom: 5px
        &:hover
            color: #FFF
            text-decoration: none
            &:after
                display: block 
        &:after
            display: none
            content: ''
            position: absolute
            left: 0
            bottom: 0
            width: 100%
            height: 3px
            background: #ffaa00

@media (max-width: 1000px)
    .best-proposition
        padding-bottom: 30px
    .proposition-list
        &__item
            margin-right: 20px
        &__link
            font-size: 14px
            line-height: 20px
            
            
@media (max-width: 767px)            
    .best-proposition
        padding-top: 20px
        padding-bottom: 15px
        h2
            font-size: 27px
            line-height: 27px
        .credit-recommend-row
            margin-left: -10px
            margin-right: -10px
            width: calc(100% + 20px)
            padding-left: 10px
            padding-right: 10px
    .proposition-list
        margin-bottom: 0
        white-space: nowrap
        margin-left: -10px
        margin-right: -10px
        overflow-x: auto
        padding-left: 10px
        padding-right: 10px
        &__item
            margin-right: 18px
    