.section-converter-table
	.container
		.content-row
			.content-row__main
				include converter
				include table
			.content-row__right
				a(href="#").btn-light.btn_best-exchange Лучшие курсы обмена в Алматы
				a(href="#").promo
					+add-image({src: "static/promo/drweb.png", retina: true})
					