.converter
	h2.h2-converter Конвертер валют
	.converter-row.js-converter-wrap
		+add-typed-number-input({
			placeholder: "У меня есть",
			name: "from",
			types: ["USD", "KZT"],
			min: 0,
			max: 30000000,
			value: 0,
			classInput: 'from',
			className: 'js-from'
		})
		a(href="#").converter-icon.js-replace
			+add-svg({icon: "exchange"})
		+add-typed-number-input({
			placeholder: "Хочу получить",
			name: "to",
			types: ["KZT", "USD"],
			min: 0,
			max: 30000000,
			value: 0,
			classInput: 'to',
			className: 'js-to'
		})