include ../mixins/credit-recommend

include ../popup/extsel
include ../popup/querycr

section.credit-info-section.exchange-section
	.container
		.credit-info
			.credit-info-row
				.credit-info-left
					h1.credit-info-header Курсы валют Нацбанка РК
					.credit-info-description.hide-mob
						p Официальные курсы обмена валют установленные Нацбанком РК на сегодня, динамика изменений, онлайн конвентер
				.credit-info-right
					+add-image({src: "static/exchange-rate/logo_national_bank.jpg", retina: true, class: 'logo-national'})
				.credit-info-description.show-mob
					p Официальные курсы обмена валют установленные Нацбанком РК на сегодня, динамика изменений, онлайн конвентер
