.tablemax.tablemax_converter
    .tablemax__header
        .tablemax__header-item.table-item-currency
            span ВАЛЮТА
        .tablemax__header-item.table-item-code
            span.reverse
            | КОД
        .tablemax__header-item.table-item-symbol
            span
            | СИМВОЛ
        .tablemax__header-item.table-item-units
            span
            | ЕДИНИЦЫ
        .tablemax__header-item.table-item-course
            span
            | КУРС
        .tablemax__header-item.table-item-different
            span
            | ИЗМЕНЕНИЯ
    .tablemax_content
        .tablemax__item
            .tablemax__item-wrap
                .table-item-currency
                    .converter-currency
                        a(href="#")
                            +add-svg({icon: "usd"})
                        a(href="#")
                            span Доллар США
                .table-item-code(data-title="Код")
                    span USD
                .table-item-symbol(data-title="Символ")
                    span $
                .table-item-units(data-title="Единицы")
                    span 1
                
                .table-item-course
                    span 54.43Т
                .table-item-different
                    span.growth-course
                        +add-svg({icon: "arrow-sort",class:"icon-direction"})
                        | 0.33
        .tablemax__item
            .tablemax__item-wrap
                .table-item-currency
                    .converter-currency
                        a(href="#")
                            +add-svg({icon: "rubl"})
                        a(href="#")
                            span Рубль России
                .table-item-code(data-title="Код")
                    span RUB
                .table-item-symbol(data-title="Символ")
                    span ₽
                .table-item-units(data-title="Единицы")
                    span 10
                
                .table-item-course
                    span 6.33Т
                .table-item-different
                    span.depreciation
                        +add-svg({icon: "arrow-sort-down",class:"icon-direction"})
                        | 0.24
        .tablemax__item
            .tablemax__item-wrap
                .table-item-currency
                    .converter-currency
                        a(href="#")
                            +add-svg({icon: "gbp"})
                        a(href="#")
                            span Курс фунта стерлингов Соединенного Королевства
                .table-item-code(data-title="Код")
                    span GBP
                .table-item-symbol(data-title="Символ")
                    span £
                .table-item-units(data-title="Единицы")
                    span 1 000
                
                .table-item-course
                    span 486.44Т
                .table-item-different
                    span.depreciation
                        +add-svg({icon: "arrow-sort-down",class:"icon-direction"})
                        | 0.05

        .tablemax__item
            .tablemax__item-wrap
                .table-item-currency
                    .converter-currency
                        a(href="#")
                            +add-svg({icon: "eur"})
                        a(href="#")
                            span Евро
                .table-item-code(data-title="Код")
                    span EUR
                .table-item-symbol(data-title="Символ")
                    span €
                .table-item-units(data-title="Единицы")
                    span 10
                
                .table-item-course
                    span 23.95Т
                .table-item-different
                    span.growth-course
                        +add-svg({icon: "arrow-sort",class:"icon-direction"})
                        | 0.18
        .tablemax__item
            .tablemax__item-wrap
                .table-item-currency
                    .converter-currency
                        a(href="#")
                            +add-svg({icon: "usd"})
                        a(href="#")
                            span Доллар США
                .table-item-code(data-title="Код")
                    span USD
                .table-item-symbol(data-title="Символ")
                    span $
                .table-item-units(data-title="Единицы")
                    span 1
                
                .table-item-course
                    span 54.43Т
                .table-item-different
                    span.growth-course
                        +add-svg({icon: "arrow-sort",class:"icon-direction"})
                        | 0.33
        .tablemax__item
            .tablemax__item-wrap
                .table-item-currency
                    .converter-currency
                        a(href="#")
                            +add-svg({icon: "rubl"})
                        a(href="#")
                            span Рубль России
                .table-item-code(data-title="Код")
                    span RUB
                .table-item-symbol(data-title="Символ")
                    span ₽
                .table-item-units(data-title="Единицы")
                    span 10
                
                .table-item-course
                    span 6.33Т
                .table-item-different
                    span.depreciation
                        +add-svg({icon: "arrow-sort-down",class:"icon-direction"})
                        | 0.24
        .tablemax__item
            .tablemax__item-wrap
                .table-item-currency
                    .converter-currency
                        a(href="#")
                            +add-svg({icon: "eur"})
                        a(href="#")
                            span Евро
                .table-item-code(data-title="Код")
                    span EUR
                .table-item-symbol(data-title="Символ")
                    span €
                .table-item-units(data-title="Единицы")
                    span 10
                
                .table-item-course
                    span 23.95Т
                .table-item-different
                    span.growth-course
                        +add-svg({icon: "arrow-sort",class:"icon-direction"})
                        | 0.18
        .tablemax__item
            .tablemax__item-wrap
                .table-item-currency
                    .converter-currency
                        a(href="#")
                            +add-svg({icon: "usd"})
                        a(href="#")
                            span Доллар США
                .table-item-code(data-title="Код")
                    span USD
                .table-item-symbol(data-title="Символ")
                    span $
                .table-item-units(data-title="Единицы")
                    span 1
                
                .table-item-course
                    span 54.43Т
                .table-item-different
                    span.growth-course
                        +add-svg({icon: "arrow-sort",class:"icon-direction"})
                        | 0.33
        .tablemax__item
            .tablemax__item-wrap
                .table-item-currency
                    .converter-currency
                        a(href="#")
                            +add-svg({icon: "rubl"})
                        a(href="#")
                            span Рубль России
                .table-item-code(data-title="Код")
                    span RUB
                .table-item-symbol(data-title="Символ")
                    span ₽
                .table-item-units(data-title="Единицы")
                    span 10
                
                .table-item-course
                    span 6.33Т
                .table-item-different
                    span.depreciation
                        +add-svg({icon: "arrow-sort-down",class:"icon-direction"})
                        | 0.24
        .tablemax__item
            .tablemax__item-wrap
                .table-item-currency
                    .converter-currency
                        a(href="#")
                            +add-svg({icon: "eur"})
                        a(href="#")
                            span Евро
                .table-item-code(data-title="Код")
                    span EUR
                .table-item-symbol(data-title="Символ")
                    span €
                .table-item-units(data-title="Единицы")
                    span 10
                
                .table-item-course
                    span 23.95Т
                .table-item-different
                    span.growth-course
                        +add-svg({icon: "arrow-sort",class:"icon-direction"})
                        | 0.18
        .tablemax__item
            .tablemax__item-wrap
                .table-item-currency
                    .converter-currency
                        a(href="#")
                            +add-svg({icon: "usd"})
                        a(href="#")
                            span Доллар США
                .table-item-code(data-title="Код")
                    span USD
                .table-item-symbol(data-title="Символ")
                    span $
                .table-item-units(data-title="Единицы")
                    span 1
                
                .table-item-course
                    span 54.43Т
                .table-item-different
                    span.growth-course
                        +add-svg({icon: "arrow-sort",class:"icon-direction"})
                        | 0.33
        .tablemax__item
            .tablemax__item-wrap
                .table-item-currency
                    .converter-currency
                        a(href="#")
                            +add-svg({icon: "rubl"})
                        a(href="#")
                            span Рубль России
                .table-item-code(data-title="Код")
                    span RUB
                .table-item-symbol(data-title="Символ")
                    span ₽
                .table-item-units(data-title="Единицы")
                    span 10
                
                .table-item-course
                    span 6.33Т
                .table-item-different
                    span.depreciation
                        +add-svg({icon: "arrow-sort-down",class:"icon-direction"})
                        | 0.24
        .tablemax__item
            .tablemax__item-wrap
                .table-item-currency
                    .converter-currency
                        a(href="#")
                            +add-svg({icon: "eur"})
                        a(href="#")
                            span Евро
                .table-item-code(data-title="Код")
                    span EUR
                .table-item-symbol(data-title="Символ")
                    span €
                .table-item-units(data-title="Единицы")
                    span 10
                
                .table-item-course
                    span 23.95Т
                .table-item-different
                    span.growth-course
                        +add-svg({icon: "arrow-sort",class:"icon-direction"})
                        | 0.18
        .tablemax__item
            .tablemax__item-wrap
                .table-item-currency
                    .converter-currency
                        a(href="#")
                            +add-svg({icon: "rubl"})
                        a(href="#")
                            span Рубль России
                .table-item-code(data-title="Код")
                    span RUB
                .table-item-symbol(data-title="Символ")
                    span ₽
                .table-item-units(data-title="Единицы")
                    span 10
                
                .table-item-course
                    span 6.33Т
                .table-item-different
                    span.depreciation
                        +add-svg({icon: "arrow-sort-down",class:"icon-direction"})
                        | 0.24