.bank-rates-table
    color: $color-dark
    font-size: 18px
    font-weight: 400
    width: 100%

    .tip
        color: $color-dark
        font-size: 12px
        font-weight: 400
        letter-spacing: 1px
        text-transform: uppercase

        background: $color-white
        padding: 2px 4px 1px

        position: relative
        top: -1px

    &-row
        & > td
            padding: 17px 0 0

        &.bank-rates-table-row--bottom-line
            box-shadow: inset 0 -1px 0 0 #dfdfdf

            & > td
                padding: 16px 0 17px

    small
        color: $color-dark
        font-size: 14px
        line-height: normal

    thead
        th
            border-bottom: 3px solid $color-white
            padding: 11px 0

            &:nth-last-child(-n + 1)
                width: 116px

            &:nth-last-child(-n + 2)
                width: 116px

    th
        color: $color-dark
        font-size: 12px
        font-weight: 400
        letter-spacing: 1px
        text-transform: uppercase

    td
        vertical-align: top

    &-badges
        display: flex
        flex-wrap: wrap

    &-badges &-badge
        margin: 0 15px 5px 0

    &-badge
        display: inline-block
        color: $color-dark
        font-size: 14px
        font-weight: 400

        border-radius: 5px
        background-color: #e5ecff

        padding: 4px 12px 6px
