.popular-articles
    background: #FFF
    position: relative
    padding-bottom: 0
    padding-top: 30px
    .container
        z-index: 2;
    &:before
        display: block
        content: ''
        background: #f5f5f5
        height: 84px
        position: absolute
        left: 0
        bottom: 0
        width: 100%
    h2
        font-size: 37px
        line-height: 42px
        color: #152c51
        font-weight: 900
        
.answers__dots
    position: relative
    display: flex
    align-items: center
    justify-content: flex-end
    margin-bottom: 43px
    a
        font-size: 14px
        font-weight: 700
        color: #2d64fc
        margin-right: 18px
    .slick-dots
        display: flex
        flex-wrap: wrap
        list-style: none
        padding: 0
        margin: 0
        z-index: 2
        li
            position: relative
            width: 16px
            height: 16px
            margin: 4px 4.5px
            user-select: none
            &:before
                content: ""
                position: absolute
                top: 50%
                left: 50%
                width: 6px
                height: 6px
                background-color: #a6a9ae
                transform: translate(-50%,-50%)
                border-radius: 100%
                transition: .2s
            &.slick-active
                &:before
                    width: 12px;
                    height: 12px;
                    background-color: #2d64fc;
            button
                display: none
.listcreditslider__dots--mobile
    display: none
.popular-articles
    &__item
        display: block
        background: #FFF
        border-radius: 10px
        margin-left: 15px
        margin-right: 15px
        min-height: 222px
        position: relative;
        color: #1e2633
        &:hover
            color: #1e2633
            text-decoration: none
            .popular-articles__img
                opacity: 0.9
            .popular-articles__name
                color: #2d64fc
    &__img
        display: block
        height: 168px
        border-radius: 10px 10px 0 0;
        transition: 0.2s;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    &__text
        display: block
        padding: 10px 20px 15px 20px
    &__name
        display: block
        font-size: 14px
        line-height: 18px
        color: #1e2633
        text-decoration: none
        padding-top: 7px
    &__category
        font-size: 12px
        line-height: 16px
        text-transform: uppercase
        font-weight: 700
        color: #c0c2c6
        letter-spacing: 1px

@media (max-width: 1000px)
    .popular-articles
        &__name
            min-height: 61px
            overflow: hidden
        &:before
            height: 101px
        
@media (max-width: 767px)    
    .popular-articles
        padding-top: 17px
        padding-bottom: 15px
        h2
            font-size: 27px
            line-height: 27px
        &__name
            min-height: 0
            
        
    .answers__dots
        display: none!important
    
    .popular-articles__item
        margin-left: 15px
        margin-right: 0
        padding-left: 0
        padding-right: 0
    
