.listcreditslider
    .button--slider-btn
        margin-right: 42px
        background: transparent
        font-size: 15px
        padding: 10px 15px 8px
.bank-list
    background-color: #152c51
    ul 
        margin: 0
        padding: 0
        list-style: none
    &__item
        display: inline-block
        vertical-align: top
        margin-right: 35px
        outline: none
        &:last-child
            margin-right: 0
        &.active
           .bank-list__link
                text-shadow: 0 0 1.3px white
                font-weight: 400
                &:after
                    display: block
    &__link
        display: block
        position: relative
        font-size: 14px
        line-height: 34px
        font-weight: 400
        color: #FFF
        padding: 3px 0
        margin: 0
        width: 100%
        outline: none
        text-decoration: none
        &:hover
            color: #FFF
            text-decoration: none
            outline: none
            font-weight: 400
            line-height: 34px
            &:after
                display: block 
        &:after
            display: none
            content: ''
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 3px
            background: #ffaa00
.bank-about
    display: flex
    justify-content: space-between
    padding-top: 29px
    h2 
        color: #1e2633
        font-weight: 900
        font-size: 37px
    &__main
        padding-right: 29px
        width: calc(100% - 263px)
        .list-product__flex 
            display: flex
            justify-content: space-between
            margin: 0 -7px
        .list-product
            justify-content: flex-start
            max-width: 100%
            padding-top: 18px
            &__item
                width: calc(20% - 14px)
                margin: 0 7px
                margin-bottom: 15px
    &__aside
        width: 263px
.bank-contacts
    margin-bottom: 30px
    margin-top: 10px
    &__list 
        border: 2px solid #dfdfdf
        border-radius: 10px
        padding: 33px 38px 20px
        margin-top: 20px
        display: flex
        justify-content: space-between
        width: 100%
    &__item
        position: relative
        padding-left: 35px
        img 
            position: absolute
            left: 0
            top: -1px
        span 
            color: #1e2633
            font-size: 18px
            font-weight: 700
        p 
            color: #1e2633
            font-size: 14px
            font-weight: 400
            line-height: 21px
            margin-bottom: 15px
        a 
            font-size: 18px
            display: block
    &__title
        color: #a6a9ae
        font-size: 18px
        margin-bottom: 15px
        display: block
    &__address 
        color: #1e2633
        font-size: 18px
        font-weight: 400
        margin-bottom: 35px
    &__column 
        width: 32%
        &:last-of-type
            a 
                margin-bottom: 14px
.bank-info
    width: 100%
    border-radius: 10px
    background-color: #fff
    padding: 30px 40px
    margin-bottom: 30px
    h3 
        color: #1e2633
        font-weight: 700
        font-size: 25px
    span 
        color: #c0c2c6
        font-size: 14px
        font-weight: 400
        display: block
        margin-top: 5px
        margin-bottom: 15px
    p 
        margin-bottom: 22px
        font-size: 14px
        line-height: 21px
        &:last-of-type
            margin-bottom: 0
.bank-additional
    width: 100%
    display: flex
    justify-content: space-between
    margin-bottom: 30px
.bank-government, .bank-details
    width: 48.5%
    border-radius: 10px
    background-color: #fff
    padding: 30px 40px
    color: #1e2633
    align-self: flex-start
    h3 
        font-weight: 700
        font-size: 25px
        margin-bottom: 25px
.bank-government
    font-size: 14px
    font-weight: 400
    line-height: 21px
    span 
        font-weight: 700
    &__item 
        margin-bottom: 22px
        &:last-of-type
            margin-bottom: 0
        &:first-of-type
            span, p 
                display: inline-block
.bank-details
    &__currency
        color: #2d64fc
        font-size: 24px
        font-weight: 400
        text-transform: uppercase
        margin-bottom: 10px
    span
        font-size: 18px
        font-weight: 700
        display: block
        margin-bottom: 10px
        p 
            display: inline-block
            font-weight: 400
            margin-left: 5px
    &__block 
        margin-top: 32px
        padding-left: 20px
        position: relative
        &:before 
            position: absolute
            left: 0
            width: 4px
            content: ''
            background: #ffaa00
            height: 96%
            top: 5px
        p 
            font-size: 12px
            font-weight: 400
            line-height: 18px
            margin-bottom: 20px
            &:last-of-type
                margin-bottom: 0
.bank-news
    margin-bottom: 29px
    h3 
        margin-bottom: 26px
        font-size: 25px
        font-weight: 700
    &__item 
        width: 100%
        margin-bottom: 10px
        padding: 13px 20px 11px
        background-color: #fff
        &:last-of-type
            margin-bottom: 0
        span 
            color: #c0c2c6
            font-size: 12px
            font-weight: 700
            letter-spacing: 1.09px
            text-transform: uppercase
            width: 90px
            display: inline-block
            vertical-align: text-bottom
            line-height: 17px
        a 
            color: #2d64fc
            font-size: 14px
            display: inline-block
            width: 85%
            vertical-align: top
            line-height: 20px

.bank-about__aside
    margin-top: 62px

.bank-courses
    width: 100%
    border-radius: 10px
    background-color: #ffffff
    padding: 17px 18px 0
    margin-bottom: 20px
    padding-left: 23px
    &__title 
        margin-left: 25%
        margin-bottom: 19px
        span 
            color: #c0c2c6
            font-size: 12px
            font-weight: 700
            letter-spacing: 1.09px
            line-height: 20px
            text-transform: uppercase
            display: inline-block
            margin-left: 4px
            &:first-of-type
                margin-right: 15px
    .list-courses 
        display: block
        padding: 0
        &__item 
            padding: 16px 0
            border-top: 1px solid#f5f5f5
            margin: 0
            &:after 
                display: none
        &__col1 
            width: 25%
            margin: 0
        &__col2, &__col3
            width: 35%
            margin: 0

.bank-ratings
    width: 100%
    border-radius: 10px
    background-color: #ffffff
    padding: 0 18px
    padding-left: 23px
    margin-bottom: 20px
    color: #1e2633
    &__item 
        padding: 15px 0
        border-bottom: 1px solid#dfdfdf
        &:last-of-type
            border-bottom: none
    &__title 
        display: flex
        justify-content: space-between
        align-items: center
        span 
            font-size: 14px
            font-weight: 700
    &__subtitle 
        color: #a6a9ae
        font-size: 12px
        font-weight: 400
        margin-top: 3px
        margin-bottom: 9px
        display: block
    p 
        font-size: 18px
        font-weight: 400
.bank-grade
    width: 100%
    border-radius: 10px
    background-color: #ffffff
    padding: 15px 18px 15px
    padding-left: 23px
    color: #1e2633
    &__title 
        font-size: 18px
        font-weight: 700
        line-height: 24px
        margin-bottom: 16px
        display: block
    &__item 
        margin-bottom: 11px
        display: flex
        justify-content: flex-start
        width: 100%
        align-items: center
        a 
            font-size: 15px
            margin-left: 11px
.bank__content
    padding-bottom: 15px
    .credit-info
        padding: 12px 0 44px
    .credit-info-header
        font-weight: 900
        font-size: 44px
        margin: 5px 0 18px
    .credit-info-description
        letter-spacing: 0.2px
    .credit-info-row
        align-items: center
    .credit-info-row .credit-info-right .credit-info-image
        margin-top: 31px
.bank-details__currency
    position: relative
    display: inline-block
.bank-details__currency:after
    cursor: pointer
    content: '\0043'
    font-size: 12px
    position: absolute
    top: 50%
    right: -20px
    transform: translate(0,-50%) rotate(90deg)
    font-family: glyphter,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif
    font-style: normal
    font-weight: 400
    line-height: 1
    display: block
    color:#c0c2c6
.bank-details__currency-select
    position: absolute
    left: 0
    width: 65px
    border-radius: 5px
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.25)
    border: 1px solid #dfdfdf
    top: 30px
    background: white
    display: none
    span 
        margin: 0
        padding: 10px
        font-size: 13px
        cursor: pointer
        display: block
        transition: .2s linear
        &:hover 
            color: #1e2633
    &.show 
        display: block
@media (max-width: 1200px)  
    .bank-list
        overflow: auto
        .tabs 
            width: 1150px
    .bank__content .credit-info-left
        width: calc(8/12 * 100%)
    .bank-about__main .list-product__item
        width: calc(33% - 14px)

@media (max-width: 900px) 
    .bank-contacts__list
        padding: 20px 10px
        flex-wrap: wrap
    .bank-contacts__column
        width: 50%
    .bank-additional
        flex-wrap: wrap
    .bank-details, .bank-government
        width: 100%
    .bank-government 
        margin-bottom: 30px
    .bank__content .credit-info-right
        display: block
@media (max-width: 767px)  
    .bank-about 
        flex-wrap: wrap
        padding-top: 15px
    .bank-about__main, .bank-about__aside
        width: 100%
        padding-right: 0
    .bank-about__aside
        margin-top: 0
        margin-bottom: 20px
    .bank__content .credit-info-header
        font-size: 31px
        margin: 10px 0 12px
        width: 65%
    .bank__content
        .lcreviews, .listcreditslider
            position: relative
        .listcreditslider__dots
            position: initial
        .listcredit-slider .button-container
            position: absolute
            left: 50%
            transform: translate(-50%)
            bottom: -80px
            width: 100%
        .listcreditslider .button--slider-btn
            width: 100%
            margin-right: 0
        .listcredit-slider
            padding-bottom: 100px
        h2 
            font-size: 27px
            line-height: 26px
        h3 
            font-size: 18px
        .slidedown__item h2
            font-size: 20px
            line-height: 1.1
        .credit-info-row
            position: relative
        .credit-info-left 
            width: 100%
        .credit-info-right
            position: absolute
            top: 32px
            right: 0px
            width: calc(36.9% - 15px)
        .credit-info-image
            text-align: right
            img 
                width: 95px
                height: 27px
        .credit-info
            padding-bottom: 18px
    .bank-about__main 
        .list-product__flex
            margin: 0
            margin-right: -14px
        .bank-contacts__list
            border: none
            padding: 0
            margin-top: 15px
        .bank-contacts__column
            width: 100%
        .bank-contacts__item span
            font-size: 17px
        .bank-contacts__item
            margin-bottom: 15px
            border-bottom: 1px solid #dfdfdf
        .bank-contacts__address
            font-size: 16px
            margin-bottom: 19px
        .bank-info, .bank-government, .bank-details
            padding: 20px 10px
            span 
                font-size: 12px
                margin-top: 20px
            p
                line-height: 18px
                font-size: 12px
        .bank-government, .bank-details
            span 
                margin-top: 0
    .bank-courses__title span
        width: 40%
    .bank-ratings__item
        background: #fff
        border-radius: 10px
        margin-right: 10px
        padding: 16px
        min-width: 255px
    .bank-ratings
        background: transparent
        padding: 0
        display: flex
        flex-wrap: nowrap
        overflow: auto
        width: 110%
        border-radius: 0
        .star-rating
            margin-left: 15px
    .bank-info__text
        display: none
    #dynamics-chart 
        margin-top: 20px
    .bank-government, .bank-details
        .bank-info__text
            margin-top: 20px
        h3 
            margin-bottom: 0
    .bank-info, .bank-government, .bank-details
        h3 
            cursor: pointer
            font-weight: 400
            position: relative
            &:after
                content: '\0043'
                font-size: 12px
                color: currentColor
                position: absolute
                top: 50%
                right: 0
                transform: translate(0,-50%) rotate(90deg)
                font-family: glyphter,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif
                font-style: normal
                font-weight: 400
                line-height: 1
    .bank-info
       .bank-info__text
            display: block 
    .bank-contacts
        margin-bottom: 10px
    .bank__content .credit-info
        padding-top: 0
        .all-credits
            margin-top: 10px
    .bank__content .credit-info-row .credit-info-right .credit-info-image
        margin-top: 22px
    .bank-list__item 
        margin-right: 20px
    .bank__content .bank-list .tabs
        width: 1000px
    .bank-about__main .list-product__item 
        margin: 0 7px 13px
    .bank-courses .list-courses__col2, .bank-courses .list-courses__col3
        font-size: 14px
        width: 30%
    .bank-courses .list-courses__name
        font-size: 14px
    .bank-courses .list-courses__col1
        width: 40%
    .bank-courses__title
        margin-left: 40%
    .bank-courses
        margin-bottom: 30px
    .bank-contacts__item p
        font-size: 12px
    .bank-contacts__item a
        font-size: 16px
    .bank-contacts__column:last-of-type a
        margin-bottom: 16px
    .bank-grade__item
        justify-content: space-between
    .bank-government,
    .bank-info,
    .bank-details
        margin-bottom: 0
        border-radius: 0
        width: 108%
        margin-left: -5%
        padding-left: 7%!important
        padding-right: 7%!important
    .bank-additional
        width: 103%
    .bank__content .bank-news h3
        font-size: 25px
        font-weight: 900
        line-height: 28px
        margin-bottom: 15px
    .bank-additional 
        margin-bottom: 15px
    .bank-news__item
        border-radius: 10px
        padding: 10px 15px 10px
        a 
            width: 100%
    .bank-news
        margin-bottom: 5px
    .bank-about__main .bank-details .bank-details__currency-block span,
    .bank-about__main .bank-details .bank-details__currency-block p
        font-size: 16px
    .bank-details__block
        margin-top: 15px
    .bank-details 
        border-radius: 0

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none)
    .bank-list__link
        font-family: "Segoe UI", sans-serif
