.calculator-table
    .container
        .repaiment-schedule-body.repaiment-calculator
            .repaiment-schedule-table
                table
                    thead
                        tr
                            th №
                            th дата
                            th ежемесячный платеж
                            th основной долг
                            th проценты по кредиту
                            th комиссии
                            th остаток задолженности
                    tr.tr-color
                        td 
                        td(colspan="4") 
                            span.td-date 23 сентября 2019
                        td(data-title="Комиссия") 
                            | 20 000T
                            span.note-sm единовременная комиссия
                        td(data-title="Остаток задолженности") 380 596T
                    tr
                        td 1
                        td 
                            span.td-date 23 августа 2019
                        td(data-title="Ежемесячный платеж") 20 499T
                        td(data-title="Основной долг") 350 384T
                        td(data-title="Проценты по кредиту") 2 394T
                        td(data-title="Комиссии") 294T
                        td(data-title="Остаток задолженности") 380 596T
                    tr
                        td 2
                        td 
                            span.td-date 23 июля 2019
                        td(data-title="Ежемесячный платеж") 20 499T
                        td(data-title="Основной долг") 350 384T
                        td(data-title="Проценты по кредиту") 2 394T
                        td(data-title="Комиссии") 294T
                        td(data-title="Остаток задолженности") 380 596T
                    tr
                        td 3
                        td 
                            span.td-date 23 сентября 2019
                        td(data-title="Ежемесячный платеж") 20 499T
                        td(data-title="Основной долг") 350 384T
                        td(data-title="Проценты по кредиту") 2 394T
                        td(data-title="Комиссии") 294T
                        td(data-title="Остаток задолженности") 380 596T
                    tr
                        td 4
                        td 
                            span.td-date 23 сентября 2019
                        td(data-title="Ежемесячный платеж") 20 499T
                        td(data-title="Основной долг") 350 384T
                        td(data-title="Проценты по кредиту") 2 394T
                        td(data-title="Комиссии") 294T
                        td(data-title="Остаток задолженности") 380 596T
                    tr
                        td 5
                        td 
                            span.td-date 23 сентября 2019
                        td(data-title="Ежемесячный платеж") 20 499T
                        td(data-title="Основной долг") 350 384T
                        td(data-title="Проценты по кредиту") 2 394T
                        td(data-title="Комиссии") 294T
                        td(data-title="Остаток задолженности") 380 596T
                    tr
                        td 6
                        td 
                            span.td-date 23 сентября 2019
                        td(data-title="Ежемесячный платеж") 20 499T
                        td(data-title="Основной долг") 350 384T
                        td(data-title="Проценты по кредиту") 2 394T
                        td(data-title="Комиссии") 294T
                        td(data-title="Остаток задолженности") 380 596T
                    tr
                        td 7
                        td 
                            span.td-date 23 сентября 2019
                        td(data-title="Ежемесячный платеж") 20 499T
                        td(data-title="Основной долг") 350 384T
                        td(data-title="Проценты по кредиту") 2 394T
                        td(data-title="Комиссии") 294T
                        td(data-title="Остаток задолженности") 380 596T
                    tr
                        td 8
                        td 
                            span.td-date 23 сентября 2019
                        td(data-title="Ежемесячный платеж") 20 499T
                        td(data-title="Основной долг") 350 384T
                        td(data-title="Проценты по кредиту") 2 394T
                        td(data-title="Комиссии") 294T
                        td(data-title="Остаток задолженности") 380 596T
                    tr
                        td 9
                        td 
                            span.td-date 23 сентября 2019
                        td(data-title="Ежемесячный платеж") 20 499T
                        td(data-title="Основной долг") 350 384T
                        td(data-title="Проценты по кредиту") 2 394T
                        td(data-title="Комиссии") 294T
                        td(data-title="Остаток задолженности") 380 596T
                    tr
                        td 10
                        td 
                            span.td-date 23 сентября 2019
                        td(data-title="Ежемесячный платеж") 20 499T
                        td(data-title="Основной долг") 350 384T
                        td(data-title="Проценты по кредиту") 2 394T
                        td(data-title="Комиссии") 294T
                        td(data-title="Остаток задолженности") 380 596T
                    tr
                        td 11
                        td 
                            span.td-date 23 сентября 2019
                        td(data-title="Ежемесячный платеж") 20 499T
                        td(data-title="Основной долг") 350 384T
                        td(data-title="Проценты по кредиту") 2 394T
                        td(data-title="Комиссии") 294T
                        td(data-title="Остаток задолженности") 380 596T
                    tr
                        td 12
                        td 
                            span.td-date 23 сентября 2019
                        td(data-title="Ежемесячный платеж") 20 499T
                        td(data-title="Основной долг") 350 384T
                        td(data-title="Проценты по кредиту") 2 394T
                        td(data-title="Комиссии") 294T
                        td(data-title="Остаток задолженности") 380 596T
                    tr.tr-color
                        td 
                        td(colspan="4") 
                            span.td-date 23 сентября 2019
                        td(data-title="Комиссия") 
                            | 1 000T
                            span.note-sm ежегодная комиссия
                        td(data-title="Остаток задолженности") 380 596T
                    tr
                        td 13
                        td 
                            span.td-date 23 сентября 2019
                        td(data-title="Ежемесячный платеж") 20 499T
                        td(data-title="Основной долг") 350 384T
                        td(data-title="Проценты по кредиту") 2 394T
                        td(data-title="Комиссии") 294T
                        td(data-title="Остаток задолженности") 380 596T
                    tr
                        td 14
                        td 
                            span.td-date 23 сентября 2019
                        td(data-title="Ежемесячный платеж") 20 499T
                        td(data-title="Основной долг") 350 384T
                        td(data-title="Проценты по кредиту") 2 394T
                        td(data-title="Комиссии") 294T
                        td(data-title="Остаток задолженности") 380 596T