.container.tablemax-container
    .tablemax-title
        span 
            | Найдено 
            b 73 
            | депозита

        .common-tab-select.common-tab-select-1
            .common-tab-mobile.js__tab-sort
                span Быстрая сортировка
                +add-svg({icon: "arrow"})

            +add-common-tab-group({
                name: "table-sort",
                tabs: ["Капитализация", "Выплата процентов", "Пополнение", "Частичное снятие"],
                types: ["has-separator"],
            })


    .tablemax.tablemax_mortgage
        .tablemax__header
            .tablemax__header-item.tablemax__header-item--bank
                span БАНК
            .tablemax__header-item.tablemax__header-item--rate
                span
                    | ставка
                    +add-svg({icon: "arrow-sort"})
            .tablemax__header-item.tablemax__header-item--summa
                span.reverse
                    | СТОИМОСТЬ ЖИЛЬЯ
                    +add-svg({icon: "arrow-sort"})
            .tablemax__header-item.tablemax__header-item--term
                span
                    | срок
                    +add-svg({icon: "arrow-sort"})
            .tablemax__header-item.tablemax__header-item--last
                span
        .tablemax_content
            .tablemax__item
                .tablemax__item-wrap
                    //- Img
                    .tablemax__img
                        figure
                            +add-image({src: "static/listcredit/rayffayzenbank.png", retina: true})
                        a(href="#") На любые цели
                        div
                            span Райффайзен банк
                            em Лиц. № 3293

                    //- Rate
                    .tablemax__rate
                        span 
                            | от
                            b 9.90%

                    //- Summa
                    .tablemax__summa
                        span
                            | от
                            b &nbsp;5 000 000Т
                        
                        span
                            | до
                            b &nbsp;500 000 000T

                    //- Term
                    .tablemax__term
                        span
                            | до
                            b &nbsp;5 лет
                            
                    //- Btn
                    .tablemax__btn
                        +add-button({text: "Подать заявку", types: ["secondary"]})
                    
                    //- Footer
                    .tablemax__footer
                        .tablemax__footer-group

                            ul
                                li Без комиссии
                                li Без подтверждения дохода

                        .tablemax__footer-btn
                            span.js__open-info-table
                                | Подробнее
                                +add-svg({icon: "arrow"})

                    .tablemax__btn-mobile
                        +add-button({text: "Подробнее", buttonClass: "more js__open-info-table",types: ["third", "line"]})
                        +add-button({text: "Подать заявку", buttonClass: "query",types: ["third"]})
                    .tablemax__more.js__open-subcredit
                        em Еще 2 депозита
                        +add-svg({icon: "arrow"})

                .tablemax-info
                    .tablemax-info__wrap
                        .tablemax-info__column.tablemax-info__column--all
                            div
                                em Сумма вклада
                                span 50 000&nbsp;₸ – 600 000&nbsp;₸
                            div
                                em Капитализация
                                span Без капитализации
                            div
                                em Частичное снятие
                                span Возможно
                            div
                                em Ставка
                                span 15%
                            div
                                em Выплата процентов
                                span Каждый месяц
                            div
                                em Срок рассмотрения
                                span Е1 день
                            div
                                em Срок
                                span От 1 года до 5 лет
                            div
                                em Пополнение
                                span Без ограничений
                            div
                                em Возраст вкладчика
                                span 2 000 000Т


                    .tablemax-info__btn-footer
                        +add-button({text: "Расчитать доходность вклада", types: ["secondary", "line", "icon", "icon-right"], icon: true, iconBefore: false})

                //- Subcredit block
                .tablemax__subcredit
                    //- Subcredit
                    .tablemax__item

                        .tablemax__item-wrap
                            //- Img
                            .tablemax__img
                                figure
                                    +add-image({src: "static/listcredit/caspi.png", retina: true})
                            
                                a(href="#") На любые цели
                                div
                                    span Райффайзен банк
                                    em Лиц. № 3293

                            //- Rate
                            .tablemax__rate
                                span 
                                    | от
                                    b 9.90%

                            //- Summa
                            .tablemax__summa
                                span
                                    | от
                                    b &nbsp;5 000 000Т
                                
                                span
                                    | до
                                    b &nbsp;500 000 000T

                            //- Term
                            .tablemax__term
                                span
                                    | до
                                    b &nbsp;5 лет
                                    
                            //- Btn
                            .tablemax__btn
                                +add-button({text: "Подать заявку", types: ["secondary"]})
                            
                            //- Footer
                            .tablemax__footer
                                .tablemax__footer-group
                                    ul
                                        li Без комиссии
                                        li Без подтверждения дохода

                                .tablemax__footer-btn
                                    span.js__open-info-table
                                        | Подробнее
                                        +add-svg({icon: "arrow"})

                            .tablemax__btn-mobile
                                +add-button({text: "Подробнее", buttonClass: "more js__open-info-table",types: ["third", "line"]})
                                +add-button({text: "Подать заявку", buttonClass: "query",types: ["third"]})

                      

                        .tablemax-info
                            .tablemax-info__wrap
                                .tablemax-info__column.tablemax-info__column--all
                                    div
                                        em Сумма вклада
                                        span 50 000&nbsp;₸ – 600 000&nbsp;₸
                                    div
                                        em Капитализация
                                        span Без капитализации
                                    div
                                        em Частичное снятие
                                        span Возможно
                                    div
                                        em Ставка
                                        span 15%
                                    div
                                        em Выплата процентов
                                        span Каждый месяц
                                    div
                                        em Срок рассмотрения
                                        span Е1 день
                                    div
                                        em Срок
                                        span От 1 года до 5 лет
                                    div
                                        em Пополнение
                                        span Без ограничений
                                    div
                                        em Возраст вкладчика
                                        span 2 000 000Т


                            .tablemax-info__btn-footer
                                +add-button({text: "Расчитать доходность вклада", types: ["secondary", "line", "icon", "icon-right"], icon: true, iconBefore: false})



                    //- Subcredit
                    .tablemax__item

                        .tablemax__item-wrap
                            //- Img
                            .tablemax__img
                                figure
                                    +add-image({src: "static/listcredit/rayffayzenbank.png", retina: true})
                            
                                a(href="#") На любые цели
                                div
                                    span Райффайзен банк
                                    em Лиц. № 3293

                            //- Rate
                            .tablemax__rate
                                span 
                                    | от
                                    b 9.90%

                            //- Summa
                            .tablemax__summa
                                span
                                    | от
                                    b &nbsp;5 000 000Т
                                
                                span
                                    | до
                                    b &nbsp;500 000 000T

                            //- Term
                            .tablemax__term
                                span
                                    | до
                                    b &nbsp;5 лет
                                    
                            //- Btn
                            .tablemax__btn
                                +add-button({text: "Подать заявку", types: ["secondary"]})
                            
                            //- Footer
                            .tablemax__footer
                                .tablemax__footer-group
                                    ul
                                        li Без комиссии
                                        li Без подтверждения дохода

                                .tablemax__footer-btn
                                    span.js__open-info-table
                                        | Подробнее
                                        +add-svg({icon: "arrow"})

                            .tablemax__btn-mobile
                                +add-button({text: "Подробнее", buttonClass: "more js__open-info-table",types: ["third", "line"]})
                                +add-button({text: "Подать заявку", buttonClass: "query",types: ["third"]})

                        .tablemax-info
                            .tablemax-info__wrap
                                .tablemax-info__column.tablemax-info__column--all
                                    div
                                        em Сумма вклада
                                        span 50 000&nbsp;₸ – 600 000&nbsp;₸
                                    div
                                        em Капитализация
                                        span Без капитализации
                                    div
                                        em Частичное снятие
                                        span Возможно
                                    div
                                        em Ставка
                                        span 15%
                                    div
                                        em Выплата процентов
                                        span Каждый месяц
                                    div
                                        em Срок рассмотрения
                                        span Е1 день
                                    div
                                        em Срок
                                        span От 1 года до 5 лет
                                    div
                                        em Пополнение
                                        span Без ограничений
                                    div
                                        em Возраст вкладчика
                                        span 2 000 000Т


                            .tablemax-info__btn-footer
                                +add-button({text: "Расчитать доходность вклада", types: ["secondary", "line", "icon", "icon-right"], icon: true, iconBefore: false})

            .tablemax__item.tablemax__item--best

                .tablemax__item-wrap
                    .tablemax__item--best-wrap
                        span Лучшее
                    //- Img
                    .tablemax__img
                        figure
                            +add-image({src: "static/listcredit/rayffayzenbank.png", retina: true})
                    
                        a(href="#") На любые цели
                        div
                            span Райффайзен банк
                            em Лиц. № 3293

                    //- Rate
                    .tablemax__rate
                        span 
                            | от
                            b 9.90%

                    //- Summa
                    .tablemax__summa
                        span
                            | от
                            b &nbsp;5 000 000Т
                        
                        span
                            | до
                            b &nbsp;500 000 000T

                    //- Term
                    .tablemax__term
                        span
                            | до
                            b &nbsp;5 лет
                            
                    //- Btn
                    .tablemax__btn
                        +add-button({text: "Подать заявку", types: ["secondary"]})
                    
                    //- Footer
                    .tablemax__footer
                        .tablemax__footer-group
                            ul
                                li Без комиссии
                                li Без подтверждения дохода

                        .tablemax__footer-btn
                            span.js__open-info-table
                                | Подробнее
                                +add-svg({icon: "arrow"})

                    .tablemax__btn-mobile
                        +add-button({text: "Подробнее", buttonClass: "more js__open-info-table",types: ["third", "line"]})
                        +add-button({text: "Подать заявку", buttonClass: "query",types: ["third"]})

                
                .tablemax-info
                    .tablemax-info__wrap
                        .tablemax-info__column.tablemax-info__column--all
                            div
                                em Сумма вклада
                                span 50 000&nbsp;₸ – 600 000&nbsp;₸
                            div
                                em Капитализация
                                span Без капитализации
                            div
                                em Частичное снятие
                                span Возможно
                            div
                                em Ставка
                                span 15%
                            div
                                em Выплата процентов
                                span Каждый месяц
                            div
                                em Срок рассмотрения
                                span Е1 день
                            div
                                em Срок
                                span От 1 года до 5 лет
                            div
                                em Пополнение
                                span Без ограничений
                            div
                                em Возраст вкладчика
                                span 2 000 000Т


                    .tablemax-info__btn-footer
                        +add-button({text: "Расчитать доходность вклада", types: ["secondary", "line", "icon", "icon-right"], icon: true, iconBefore: false})


            .tablemax__item
                .tablemax__item-wrap
                    //- Img
                    .tablemax__img
                        figure
                            +add-image({src: "static/listcredit/invalid-name.png", retina: true})
                        a(href="#") На отпуск
                        div
                            span Райффайзен банк
                            em Лиц. № 3293

                    //- Rate
                    .tablemax__rate
                        span 
                            | от
                            b 9.90%

                    //- Summa
                    .tablemax__summa
                        span
                            | от
                            b &nbsp;5 000 000Т
                        
                        span
                            | до
                            b &nbsp;500 000 000T

                    //- Term
                    .tablemax__term
                        span
                            | до
                            b &nbsp;5 лет
                            
                    //- Btn
                    .tablemax__btn
                        +add-button({text: "Заказать звонок", types: ["secondary", "line", "btn_callback"]})
                    
                    //- Footer
                    .tablemax__footer
                        .tablemax__footer-group

                            ul
                                li Без комиссии
                                li Без подтверждения дохода

                        .tablemax__footer-btn
                            span.js__open-info-table
                                | Подробнее
                                +add-svg({icon: "arrow"})

                    .tablemax__btn-mobile
                        +add-button({text: "Подробнее", buttonClass: "more js__open-info-table",types: ["third", "line"]})
                        +add-button({text: "Подать заявку", buttonClass: "query",types: ["third"]})

                .tablemax-info
                    .tablemax-info__wrap
                        .tablemax-info__column.tablemax-info__column--all
                            div
                                em Сумма вклада
                                span 50 000&nbsp;₸ – 600 000&nbsp;₸
                            div
                                em Капитализация
                                span Без капитализации
                            div
                                em Частичное снятие
                                span Возможно
                            div
                                em Ставка
                                span 15%
                            div
                                em Выплата процентов
                                span Каждый месяц
                            div
                                em Срок рассмотрения
                                span Е1 день
                            div
                                em Срок
                                span От 1 года до 5 лет
                            div
                                em Пополнение
                                span Без ограничений
                            div
                                em Возраст вкладчика
                                span 2 000 000Т


                    .tablemax-info__btn-footer
                        +add-button({text: "Расчитать доходность вклада", types: ["secondary", "line", "icon", "icon-right"], icon: true, iconBefore: false})


            .tablemax__item.tablemax__item--bg 

            .tablemax__item.tablemax__item--hot

                .tablemax__item-wrap
                    .tablemax__item--hot-wrap
                        span горячее
                    //- Img
                    .tablemax__img
                        figure
                            +add-image({src: "static/listcredit/credit.png", retina: true})
                        a(href="#") На погашение кредитов в других банках
                        div
                            span Райффайзен банк
                            em Лиц. № 3293

                    //- Rate
                    .tablemax__rate
                        span 
                            | от
                            b 9.90%

                    //- Summa
                    .tablemax__summa
                        span
                            | от
                            b &nbsp;5 000 000Т
                        
                        span
                            | до
                            b &nbsp;500 000 000T

                    //- Term
                    .tablemax__term
                        span
                            | до
                            b &nbsp;5 лет
                            
                    //- Btn
                    .tablemax__btn
                        +add-button({text: "Заказать звонок", types: ["secondary", "line", "btn_callback"]})
                    
                    //- Footer
                    .tablemax__footer
                        .tablemax__footer-group
                            ul
                                li Без комиссии
                                li Без подтверждения дохода

                        .tablemax__footer-btn
                            span.js__open-info-table
                                | Подробнее
                                +add-svg({icon: "arrow"})

                    .tablemax__btn-mobile
                        +add-button({text: "Подробнее", buttonClass: "more js__open-info-table",types: ["third", "line"]})
                        +add-button({text: "Подать заявку", buttonClass: "query",types: ["third"]})


                .tablemax-info
                    .tablemax-info__wrap
                        .tablemax-info__column.tablemax-info__column--all
                            div
                                em Сумма вклада
                                span 50 000&nbsp;₸ – 600 000&nbsp;₸
                            div
                                em Капитализация
                                span Без капитализации
                            div
                                em Частичное снятие
                                span Возможно
                            div
                                em Ставка
                                span 15%
                            div
                                em Выплата процентов
                                span Каждый месяц
                            div
                                em Срок рассмотрения
                                span Е1 день
                            div
                                em Срок
                                span От 1 года до 5 лет
                            div
                                em Пополнение
                                span Без ограничений
                            div
                                em Возраст вкладчика
                                span 2 000 000Т


                    .tablemax-info__btn-footer
                        +add-button({text: "Расчитать доходность вклада", types: ["secondary", "line", "icon", "icon-right"], icon: true, iconBefore: false})





        .tablemax__footer-button
            +add-button({text: "Показать еще", types: ["secondary", "line", "icon", "icon-right"], icon: true, iconBefore: false})
