.error404-content
    padding: 40px 0
    text-align: center
    background-color: #fff
    color: #1e2633
    padding-bottom: 83px
    h1 
        font-size: 43px
        font-weight: 900
        margin-bottom: 22px
        margin-top: 28px
    p 
        font-size: 14px
        font-weight: 400
        line-height: 21px
    a 
        margin-top: 28px
        font-size: 14px
        display: block
    .error404-img
        img 
            width: 281px

@media (max-width: 767px)
    .error404-content
        padding: 20px 5px
        padding-bottom: 105px
        h1 
            font-size: 33px
            line-height: 31px
            margin-bottom: 17px
            margin-top: 17px
        p 
            display: inline
        a 
            margin-top: 17px
        .error404-img
            width: 54%
            margin: auto
            img 
                width: 100%
