include ../mixins/credit-recommend

include ../popup/extsel
include ../popup/querycr

section.credit-info-section.atm-section
	.container
		.credit-info
			.credit-info-row
				.credit-info-left
					h1.credit-info-header 
						| Банкоматы и отделения 
						span.hide-mob  в&nbsp;Караганде
						span.show-mob  на&nbsp;карте
					.credit-info-description
						p Информация по всем банкам Алматы с основными сведениями по контактным данным (адреса, телефоны, реквизиты), банковским продуктам (кредиты, кредитные карты, вклады, ипотека и займы) с сортировкой по рейтингу и отзывам клиентов.
