.section-map
	.container
		.atm-filter
			.atm-filter__switcher.js-switcher-tab
				+add-common-tab({
					header: "",
					name: "atm",
					tabs: ["Банкоматы", "Отделения"],
				})
			.map-checkbox
				+add-custom-checkbox({
					id: "cashAcceptance",
					name: "cash-acceptance",
					label: "Прием наличных"
				})
			.map-checkbox
				+add-custom-checkbox({
					id: "roundСlock",
					name: "round-clock",
					label: "Круглосуточные"
				})
		.map-wrap
			.map-list-wrap.js-map-check.active-tab#atm_radio_0-tab
				.map-list.js-init--map
					.map-list__item.js-map-item.active
						.map-list__inner
							.tablemax__img
								figure
									+add-image({src: "static/listcredit/credit.png", retina: true})

								.tablemax-item--reviews
									.bank-map-reviews 
										.star-rating
											+add-svg({icon: "star", class: "active"})
											+add-svg({icon: "star", class: "active"})
											+add-svg({icon: "star"})
											+add-svg({icon: "star"})
											+add-svg({icon: "star"})
										a(href="#").bank-reviews__link 360 отзывов
							.tablemax__name
								a(href="#") Райффайзен Банк
							.show-contacts.js-show-contacts(data-text-more="Показать контакты" data-text-less="Скрыть контакты")
								span Показать контакты
								+add-svg({class: "custom-select-arrow__icon", icon: "arrow"})
							.hide-mob.js-hide-mob
								.tablemax-item--address
									.tablemax-item__address 345679, Алматы, улица Ленина, 37
									.tablemax-item--address-note
										i
											+add-svg({icon: "time"})
										span
											| Пн-Пт: 09:00-18:00
								.atm-info
									.atm-info__item
										.atm-info__title Снятие наличных
										.atm-info__value до 100 000T
									.atm-info__item
										.atm-info__title Прием наличных
										.atm-info__value до 200 000T



					.map-list__item.js-map-item
						.map-list__inner
							.tablemax__img
								figure
									+add-image({src: "static/listcredit/caspi.png", retina: true})

								.tablemax-item--reviews
									.bank-map-reviews 
										.star-rating
											+add-svg({icon: "star", class: "active"})
											+add-svg({icon: "star", class: "active"})
											+add-svg({icon: "star"})
											+add-svg({icon: "star"})
											+add-svg({icon: "star"})
										a(href="#").bank-reviews__link 189 отзывов
							.tablemax__name
								a(href="#") Райффайзен Банк
							.show-contacts.js-show-contacts(data-text-more="Показать контакты" data-text-less="Скрыть контакты")
								span Показать контакты
								+add-svg({class: "custom-select-arrow__icon", icon: "arrow"})
							.hide-mob.js-hide-mob
								.tablemax-item--address
									.tablemax-item__address 345679, Алматы, улица Ленина, 37
									.tablemax-item--address-note
										i
											+add-svg({icon: "time"})
										span
											| Пн-Пт: 09:00-18:00
								.atm-info
									.atm-info__item
										.atm-info__title Снятие наличных
										.atm-info__value до 100 000T
									.atm-info__item
										.atm-info__title Прием наличных
										.atm-info__value до 200 000T

					.map-list__item.js-map-item
						.map-list__inner
							.tablemax__img
								figure
									+add-image({src: "static/listcredit/invalid-name.png", retina: true})

								.tablemax-item--reviews
									.bank-map-reviews 
										.star-rating
											+add-svg({icon: "star", class: "active"})
											+add-svg({icon: "star", class: "active"})
											+add-svg({icon: "star"})
											+add-svg({icon: "star"})
											+add-svg({icon: "star"})
										a(href="#").bank-reviews__link 246 отзывов
							.tablemax__name
								a(href="#") Райффайзен Банк
							.show-contacts.js-show-contacts(data-text-more="Показать контакты" data-text-less="Скрыть контакты")
								span Показать контакты
								+add-svg({class: "custom-select-arrow__icon", icon: "arrow"})
							.hide-mob.js-hide-mob
								.tablemax-item--address
									.tablemax-item__address 345679, Алматы, улица Ленина, 37
									.tablemax-item--address-note
										i
											+add-svg({icon: "time"})
										span
											| Пн-Пт: 09:00-18:00, перерыв 14:00-15:00

									.atm-info
										.atm-info__item
											.atm-info__title Снятие наличных
											.atm-info__value до 100 000T
										.atm-info__item
											.atm-info__title Прием наличных
											.atm-info__value до 200 000T

					.map-list__item.js-map-item
						.map-list__inner
							.tablemax__img
								figure
									+add-image({src: "static/listcredit/invalid-name.png", retina: true})

								.tablemax-item--reviews
									.bank-map-reviews 
										.star-rating
											+add-svg({icon: "star", class: "active"})
											+add-svg({icon: "star", class: "active"})
											+add-svg({icon: "star"})
											+add-svg({icon: "star"})
											+add-svg({icon: "star"})
										a(href="#").bank-reviews__link 246 отзывов
							.tablemax__name
								a(href="#") Райффайзен Банк
							.show-contacts.js-show-contacts(data-text-more="Показать контакты" data-text-less="Скрыть контакты")
								span Показать контакты
								+add-svg({class: "custom-select-arrow__icon", icon: "arrow"})
							.hide-mob.js-hide-mob
								.tablemax-item--address
									.tablemax-item__address 345679, Алматы, улица Ленина, 37
									.tablemax-item--address-note
										i
											+add-svg({icon: "time"})
										span
											| Пн-Пт: 09:00-18:00, перерыв 14:00-15:00

								.atm-info
									.atm-info__item
										.atm-info__title Снятие наличных
										.atm-info__value до 100 000T
									.atm-info__item
										.atm-info__title Прием наличных
										.atm-info__value до 200 000T

			.map-list-wrap.js-map-check#atm_radio_1-tab
				.map-list.js-init--map
					.map-list__item.js-map-item.active
						.map-list__inner
							.tablemax__img
								figure
									+add-image({src: "static/listcredit/caspi.png", retina: true})

								.tablemax-item--reviews
									.bank-map-reviews 
										.star-rating
											+add-svg({icon: "star", class: "active"})
											+add-svg({icon: "star", class: "active"})
											+add-svg({icon: "star"})
											+add-svg({icon: "star"})
											+add-svg({icon: "star"})
										a(href="#").bank-reviews__link 360 отзывов
							.tablemax__name
								a(href="#") Райффайзен Банк
							.show-contacts.js-show-contacts(data-text-more="Показать контакты" data-text-less="Скрыть контакты")
								span Показать контакты
								+add-svg({class: "custom-select-arrow__icon", icon: "arrow"})
							.hide-mob.js-hide-mob
								.tablemax-item--address
									.tablemax-item__address 345679, Алматы, улица Ленина, 37
									.tablemax-item--address-note
										i
											+add-svg({icon: "time"})
										span
											| Пн-Пт: 09:00-18:00, перерыв 14:00-15:00

									.tablemax-item--phone
										div
											a(href="tel:88002235577") 8 (800) 223-55-77
											.tablemax-item--phone-info Горячая линия
										div
											a(href="tel:88002235577") 0995
											.tablemax-item--phone-info Для абонентов Билайна

					.map-list__item.js-map-item
						.map-list__inner
							.tablemax__img
								figure
									+add-image({src: "static/listcredit/caspi.png", retina: true})

								.tablemax-item--reviews
									.bank-map-reviews 
										.star-rating
											+add-svg({icon: "star", class: "active"})
											+add-svg({icon: "star", class: "active"})
											+add-svg({icon: "star"})
											+add-svg({icon: "star"})
											+add-svg({icon: "star"})
										a(href="#").bank-reviews__link 189 отзывов
							.tablemax__name
								a(href="#") Райффайзен Банк
							.show-contacts.js-show-contacts(data-text-more="Показать контакты" data-text-less="Скрыть контакты")
								span Показать контакты
								+add-svg({class: "custom-select-arrow__icon", icon: "arrow"})
							.hide-mob.js-hide-mob
								.tablemax-item--address
									.tablemax-item__address 345679, Алматы, улица Ленина, 37
									.tablemax-item--address-note
										i
											+add-svg({icon: "time"})
										span
											| Пн-Пт: 09:00-18:00, перерыв 14:00-15:00

									.tablemax-item--phone
										div
											a(href="tel:88002235577") 8 (800) 567-33-42
											.tablemax-item--phone-info Горячая линия
									span.info-bb С 16.10.2018 объединен с Каспийским Банком

					.map-list__item.js-map-item
						.map-list__inner
							.tablemax__img
								figure
									+add-image({src: "static/listcredit/invalid-name.png", retina: true})

								.tablemax-item--reviews
									.bank-map-reviews 
										.star-rating
											+add-svg({icon: "star", class: "active"})
											+add-svg({icon: "star", class: "active"})
											+add-svg({icon: "star"})
											+add-svg({icon: "star"})
											+add-svg({icon: "star"})
										a(href="#").bank-reviews__link 246 отзывов
							.tablemax__name
								a(href="#") Райффайзен Банк
							.show-contacts.js-show-contacts(data-text-more="Показать контакты" data-text-less="Скрыть контакты")
								span Показать контакты
								+add-svg({class: "custom-select-arrow__icon", icon: "arrow"})
							.hide-mob.js-hide-mob

								.tablemax-item--address
									.tablemax-item__address 345679, Алматы, улица Ленина, 37
									.tablemax-item--address-note
										i
											+add-svg({icon: "time"})
										span
											| Пн-Пт: 09:00-18:00, перерыв 14:00-15:00

									.tablemax-item--phone
										div
											a(href="tel:88002235577") 8 (800) 567-33-42
											.tablemax-item--phone-info Горячая линия

			.map#map
script.
	var map;

	function initMap() {
		var $center = {
				lat: 43.241653,
				lng: 76.956445
			}
		map = new google.maps.Map(document.getElementById('map'), {
			center: $center,
			zoom: 8
		});
		var marker = new google.maps.Marker({
			position: $center,
			map: map,
			icon: {
				path: google.maps.SymbolPath.CIRCLE,
				scale: 10,
			    strokeColor: '#ff3333',
			    strokeWeight: 13
			},
			title: 'caspi bank'
		});
	}
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcjdXEJ01_Z9DcxBnK-iizLeXgQJnkmbk&callback=initMap" defer)

