include ../popup/credit
include ../popup/creditpay
include ../popup/grafic

section.credit-info-section
    .container
        .credit-info
            .credit-info-row
                .credit-info-left
                    a(href="#").all-credits Все банки
                    h1.credit-info-header Банк Райффайзен
                    .credit-info-description
                        p Подробная справочная информация, отзывы и услуги
                .credit-info-right
                    .credit-info-image
                        +add-image({src: "static/banks/raiffeisen.png"})

