section.bank-content
    .tab-wrap
        .bank-list
            .container
                ul.tabs
                    li.bank-list__item.active
                        a.bank-list__link(href='#tab_1') О банке
                    li.bank-list__item
                        a.bank-list__link(href='#tab_2') Кредиты
                    li.bank-list__item
                        a.bank-list__link(href='#tab_3') Ипотека
                    li.bank-list__item
                        a.bank-list__link(href='#tab_4') Банковские карты
                    li.bank-list__item
                        a.bank-list__link(href='#tab_5') Депозиты
                    li.bank-list__item
                        a.bank-list__link(href='#tab_6') Курсы валют
                    li.bank-list__item
                        a.bank-list__link(href='#tab_7') Отделения
                    li.bank-list__item
                        a.bank-list__link(href='#tab_8') Новости
                    li.bank-list__item
                        a.bank-list__link(href='#tab_9') Отзывы
                    li.bank-list__item
                        a.bank-list__link(href='#tab_10') Реквизиты
                    li.bank-list__item
                        a.bank-list__link(href='#tab_11') Банкоматы
        
        .tab-cont#tab_1
            .container
                .bank-about
                   .bank-about__main
                        .bank-products
                            h2 Продукты банка
                            .list-product__flex
                                .list-product
                                    a.list-product__item(href='#')
                                        .list-product__number 8
                                        .list-product__img
                                            img(data-src='img/main_page/icon_product_1.svg', alt="")
                                        .list-product__name Кредиты
                                    
                                    a.list-product__item(href='#')
                                        .list-product__number 4
                                        .list-product__img
                                            img(data-src='img/main_page/icon_product_2.svg', alt="")
                                        .list-product__name Депозит
                                    
                                    a.list-product__item(href='#')
                                        .list-product__number 9
                                        .list-product__img
                                            img(data-src='img/main_page/icon_product_3.svg', alt="")
                                        .list-product__name Ипотека
                                    
                                    a.list-product__item(href='#')
                                        .list-product__number 4
                                        .list-product__img
                                            img(data-src='img/main_page/icon_product_4.svg', alt="")
                                        .list-product__name Кредитные карты
                                    
                                    a.list-product__item(href='#')
                                        .list-product__number 3
                                        .list-product__img
                                            img(data-src='img/main_page/icon_product_5@2x.png', alt="")
                                        .list-product__name Дебетовые карты
                                    
                                    a.list-product__item(href='#')
                                        .list-product__number 7
                                        .list-product__img
                                            img(data-src='img/main_page/icon_product_7.svg', alt="")
                                        .list-product__name Кредиты на бизнес

                                    a.list-product__item(href='#')
                                        .list-product__number 3
                                        .list-product__img
                                            img(data-src='img/main_page/icon_product_6.svg', alt="")
                                        .list-product__name.list-product__name_mob Кредиты на авто
                                        .list-product__name Автокредиты
                        .bank-contacts
                            h2 Справочная и контактная информация
                            .bank-contacts__list
                                .bank-contacts__column
                                    .bank-contacts__item
                                        .bank-contacts__title Телефоны
                                            img(data-src='img/bank/call.svg', alt="")
                                        span 8 800 907-66-55
                                        p Бесплатно по Казахстану
                                        span 2051 (доб. 1)
                                        p Бесплатно для мобильных
                                        span +7 (727) 259-02-67
                                        p Факс
                                .bank-contacts__column
                                    .bank-contacts__item
                                        .bank-contacts__title В интернете
                                            img(data-src='img/bank/laptop.svg', alt="")
                                        a(href='#') https://halykbank.kz/
                                        p Официальный сайт
                                        a(href='#') https://homebank.kz/
                                        p Интернет-банк
                                        a(href='mailto:info@halykbank.kz') info@halykbank.kz
                                        p Электронная почта
                                .bank-contacts__column
                                    .bank-contacts__item
                                        .bank-contacts__title Головной адрес
                                            img(data-src='img/bank/bank.svg', alt="")
                                        .bank-contacts__address 050008, г. Алматы, пр. Абая 109 В
                                    .bank-contacts__item
                                        .bank-contacts__title Отделения и банкоматы в г. Алматы
                                            img(data-src='img/bank/atm.svg', alt="")
                                        a(href='#') 500 отделений
                                        a(href='#') 495 банкоматов
                        .bank-info
                            h3.bank-info__title.js-bank-info__title О Райффайзен Банке
                            .bank-info__text
                                span Номер лицензии НБ РК No1.2.29/197/36 от 24.08.2016
                                p Успешный рост и развитие банка зависит только от долговременного доверия клиентов. «Народный банк» за многолетние существование превратился из небольшой финансовой организации в народный банк Казахстана. Почти 1 век коммерческий банк Республики Казахстан работает и развивается для своих клиентов. Сегодня «Народный банк» считается второй по объёму активов среди всех банков страны. На территории Казахстана существует целая группа компаний «Халык», которые осуществляют не только банковскую деятельность, но и предлагают услуги по страхованию, брокерской и лизинговой деятельности. Кроме Казахстана компания «Халык» успешно работает на территории Грузии, России и Киргизии.
                                p До 1998 года Народный сберегательный банк Казахстана находился в собственности государства, но потом несколько коммерческих организаций начали выкупать акции банка. В январе 2002 года блокирующий пакет акций – 33,33% имела компания «Агыс LTD», ТОО «Дельта» принадлежало 15,94%, ЗАО «Центральный депозитарий ценных бумаг» выкупил 15,15%, ТОО «Корпорация «Азия-инвест» завладела 13,28% акций и ТОО «Фирма Алмэкс» замыкала этот круг акционеров с 9,96% акций. К началу 2008 года «Алмэкс» уже стала холдинговой группой, и завладело 62,09% акций.
                        .bank-additional
                            .bank-government
                                h3.bank-info__title.js-bank-info__title Правление
                                .bank-info__text
                                    .bank-government__item
                                        span Руководитель: 
                                        p Шаяхметова Умут Болатхановна
                                    .bank-government__item
                                        span Совет директоров: 
                                        p Павлов Александр Сергеевич (Председатель - независимый директор) 
                                        p Шаяхметова Умут Болатхановна
                                        p Дунаев Арман Галиаскарович (независимый директор)
                                        p Кристоф Рёль (независимый директор)
                                        p Фрэнк Кайларс (независимый директор)
                                        p Есенбаев Мажит Тулеубекович
                                        p Сайденов Анвар Галимуллаевич (независимый директор)
                                    .bank-government__item
                                        span Члены правления:
                                        p Альменов Марат Беркутбаевич
                                        p Карпыкова Алия Сакеновна
                                        p Кошенов Мурат Узакбаевич
                                        p Кусаинбеков Куат Кайроллаевич
                                        p Салимов Ертай Исмаилович
                                        p Талпаков Аслан Бактыгереевич
                                    .bank-government__item
                                        span Бухгалтер:
                                        p Чеусов Павел Александрович
                            .bank-details
                                h3.bank-info__title.js-bank-info__title Реквизиты банка
                                .bank-info__text
                                    .bank-details__currency
                                        p KZT
                                        .bank-details__currency-select
                                            span KZT
                                            span RUB
                                        
                                    .bank-details__currency-block
                                        span БИК
                                            p 4540596830945
                                        span БИН
                                            p 020140007102
                                        span РНН
                                            p 600300125196
                                        span ИИК
                                            p KZ078560000000054575
                                    .bank-details__block
                                        p Для отправки платежа в китайских юанях в КНР бенефициар (юридическое лицо) должен быть включен в список Mainland Designated Enterprise, то есть иметь соответствующее разрешение Народного банка Китая на получение платежей в китайских юанях (RMB) из-за пределов КНР (на данный момент в списке около 70 000 китайских предприятий, список таких компаний постоянно расширяется). 
                                        p При отсутствии Ваших контрпартнеров в данном списке Ваш платеж будет возвращен без исполнения банком-корреспондентом.
                        .bank-news
                            h3 Новости «Народного банка»
                            .bank-news__item
                                span 13.04.2019
                                a(href='#') На церемонии «Банк года» наградили лучший репортаж Finparty
                            .bank-news__item
                                span 22.03.2019
                                a(href='#') В банке «Авангард» объяснили перебои в работе интернет-банка для юрлиц
                            .bank-news__item
                                span 18.03.2019
                                a(href='#') АКРА подтвердила кредитный рейтинг банку «Авангард» на уровне BB+(RU). Банк запустил в продажу лимитированную коллекцию одежды
                            .bank-news__item
                                span 21.02.2019
                                a(href='#') Банк «Авангард» повысил ставки по рублевым вкладам
                   .bank-about__aside 
                        .bank-courses
                            .bank-courses__title
                                span Покупка
                                span Продажа
                            .list-courses
                                .list-courses__item
                                    .list-courses__name.list-courses__col1 USD
                                    .list-courses__down.list-courses__col2 35.46
                                    .list-courses__up.list-courses__col3 26.46
                                .list-courses__item
                                    .list-courses__name.list-courses__col1 RUB
                                    .list-courses__up.list-courses__col2 5.22
                                    .list-courses__down.list-courses__col13 5.10
                                .list-courses__item
                                    .list-courses__name.list-courses__col1 EUR
                                    .list-courses__up.list-courses__col2 353.22
                                    .list-courses__down.list-courses__col3 355.78
                        .bank-ratings
                            .bank-ratings__item
                                .bank-ratings__title
                                    span Общий рейтинг
                                    .star-rating
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star"})
                                        +add-svg({icon: "star"})
                                        +add-svg({icon: "star"})
                                span.bank-ratings__subtitle 42 место
                                p 2.7 — Плохо
                            .bank-ratings__item
                                .bank-ratings__title
                                    span Активы
                                    .star-rating
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star"})
                                span.bank-ratings__subtitle 44 место (+2.32%)
                                p 3 269 566 млн $
                            .bank-ratings__item
                                .bank-ratings__title
                                    span Депозиты
                                    .star-rating
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star"})
                                        +add-svg({icon: "star"})
                                        +add-svg({icon: "star"})
                                span.bank-ratings__subtitle 4 место (+2.32%)
                                p 43 269 566 млн $
                            .bank-ratings__item
                                .bank-ratings__title
                                    span Кредиты
                                    .star-rating
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star"})
                                        +add-svg({icon: "star"})
                                        +add-svg({icon: "star"})
                                        +add-svg({icon: "star"})
                                span.bank-ratings__subtitle 44 место (+2.32%)
                                p 3 269 566 млн $
                            .bank-ratings__item
                                .bank-ratings__title
                                    span Прибыль
                                    .star-rating
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star", class: "active"})
                                        +add-svg({icon: "star"})
                                        +add-svg({icon: "star"})
                                        +add-svg({icon: "star"})
                                span.bank-ratings__subtitle 4 место (+2.32%)
                                p 43 269 566 млн $
                        .bank-grade
                            span.bank-grade__title Рейтинг отзывов по оценкам
                            .bank-grade__item
                                .star-rating
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star", class: "active"})
                                a(href="#") 2 435 отзыва
                            .bank-grade__item
                                .star-rating
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star"})
                                a(href="#") 3 456 отзыва
                            .bank-grade__item
                                .star-rating
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star"})
                                    +add-svg({icon: "star"})
                                a(href="#") 683 отзыва
                            .bank-grade__item
                                .star-rating
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star"})
                                    +add-svg({icon: "star"})
                                    +add-svg({icon: "star"})
                                a(href="#") 29 отзыва
                            .bank-grade__item
                                .star-rating
                                    +add-svg({icon: "star", class: "active"})
                                    +add-svg({icon: "star"})
                                    +add-svg({icon: "star"})
                                    +add-svg({icon: "star"})
                                    +add-svg({icon: "star"})
                                a(href="#") 67 отзыва
            include slider



