.badge
    display: inline-block
    border-radius: 8px

    font-size: 12px
    line-height: normal
    font-weight: 700

    text-align: center

    padding: 0 7px 1px

    &--green
        background-color: $color-vibrant-green

    &--red
        background-color: $color-orangey-red

    &--light
        color: $color-dark

    &--dark
        color: #ffffff

    &.badge--big
        border-radius: 15px
        font-size: 18px
        padding: 1px 13px 3px

        @media screen and (max-width: 900px)
            font-size: 14px

        @media screen and (max-width: 500px)
            font-size: 12px
            padding: 1px 8px 3px;
