select.js-init--custom-select-common
    opacity: 0

.custom-select
    &-container
        position: relative
        border-radius: 5px
        box-shadow: inset 0 0 0 1px #c0c2c6
        padding: 28px 17px 10px

        transition-property: box-shadow
        transition-duration: $transition-duration

        &:not(&--disable-cursor-pointer)
            cursor: pointer

        &:hover
            box-shadow: inset 0 0 0 1px $color-clear-blue

        &.show
            box-shadow: inset 0 0 0 2px #0033C2

            .custom-select-arrow
                color: #0033C2

        &.active
            .custom-select-placeholder
                top: 8px
                left: 17px
                transform: none

                +forminput-title-small

        &.focus
            box-shadow: inset 0 0 0 2px #0033C2

        &.error
            box-shadow: inset 0 0 0 1px $color-orangey-red

        .custom-select--common
            margin: 0 -17px

        .custom-select-common-button
            padding: 0 38px 0 17px
            color: $color-dark
            font-size: 22px

        .custom-select-arrow
            position: absolute
            top: 50%
            right: 12px

            z-index: 2

            transform: translate(0, -50%)

            cursor: pointer
            user-select: none

        .bootstrap-select
            display: block !important

            .dropdown-menu
                li
                    line-height: (26/18)
                    &.selected
                        &:after
                            content: ""

                            position: absolute
                            top: 50%
                            right: 10px

                            display: block
                            width: 7px
                            height: 7px
                            background-color: $color-clear-blue

                            border-radius: 100%

                            transform: translate(0, -50%)

        .custom-select-slider
            position: absolute
            bottom: -13px
            left: 0

            width: 100%
            padding: 0 17px

    &-container &-placeholder
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 17px
        right: 65px

    &-container &-input-type
        display: none
        position: absolute
        top: 0
        right: 0
        height: 100%

        z-index: 5

    &-placeholder
        font-size: 22px
        line-height: normal
        color: $color-cool-grey
        +forminput-title-big
        transition: $transition-duration all

    &-common-button
        background: none
        border: none
        outline: none

        padding: 0
        user-select: none

        &:focus
            outline: none

        &:after
            content: none !important

    &-arrow
        display: flex
        align-items: center
        justify-content: center

        color: #c0c2c6

        padding: 3px

        transition-property: color
        transition-duration: $transition-duration

        &:hover
            color: $color-clear-blue

        &__icon
            width: 12px
            height: 12px
            transform: rotate(90deg)
            fill: currentColor

            transition-property: transform
            transition-duration: $transition-duration

    &-input
        &-container
            padding: 0 60px 0 0
            position: relative
            z-index: 2


    &-common-type
        background: none
        border: none
        outline: none
        user-select: none

        height: 100%

        padding: 0 17px 0 12px
        color: $color-dark
        font-size: 18px
        position: relative

        &:focus
            outline: none

        &:before
            content: ""
            display: block
            position: absolute
            top: 50%
            left: 0

            width: 1px
            height: calc(100% - 11px * 2)

            background-color: #c0c2c6

            transform: translate(0, -50%)

        &:after
            @include icon-arrow
            content: '\0043' !important
            border: none !important
            color: #c0c2c6 !important

            transform: rotate(90deg) !important
            font-size: 12px !important

            margin: 0 0 0 10px !important

            transition-property: color
            transition-duration: $transition-duration

        &:hover:after
            color: $color-clear-blue !important

    &-input-type
        z-index: 5

        &.show
            z-index: 200

        .dropdown-menu
            margin-top: 7px



.dropdown-menu
    &.show 
        margin-top: 23px

.custom-select-input-type .dropdown-menu
    &.show 
        margin-top: 13px