.custom-modal
    position: relative
    max-width: 1140px
    width: 100%
    background-color: #ffffff
    padding: 30px 37px

    box-shadow: 0 33px 49px -15px rgba(0, 38, 142, 0.26)
    border-radius: 10px

    @media screen and (max-width: 767px)
        padding: 20px 15px
    @media screen and (max-width: 500px)
        padding: 15px 15px

    & &-close
        position: absolute
        top: 36px
        right: 42px
        z-index: 2

        @media screen and (max-width: 500px)
            top: 5px
            right: 5px

    &-close
        width: 30px
        height: 30px

        display: flex
        align-items: center
        justify-content: center

        cursor: pointer

        background: #c0c2c6
        border-radius: 100%

        transition-property: background-color
        transition-duration: $transition-duration

        @media screen and (max-width: 500px)
            width: 25px
            height: 25px

        &:hover,
        &:active
            background: $color-clear-blue

        &:hover &__icon,
        &:active &__icon
            transform: rotate(90deg)

        &__icon
            width: 14px
            height: 14px
            fill: $color-white

            transition-property: transform
            transition-duration: $transition-duration

            @media screen and (max-width: 500px)
                width: 9px
                height: 9px
