.section-converter-table.article-content
	.container
		.content-row
			.content-row__main
				include article-content
			.content-row__right
				a(href="#").promo
					+add-image({src: "static/promo/drweb.png", retina: true})