.article__content
    .article__img
    p.article__info Тинькофф Банк – первый российский банк, работающий без образования полноценных отделений для обслуживания. Вопросы решаются через интернет, по телефону. Информацию предоставляет также сотрудник, приглашенный в офис.
    .article__inner
        span.article__inner-title Содержание статьи
        ul 
            li
                span 1.
                a(href="#") Как подключить интернет-банк?
            li
                span 2.
                a(href="#") Возможности личного кабинета интернет-банка
            li
                span 3.
                a(href="#") Как зарегистрироваться в интернет банке
            li
                span 4.
                a(href="#") Вход в интернет банк по логину и паролю
            li
                span 5.
                a(href="#") Если забыл данные для входа
            li
                span 6.
                a(href="#") Функционал личного кабинета
        ul
            li
                span 7.
                a(href="#") Оплата услуг
            li
                span 8.
                a(href="#") Для юридических лиц Тинькофф бизнес
            li
                span 9.
                a(href="#") Вход
            li
                span 10.
                a(href="#") Приложение для мобильного телефона
            li
                span 11.
                a(href="#") Регионы
            li
                span 12.
                a(href="#") Банкоматы Тинькофф банка
    h3 Как все начиналось
    p Полгода назад мы вместе с женой и дочкой (ей почти два года) переехали в Таиланд на время холодов. В Москве у меня остался небольшой бизнес — мастерская по ремонту электроники. Во время «зимовки» я работаю над ним удалённо.
    p Я обожаю путешествовать и уже успел побывать в 40 странах. Когда первый раз приехал на Пхукет, в город Патонг, подумал: «И что? Панельные дома какие-то, туристы. Надо валить отсюда». Потом начал изучать остров — взял байк напрокат, переехал из отеля в кондо, стал готовить сам, ходить по кафе. И вот эта простая жизнь мне понравилась. Здесь царит атмосфера общей расслабленности. Да и цены по сравнению с Москвой кажутся совсем низкими.
    .article-slider
            .article-slider_wrap.js-init--article-slider
                div.article-slide(data-bg="img/article/article-img2.png") 
                div.article-slide(data-bg="img/article/article-img2.png") 
                div.article-slide(data-bg="img/article/article-img2.png")
            .section.answers__dots.listcreditslider__dots--desktop.js-init--article-dots
                span Вот я гоняю по Пхукету на своем байке, а за мной гонятся обезьяны
    p В отличие от Москвы, здесь легко и быстро можно найти квартиру. Даже без риелторов: некоторые обращаются к ним, но я не вижу смысла. Впрочем, осторожность при подписании документов и передаче денег проявить надо: по сети гуляют истории с обманом туристов, в том числе от россиян, живущих на острове.
    h4 Коммунальные услуги
    p.article-add 
        | В отличие от Москвы, здесь легко и быстро можно найти квартиру. Даже без риелторов: некоторые обращаются к ним, но я не вижу смысла. Впрочем, осторожность при подписании документов и передаче денег проявить надо: по сети гуляют истории с обманом туристов, в том числе от россиян, живущих на острове.
        span.article-footnote 
            | Статья УК №4506 
            | Гражданского Кодекса 
            | Республики Казахстан
    .article-quote 
        p 
            span «
            | Главный товар в местных магазинах — фрукты всякого вида и вкуса. Здесь я впервые увидел фиолетовую и белую австралийскую морковь
            span »
        span.article-quote__author Национальный банк Казахстана
    p Я занимался в тренажёрном зале в Москве и не собирался бросать это увлечение, переехав на остров. Вообще, по моему опыту, Таиланд немного больше располагает к спорту. Солнце, вода, природа, лёгкость — тренироваться как-то проще.
    .article-table 
        .article-table__row.article-table__head
            .article-table__col.article-table__col1
                | №
            .article-table__col.article-table__col2
                | дата
            .article-table__col.article-table__col3
                | сумма платежа
            .article-table__col.article-table__col4
                | основной долг
            .article-table__col.article-table__col5
                | проценты по кредиту
        .article-table__row
            .article-table__col.article-table__col1
                | 1
            .article-table__col.article-table__col2
                | 23 сентября 2019
            .article-table__col.article-table__col3
                | 20 499T
            .article-table__col.article-table__col4
                | 350 384T
            .article-table__col.article-table__col5
                | 3 596T
        .article-table__row
            .article-table__col.article-table__col1
                | 2
            .article-table__col.article-table__col2
                | 30 августа 2019
            .article-table__col.article-table__col3
                | 34 394T
            .article-table__col.article-table__col4
                | 360 384T
            .article-table__col.article-table__col5
                | 6 459T
        span Этот кредит можно закрыть всего за два месяца
    p В личном кабинете интернет банка Тинькофф можно провести анализ движения денег, открыть счета, вклады, оформить запрос на кредитные карты, дебетовые, получить информацию о действующих кредитных договорах, новых предложений.
    p Дополнительно можно застраховать здоровье, имущество, путешествия, жизнь.
    +add-image({src: "img/article/article-img3.png", retina: true})
    .article__list
        span.article__list-title И это не полный список преимуществ!
        span.article__list-subtitle В отличие от Москвы, здесь легко и быстро можно найти квартиру. Даже без риелторов: некоторые обращаются к ним, но я не вижу смысла:
        ul 
            li 
                span 1
                | Называется номер банковской карты;
            li 
                span 2
                | Финансовое учреждение предлагает два способа восстановить доступ в интернет-банк по телефону
            li 
                span 3
                | Называется номер банковской карты;
        span.article__list-subtitle Второй способ – восстановить доступ в Тинькофф банкинг на сайте:
        ul 
            li Интернет-банк Альфа-клик
            li Мобильный банк Альфа-Мобайл
            li Терминалы Альфа-банка
        span.article-footnote The Village подробно рассказывал о сотрудниках УВД по ЗАО, которые задержали корреспондента «Медузы».
        
    p В личном кабинете интернет банка Тинькофф можно провести анализ движения денег, открыть счета, вклады, оформить запрос на кредитные карты, дебетовые, получить информацию о действующих кредитных договорах, новых предложений.
    p Дополнительно можно застраховать здоровье, имущество, путешествия, жизнь.