section.credit-info-section
    .container
        .credit-info
            .credit-info-row
                .credit-info-left
                    a(href="#").all-credits Все статьи
                    h1.credit-info-header Где дешевле: битва онлайн-магазинов
                    .credit-info-description
                        span 21 сен 2019
                        span Источник: РИА Новости