section.section-comments
	.container 
		h2 Комментарии — 2
		.add-comment
			form
				.add-comment__row
					+add-input({
	                    placeholder: "Написать комментарий",
	                    name: "surname",
	                })
					+add-button({
	                    text: "Отправить",
	                    types: ["primary"],
	                    buttonClass: "button-add"
	                })
		.comment-item.comment-item_moderator
			.comment-item__row
				.comment-item__title Модератор Finbee
				.comment-item__date 22 апр 2019
			p В ответ на Ваше обращение сообщаем, что при оформлении договора кредитования Вам была открыта дебетовая карта «Суперзащита» без материального носителя с пакетом услуг. Банком проведены необходимые мероприятия, по результатам которых плата за выпуск дебетовой карты «Суперзащита» отменена, ранее списанная плата возвращена на Ваш счет. Услуги, предоставляемые в рамках пакета, были отключены, счет закрыт. Надеемся нам удалось внести ясность по описанной ситуации. При наличии дополнительных вопросов Вы всегда можете к нам обращаться по электронному адресу kachestvu_da@vostbank.ru.
			.comment-item__link
				a.js__comment-answer Ответить
			.add-comment.add-comment_answer
				form
					.add-comment__row
						+add-input({
		                    placeholder: "Ваш комментарий",
		                    name: "surname",
		                })
						+add-button({
		                    text: "Отправить",
		                    types: ["primary"],
		                    buttonClass: "button-add"
		                })

		.comment-item
			.comment-item__row
				.comment-item__title Антон Петрушенков
				.comment-item__date 22 апр 2019
			p Старостин Айаал Егорович, добрый день! Сожалеем о сложившейся ситуации, надеемся, что Ваш вопрос решится в положительную для Вас сторону. Благодарим Вас за обращение. Мы приняли Ваш запрос в работу и постараемся разобраться в возникшей ситуации как можно быстрее. О результатах уведомим Вас дополнительно.
			.comment-item__link
				a.js__comment-answer Ответить
			.add-comment.add-comment_answer
				form
					.add-comment__row
						+add-input({
		                    placeholder: "Ваш комментарий",
		                    name: "surname",
		                })
						+add-button({
		                    text: "Отправить",
		                    types: ["primary"],
		                    buttonClass: "button-add"
		                })

		.comment-item
			.comment-item__row
				.comment-item__title Виктор Гаврилов
				.comment-item__date 22 апр 2019
			p Старостин Айаал Егорович, добрый день! Сожалеем о сложившейся ситуации, надеемся, что Ваш вопрос решится в положительную для Вас сторону. Благодарим Вас за обращение. Мы приняли Ваш запрос в работу и постараемся разобраться в возникшей ситуации как можно быстрее. О результатах уведомим Вас дополнительно.
			.comment-item__link
				a.js__comment-answer Ответить
			.add-comment.add-comment_answer
				form
					.add-comment__row
						+add-input({
		                    placeholder: "Ваш комментарий",
		                    name: "surname",
		                })
						+add-button({
		                    text: "Отправить",
		                    types: ["primary"],
		                    buttonClass: "button-add"
		                })
			.comment-item.comment-item_answer
				.comment-item__row
					.comment-item__title Петр Вениаминский
					.comment-item__date 22 апр 2019
				p А вот тут я не согласен по многим причинам!
				.comment-item__link
					a.js__comment-answer Ответить
				.add-comment.add-comment_answer
					form
						.add-comment__row
							+add-input({
			                    placeholder: "Ваш комментарий",
			                    name: "surname",
			                })
							+add-button({
			                    text: "Отправить",
			                    types: ["primary"],
			                    buttonClass: "button-add"
			                })
			.comment-item.comment-item_answer
				.comment-item__row
					.comment-item__title Нурсултан Кенджигалиев
					.comment-item__date 22 апр 2019
				p Я не отрицаю, что турнир не оправдал ожиданий. В будущем мы будем более внимательно выбирать партнеров в кибер-сообществе и тщательнее работать над привлечением зрителей на трибуны. Но я на сто процентов уверен, что стоимость проведения соревнований была абсолютно адекватной.
				.comment-item__link
					a.js__comment-answer Ответить
				.add-comment.add-comment_answer
					form
						.add-comment__row
							+add-input({
			                    placeholder: "Ваш комментарий",
			                    name: "surname",
			                })
							+add-button({
			                    text: "Отправить",
			                    types: ["primary"],
			                    buttonClass: "button-add"
			                })
			.comment-item.comment-item_answer.comment-item_answer-level-2
				.comment-item__row
					.comment-item__title Андрей Яковлев
					.comment-item__date 22 апр 2019
				p Не передергивай. Протесты и избивают дубинками это не одно и то же.<br> Я вообще не против освещения событий, просто подача должна быть такой, чтобы у людей, вроде моей мамы, не возникало предстовление чуть ли не о гражданской войне.
				.comment-item__link
					a.js__comment-answer Ответить
				.add-comment.add-comment_answer
					form
						.add-comment__row
							+add-input({
			                    placeholder: "Ваш комментарий",
			                    name: "surname",
			                })
							+add-button({
			                    text: "Отправить",
			                    types: ["primary"],
			                    buttonClass: "button-add"
			                })

		.comment-item
			.comment-item__row
				.comment-item__title Виктор Гаврилов
				.comment-item__date 22 апр 2019
			p Старостин Айаал Егорович, добрый день! Сожалеем о сложившейся ситуации, надеемся, что Ваш вопрос решится в положительную для Вас сторону. Благодарим Вас за обращение. Мы приняли Ваш запрос в работу и постараемся разобраться в возникшей ситуации как можно быстрее. О результатах уведомим Вас дополнительно.
			.comment-item__link
				a.js__comment-answer Ответить
			.add-comment.add-comment_answer
				form
					.add-comment__row
						+add-input({
		                    placeholder: "Ваш комментарий",
		                    name: "surname",
		                })
						+add-button({
		                    text: "Отправить",
		                    types: ["primary"],
		                    buttonClass: "button-add"
		                })
			.comment-item.comment-item_answer
				.comment-item__row
					.comment-item__title Петр Вениаминский
					.comment-item__date 22 апр 2019
				p А вот тут я не согласен по многим причинам!
				.comment-item__link
					a.js__comment-answer Ответить
				.add-comment.add-comment_answer
					form
						.add-comment__row
							+add-input({
			                    placeholder: "Ваш комментарий",
			                    name: "surname",
			                })
							+add-button({
			                    text: "Отправить",
			                    types: ["primary"],
			                    buttonClass: "button-add"
			                })
			.comment-item.comment-item_answer
				.comment-item__row
					.comment-item__title Нурсултан Кенджигалиев
					.comment-item__date 22 апр 2019
				p Я не отрицаю, что турнир не оправдал ожиданий. В будущем мы будем более внимательно выбирать партнеров в кибер-сообществе и тщательнее работать над привлечением зрителей на трибуны. Но я на сто процентов уверен, что стоимость проведения соревнований была абсолютно адекватной.
				.comment-item__link
					a.js__comment-answer Ответить
				.add-comment.add-comment_answer
					form
						.add-comment__row
							+add-input({
			                    placeholder: "Ваш комментарий",
			                    name: "surname",
			                })
							+add-button({
			                    text: "Отправить",
			                    types: ["primary"],
			                    buttonClass: "button-add"
			                })