.breadcrumb-wrapper
    padding: 16px 0 21px

    @media screen and (max-width: 500px)
        padding: 14px 0 15px

.breadcrumb
    display: flex
    align-items: center
    flex-wrap: wrap

    &-container
        @media screen and (max-width: 500px)
            padding: 0 7px

    & &-home
        margin: 0 12px 0 0

        @media screen and (max-width: 500px)
            margin: 0 7px 0 0

    &-home
        & > a
            display: flex
            align-items: center
            justify-content: center
            color: $color-clear-blue
            padding: 3px

            transition-property: color
            transition-duration: $transition-duration

            &:hover,
            &:active
                color: #0033C2

            & > svg
                width: 20px
                height: 20px
                fill: currentColor

    & &-list
        position: relative
        top: 1px

    &-list
        display: flex
        flex-wrap: wrap

        & &-item
            margin-right: 15px

            @media screen and (max-width: 500px)
                margin-right: 9px

        &-item
            color: $color-clear-blue
            font-size: 14px

            position: relative
            top: 1px

            @media screen and (max-width: 500px)
                font-size: 12px

            a
                color: $color-clear-blue

            & &__separator
                position: relative
                top: -2px

                margin: 0 14px 0 0

                @media screen and (max-width: 500px)
                    margin: 0 9px 0 0

            &__separator
                display: inline-block
                vertical-align: initial

                &:before
                    content: ""
                    width: 6px
                    height: 6px
                    display: inline-block
                    vertical-align: middle
                    background-color: #d1d1d1
                    border-radius: 100%
