.action-links
    display: flex
    align-items: center
    flex-wrap: wrap

    @media screen and (max-width: 800px)
        width: 100%
        justify-content: center

    & > *
        margin: 5px 47px 5px 0

        @media screen and (max-width: 800px)
            margin: 5px 20px
