.credit-recommend
    display: flex
    flex-direction: column

    border-radius: 10px
    background-color: #ffffff

    padding: 20px 22px 14px

    transition-property: box-shadow
    transition-duration: $transition-duration


    position: absolute
    top: 0
    left: 0
    right: 0
    z-index: 2

    @media (max-width: 1000px) 
        position: static

    @media screen and (max-width: 900px)
        padding: 10px 5px 10px

    &-wrapper
        padding: 5px 0

        @media screen and (max-width: 1000px)
            padding: 10px 0

        @media screen and (max-width: 900px)
            padding: 16px 0 10px

    &-container
        & &-header
            margin: 0 0 29px

            @media screen and (max-width: 900px)
                margin: 0 0 20px

        &-header
            +desktopheadersh4()

            @media screen and (max-width: 900px)
                font-size: 20px

    &-row
        display: flex
        align-items: flex-start
        flex-wrap: wrap
        -webkit-overflow-scrolling: touch;

        @media screen and (max-width: 1000px)
            flex-wrap: nowrap
            overflow: auto
            width: 100%

    &-row &-block
        @media screen and (min-width: 1001px)
            lost-waffle: 1/4 4 30px

        @media screen and (max-width: 1000px)
            min-width: 230px
            width: 25%
            // margin-right: 30px
            margin-right: 10px

            &:last-child
                margin-right: 0
        @media screen and (max-width: 900px)
            min-width: 137px
        @media screen and (max-width: 800px)
            margin-right: 10px

    &-block
        position: relative
        min-height: 230px

        @media (max-width: 1000px)  
            min-height: initial !important
            height: auto !important

    &-block &.active
        // position: absolute
        // top: 0
        // left: 0
        // right: 0

        // z-index: 2

        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15)

    & &-image
        margin: 0 auto

    &-image
        width: 140px
        height: 79px

        @media screen and (max-width: 1000px)
            width: 100%
            height: 70px

        @media screen and (max-width: 900px)
            height: 57px

        img
            width: 100%
            height: 100%
            object-fit: scale-down

    & &-header
        text-align: center
        margin: 14px 0 0

        @media screen and (max-width: 900px)
            margin: 9px 0 19px

    &-header
        color: $color-clear-blue
        font-size: 18px
        font-weight: 700

        @media screen and (max-width: 1000px)
            font-size: 16px

        @media screen and (max-width: 900px)
            font-size: 14px

        a
            color: currentColor

    & &-property
        margin: 14px 0

        @media screen and (max-width: 1000px)
            margin: 10px 0

        @media screen and (max-width: 900px)
            margin: 0

    &-property
        color: $color-dark

        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: flex-start

        @media screen and (max-width: 1000px)
            justify-content: center

        & &-header
            position: relative
            top: 5px

            @media screen and (max-width: 1000px)
                display: none

        &-header
            font-size: 12px
            letter-spacing: 1px
            text-transform: uppercase

        & &-value
            flex: 1
            text-align: right

            @media screen and (max-width: 1000px)
                text-align: center

        &-value
            font-size: 18px

            @media screen and (max-width: 1200px)
                font-size: 16px

            @media screen and (max-width: 1000px)
                font-size: 16px

            @media screen and (max-width: 900px)
                font-size: 14px

            strong
                font-weight: 700
                margin-left: 2px

                @media screen and (max-width: 900px)
                    margin-left: 0

    &-bank-name
        color: $color-dark
        font-size: 14px
        line-height: normal

    &-footer &-bank-license
        margin: 0 0 0 auto
        position: relative
        top: -1px

        @media screen and (max-width: 1000px)
            margin: 0
            top: 0
            width: 100%

    &-bank-license
        color: $color-cool-grey
        font-size: 12px


    &-group 
        max-height: 0px
        transition: .2s
        overflow: hidden

        @media (max-width: 1000px) 
            max-height: initial
            margin-top: -10px

        @media (max-width: 900px) 
            display: none
    
    &.active &-group
        max-height: 200px
        margin-top: -13px

        @media (max-width: 1000px) 
            max-height: inheirt
            // margin-top: 0
            margin-top: -10px

    & &-badges
        margin: -6px -3px -3px
        // display: none
        // max-height: 0
        // overflow: hidden

    &.active &-badges
        // display: flex
        // max-height: 100px


    &-badges
        display: flex
        flex-wrap: wrap
        margin: -3px

        @media screen and (max-width: 1000px)
            justify-content: center

        & > *
            margin: 3px

    & &-body
        margin: 2px 0 2px

        & > *
            &:nth-child(n)
                display: none

            &:nth-child(1)
                display: flex

    &.active &-body
        & > *
            &:nth-child(n)
                display: flex

    & &-footer
        border-top: 1px solid #dfdfdf
        margin: -1px 0 0
        padding: 12px 0 0

        @media (max-width: 1000px)
            margin-top: 21px

        @media screen and (max-width: 900px)
            display: none

    &.active &-footer
        margin: 21px 0 0


    &-footer
        display: flex
        flex-wrap: wrap
        align-items: flex-end

        @media (max-width: 1000px)
            margin-top: 21px

        @media screen and (max-width: 1000px)
            justify-content: center
            align-items: center
            text-align: center

@media (max-width: 1150px)
    .credit-recommend-bank-name
        max-width: 60%
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis