@mixin glyphter-common
    display: inline-block
    font-family: $font-icon
    font-style: normal
    font-weight: normal
    line-height: 1
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

@mixin icon-add
    @include glyphter-common
    content: '\0041'

@mixin icon-add-comment
    @include glyphter-common
    content: '\0042'

@mixin icon-arrow
    @include glyphter-common
    content: '\0043'

@mixin icon-arrow-sort
    @include glyphter-common
    content: '\0044'

@mixin icon-atm
    @include glyphter-common
    content: '\0045'

@mixin icon-auth
    @include glyphter-common
    content: '\0046'

@mixin icon-auth-fb
    @include glyphter-common
    content: '\0047'

@mixin icon-auth-google
    @include glyphter-common
    content: '\0048'

@mixin icon-auth-mail
    @include glyphter-common
    content: '\0049'

@mixin icon-auth-vk
    @include glyphter-common
    content: '\004a'

@mixin icon-bank
    @include glyphter-common
    content: '\004b'

@mixin icon-calendar
    @include glyphter-common
    content: '\004c'

@mixin icon-call
    @include glyphter-common
    content: '\004d'

@mixin icon-check
    @include glyphter-common
    content: '\004e'

@mixin icon-check-circle
    @include glyphter-common
    content: '\004f'

@mixin icon-contract
    @include glyphter-common
    content: '\0050'

@mixin icon-cross
    @include glyphter-common
    content: '\0051'

@mixin icon-cross-close
    @include glyphter-common
    content: '\0052'

@mixin icon-cross-small
    @include glyphter-common
    content: '\0053'

@mixin icon-cursor
    @include glyphter-common
    content: '\0054'

@mixin icon-envelope
    @include glyphter-common
    content: '\0055'

@mixin icon-excel
    @include glyphter-common
    content: '\0056'

@mixin icon-expand-image
    @include glyphter-common
    content: '\0057'

@mixin icon-face
    @include glyphter-common
    content: '\0058'

@mixin icon-facebook
    @include glyphter-common
    content: '\0059'

@mixin icon-home
    @include glyphter-common
    content: '\005a'

@mixin icon-laptop
    @include glyphter-common
    content: '\0061'

@mixin icon-passport
    @include glyphter-common
    content: '\0062'

@mixin icon-percent
    @include glyphter-common
    content: '\0063'

@mixin icon-pin
    @include glyphter-common
    content: '\0064'

@mixin icon-printer
    @include glyphter-common
    content: '\0065'

@mixin icon-question-tips
    @include glyphter-common
    content: '\0066'

@mixin icon-question-tips-invert
    @include glyphter-common
    content: '\0067'

@mixin icon-search
    @include glyphter-common
    content: '\0068'

@mixin icon-star
    @include glyphter-common
    content: '\0069'

@mixin icon-time
    @include glyphter-common
    content: '\006a'

@mixin icon-vk
    @include glyphter-common
    content: '\006b'

@mixin icon-bullet
    @include glyphter-common
    content: '\006c'
