=desktopheadersH1()
    font-size: 43px
    font-weight: bold
    text-align: center
    color: $color-dark

=desktopheadersh2-grey()
    font-size: 37px
    font-weight: bold
    color: $color-cool-grey

=desktopheadersh2()
    font-size: 37px
    font-weight: bold
    color: $color-dark

=mobileheadersh1()
    font-size: 29px
    font-weight: bold
    line-height: 1.17
    text-align: center
    color: $color-dark

=desktopheadersh3-()
    font-size: 25px
    font-weight: bold
    text-align: center
    color: $color-dark

=desktopheadersh4()
    font-size: 24px
    color: $color-dark

=desktopheadersh4-grey()
    font-size: 24px
    color: $color-cool-grey

=desktopheadersh3()
    font-size: 23px
    font-weight: bold
    color: $color-dark

=formmain_buttonprimary()
    font-size: 23px
    color: #ffffff
    font-weight: $font-weight-extra-bold

=formline-buttonprimary()
    font-size: 23px
    text-align: center
    color: $color-clear-blue

=forminput-text()
    font-size: 22px
    line-height: 0.91
    color: $color-dark

=forminput-title-big()
    font-size: 22px
    line-height: 0.91
    color: $color-cool-grey

=desktoptxt1--invert()
    font-size: 19px
    line-height: 1.32
    text-align: center
    color: #ffffff

=desktoplink1--bold()
    font-size: 18px
    font-weight: bold
    text-align: center
    color: $color-clear-blue

=desktoptxt1--bold()
    font-size: 18px
    font-weight: bold
    color: $color-dark

=desktoptxt1-bold-()
    font-size: 18px
    font-weight: bold
    text-align: right
    color: $color-dark

=desktoplink1--bold()
    font-size: 18px
    font-weight: bold
    line-height: 1.17
    color: $color-clear-blue

=desktoplink1-reg-()
    font-size: 18px
    text-align: center
    color: $color-clear-blue

=desktopmenucolumns-1()
    font-size: 18px
    line-height: 1.94
    color: $color-dark

=desktoptxt1-()
    font-size: 18px
    color: $color-dark

=desktoptxt1--()
    font-size: 18px
    text-align: right
    color: $color-dark

=desktoptxt1-()
    font-size: 18px
    text-align: center
    color: $color-dark

=desktoptxt1--invert2()
    font-size: 18px
    text-align: center
    color: #ffffff

=desktoplink1-reg-()
    font-size: 18px
    color: $color-clear-blue

=desktoptxtcurrencyred-sum()
    font-size: 16px
    font-weight: bold
    color: $color-orangey-red

=desktoptxtcurrencygreen-sum()
    font-size: 16px
    font-weight: bold
    color: $color-vibrant-green

=mobiletxt3-()
    font-size: 16px
    line-height: 1.31
    color: $color-dark

=desktopmenuactive()
    font-size: 15px
    font-weight: bold
    letter-spacing: 0.58px
    color: $color-dark

=desktopmenuhover()
    font-size: 15px
    letter-spacing: 0.58px
    color: $color-clear-blue

=desktopmenudefault()
    font-size: 15px
    letter-spacing: 0.58px
    color: $color-dark

=desktoplink2--bold()
    font-size: 14px
    font-weight: bold
    color: $color-clear-blue

=desktoptxt2--bold()
    font-size: 14px
    font-weight: bold
    line-height: 1.5
    color: $color-dark

=desktoplink2-()
    font-size: 14px
    text-align: center
    color: $color-clear-blue

=desktoplinkcolumns-2()
    font-size: 14px
    line-height: 1.64
    color: $color-dark

=desktoptxt2--2()
    font-size: 14px
    line-height: 1.5
    color: $color-dark

=desktoptxt2--grey()
    font-size: 14px
    text-align: right
    color: #c0c2c6

=desktoplink2-()
    font-size: 14px
    color: $color-clear-blue

=desktoptxt2-()
    font-size: 14px
    line-height: 1.43
    text-align: center
    color: $color-dark

=desktoptxt3--bold()
    font-size: 12px
    font-weight: bold
    color: $color-dark

=unnamed-11()
    font-size: 12px
    font-weight: bold
    line-height: 1.67
    letter-spacing: 1.09px
    color: #c0c2c6

=desktoptxt3-label--grey()
    font-size: 12px
    font-weight: bold
    line-height: 1.67
    letter-spacing: 1.09px
    text-align: right
    color: #c0c2c6

=Text-Style()
    font-size: 12px
    color: $color-clear-blue

=desktoptxt3--grey()
    font-size: 12px
    color: #c0c2c6

=desktoptxt3-invert-()
    font-size: 12px
    line-height: 1.67
    color: #ffffff

=desktoptxtcurrencyred-percent()
    font-size: 12px
    color: $color-orangey-red

=desktoptxttable_title()
    font-size: 12px
    letter-spacing: 1px
    color: $color-dark

=forminput-title-small()
    font-size: 12px
    line-height: 1.67
    color: $color-dark

=forminput-title-thr()
    font-size: 12px
    line-height: 1.67
    text-align: right
    color: $color-cool-grey

=desktoptxt3--grey()
    font-size: 12px
    text-align: right
    color: #c0c2c6
