$fonts: (
    // Useful commands:
    //     ls -1X
    //     ls | grep '.ttf$' | sed 's/.ttf$//'

    // Ref for fonts-weight
    //
    // 100 Extra Light or Ultra Light
    // 200 Light or Thin
    // 300 Book or Demi
    // 400 Normal or Regular
    // 500 Medium
    // 600 Semibold, Demibold
    // 700 Bold
    // 800 Black, Extra Bold or Heavy
    // 900 Extra Black, Fat, Poster or Ultra Black
    //
    // ref https://www.webtype.com/info/articles/fonts-weights/

    // (FontFamily, FontFamilyStyle, FontWeight, FontStyle)
    //
    // example:
    //
    // ("Roboto", "Regular", 400, normal),
    // ("Roboto", "Italic", 400, italic),
    // ("Roboto", "Bold", 700, normal),
    // ("Roboto", "BoldItalic", 700, italic),
    ("glyphter", "icons", 400, normal),
    ("ProximaNova", "Light", 300, normal),
    ("ProximaNova", "Regular", 400, normal),
    ("ProximaNova", "Semibold", 600, normal),
    ("ProximaNova", "Bold", 700, normal),
    ("ProximaNova", "Extrabld", 800, normal),
    ("ProximaNova", "Black", 900, normal),
);

@mixin getFontLinks($font, $style) {
    src:
        url("../fonts/" + $font + "-" + $style + ".eot"),
        url("../fonts/" + $font + "-" + $style + ".eot#iefix") format("embedded-opentype"),
        url("../fonts/" + $font + "-" + $style + ".woff2") format("woff2"),
        url("../fonts/" + $font + "-" + $style + ".woff") format("woff"),
        url("../fonts/" + $font + "-" + $style + ".ttf") format('truetype');
}

@mixin getFontStyles($font, $font-style, $weight: 400, $style: normal) {
    font-family: $font;
    @include getFontLinks($font, $font-style);

    font-weight: $weight;
    font-style: $style;
    // font-display: fallback;
    font-display: block;
}

@each $font in $fonts {
    @font-face {
        $font-family: nth($font, 1);
        $font-family-style: nth($font, 2);
        $font-weight: nth($font, 3);
        $font-style: nth($font, 4);

        @include getFontStyles($font-family, $font-family-style, $font-weight, $font-style);
    }
}
