@import "./functions"
@import "./vars"

label
	margin: 0

body
	background: $background-color
	color: #333
	font-family: $font-base
	font-size: $font-size-base
	line-height: normal
	min-width: 320px
	overflow-x: hidden
	position: relative
	display: flex
	flex-direction: column
	min-height: 100vh

	// Be careful, not it disables system's font smoothing
	// Bootstrap don't recommends to use it
	//
	// Disabled by default

	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

a
	outline: 0

main.main
	overflow: hidden
	display: flex
	flex-direction: column
	min-height: 100vh

	.footer
		margin: auto 0 0

.hidden
	display: none
