@mixin on-hover
    @media not all and (pointer: coarse)
        &:hover
            @content

    @media screen and (min-width: 1025px)
        &:hover
            @content

    &:active
        @content

@mixin is-mac
    html.is-mac &
        @content

@mixin is-mac-without-firefox
    html.is-mac:not(.firefox) &
        @content

@mixin is-mac-on-chrome
    html.is-mac.chrome &
        @content

%remove-input-number-arrows
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    margin: 0

%input-type-number-arrows
    -moz-appearance: textfield

%input-type-number-arrows::-webkit-inner-spin-button,
%input-type-number-arrows::-webkit-outer-spin-button
    @extend %remove-input-number-arrows


%input-webkit-appearance
    -webkit-appearance: none
    border-radius: 0
