h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5
    line-height: normal
    font-weight: normal
    margin: 0

h1, .h1
    font-size: 30px

h2, .h2
    font-size: 26px

h3, .h3
    font-size: 24px

h4, .h4
    font-size: 22px

h5, .h5
    font-size: 20px

h6, .h6
    font-size: 18px

p
    margin: 0