.seo-section
	margin-top: 41px
	padding-top: 28px
	border-top: 1px solid #c0c2c6
.seo-text 
	color: $color-dark
	padding-bottom: 30px
	h2 
		font-size: 37px;
		font-weight: 900;
		margin-bottom: 3px;
	p
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
		padding: 9px 0
	h3
		font-size: 25px;
		font-weight: 900;
		margin: 20px 0 0

@media (max-width: 767px)
	.seo-text 
		h2 
			font-size: 28px
			line-height: 25px
		h3
			font-size: 22px