include ../mixins/credit-recommend

include ../popup/extsel
include ../popup/querycr

section.credit-info-section.listcredit-section
    .container
        .credit-info
            .credit-info-row
                .credit-info-left
                    h1.credit-info-header Займы в Алматы
                    .credit-info-description
                        p Получить кредит под низкую ставку процента: поиск предложений физическим лицам и оформление онлайн-заявки на выгодных условиях

.listcredit-group
    .listcredit-header.listdeposits-header.listloan-header

        .container
            .listcredit-head
                .listcredit-head__form
                    form
                        +add-typed-number-input({
                            placeholder: "Сумма",
                            name: "sum1",
                            types: ["Тнг", "Руб"],
                            min: 0,
                            max: 30000000,
                            value: 0,
                            classInput: "js-input-sum"
                        })

                        +add-select-common({
                            placeholder: "Срок",
                            name: "duration",
                            options: ["до 15 дней", "1 месяц", "2 месяца", "3 месяца"],
                            selectedOption: 0,
                            slider: true
                        })


                        //- +add-button({text: "Расширенный подбор", types: ["secondary", "line"]})
                        
                        .listcredit-form-btn.button.button--third.button--line.listcredit-form-item
                            span.js__open-extsel
                                | Расширенный 
                                br
                                | подбор
                        .listcredit-form-item        
                            +add-button({text: "Подобрать", types: ["primary"], buttonClass: "listcredit-form-btn-sbt listdeposit-form-btn-sbt", isSubmit: true})
                        .listcredit-form-item.listcredit-form-item_btn  
                            .listcredit-head__more
                                span.js__open-extsel
                                    | Расширенный подбор
                                    +add-svg({icon: "arrow"})

                .listcredit-head__img
                    +add-image({src: "static/list-loan/listloan-head.svg"})


    .listcredit-recomment
        .credit-recommend-wrapper
            .container.credit-recommend-container
                .credit-recommend-row
                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/aliance.png",
                        header: "Универсальный",
                        rate: "9.90%",
                        name: "АльянсБанк",
                        license: "Лиц. №3293"
                    })

                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/kaspi.png",
                        header: "Кредит на ремонт",
                        rate: "9.95%",
                        name: "Каспийский банк",
                        license: "Лиц. №3293"
                    })

                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/halyk.png",
                        header: "Кредит на бизнес",
                        rate: "7.43%",
                        name: "Халык Банк",
                        license: "Лиц. №3293"
                    })

                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/raiffeisen.png",
                        header: "Валютный кредит",
                        rate: "9.99%",
                        name: "Райффайзен Банк",
                        license: "Лиц. №3293"
                    })
