.button.button--form
    &.button--secondary
        padding: 13px 26px 12px
        font-size: 18px

        @media screen and (max-width: 500px)
            font-size: 14px
            padding: 9px 21px 9px
