.button.button--line
    background: #ffffff
    box-shadow: inset 0 0 0 1px $color-clear-blue
    color: $color-clear-blue

    &:hover,
    &:active
        color: #ffffff

    &.button--disabled
        background: $color-cool-grey
        box-shadow: none
        color: #ffffff

    &.button--invert
        background: none
        box-shadow: inset 0 0 0 1px #ffffff
        color: #ffffff
