.button--primary
    font-size: 24px
    padding: 16px 44px 20px

    @media screen and (max-width: 900px)
        padding: 11px 25px 13px
        font-size: 20px
        line-height: 22px;

    @media screen and (max-width: 500px)
        font-size: 18px


    &.button--main-button.button--line
        @media screen and (max-width: 900px)
            font-size: 18px

        @media screen and (max-width: 500px)
            font-size: 14px
            padding: 9px 25px 10px


    &.button--main-button
        padding: 15px 34px 20px

        @media screen and (max-width: 900px)
            padding: 10px 25px 12px

        @media screen and (max-width: 500px)
            padding: 12px 25px 15px


    &.button--next-step
        padding: 15px 15px 20px
        min-width: 293px

        @media screen and (max-width: 900px)
            padding: 10px 25px 12px


    &.button--close-repaiment
        padding: 15px 37px 20px

        @media screen and (max-width: 900px)
            padding: 10px 25px 12px

        @media screen and (max-width: 500px)
            padding: 12px 25px 15px


    &.button--credit-email
        padding: 15px 42px 20px

        @media screen and (max-width: 900px)
            padding: 10px 25px 12px
            font-size: 20px

        @media screen and (max-width: 500px)
            font-size: 18px


    &.button--credit-email-cancel
        padding: 15px 30px 20px

        @media screen and (max-width: 900px)
            padding: 10px 25px 12px
            font-size: 20px

        @media screen and (max-width: 500px)
            font-size: 18px
