.button
    text-align: center
    color: #ffffff
    line-height: normal

    border-radius: 5px
    background-image: linear-gradient(to bottom, #207dff, #0e4bf4)

    cursor: pointer
    user-select: none
    overflow: hidden

    text-decoration: none

    position: relative
    z-index: 2

    transition-property: color
    transition-duration: $transition-duration

    &:hover,
    &:active
        text-decoration: none
        color: #ffffff

    &:hover:before
        opacity: 1

    &:active:after
        opacity: 1

    &:before
        // On hover
        content: ""
        position: absolute
        display: block
        z-index: -1

        top: 0
        left: 0

        width: 100%
        height: 100%
        box-shadow: 0 2px 8px 0 #ffaa0072
        background-image: linear-gradient(to bottom, #ffbe00, #f5a400)
        opacity: 0

        transition-property: opacity
        transition-duration: $transition-duration

    &:after
        // On active
        content: ""
        position: absolute
        z-index: -1

        top: 0
        left: 0

        width: 100%
        height: 100%

        background-image: linear-gradient(to top, #ffbe00, #f5a400)
        opacity: 0

        transition-property: opacity
        transition-duration: $transition-duration

    &-container
        display: flex
        flex-wrap: wrap

        &:hover,
        &:active
            text-decoration: none

    &-native-input
        display: none