section.answers
    .container
        h2 Вопросы и ответы
        .answers-list
            .section.answers__dots.listcreditslider__dots--desktop.js-init--answers-dots
                a(href="#") 
                    | Все 
                    span вопросы
            .answers-list__wrap.js-init--answers
                div
                    a.answers-list__item(href="#" data-bg="img/main_page/answer_1.jpg")
                        .answers-list__name Не просто квартиры: как инвестировать в недвижимость за рубежом?
                        .answers-list__category Страхование
                        .answers-list__number ответа
                            span 2
                
                div
                    a.answers-list__item(href="#" data-bg="img/main_page/answer_2.jpg")
                        .answers-list__name 9 необычных мест для свадьбы в Москве?
                        .answers-list__category личные финансы
                        .answers-list__number ответ
                            span 1
                
                div
                    a.answers-list__item(href="#" data-bg="img/main_page/answer_3.jpg")
                        .answers-list__name Новые правила: как меняются визовые процедуры США и других стран?
                        .answers-list__category ИПОТЕКА
                        .answers-list__number ответ
                            span 1
                
                div
                    a.answers-list__item(href="#" data-bg="img/main_page/answer_2.jpg")
                        .answers-list__name Не просто квартиры: как инвестировать в недвижимость за рубежом?
                        .answers-list__category личные финансы
                        .answers-list__number ответ
                            span 1
            .answers__dots.listcreditslider__dots--mobile.js-init--answers-dots--mobile
                