include ../mixins/credit-recommend

section.best-proposition
    .container.tab-wrap
        h2 Лучшие предложения
        ul.proposition-list.tabs
            li.proposition-list__item.active
                a.proposition-list__link(href='#tab_1') Кредиты
            li.proposition-list__item
                a.proposition-list__link(href='#tab_2') Ипотека
            li.proposition-list__item
                a.proposition-list__link(href='#tab_3') Дебетовые карты
            li.proposition-list__item
                a.proposition-list__link(href='#tab_4') Кредитные карты
            li.proposition-list__item
                a.proposition-list__link(href='#tab_5') Депозиты
            li.proposition-list__item
                a.proposition-list__link(href='#tab_6') Автокредиты
            li.proposition-list__item
                a.proposition-list__link(href='#tab_7') Микрозаймы
        
        
        .tab-cont#tab_1
            .credit-recommend-wrapper           
                .credit-recommend-row
                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/aliance.png",
                        header: "Универсальный",
                        rate: "9.90%",
                        name: "АльянсБанк",
                        license: "Лиц. №3293"
                    })

                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/kaspi.png",
                        header: "Кредит на ремонт",
                        rate: "9.95%",
                        name: "Каспийский банк",
                        license: "Лиц. №3293"
                    })

                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/halyk.png",
                        header: "Кредит на бизнес",
                        rate: "7.43%",
                        name: "Халык Банк",
                        license: "Лиц. №3293"
                    })

                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/raiffeisen.png",
                        header: "Валютный кредит",
                        rate: "9.99%",
                        name: "Райффайзен Банк",
                        license: "Лиц. №3293"
                    })

                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/raiffeisen.png",
                        header: "Валютный кредит",
                        rate: "9.99%",
                        name: "Райффайзен Банк",
                        license: "Лиц. №3293"
                    })

                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/halyk.png",
                        header: "Кредит на бизнес",
                        rate: "7.43%",
                        name: "Халык Банк",
                        license: "Лиц. №3293"
                    })

                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/kaspi.png",
                        header: "Кредит на ремонт",
                        rate: "9.95%",
                        name: "Каспийский банк",
                        license: "Лиц. №3293"
                    })

                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/aliance.png",
                        header: "Универсальный",
                        rate: "9.90%",
                        name: "АльянсБанк",
                        license: "Лиц. №3293"
                    })
        .tab-cont.hide-tab#tab_2
            .credit-recommend-wrapper           
                .credit-recommend-row
                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/aliance.png",
                        header: "Универсальный",
                        rate: "9.90%",
                        name: "АльянсБанк",
                        license: "Лиц. №3293"
                    })
        
        .tab-cont.hide-tab#tab_3
            .credit-recommend-wrapper           
                .credit-recommend-row
                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/aliance.png",
                        header: "Универсальный",
                        rate: "9.90%",
                        name: "АльянсБанк",
                        license: "Лиц. №3293"
                    })
                    
        .tab-cont.hide-tab#tab_4
            .credit-recommend-wrapper           
                .credit-recommend-row
                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/kaspi.png",
                        header: "Кредит на ремонт",
                        rate: "9.95%",
                        name: "Каспийский банк",
                        license: "Лиц. №3293"
                    })
                    
        .tab-cont.hide-tab#tab_5
            .credit-recommend-wrapper           
                .credit-recommend-row
                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/raiffeisen.png",
                        header: "Валютный кредит",
                        rate: "9.99%",
                        name: "Райффайзен Банк",
                        license: "Лиц. №3293"
                    })
                    
        .tab-cont.hide-tab#tab_6
            .credit-recommend-wrapper           
                .credit-recommend-row
                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/kaspi.png",
                        header: "Кредит на ремонт",
                        rate: "9.95%",
                        name: "Каспийский банк",
                        license: "Лиц. №3293"
                    })
                    
        .tab-cont.hide-tab#tab_7
            .credit-recommend-wrapper           
                .credit-recommend-row
                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/raiffeisen.png",
                        header: "Валютный кредит",
                        rate: "9.99%",
                        name: "Райффайзен Банк",
                        license: "Лиц. №3293"
                    })
                
                