
section.block-banks
    .container
        h2 Банки Казахстана
        
        .block-banks-list
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/alfabank.png', alt="")
            
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/al-hilalbank.svg', alt="")
                    
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/altynbank.png', alt="")
                    
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/asiacreditbank.png', alt="")
            
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/atfbank.png', alt="")
                    
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/bankrbk.jpg', alt="")
                    
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/capitalbank.jpg', alt="")
                    
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/centrcredit.svg', alt="")
                    
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/citibank.png', alt="")
                    
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/eurasianbank.jpg', alt="")
                    
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/fortebank.svg', alt="")
                    
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/halykbank.svg', alt="")
            
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/homecreditbank.png', alt="")
                    
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/kaspibank.jpg', alt="")
                    
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/kassanova.png', alt="")
                    
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/logotype.png', alt="")
                    
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/nbpbank.png', alt="")
                    
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/nurbank.png', alt="")
            
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/sberbank.png', alt="")
                    
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/shinhanbank.jpeg', alt="")

            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/tengribank.png', alt="")
                    
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/vtbbank.jpg', alt="")
                    
            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/zamanbank.svg', alt="")

            a.block-banks-list__item(href='#')
                .block-banks-list__img
                    img(data-src='img/main_page/zhilstroybank.png', alt="")
                    
                    
