section.first-screen
    .container
        .first-screen__text
            h1.credit-info-header Все банковские продукты в одном месте
            p.large Экономьте, находя лучшие предложения от&nbsp;банков за считанные минуты
        .first-screen__img
            img(data-src='img/main_page/hand.png', alt="")
        .list-product
            a.list-product__item(href='#')
                .list-product__number 232
                .list-product__img
                    img(data-src='img/main_page/icon_product_1.svg', alt="")
                .list-product__name Кредиты
            
            a.list-product__item(href='#')
                .list-product__number 33
                .list-product__img
                    img(data-src='img/main_page/icon_product_2.svg', alt="")
                .list-product__name Депозит
            
            a.list-product__item(href='#')
                .list-product__number 42
                .list-product__img
                    img(data-src='img/main_page/icon_product_3.svg', alt="")
                .list-product__name Ипотека
            
            a.list-product__item(href='#')
                .list-product__number 89
                .list-product__img
                    img(data-src='img/main_page/icon_product_4.svg', alt="")
                .list-product__name Кредитные карты
            
            a.list-product__item(href='#')
                .list-product__number 57
                .list-product__img
                    img(data-src='img/main_page/icon_product_5@2x.png', alt="")
                .list-product__name Дебетовые карты
            
            a.list-product__item(href='#')
                .list-product__number 19
                .list-product__img
                    img(data-src='img/main_page/icon_product_6.svg', alt="")
                .list-product__name.list-product__name_mob Кредиты на авто
                .list-product__name Автокредиты
            
            a.list-product__item(href='#')
                .list-product__number 32
                .list-product__img
                    img(data-src='img/main_page/icon_product_7.svg', alt="")
                .list-product__name Кредиты на бизнес
            
            a.list-product__item(href='#')
                .list-product__number 190
                .list-product__img
                    img(data-src='img/main_page/icon_product_8.svg', alt="")
                .list-product__name.list-product__name_mob Микро займы
                .list-product__name Микрозаймы
        .box-courses
            .list-courses
                .list-courses__item
                    .list-courses__name USD
                    .list-courses__down 135.46
                    .list-courses__up 126.46
                .list-courses__item
                    .list-courses__name RUB
                    .list-courses__up 5.22
                    .list-courses__down 5.10
                .list-courses__item
                    .list-courses__name EUR
                    .list-courses__up 353.22
                    .list-courses__down 355.78
            a.all-cources(href='#') Все курсы