section.popular-articles
    .container
        h2 Популярные статьи
        .answers-list
            .section.answers__dots.listcreditslider__dots--desktop.js-init--articles-dots
                a(href="#") 
                    | Все 
                    span статьи
            .answers-list__wrap.js-init--articles
                div
                    a.popular-articles__item(href="#")
                        .popular-articles__img(data-bg="img/main_page/article_1.jpg")
                        .popular-articles__text
                            .popular-articles__category Ипотека
                            .popular-articles__name Что такое ипотечный кредит и как его оформить
                div
                    a.popular-articles__item(href="#")
                        .popular-articles__img(data-bg="img/main_page/article_2.jpg")
                        .popular-articles__text
                            .popular-articles__category Технологии
                            .popular-articles__name Где дешевле: битва онлайн-магазинов одежды
                div
                    a.popular-articles__item(href="#")
                        .popular-articles__img(data-bg="img/main_page/article_3.jpg")
                        .popular-articles__text
                            .popular-articles__category Ипотека
                            .popular-articles__name 9 необычных мест для свадьбы в Москве
                div
                    a.popular-articles__item(href="#")
                        .popular-articles__img(data-bg="img/main_page/article_4.jpg")
                        .popular-articles__text
                            .popular-articles__category ТЕХНОЛОГИИ
                            .popular-articles__name Битва операторов: СберМобайл против Тинькофф Мобайл
                div
                    a.popular-articles__item(href="#")
                        .popular-articles__img(data-bg="img/main_page/article_1.jpg")
                        .popular-articles__text
                            .popular-articles__category Ипотека
                            .popular-articles__name Что такое ипотечный кредит и как его оформить
                div
                    a.popular-articles__item(href="#")
                        .popular-articles__img(data-bg="img/main_page/article_2.jpg")
                        .popular-articles__text
                            .popular-articles__category Технологии
                            .popular-articles__name Где дешевле: битва онлайн-магазинов одежды
                div
                    a.popular-articles__item(href="#")
                        .popular-articles__img(data-bg="img/main_page/article_3.jpg")
                        .popular-articles__text
                            .popular-articles__category Ипотека
                            .popular-articles__name 9 необычных мест для свадьбы в Москве
                div
                    a.popular-articles__item(href="#")
                        .popular-articles__img(data-bg="img/main_page/article_4.jpg")
                        .popular-articles__text
                            .popular-articles__category ТЕХНОЛОГИИ
                            .popular-articles__name Битва операторов: СберМобайл против Тинькофф Мобайл
                
                
            .answers__dots.listcreditslider__dots--mobile.js-init--articles-dots--mobile
                