include ../mixins/credit-recommend

section.useful-services
    .container.tab-wrap
        h2 Полезные сервисы
        
        .useful-services-list
            a.useful-services-list__item(href='#')
                .useful-services-list__img
                    img(data-src='img/main_page/cash_stack.svg', alt="")
                .useful-services-list__name Кредитный калькулятор
            
            a.useful-services-list__item(href='#')
                .useful-services-list__img
                    img(data-src='img/main_page/mortgage.svg', alt="")
                .useful-services-list__name Ипотечный калькулятор
            
            a.useful-services-list__item(href='#')
                .useful-services-list__img
                    img(data-src='img/main_page/car.svg', alt="")
                .useful-services-list__name Автокредитный калькулятор
        
                
                