.review-item
	background-color: #fff
	margin-bottom: 15px
	padding-top: 3px
	padding-bottom: 23px
.review-item-top
	display: flex
	justify-content: space-between
	margin-bottom: 25px
	&__title
		font-size: 43px
		line-height: 45px
		font-weight: 700
		color: #1e2633
		margin-top: 5px
		margin-bottom: 26px
	&__right
		text-align: right
	&__user
		display: -webkit-box
		display: -ms-flexbox
		display: flex
		-webkit-box-align: center
		-ms-flex-align: center
		align-items: center
		.rating
			margin-right: 23px

.review-date
	color: #a6a9ae
	font-size: 12px
	line-height: 15px
	font-weight: 700

.review-user-inf
	color: #1E2633
	font-size: 12px
	line-height: 15px
	font-weight: 700
	margin-right: 25px
	span
		margin-right: 10px
		position: relative
		&:before
			content: ''
			display: block
			position: absolute
			right: -7px
			top: 5px
			background-color: #1E2633
			width: 3px
			height: 3px
			border-radius: 50%
		&:last-child
			margin-right: 0
			&:before
				display: none

.review-bank
	display: block
	text-align: right
	&__logo
		width: 129px
		display: block
		img
			display: block
			max-width: 100%
	&__name
		display: block
		font-size: 18px
		line-height: 21px
		text-align: right
		color: #1E2633
		margin-top: 9px
	&__count
		font-size: 12px
		line-height: 14px
		color: #2D64FC

	

.rating
	display: flex
	padding: 0
	margin: 0
	list-style-type: none
	&__item
		margin-right: 7px
		&:last-child
			margin-right: 0
		&.active
			svg
				fill: #FFAA00
	&__icon
		width: 14px
		height: 14px
		fill: #A6A9AE

.row-with-banner
	display: flex
	&__main
		width: calc(100% - 240px)
		padding-right: 50px
		p
			color: #1e2633;
			font-size: 14px
			line-height: 21px
	&__rigth
		width: 240px
		a
			display: block
		img
			display: block
			max-width: 100%

.review-type-servise
	color: #C0C2C6
	font-size: 12px
	line-height: 20px
	text-transform: uppercase
	font-weight: 700
	margin-top: 18px


.bank-response
	background: #FFFFFF
	border: 2px solid #F5F5F5
	border-left: none
	box-sizing: border-box
	border-radius: 10px
	box-shadow: inset 4px 0px 0px #14C200
	display: flex
	padding: 11px 29px 12px
	margin-top: 30px
	margin-bottom: 15px
	&__title
		color: #1e2633
		font-size: 18px
		font-weight: 700
		line-height: 25px
	&__logo
		width: 80px
		img
			display: block
			max-width: 100%
	&__main
		padding-left: 32px
		flex: 1
		padding-top: 9px
		p 
			color: #1e2633;
			line-height: 21px
			padding: 10px 0 11px
	&__row
		display: flex
		align-items: center
		justify-content: space-between
	&__date
		color: #a6a9ae
		font-size: 12px
		line-height: 14px
		margin-bottom: 3px
		display: none

.section-comments
	padding-top: 15px
	padding-bottom: 19px
	h2
		font-size: 25px
		line-height: 30px
		color: #1e2633
		font-weight: 800
		margin-bottom: 32px

.add-comment
	background: #FFFFFF
	border-radius: 10px
	padding: 42px 40px 40px
	margin-bottom: 20px
	&__row
		display: flex
		.input-container
			flex: 1
		.button-add
			margin-left: 28px

.button-add
	min-width: 223px

.comment-item
	background: #FFFFFF
	border-radius: 10px
	padding: 24px 40px 20px 38px
	margin-bottom: 20px
	&__row
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 7px
	&__title
		color: #1E2633
		font-size: 18px
		line-height: 22px
		font-weight: 700
	&__date
		color: #a6a9ae
		font-size: 12px
		line-height: 14px
		margin-bottom: 3px
		white-space: nowrap
	&__link
		color: #2d64fc
		font-size: 14px
		line-height: 21px
		font-weight: 400
		&.active
			color: #1e2633
			font-weight: 700
			a 
				&:hover
					color: #007bff
					border-bottom-color: transparent
		a
			cursor: pointer
			border-bottom: 1px solid transparent
			&:hover
				border-bottom-color: #007bff
	p
		font-size: 14px
		line-height: 21px
		font-weight: 400
		color: #1E2633
		&:last-of-type
			margin-bottom: 3px

.comment-item_moderator
	box-shadow: inset 4px 0px 0px #FFAA00
	.comment-item__title
		color: #FFFFFF
		background: #FFAA00
		border-radius: 3px
		padding: 0 7px
		position: relative
		left: -7px

.add-comment_answer
	padding: 28px 0 3px 0
	margin-bottom: 0
	display: none

.comment-item_answer
	margin-top: 25px
	margin-left: 3px
	padding: 32px 0 0px 25px
	border-left: 3px solid #c0c2c6	
	margin-bottom: 0
	border-radius: 0
	&:last-child
		padding-bottom: 0
		padding-bottom: 0
		margin-bottom: 11px
	&:first-child
		padding-top: 0
		margin-bottom: 0px
	p
		max-width: 913px

.add-comment_answer+.comment-item_answer
	padding-top: 0

.comment-item_answer+.comment-item_answer
	margin-top: 0
.comment-item_answer+.comment-item_answer-level-2
	margin-top: 32px

.comment-item_answer-level-2
	margin-left: 30px
	margin-top: 32px
	padding-top: 0

@media (max-width: 1024px)
	.row-with-banner__main
		padding-right: 30px

@media (max-width: 900px)
	.review-item-top__title
		font-size: 35px
		line-height: 42px
	
	.row-with-banner__main
		width: calc(100% - 180px)

	.row-with-banner__rigth
		width: 180px

	.bank-response
		flex-direction: column

	.bank-response__main
		padding: 0

	.add-comment
		padding: 29px

	.comment-item
		padding: 15px 29px

	.add-comment_answer
		padding: 15px 0 0
	.comment-item_answer
		padding: 20px 0 0 15px
	.comment-item_answer+.comment-item_answer-level-2
		margin-left: 15px
		margin-top: 15px
		padding-top: 0

@media (max-width: 767px)
	.review-item-top
		flex-direction: column-reverse
	
	.review-item-top__right
		display: block
		width: 100%

	.review-bank
		display: flex
		align-items: center
		width: 100%
		justify-content: space-between

	.review-bank__name
		font-size: 14px
		line-height: 20px
	
	.row-with-banner__main
		width: 100%
		padding: 0
	.row-with-banner__rigth
		display: none

	.row-with-banner__main p 
		color: #1e2633
		font-weight: 400

	.bank-response__main p
		color: #1e2633
		font-weight: 400
	
	.add-comment
		background-color: transparent
		padding: 0

	.add-comment__row .input-container
		width: 100%
		margin-bottom: 20px
		background-color: #fff
	.add-comment__row
		display: block
	.add-comment__row .button-add
		margin-left: 0
		display: block
		width: 100%
	.add-comment_answer
		padding: 20px 0 5px
	.bank-response__date
		display: block
		margin-bottom: 0

@media (max-width: 500px)
	.review-item-top__title
		font-size: 31px
		line-height: 31px
		font-weight: 900
		margin-bottom: 15px

	.review-item-top__user
		flex-direction: column
		align-items: flex-start

	.review-item-top__col-mob
		display: flex
		width: 100%
		align-items: center
		justify-content: space-between
		margin-top: 9px

	.review-bank__name
		margin-top: 0
		line-height: 16px
		margin-bottom: -2px

	.review-bank__text
		display: block

	.review-item-top
		margin-bottom: 16px

	.review-type-servise
		font-size: 12px
		line-height: 20px
		margin-top: 10px
		letter-spacing: 1.09px	

	.bank-response
		margin-top: 15px
		padding-left: 21px
		padding-right: 21px
		padding-bottom: 18px
		margin-bottom: 0

	.bank-response__main
		padding-left: 3px
		padding-top: 5px

	.bank-response__title
		font-size: 16px

	.bank-response__main p
		padding: 2px 0

	.review-item
		padding-bottom: 18px
		margin-bottom: 5px

	.section-comments h2
		font-size: 27px
		line-height: 30px
		margin-bottom: 23px

	.comment-item
		padding: 15px 20px 15px 19px

	.add-comment
		margin-bottom: 26px

	.comment-item_moderator .comment-item__title
		left: auto

	.comment-item__title
		font-size: 16px

	.comment-item_answer
		padding: 15px 0 0 14px
		margin-top: 10px

	.comment-item__link
		font-size: 12px

	.comment-item_answer+.comment-item_answer-level-2
		margin-left: 23px

	.add-comment_answer
		margin-bottom: 0


