.credit-request
    background: #ffffff
    box-shadow: 0 33px 49px -15px rgba(0, 38, 142, 0.26)
    border-radius: 10px

    padding: 29px 15px 40px

    &-section
        background-color: $color-clear-blue
        padding: 55px 0 45px

        @media screen and (max-width: 1000px)
            display: none

    &-head,
    &-body
        display: block
        margin: 0 auto

        width: 100%
        max-width: 613px

    &-body
        transition: .1s
            
        &-step
            display: none
            opacity: 0
            transform: translateX(-20%)
            transition: .8s

            &.active 
                display: block

            &.hide 
                opacity: 0
                transform: translateX(20%)
            
            &.show
                opacity: 1
                transform: translateX(0%)
           
                &.hide 
                    opacity: 0
                    transform: translateX(20%)

            &--2
                .credit-request-row--checkboxes
                    margin-top: 7px

    & &-steps
        margin: 7px 0 27px

    &-steps
        display: flex
        flex-wrap: wrap
        align-items: flex-start
        justify-content: space-between

    &-step
        display: flex
        align-items: center

        color: #c0c2c6
        font-size: 14px
        line-height: normal

        transition-property: color
        transition-duration: $transition-duration

        @media (max-width: 768px)
            heigth: auto !important 

        &.active
            color: $color-clear-blue

        &.current
            color: $color-dark

        &-image
            &__icon
                width: 13px
                height: 13px
                fill: currentColor

        & &-title
            flex: 1
            margin: 0 0 0 4px
            position: relative
            top: 1px

        &-title
            min-width: 182px

    &-row
        &--selects
            display: flex
            flex-wrap: wrap
            justify-content: space-between

            & > *
                width: calc(50% - 29px / 2)

        &--child-m-10
            & > *
                margin: 10px 0

        &--child-m-15
            & > *
                margin: 15px 0

        &--checkboxes
            display: flex
            flex-direction: column
            align-items: flex-start

            & > *
                margin: 5px 0

        &--button
            margin: 20px 0 0
            display: flex
            flex-direction: column

            & > *
                margin: 5px 0

        &--have-credit
            margin-bottom: -8px

    &-header
        color: $color-dark
        font-weight: $font-weight-extra-bold
        font-size: 37px

    &-success
        color: $color-dark
        text-align: center

        & &-image
            margin: 0 auto

        &-image
            width: 185px
            height: 185px

            img
                width: 100%
                height: 100%

        & &-header
            margin: 19px 0 0

        &-header
            font-weight: $font-weight-extra-bold
            font-size: 25px

        & &-info
            margin: 8px 0 0

        &-info
            font-size: 18px
            font-weight: 400
