.contacts-head
    background-color: #fff
    padding: 18px 0 35px
    h1
        color: #1e2633
        font-size: 44px
        font-weight: 900
        line-height: 45px

.contacts__form
    padding: 33px 0
    padding-bottom: 40px
    &-content
        display: flex
        justify-content: space-between
    &-title
        color: #1e2633
        font-size: 37px
        display: block
        margin-bottom: 30px
        font-weight: 900

.contacts__list
    max-width: 293px
    width: 30%
    ul 
        margin: 0
        padding: 0
    li 
        list-style: none
    &-item
        display: flex
        justify-content: flex-start
        align-items: center
        border-bottom: 1px solid #dfdfdf
        padding-bottom: 26px
        margin-bottom: 26px
        &:last-of-type
            border: none
    &-icon
        margin-right: 16px
    &-info
        span 
            display: block
            margin-bottom: 5px
            color: #1e2633
            font-size: 18px
            font-weight: 700
        a 
            font-size: 18px
    
.contacts__form
    &-success
        border-radius: 10px
        background-color: #ffffff
        width: 100%
        padding: 40px 40px 20px
        min-height: 450px
        display: flex
        display: none
        justify-content: center
        align-items: center
        flex-direction: column
        color: #1e2633
        span 
            font-size: 25px
            margin: 30px 0 10px
            font-weight: 700
        p 
            font-size: 18px
    &-form
        width: calc(100% - 67px)
        max-width: 780px
    form 
        border-radius: 10px
        background-color: #ffffff
        width: 100%
        padding: 40px 40px 20px
    &-row
        position: relative
        margin-bottom: 20px
        width: 100%
        label
            width: 100%
    &-upload
        display: flex
        justify-content: flex-start
        align-items: center
        margin-bottom: 30px
        span.upload-text
            margin-left: 20px
            color: #c0c2c6
            font-size: 14px
        .button--secondary
            font-size: 14px
            padding: 9px 23px 10px
    &-mail, &-captcha
        margin-bottom: 30px
    &-button
        label
            width: 200px
            border-radius: 5px

#contacts-upload
   opacity: 0
   position: absolute
   z-index: -1
.contacts__form-upload
    .button--line
        width: auto
        padding: 9px 23px 10px

@media screen and (max-width: 767px)
    .contacts-head
        padding: 16px 0
        h1 
            font-size: 31px
            line-height: 31px
    .contacts__form, .contacts__form-success
        padding: 20px 0
        .textarea-max-lenght
            top: 10px
        &-content
            flex-direction: column
        &-title
            font-size: 27px
        &-form
            background-color: #fff
            padding: 25px 10px
            form 
                padding: 0
        &-upload
            display: block
            text-align: center
            .button--secondary
                max-width: 300px
                width: 100%
            span.upload-text 
                margin-top: 15px
                margin-left: 0
                display: block
        &-captcha
            img 
                max-width: 300px
                width: 100%
        &-button 
            max-width: 500px
            width: 100%
            label
                width: 300px
                height: 64px
            .button--primary
                font-size: 24px
                padding: 20px 63px 20px
                line-height: 24px
                width: 100%
    .contacts__list, .contacts__form-form
        max-width: 100%
        width: 100%
        padding-left: 10px
        padding-right: 10px
    .contacts__form-success
        text-align: center
        padding: 20px
        min-height: 225px
        span 
            font-size: 22px
            margin-top: 25px
        p 
            font-size: 16px
    .contacts__form
        padding-bottom: 0
    .contacts__form-title
        margin-bottom: 10px
    .contacts__list-info span
        font-size: 16px
    .contacts__list-item:last-of-type
        margin-bottom: 0
    .contacts__form-form, .contacts__form-success-form
        padding: 15px 10px
        border-bottom: 1px solid #f5f5f5
    .contacts__form
        .container 
            padding: 0
    .contacts__form-row
        .textarea
            padding-top: 7px
        .input-container
            padding-top: 30px
            .input
                font-size: 21px
        .input-container.active .input-placeholder
            top: 10px
        .input-container .input-placeholder
            top: 25px

