.useful-services
    background: #f5f5f5
    position: relative
    padding-bottom: 16px
    padding-top: 30px
    h2
        font-size: 37px
        line-height: 42px
        color: #152c51
        font-weight: 900
.useful-services-list
    padding: 35px 0 0 0
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    &__item
        width: calc(33.3333% - 20px)
        background: #FFF
        border-radius: 10px
        padding: 20px 29px 15px 29px
        margin-bottom: 20px
        &:hover
            text-decoration: none
            .useful-services-list__name
                text-decoration: underline
    &__img
        display: inline-block
        vertical-align: middle
        width: 64px
        padding-top: 5px
        padding-bottom: 3px
        img
            display: block
            max-width: 100%
    &__name
        display: inline-block
        vertical-align: middle
        margin-left: -70px
        padding-left: 88px
        font-size: 18px
        line-height: 23px
        font-weight: 700
        color: #2d64fc
        text-decoration: none
        width: 100%
        padding-bottom: 4px
        max-width: 270px
        
@media (max-width: 1000px)
    .useful-services-list
        &__item
            width: calc(33.3333% - 15px)
        &__name
            font-size: 16px
            line-height: 21px
            margin-left: -60px
            padding-left: 70px
        &__img
            width: 54px
            
@media (max-width: 767px)    
    .useful-services
        padding-top: 17px
        padding-bottom: 15px
        h2
            font-size: 27px
            line-height: 27px
    .useful-services-list
        &__item
            width: calc(50% - 5px)
            margin-bottom: 10px
            
@media (max-width: 550px)    
    
    .useful-services-list
        padding-top: 25px
        &__item
            width: 100%;
            padding-left: 15px
            padding-right: 20px
            margin-bottom: 10px
            padding-top: 10px
            padding-bottom: 10px
        &__img
            width: 64px
        &__name
            margin-left: -70px
            padding-left: 86px
    
