.atm-filter
	display: flex
	align-items: center
	padding: 20px 0 24px
	&__switcher
		margin-right: 20px
		.common-tab-group
			background: #fff
		.common-tab
			min-width: 118px
		.common-tabs-header
			display: none
		.common-tab-block
			padding-top: 8px
			padding-bottom: 9px
		.common-tab-native-radio:checked+.common-tab-block
			border-color: #2d64fc
.map-checkbox
	margin-right: 17px
	&:last-child
		margin-right: 0			
.map-wrap
	display: flex
	border: 1px solid #dfdfdf
.map
	width: calc(100% - 357px)
.map-list-wrap
	display: none;
	width: 357px
	overflow: hidden
	&.active-tab
		display: block
.map-list
	height: 700px
	margin-right: -17px
	overflow: auto
	.tablemax-item--address
		width: 100%
		padding-right: 0
		margin-top: 10px
.map-list__inner
	border: 3px solid transparent
	padding: 17px 15px 17px 17px
.map-list__item
	background-color: #fff
	border-top: 1px solid #dfdfdf
	& + &
		margin-top: -4px
	&.active, &:hover 
		position: relative
		.map-list__inner
			box-shadow: 0 10px 10px rgba(45, 100, 252, 0.25);
			border-color: #2d64fc;
			background-color: #fff;
	&:hover
		.atm-info
			display: flex
	&:first-child
		border-top: 0
	.tablemax__img 
		padding: 0
		width: 100%
		display: flex;
		justify-content: space-between
	.tablemax__img figure
		position: static
		height: 50px;
		display: flex
		align-items: center
		img
			width: auto
			max-width: 100%
			margin-top: 0
			max-height: 46px
	.tablemax-item--reviews
		margin-top: 12px
		.star-rating svg
			margin-right: 0
			margin-left: 7px
		.bank-reviews__link
			margin-top: 6px
	.map-list__item .tablemax-item--address
		width: 100%
		margin-top: 11px
		padding-right: 0
	.tablemax-item--address-note
		display: flex
		align-items: center
		i
			margin-right: 6px
			flex-srink: 0
			svg
				flex-shrink: 0
				width: 13px;
				height: 13px;
		span
			display: inline-block
			padding-top: 2px
	.tablemax-item--phone
		padding: 0
		margin-top: 15px
		width: 100%
		display: flex
		> div
			margin: 0
			width: 50%
			padding-right: 15px
			&:last-child
				padding-right: 0
	.info-bb
		width: 100%
		margin: 16px 0 0
.bank-map-reviews 
	text-align: right
.tablemax__name
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	margin-top: 25px
.atm-info
	display: none;
	margin: 15px -14px -17px -17px
	background: #f5f5f5;
	padding: 12px 17px 15px
	&__item
		width: 50%
		padding-right: 15px
	&__title
		font-size: 12px
		font-weight: 700
		line-height: 17px
	&__value
		font-size: 12px
		font-weight: 700
		line-height: 17px
.reviews-atm
	padding-top: 27px
.show-mob
	display: none
.show-contacts, .gmnoprint
	display: none
@media (max-width: 1023px)		
	.map-list-wrap
		width:: 320px
	.map
		width: calc(100% - 320px)
	.tablemax-item__address, .tablemax-item--phone a
		font-size: 16px
@media (max-width: 992px)
	.map-list__item
		.tablemax-item--address, .tablemax-item--phone
			padding-left: 0	
@media (max-width: 767px)
	.map-wrap
		flex-direction: column-reverse;
		border: 0
	.map-list-wrap
		width:: calc(100% + 20px)
		margin: -65px -10px 0
		position: relative
		z-index: 1
	.map
		width: calc(100% + 20px)
		margin-left: -10px
		margin-right: -10px
		height: 306px
		position: relative
		z-index: 0
	.map-list
		height: auto
		margin: 0
	.map-list__item
		width: 292px
		padding: 0 5px 15px
		border: 0
		background: none
	.map-list__inner
		width: 272px
		background: #fff
		box-shadow: 0 15px 20px -10px rgba(110, 135, 204, 0.51);
		border-radius: 10px;
		overflow: hidden
		border-color: #fff
	.map-list__item.active .map-list__inner, .map-list__item:hover .map-list__inner
		border-color: #fff
	.map-list__item .tablemax__img
		height: 41px	
	.map-list__item .tablemax__img figure
		width: 109px
		margin-right: 20px
	.map-list__item .tablemax-item--reviews
		position: static
		margin-top: 0
	.atm-section .credit-info-row .credit-info-left
		width: 100%
	.show-mob
		display: block
	.credit-info-header .show-mob
		display: inline
	.hide-mob
		display: none
	.atm-section
		.credit-info
			padding-top: 1px
		.credit-info-description
			font-size: 12px;
			line-height: 18px;
			padding-right: 5px
	.atm-filter
		flex-wrap: wrap
		padding: 0 10px 14px
		background: #fff
		margin: 0 -10px
	.atm-filter__switcher 
		width: 100%
		margin-right: 0;
		margin-bottom: 14px
		.common-tabs-container
			max-width: 300px
	.map-list__item .tablemax-item--address
		padding-right: 5px
		margin-top: 22px;
	.tablemax__name
		font-size: 16px;
		line-height: 20px;
		margin-top: 10px;
	.show-contacts
		display: flex;
		align-items: center
		color: #2d64fc;
		margin-top: 8px
		font-size: 12px;		
		svg
			fill: #c0c2c6
			margin-left: 6px
	.atm-info
		display: flex
		padding-bottom: 13px

	.map-list__item .tablemax__img figure
		height: 36px
		img 
			max-height: 100%
	.map-list__inner
		padding-top: 13px
@media (max-width: 600px)
	.map-list__item .tablemax__img > div.tablemax-item--reviews
		max-width: calc(100% - 129px);	
@media (max-width: 480px)
	.atm-filter__switcher .common-tabs-container
		max-width: 100%

@media (max-width: 375px)
	.map-checkbox
		width: 100%
		margin-right: 0
		& + &
			margin-top: 8px