.popup.popup-review
    .popup__container
        .container
            .popup__header
                div.h2 Оставить отзыв
                .popup__close.js__close-popup
                    +add-svg({icon: "cross-small"})

            form
                .popup__content.style-scroll.js__city-search-content                   
                    .reviews-filter__row.popup-review__row
                        .reviews-filter__col
                            +add-input({
                                placeholder: "Как вас зовут",
                                name: "name",
                                value: "Кристина"
                            })
                        .reviews-filter__col.popup-review__checkbox
                            +add-custom-checkbox({
                                id: "add-review-checkbox-1",
                                name: "bank-client",
                                label: "Я клиент(-ка) банка"
                            })
                    .reviews-filter__row.popup-review__row
                        .reviews-filter__col
                            +add-select-common({placeholder: "Город", name: "value2"})
                        .reviews-filter__col
                            +add-select-common({placeholder: "Банк", name: "value2"})
                        .reviews-filter__col
                            +add-select-common({placeholder: "Услуга", name: "value2"})

                    .popup-review__row
                        span.textarea-max-lenght Осталось 150 символов
                        +add-input({
                            placeholder: "Заголовок",
                            name: "name",
                            value: "Меня обманули в этом банке!"
                        })

                    .popup-review__row
                        span.textarea-max-lenght Осталось 150 символов
                        +add-textarea({
                            placeholder: "Текст отзыва",
                            name: "name",
                            value: "Ситуация началась с того..."
                        })
                    .popup-review__row                        
                        +add-textarea({
                            placeholder: "Информация только для банка",
                            name: "name",
                            value: "Сюда можно писать паспортные данные, реквизиты, контакты. Этот текст не увидят другие пользователи. ",
                            inputClass: "textarea-inf",
                            maxLenght: '150'
                        })
                    
                    .reviews-filter__row.popup-review__row
                        .reviews-filter__col
                            .custom-select-container.js-custom-select-rating.active
                                .custom-select-placeholder
                                    span Ваша оценка
                                .custom-select-arrow.js-init--custom-select-common-trigger
                                    svg.custom-select-arrow__icon
                                        use(xlink:href="svg/sprite.svg#svg--arrow")
                                .custom-select-rating__title
                                    div.custom-select-rating__item
                                        .star-rating
                                            +add-svg({icon: "star", class: "active"})
                                            +add-svg({icon: "star", class: "active"})
                                            +add-svg({icon: "star"})
                                            +add-svg({icon: "star"})
                                            +add-svg({icon: "star"})
                                        | Плохо
                                ul.custom-select-rating
                                    li.custom-select-rating__item 
                                        .star-rating
                                            +add-svg({icon: "star", class: "active"})
                                            +add-svg({icon: "star"})
                                            +add-svg({icon: "star"})
                                            +add-svg({icon: "star"})
                                            +add-svg({icon: "star"})
                                        | Очень плохо
                                    li.custom-select-rating__item.active 
                                        .star-rating
                                            +add-svg({icon: "star", class: "active"})
                                            +add-svg({icon: "star", class: "active"})
                                            +add-svg({icon: "star"})
                                            +add-svg({icon: "star"})
                                            +add-svg({icon: "star"})
                                        | Плохо
                                    li.custom-select-rating__item  
                                        .star-rating
                                            +add-svg({icon: "star", class: "active"})
                                            +add-svg({icon: "star", class: "active"})
                                            +add-svg({icon: "star", class: "active"})
                                            +add-svg({icon: "star"})
                                            +add-svg({icon: "star"})
                                        | Нормально
                                    li.custom-select-rating__item  
                                        .star-rating
                                            +add-svg({icon: "star", class: "active"})
                                            +add-svg({icon: "star", class: "active"})
                                            +add-svg({icon: "star",class: "active"})
                                            +add-svg({icon: "star", class: "active"})
                                            +add-svg({icon: "star"})
                                        | Хорошо
                                    li.custom-select-rating__item  
                                        .star-rating
                                            +add-svg({icon: "star", class: "active"})
                                            +add-svg({icon: "star", class: "active"})
                                            +add-svg({icon: "star", class: "active"})
                                            +add-svg({icon: "star", class: "active"})
                                            +add-svg({icon: "star", class: "active"})
                                        | Отлично

                    .popup-review__row.popup-review__checkbox
                        +add-custom-checkbox({
                            id: "add-review-checkbox-2",
                            name: "bank-client-2",
                            label: "Я согласен(-на) с правилами публикации отзывов и правилами оценки отзыва"
                        })

                .popup-review__btn
                    +add-button({text: "Отправить", types: ["primary"], isSubmit: true})
                    +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup"})


//- Search
.popup.popup-searchbl
    .popup__container
        .container
            .popup__header
                div.h2 Поиск по сайту
                .popup__close.js__close-popup
                    +add-svg({icon: "cross-small"})
                
            .popup__content
                //- Search
                form.popup__search
                    +add-input({
                        placeholder: "Введите название",
                        name: "name"
                    })
                    button(type="submit")
                        +add-svg({icon: "search"})
                
                //- Content
                .popup-city__content.popup-search__content.style-scroll
                    .popup-search__list

                        //- Item
                        .popup-search__item
                            a 
                                span Альфа-Банк
                                | купил долю Каспи по выгодной цене
                            b НОВОСТИ
                            p 
                                | Мы узнали у создательницы телеграм-канала 
                                span «Альфа-банк» 
                                | Яны Лешкович, сколько здесь можно зарабатывать и на что придется потратиться. 

                        //- Item
                        .popup-search__item
                            a 
                                span Альфа-Банк
                                | купил долю Каспи по выгодной цене
                            b НОВОСТИ
                            p 
                                | Мы узнали у создательницы телеграм-канала 
                                span «Альфа-банк» 
                                | Яны Лешкович, сколько здесь можно зарабатывать и на что придется потратиться. 


                        //- Item
                        .popup-search__item
                            a 
                                span Альфа-Банк
                                | купил долю Каспи по выгодной цене
                            b НОВОСТИ
                            p 
                                | Мы узнали у создательницы телеграм-канала 
                                span «Альфа-банк» 
                                | Яны Лешкович, сколько здесь можно зарабатывать и на что придется потратиться. 

                        //- Item
                        .popup-search__item
                            a 
                                span Альфа-Банк
                                | купил долю Каспи по выгодной цене
                            b НОВОСТИ
                            p 
                                | Мы узнали у создательницы телеграм-канала 
                                span «Альфа-банк» 
                                | Яны Лешкович, сколько здесь можно зарабатывать и на что придется потратиться. 


                //- Footer
                .popup__footer
                    +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup"})


//- Login
.popup.popup-login.popup--mobile-full
    .popup__container
        .container
            .popup__header
                div.h2 Мы вас не узнали
                .popup__close.js__close-popup
                    +add-svg({icon: "cross-small"})
                
            .popup__content.style-scroll.popup__content-btnform
                .fornlog
                    .fornlog__tab
                        .common-tab-group
                            .common-tab
                                input#log-tab-select_radio_0.common-tab-native-radio.js__tab-form(type='radio', name='log-tab-select', value='log-tab-select_data_0', checked='', data-form-check="form-login")
                                |                                         
                                label.common-tab-block(for='log-tab-select_radio_0') Вход в аккаунт
                            |                                     
                            .common-tab
                                input#log-tab-select_radio_1.common-tab-native-radio.js__tab-form(type='radio', name='log-tab-select', value='log-tab-select_data_1', data-form-check="form-reg")
                                |                                         
                                label.common-tab-block(for='log-tab-select_radio_1') Регистрация

                    form.fornlog__content.header-form__login.active(data-form-tab="form-login")
                        .social-link
                            a(href="#vk").social-link__item
                                +add-svg({icon: "auth-vk"})
                            a(href="#mail").social-link__item
                                +add-svg({icon: "auth-mail"})
                            a(href="#facebook").social-link__item
                                +add-svg({icon: "auth-fb"})
                            a(href="#google").social-link__item
                                +add-svg({icon: "auth-google"})

                        .form-input
                            +add-input({
                                placeholder: "Электронная почта",
                                name: "log-mail"
                            })

                        .form-input
                            .group
                                +add-input({
                                    placeholder: "Пароль",
                                    name: "log-pass"
                                })

                                a.js__open-repas(href="#") Забыли?

                        +add-button({text: "Войти", types: ["primary"], isSubmit: true})
                    
                    form.fornlog__content.header-form__reg(data-form-tab="form-reg")
                        .social-link
                            a(href="#vk").social-link__item
                                +add-svg({icon: "auth-vk"})
                            a(href="#mail").social-link__item
                                +add-svg({icon: "auth-mail"})
                            a(href="#facebook").social-link__item
                                +add-svg({icon: "auth-fb"})
                            a(href="#google").social-link__item
                                +add-svg({icon: "auth-google"})

                        .form-input
                            +add-input({
                                placeholder: "Электронная почта",
                                name: "log-mail"
                            })

                        .form-input
                            .group
                                +add-input({
                                    placeholder: "Пароль",
                                    name: "log-pass"
                                })

                                a.js__open-repas(href="#") Забыли?

                        +add-button({text: "Зарегистрироваться", types: ["primary"], isSubmit: true})

                    //- Footer
                    .popup__footer.popup__footer--mobile
                        +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup"})

                //- Footer
                .popup__footer.popup__footer--desktop
                    +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup"})


//- RePas
.popup.popup-repas.popup--mobile-full
    .popup__container
        .container
            .popup__header
                div.h2 Восстановление пароля
                .popup__close.js__close-popup
                    +add-svg({icon: "cross-small"})
                
            .popup__content.popup__content-btnform
                .fornlog
                    form.fornlog__content
                        .form-input
                            +add-input({
                                placeholder: "Электронная почта",
                                name: "log-mail"
                            })

                        p.fornlog__text На этот адрес электронной почты придет письмо с ссылкой для сброса пароля

                        +add-button({text: "Восстановить", types: ["primary"], isSubmit: true})
                    //- Footer
                    .popup__footer.popup__footer--mobile
                        +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup"})
                //- Footer
                .popup__footer.popup__footer--desktop
                    +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup"})

//- RePas
.popup.popup-newpas.popup--mobile-full
    .popup__container
        .container
            .popup__header
                div.h2 Придумайте новый пароль
                .popup__close.js__close-popup
                    +add-svg({icon: "cross-small"})
                
            .popup__content.popup__content-btnform
                .fornlog
                    form.fornlog__content
                        .form-input
                            +add-input({
                                placeholder: "Новый пароль",
                                name: "log-newpas"
                            })

                        p.fornlog__text Латинские буквы и цифры. Не менее 6 символов

                        .form-input
                            +add-input({
                                placeholder: "Повторите пароль",
                                name: "log-renewpas"
                            })

                        +add-button({text: "Сменить пароль", types: ["primary"], isSubmit: true})
                //- Footer
                //- .popup__footer
                //-     +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup"})
