//- querycr
.popup.popup-querycr.popup-ask-question-mob.popup--fixed
    .popup__container
        .container
            .popup__header
                div.h2 Задать вопрос по кредитам
                .popup__close.js__close-popup
                    +add-svg({icon: "cross-small"})
                
            .popup__content.style-scroll
                form.form-extsel.js__form-block
                    .form-extsel__item
                        span.textarea-max-lenght Осталось 150 символов
                        +add-input({
                            placeholder: "Заголовок",
                            name: "name",
                            required: true,
                            className: "js__input-one"
                        })

                    .form-extsel__item
                        span.textarea-max-lenght Осталось 150 символов
                        .block-textarea
                            span  Текст сообщения
                            textarea(name="", class="js__textarea").js__input-two


                    .lcreviews__form-block-hidden.active
                        +add-input({
                            placeholder: "Ваш email",
                            name: "name",
                            required: true
                        })

                        +add-custom-checkbox({name: "option12ewdagf3", id: "checkboxOption234awdawd", label: "Вопрос виден другим пользователям"})   


                    .form-extsel__item.form-extsel__item--btn
                        +add-button({text: "Отправить", types: ["primary"], isSubmit: true})
                    
                    .form-extsel__item.form-extsel__item--close.js__close-popup
                        +add-button({text: "Закрыть", types: ["primary", "line"]})

                    .form-extsel__item
                        p Ответ пришлем на почту не позже 
                        p 1-3 дней. Без спама.