.popup.popup-city
    .popup__container
        .container
            .popup__header
                div.h2 Выбор города
                .popup__close.js__close-popup
                    +add-svg({icon: "cross-small"})
                
            .popup__content
                form.popup__search.js__city-search-root
                    +add-input({
                        placeholder: "Введите название",
                        name: "name",
                        inputClass: "js__city-search-input"
                    })
                    button(type="submit")
                        +add-svg({icon: "search"})
                
                .popup-city__content.js__city-search-content.style-scroll
                    .popup-city__list
                        .popup-city__item
                            a(href="#").js__city-search-items
                                span Алматы
                            a(href="#").js__city-search-items
                                span Нур-Султан (Астана)

                        .popup-city__item
                            span А
                            a(href="#").js__city-search-items Атырау
                            a(href="#").js__city-search-items Актобе
                            a(href="#").js__city-search-items Актау
                            a(href="#").js__city-search-items Арысь
                            a(href="#").js__city-search-items Аксу
                            a(href="#").js__city-search-items Аягоз
                            a(href="#").js__city-search-items Алтай
                            a(href="#").js__city-search-items Аксай
                            a(href="#").js__city-search-items Аральск
                            a(href="#").js__city-search-items Атбасар
                            a(href="#").js__city-search-items Абай
                            a(href="#").js__city-search-items Аркалык
                            a(href="#").js__city-search-items Алга
                            a(href="#").js__city-search-items Акколь

                        .popup-city__item
                            span Б
                            a(href="#").js__city-search-items Балхаш
                            a(href="#").js__city-search-items Байконур (Байконыр)
                            a(href="#").js__city-search-items Булаево
                    
                        .popup-city__item
                            span Д
                            a(href="#").js__city-search-items Державинск
                        
                        .popup-city__item
                            span Е
                            a(href="#").js__city-search-items Есик
                            a(href="#").js__city-search-items Есиль
                            a(href="#").js__city-search-items Ерейментау
                        
                        .popup-city__item
                            span Ж
                            a(href="#").js__city-search-items Жезказган
                            a(href="#").js__city-search-items Жанаозен
                            a(href="#").js__city-search-items Жаркент
                            a(href="#").js__city-search-items Житикара
                            a(href="#").js__city-search-items Жетысай
                            a(href="#").js__city-search-items Жанатас
                            a(href="#").js__city-search-items Жем
                        
                        .popup-city__item
                            span З
                            a(href="#").js__city-search-items Зайсан
                        
                        .popup-city__item
                            span К
                            a(href="#").js__city-search-items Костанай
                            a(href="#").js__city-search-items Кызылорда
                            a(href="#").js__city-search-items Кокшетау
                            a(href="#").js__city-search-items Кентау
                            a(href="#").js__city-search-items Каскелен
                            a(href="#").js__city-search-items Кульсары
                            a(href="#").js__city-search-items Капчагай
                            a(href="#").js__city-search-items Кандыагаш
                            a(href="#").js__city-search-items Каратау
                            a(href="#").js__city-search-items Курчатов
                            a(href="#").js__city-search-items Каркаралинск
                            a(href="#").js__city-search-items Каражал
                            a(href="#").js__city-search-items Казалинск
                        
                        .popup-city__item
                            span Л
                            a(href="#").js__city-search-items Лисаковск
                            a(href="#").js__city-search-items Ленгер
                        
                        .popup-city__item
                            span М
                            a(href="#").js__city-search-items Макинск
                            a(href="#").js__city-search-items Мамлютка
                        
                        .popup-city__item
                            span П
                            a(href="#").js__city-search-items Павлодар
                        
                        .popup-city__item
                            span Р
                            a(href="#").js__city-search-items Рудный
                            a(href="#").js__city-search-items Риддер
                            a(href="#").js__city-search-items Приозёрск
                        
                        .popup-city__item
                            span С
                            a(href="#").js__city-search-items Семей
                            a(href="#").js__city-search-items Сатпаев
                            a(href="#").js__city-search-items Сарань
                            a(href="#").js__city-search-items Сарыагаш
                            a(href="#").js__city-search-items Сарканд
                            a(href="#").js__city-search-items Серебрянск
                            a(href="#").js__city-search-items Сергеевка
                            a(href="#").js__city-search-items Степняк
                    
                        .popup-city__item
                            span Т
                            a(href="#").js__city-search-items Тараз
                            a(href="#").js__city-search-items Темиртау
                            a(href="#").js__city-search-items Туркестан
                            a(href="#").js__city-search-items Талдыкорган
                            a(href="#").js__city-search-items Талгар
                            a(href="#").js__city-search-items Текели
                            a(href="#").js__city-search-items Тайынша
                            a(href="#").js__city-search-items Темир
                        
                        .popup-city__item
                            span У
                            a(href="#").js__city-search-items Усть-Каменогорск
                            a(href="#").js__city-search-items Уральск
                            a(href="#").js__city-search-items Ушарал
                        
                        .popup-city__item
                            span Х
                            a(href="#").js__city-search-items Хромтау
                            
                        .popup-city__item
                            span Ш
                            a(href="#").js__city-search-items Шахтинск
                            a(href="#").js__city-search-items Шу
                            a(href="#").js__city-search-items Шардара
                            a(href="#").js__city-search-items Шалкар
                            a(href="#").js__city-search-items Шемонаиха
                            a(href="#").js__city-search-items Шар
                            
                        .popup-city__item
                            span Щ
                            a(href="#").js__city-search-items Щучинск
                            
                        .popup-city__item
                            span Э
                            a(href="#").js__city-search-items Экибастуз
                            a(href="#").js__city-search-items Эмба

                .popup__footer
                    +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup"})


//- Search
.popup.popup-searchbl
    .popup__container
        .container
            .popup__header
                div.h2 Поиск по сайту
                .popup__close.js__close-popup
                    +add-svg({icon: "cross-small"})
                
            .popup__content
                //- Search
                form.popup__search
                    +add-input({
                        placeholder: "Введите название",
                        name: "name"
                    })
                    button(type="submit")
                        +add-svg({icon: "search"})
                
                //- Content
                .popup-city__content.popup-search__content.style-scroll
                    .popup-search__list

                        //- Item
                        .popup-search__item
                            a 
                                span Альфа-Банк
                                | купил долю Каспи по выгодной цене
                            b НОВОСТИ
                            p 
                                | Мы узнали у создательницы телеграм-канала 
                                span «Альфа-банк» 
                                | Яны Лешкович, сколько здесь можно зарабатывать и на что придется потратиться. 

                        //- Item
                        .popup-search__item
                            a 
                                span Альфа-Банк
                                | купил долю Каспи по выгодной цене
                            b НОВОСТИ
                            p 
                                | Мы узнали у создательницы телеграм-канала 
                                span «Альфа-банк» 
                                | Яны Лешкович, сколько здесь можно зарабатывать и на что придется потратиться. 


                        //- Item
                        .popup-search__item
                            a 
                                span Альфа-Банк
                                | купил долю Каспи по выгодной цене
                            b НОВОСТИ
                            p 
                                | Мы узнали у создательницы телеграм-канала 
                                span «Альфа-банк» 
                                | Яны Лешкович, сколько здесь можно зарабатывать и на что придется потратиться. 

                        //- Item
                        .popup-search__item
                            a 
                                span Альфа-Банк
                                | купил долю Каспи по выгодной цене
                            b НОВОСТИ
                            p 
                                | Мы узнали у создательницы телеграм-канала 
                                span «Альфа-банк» 
                                | Яны Лешкович, сколько здесь можно зарабатывать и на что придется потратиться. 


                //- Footer
                .popup__footer
                    +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup"})


//- Login
.popup.popup-login.popup--mobile-full
    .popup__container
        .container
            .popup__header
                div.h2 Мы вас не узнали
                .popup__close.js__close-popup
                    +add-svg({icon: "cross-small"})
                
            .popup__content.style-scroll.popup__content-btnform
                .fornlog
                    .fornlog__tab
                        .common-tab-group
                            .common-tab
                                input#log-tab-select_radio_0.common-tab-native-radio.js__tab-form(type='radio', name='log-tab-select', value='log-tab-select_data_0', checked='', data-form-check="form-login")
                                |                                         
                                label.common-tab-block(for='log-tab-select_radio_0') Вход в аккаунт
                            |                                     
                            .common-tab
                                input#log-tab-select_radio_1.common-tab-native-radio.js__tab-form(type='radio', name='log-tab-select', value='log-tab-select_data_1', data-form-check="form-reg")
                                |                                         
                                label.common-tab-block(for='log-tab-select_radio_1') Регистрация

                    form.fornlog__content.header-form__login.active(data-form-tab="form-login")
                        .social-link
                            a(href="#vk").social-link__item
                                +add-svg({icon: "auth-vk"})
                            a(href="#mail").social-link__item
                                +add-svg({icon: "auth-mail"})
                            a(href="#facebook").social-link__item
                                +add-svg({icon: "auth-fb"})
                            a(href="#google").social-link__item
                                +add-svg({icon: "auth-google"})

                        .form-input
                            +add-input({
                                placeholder: "Электронная почта",
                                name: "log-mail"
                            })

                        .form-input
                            .group
                                +add-input({
                                    placeholder: "Пароль",
                                    name: "log-pass"
                                })

                                a.js__open-repas(href="#") Забыли?

                        +add-button({text: "Войти", types: ["primary"], isSubmit: true})
                    
                    form.fornlog__content.header-form__reg(data-form-tab="form-reg")
                        .social-link
                            a(href="#vk").social-link__item
                                +add-svg({icon: "auth-vk"})
                            a(href="#mail").social-link__item
                                +add-svg({icon: "auth-mail"})
                            a(href="#facebook").social-link__item
                                +add-svg({icon: "auth-fb"})
                            a(href="#google").social-link__item
                                +add-svg({icon: "auth-google"})

                        .form-input
                            +add-input({
                                placeholder: "Электронная почта",
                                name: "log-mail"
                            })

                        .form-input
                            .group
                                +add-input({
                                    placeholder: "Пароль",
                                    name: "log-pass"
                                })

                                a.js__open-repas(href="#") Забыли?

                        +add-button({text: "Зарегистрироваться", types: ["primary"], isSubmit: true})

                    //- Footer
                    .popup__footer.popup__footer--mobile
                        +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup"})

                //- Footer
                .popup__footer.popup__footer--desktop
                    +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup"})


//- RePas
.popup.popup-repas.popup--mobile-full
    .popup__container
        .container
            .popup__header
                div.h2 Восстановление пароля
                .popup__close.js__close-popup
                    +add-svg({icon: "cross-small"})
                
            .popup__content.popup__content-btnform
                .fornlog
                    form.fornlog__content
                        .form-input
                            +add-input({
                                placeholder: "Электронная почта",
                                name: "log-mail"
                            })

                        p.fornlog__text На этот адрес электронной почты придет письмо с ссылкой для сброса пароля

                        +add-button({text: "Восстановить", types: ["primary"], isSubmit: true})
                    //- Footer
                    .popup__footer.popup__footer--mobile
                        +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup"})
                //- Footer
                .popup__footer.popup__footer--desktop
                    +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup"})

//- RePas
.popup.popup-newpas.popup--mobile-full
    .popup__container
        .container
            .popup__header
                div.h2 Придумайте новый пароль
                .popup__close.js__close-popup
                    +add-svg({icon: "cross-small"})
                
            .popup__content.popup__content-btnform
                .fornlog
                    form.fornlog__content
                        .form-input
                            +add-input({
                                placeholder: "Новый пароль",
                                name: "log-newpas"
                            })

                        p.fornlog__text Латинские буквы и цифры. Не менее 6 символов

                        .form-input
                            +add-input({
                                placeholder: "Повторите пароль",
                                name: "log-renewpas"
                            })

                        +add-button({text: "Сменить пароль", types: ["primary"], isSubmit: true})
                //- Footer
                //- .popup__footer
                //-     +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup"})
