//- RePas
.popup.popup-credit.popup--mobile-full
    .popup__container
        .container
            .popup__header
                div.h2 Онлайн-заявка на кредит
                .popup__close.js__close-popup
                    +add-svg({icon: "cross-small"})
                
            .popup__content.popup__content-btnform
                //- Content
                .popup-credit__content.style-scroll
                    .credit-request-section
                        form(action="#" data-initial-tab-index="0").credit-request.js-init--credit-request
                            .credit-request-head
                                //- h2.credit-request-header Онлайн заявка на кредит
                                .credit-request-steps
                                    .credit-request-step.current(data-listen-tab-index="0")
                                        .credit-request-step-image
                                            +add-svg({class: "credit-request-step-image__icon", icon: "check"})

                                        .credit-request-step-title Кредитная информация

                                    .credit-request-step(data-listen-tab-index="1")
                                        .credit-request-step-image
                                            +add-svg({class: "credit-request-step-image__icon", icon: "check"})

                                        .credit-request-step-title Персональные данные

                                    .credit-request-step(data-listen-tab-index="2")
                                        .credit-request-step-image
                                            +add-svg({class: "credit-request-step-image__icon", icon: "check"})

                                        .credit-request-step-title Звонок от банка

                            .credit-request-body

                                //- Step
                                .credit-request-body-step.active.show.credit-request-body-step--1(data-tab-index="0")
                                    div.credit-request-body-step__wrap
                                        .credit-request-row.credit-request-row--selects.credit-request-row--child-m-15
                                            +add-typed-number-input({
                                                placeholder: "Сумма",
                                                name: "sum",
                                                types: ["Тнг", "Руб"],
                                                value: 0,
                                                min: 0,
                                                max: 30000000,
                                                classInput: "js-input-sum"
                                            })

                                            +add-select-common({
                                                placeholder: "Срок",
                                                name: "deadline",
                                                options: ["1 год", "2 года", "3 года"],
                                                selectedOption: 0,
                                                slider: true
                                            })

                                            +add-typed-number-input({
                                                placeholder: "Ежемесячный доход",
                                                name: "month_earnings",
                                                types: ["Тнг", "Руб"],
                                                value: 0,
                                                min: 100000,
                                                max: 400000
                                            })

                                            +add-select-common({
                                                placeholder: "Кредитная история",
                                                name: "credit_history",
                                                options: ["Не брал кредиты", "Брал кредиты"],
                                                selectedOption: 0,
                                            })

                                            +add-select-common({
                                                placeholder: "Неличие залога",
                                                name: "deposit",
                                                options: ["Недвижимость", "Автомобиль"],
                                                selectedOption: 0,
                                            })

                                            +add-select-common({
                                                placeholder: "Ваш зарплатный банк",
                                                name: "client_bank",
                                                options: ["Альфа-банк", "РокетБанк", "СберБанк"],
                                                selectedOption: 0,
                                            })

                                        .credit-request-row.credit-request-row--checkboxes
                                            +add-custom-checkbox({
                                                id: "credit-request-checkbox-1",
                                                name: "can_proof_salary",
                                                label: "Могу подтвердить доходы за 3 месяца выпиской из пенсионного фонда"
                                            })

                                            +add-custom-checkbox({
                                                className: "js-init--have-credit-checkbox",
                                                id: "credit-request-checkbox-2",
                                                name: "have_another_credits",
                                                label: "Есть другие кредиты"
                                            })

                                        .credit-request-row.credit-request-row--selects.credit-request-row--have-credit.credit-request-row--child-m-15.js-init--have-credit-block
                                            +add-typed-number-input({
                                                placeholder: "Ежемесячный платеж по кредитам",
                                                name: "month_credit_payments",
                                                types: ["Тнг", "Руб"],
                                                value: 0,
                                                min: 0,
                                                max: 40000,
                                            })

                                        .credit-request-row.credit-request-row--button
                                            +add-button({
                                                text: "Следующий шаг",
                                                types: ["primary", "next-step"],
                                                buttonClass: "js-init--credit-request-goto-step-2 js__got-to-next"
                                            })

                                            +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup popup-credit-btn btn-last"})
                                            //- .popup__credit-btn


                                //- Step
                                .credit-request-body-step.credit-request-body-step--2(data-tab-index="1")
                                    div.credit-request-body-step__wrap
                                        .credit-request-row.credit-request-row--selects.credit-request-row--child-m-10
                                            +add-input({
                                                placeholder: "Фамилия",
                                                name: "surname",
                                            })

                                            +add-input({
                                                placeholder: "Имя",
                                                name: "name",
                                            })

                                            +add-input({
                                                placeholder: "Отчество",
                                                name: "father_name",
                                            })

                                            +add-input({
                                                placeholder: "Дата рождения",
                                                name: "birth_date",
                                                type: "date",
                                            })

                                            +add-input({
                                                placeholder: "Телефон",
                                                name: "phone",
                                                className: "js-init--input-phone-mask",
                                                value: "+7",
                                                inputPlaceholder: "+7",
                                                type: "tel",
                                            })

                                            +add-input({
                                                placeholder: "Почта",
                                                name: "email",
                                                type: "email",
                                            })

                                            +add-select-common({
                                                placeholder: "Город",
                                                name: "city",
                                                options: ["Москва", "Санкт-Петербург", "Омск"],
                                            })

                                            +add-input({
                                                placeholder: "ИНН",
                                                name: "inn",
                                            })

                                        .credit-request-row.credit-request-row--checkboxes
                                            +add-custom-checkbox({
                                                id: "credit-request-checkbox-3",
                                                name: "private_policy_agreement",
                                                label: "Отправляя онлайн-заявку, я согласен на сбор и обработку своих персональных данных согласно <a href='#'>Закону РК №09-V «О персональных данных и их защите»</a>"
                                            })

                                        .credit-request-row.credit-request-row--button
                                            +add-button({
                                                text: "Отправить заявку",
                                                types: ["primary", "next-step"],
                                                buttonClass: "js-init--credit-request-goto-step-3 js__got-to-next"
                                            })

                                            +add-button({text: "Изменить условия кредита", types: ["primary", "line"], buttonClass: "popup-credit-btn"})
                                            

                                //- Step
                                .credit-request-body-step.credit-request-body-step--3(data-tab-index="2")
                                    div.credit-request-body-step__wrap
                                        .credit-request-success
                                            .credit-request-success-image
                                                +add-image({src: "img/credit-request-success-image.svg"})

                                            .credit-request-success-header Заявка успешно отправлена
                                            .credit-request-success-info В ближайшее время с вами свяжется сотрудник банка

                //- Footer
                //- .popup__footer
                //-     +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup"})


