//- creditpay
.popup.popup-creditpay.popup--mobile-full
    .popup__container
        .container
            .popup__header
                div.h2 Расчет кредита
                .popup__close.js__close-popup
                    +add-svg({icon: "cross-small"})
                
            .popup__content.popup__content-btnform
                //- Content
                .form-el.style-scroll
                    form
                        .form-el-group.form-el-group--check
                            +add-custom-checkbox({name: "awdwd1", id: "awdwaddewfrer4r324", label: "Без страхования"})
                            +add-custom-checkbox({name: "awdwd123r", id: "awdwadfewr1e1es2", label: "Без комиссии"})

                        .form-el-group
                            +add-typed-number-input({
                                placeholder: "Сумма",
                                name: "sum",
                                types: ["Тнг", "Руб"],
                                min: 0,
                                max: 30000000,
                                value: 0,
                                classInput: "js-input-sum"
                            })

                        .form-el-group
                            +add-select-common({
                                placeholder: "Срок",
                                name: "duration",
                                options: ["1 год", "2 года", "3 года", "4 года"],
                                selectedOption: 0,
                                slider: true
                            })

                        .form-el-group
                            +add-select-common({placeholder: "Цель кледита", name: "v23waalue1"})

                        .form-el-group
                            +add-select-common({placeholder: "Обеспечение", name: "valudwda123e1"})

                        .form-el-group
                            +add-common-tab({
                                header: "Схема погашения",
                                name: "value-forma213sd",
                                tabs: ["Аннуитетная", "Дифференц."],
                            })
                    
                        .form-el-group
                            +add-select-common({placeholder: "Категория заемщика", name: "valudwda1213sd23e1"})

                        .form-el-group
                            +add-common-tab({
                                header: "Подтверждение дохода",
                                name: "value-forma343667ud",
                                tabs: ["Требуется", "Не требуется"],
                            })


                        .form-el-group
                            +add-common-tab({
                                header: "Кредитная история",
                                name: "value-forma34366213r7ud",
                                tabs: ["Положительная", "Отрицательная"],
                            })

                        .calendarpay
                            .calendarpay__line
                                .calendarpay__item
                                    em Ежемес. платеж
                                    span 275 000T

                                .calendarpay__item
                                    em Переплата
                                    span 304 000T

                            .calendarpay__line
                                .calendarpay__item
                                    em общая сумма
                                    span 304 000T

                                .calendarpay__item
                                    em СТАВКА
                                    span 10%

                                .calendarpay__item
                                    em.credit-calculator-info-header
                                        | ГЭСВ
                                        i(aria-label="Дополнительная информация" data-balloon-pos="left")
                                            span.icon.icon-question-tips-invert
                                        //- i 
                                        //-     span ?
                                    span 15%

                            .calendarpay__line.calendarpay__line-btn
                                .calendarpay__btn.js__open-grafic
                                    i
                                        +add-svg({icon: "calendar"})
                                    span Календарь платежей
                                
                        .form-el-group
                            +add-button({text: "Оформить кредит онлайн", types: ["primary"], isSubmit: true})
                        
                        .form-el-group.form-el-group--close
                            +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup"})

                //- Footer
                //- .popup__footer
                //-     +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup"})
