//- RePas
.popup.popup-extsel.popup--mobile-full
    .popup__container
        .container
            .popup__header
                div.h2 Расширенный подбор кредита
                .popup__reset-form 
                    span Сбросить фильтр
                .popup__close.js__close-popup
                    +add-svg({icon: "cross-small"})
                
            .popup__content.style-scroll
                form.form-extsel
                    .form-extsel__item
                        +add-typed-number-input({
                            placeholder: "Сумма",
                            name: "sum",
                            types: ["Тнг", "Руб"],
                            min: 0,
                            max: 30000000,
                            value: 0,
                            classInput: "js-input-sum"
                        })

                    .form-extsel__item
                        +add-select-common({
                            placeholder: "Срок",
                            name: "duration",
                            options: ["1 год", "2 года", "3 года", "4 года"],
                            selectedOption: 0,
                            slider: true
                        })

                    .form-extsel__item.form-extsel__item--check
                        +add-custom-checkbox({name: "option1", id: "checkboxOption1", label: "Без страхования"})
                        +add-custom-checkbox({name: "option2", id: "checkboxOption2", label: "Пролонгация"})
                        +add-custom-checkbox({name: "option3", id: "checkboxOption3", label: "Без комиссии"})
                        +add-custom-checkbox({name: "option4", id: "checkboxOption4", label: "Досрочное погашение"})
                        +add-custom-checkbox({name: "option5", id: "checkboxOption5", label: "Онлайн-оформление"})

                    .form-extsel__item
                        +add-select-common({placeholder: "Цель кледита", name: "value1"})

                    .form-extsel__item
                        +add-common-tab({
                            header: "Форма выдачи",
                            name: "value-forma",
                            tabs: ["Наличными", "На счет", "На карту"],
                        })

                    .form-extsel__item  
                        +add-common-tab({
                            header: "Срок рассмотрения",
                            name: "value-term",
                            tabs: ["До 3 дней", "До 7 дней", "До 14 дней"],
                        })

                    .form-extsel__item
                        +add-common-tab({
                            header: "Схема погашения",
                            name: "value-schema",
                            tabs: ["Аннуитетная", "Дифференц."],
                        })

                    .form-extsel__item
                        +add-select-common({placeholder: "Обеспечение", name: "security"})
                    
                    .form-extsel__item
                        +add-select-common({placeholder: "Категория заемщика", name: "borrower-category"})

                    .form-extsel__item
                        +add-common-tab({
                            header: "Подтверждение дохода",
                            name: "value-conf",
                            tabs: ["Требуется", "Не требуется"],
                        })

                    .form-extsel__item
                        +add-common-tab({
                            header: "Возраст заемщика",
                            name: "value-age",
                            tabs: ["18-23 лет", "23-58 (63) лет"],
                        })
                        
                    .form-extsel__item
                        +add-common-tab({
                            header: "Кредитная история",
                            name: "value-history",
                            tabs: ["Положительная", "Отрицательная"],
                        })

                    .form-extsel__item
                        +add-select-common({placeholder: "Регистрация", name: "input-reg"})

                    .form-extsel__item(style="z-index: 10;")
                        .selectsearch.js__selectsearch
                            .selectsearch-header.js__select-search-head.top
                                .selabel.js__select-search-open Только в этих банках
                                .selected 
                                    span Выбрано
                                    em.js__select-search-nr 0
                                .clear.js__select-search-clear 
                                    +add-svg({icon: "cross-small"})
                                .arrow.js__select-search-open
                                    +add-svg({icon: "arrow"})

                                .selectsearch-dropdown
                                    .selectsearch-dropdown__search
                                        input(placeholder="Поиск").js__selectsearch-input
                                        +add-svg({icon: "search"})
                                    .selectsearch-dropdown__content.js__selectsearch-check
                                        //- Input
                                        .custom-checkbox-container
                                            input#sberbank.custom-checkbox-native(type='checkbox' name='sberbank')
                                            label.custom-checkbox(for='sberbank')
                                                svg.custom-checkbox__icon
                                                    use(xlink:href='svg/sprite.svg#svg--check')
                                            label.custom-checkbox-label(for='sberbank') Сбербанк

                                        .custom-checkbox-container
                                            input#tinkoff.custom-checkbox-native(type='checkbox' name='tinkoff')
                                            label.custom-checkbox(for='tinkoff')
                                                svg.custom-checkbox__icon
                                                    use(xlink:href='svg/sprite.svg#svg--check')
                                            label.custom-checkbox-label(for='tinkoff') Tinkoff

                                        .custom-checkbox-container
                                            input#moscowbank.custom-checkbox-native(type='checkbox' name='moscowbank')
                                            label.custom-checkbox(for='moscowbank')
                                                svg.custom-checkbox__icon
                                                    use(xlink:href='svg/sprite.svg#svg--check')
                                            label.custom-checkbox-label(for='moscowbank') Московский Кредитный Банк

                                        .custom-checkbox-container
                                            input#bankvtb.custom-checkbox-native(type='checkbox' name='bankvtb')
                                            label.custom-checkbox(for='bankvtb')
                                                svg.custom-checkbox__icon
                                                    use(xlink:href='svg/sprite.svg#svg--check')
                                            label.custom-checkbox-label(for='bankvtb') Банк ВТБ
                                            
                                        .custom-checkbox-container
                                            input#raifaizen.custom-checkbox-native(type='checkbox' name='raifaizen')
                                            label.custom-checkbox(for='raifaizen')
                                                svg.custom-checkbox__icon
                                                    use(xlink:href='svg/sprite.svg#svg--check')
                                            label.custom-checkbox-label(for='raifaizen') Райффайзен Банк


                    .form-extsel__item.form-extsel__item--btn
                        +add-button({text: "Показать 5 предложений", types: ["primary"], isSubmit: true})
                    
                    .form-extsel__item.form-extsel__item--close.js__close-popup
                        +add-button({text: "Закрыть", types: ["primary", "line"]})

                    .form-extsel__item.form-extsel__item--clean
                        .form-extsel__reset.js__form-reset
                            span Сбросить фильтр
