//- grafic
.popup.popup-grafic.popup--mobile-full
    .popup__container
        .container
            .popup__header
                div.h2 График погашения
                .popup__close.js__close-popup
                    +add-svg({icon: "cross-small"})
                
            .popup__content.popup__content-btnform
                .graficpop
                    .graficpop__header
                        .graficpop__header-item
                            i
                                +add-svg({icon: "printer"})
                            span Распечатать

                        .graficpop__header-item.js__click-toggle
                            i
                                +add-svg({icon: "envelope"})
                            span Отправить по почте

                            .graficpop__header-submenu
                                form
                                    //- +add-select-common({placeholder: "Электронная почта", name: "v2213ds3waalue1"})
                                    +add-input({
                                        placeholder: "Электронная почта",
                                        name: "v2213ds3waalue1",
                                    })
                                    +add-button({text: "Отправить по почте", types: ["primary"]})
                                    +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-this-submenu"})


                    .graficpop__content 
                        .graficpop__line
                            .graficpop__line-head
                                b 23 сентября 2019
                                span №1

                            .graficpop__line-content
                                div
                                    em Сумма платежа
                                    span 20 506T
                                div
                                    em Основной долг
                                    span 350 499T
                                div
                                    em Начисленные проценты
                                    span 2 394T
                                div
                                    em Комиссии, иные платежи
                                    span 1 435T
                                div
                                    em Остаток задолженности
                                    span 332 394T

                        .graficpop__line
                            .graficpop__line-head
                                b 23 октября 2019
                                span №2

                            .graficpop__line-content
                                div
                                    em Сумма платежа
                                    span 20 506T
                                div
                                    em Основной долг
                                    span 350 499T
                                div
                                    em Начисленные проценты
                                    span 2 394T
                                div
                                    em Комиссии, иные платежи
                                    span 1 435T
                                div
                                    em Остаток задолженности
                                    span 332 394T

                    .graficpop__footer
                        +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup"})

                //- Footer
                //- .popup__footer
                //-     +add-button({text: "Закрыть", types: ["primary", "line"], buttonClass: "js__close-popup"})
