//- querycr
.popup.popup-querycr.popup--fixed
    .popup__container
        .container
            .popup__header
                div.h2 Задать вопрос по кредитам
                .popup__close.js__close-popup
                    +add-svg({icon: "cross-small"})
                
            .popup__content.style-scroll
                form.form-extsel.js__form-block
                    .form-extsel__item
                        //- +add-typed-number-input({
                        //-     placeholder: "Сумма",
                        //-     name: "sum",
                        //-     types: ["Тнг", "Руб"],
                        //-     min: 0,
                        //-     max: 30000000,
                        //-     value: 2000000,
                        //-     className: "js__input-one"
                        //- })

                        +add-input({
                            placeholder: "Заголовок",
                            name: "name",
                            required: true,
                            className: "js__input-one"
                        })

                    .form-extsel__item
                        .block-textarea
                            span  Текст сообщения
                            textarea(name="", class="js__textarea").js__input-two


                    .lcreviews__form-block-hidden.js__input-block-hidden
                        +add-input({
                            placeholder: "Ваш email",
                            name: "name",
                            required: true
                        })

                        +add-custom-checkbox({name: "option12ewdagf2", id: "checkboxOption234awdawd", label: "Вопрос виден другим пользователям"})   


                    .form-extsel__item.form-extsel__item--btn
                        +add-button({text: "Отправить", types: ["primary"], isSubmit: true})
                    
                    .form-extsel__item.form-extsel__item--close.js__close-popup
                        +add-button({text: "Закрыть", types: ["primary", "line"]})

                    .form-extsel__item
                        p Ответ пришлем на почту не позже 
                        p 1-3 дней. Без спама.