.credit-calculator-wrapper.calculator-wrapper
    .container.credit-calculator-container
        form(action="#").credit-calculator.calculator-block
            .calculator-form
                .credit-calculator-content
                    .credit-calculator-row
                        +add-typed-number-input({
                            placeholder: "Сумма",
                            name: "sum",
                            types: ["Тнг", "Руб"],
                            min: 0,
                            max: 30000000,
                            value: 0,
                            classInput: "js-input-sum"
                        })

                        +add-select-common({placeholder: "Срок", name: "duration", options: ["3 месяца", "1 год", "2 года", "3 года"], selectedOption: 0, slider: true})

                    .credit-calculator-row
                        .datepicker-input
                            +add-input({
                                placeholder: "Дата получения",
                                name: "date",
                                inputClass: "js-datepicker",
                                autocomplete: 'off'
                            })
                            i.date-icon
                                +add-svg({class: "", icon: "calendar"}) 
                        +add-common-tab({
                            header: "Схема погашения",
                            name: "value3",
                            tabs: ["Аннуитетная", "Дифференц."],
                        })              

                    .credit-calculator-row.credit-calculator-row-4
                        +add-common-tab({
                            header: "Ставка",
                            name: "value4",
                            tabs: ["Фиксированная", "Изменяемая"],
                        })
                        +add-typed-number-input({
                            placeholder: "Размер ставки",
                            name: "percenge",
                            types: ["% в месяц","Тнг", "Руб"],
                            min: 0,
                            max: 100,
                            value: 0
                        })  

  
                    h3.calculator-subtitle Комиссии    
                    .credit-calculator-row.credit-calculator-row-2.credit-calculator-row_action.js-line
 
                        +add-typed-number-input({
                            placeholder: "Стоимость недвижимости",
                            name: "sumCom",
                            types: ["% от кредита","Тнг", "Руб"],
                            min: 0,
                            max: 10000,
                            value: 0,
                            className: 'rate-long'
                        })

                        +add-select-common({placeholder: "Периодичность", name: "value1"})
                        i.action-calculator.js-remove-line
                            +add-svg({class: "", icon: "cross-close"})
                    .credit-calculator-row.credit-calculator-row-2.credit-calculator-row_action
                        +add-typed-number-input({
                            placeholder: "Сумма",
                            name: "sumCom2",
                            types: ["Тнг", "Руб"],
                            min: 0,
                            max: 10000,
                            value: 0,
                            className: 'rate-long js-input-sum'
                        })
                        +add-select-common({placeholder: "Периодичность", name: "value1"})
                        i.action-calculator
                            +add-svg({class: "", icon: "add"})
                    .credit-calculator-row.credit-calculator-row_action.credit-calculator-row_3
                        +add-button({text: "Рассчитать", types: ["primary"], buttonClass: "btn-calculate", isSubmit: true})
.calculator-total
    .container    
        .calculator-total__top
            h2.calculator-total__title Результаты расчета
            .action-links
                a(href="#").action-link
                    .action-link-image
                        +add-svg({class: "action-link-image__icon", icon: "printer"})

                    .action-link-text
                        span Распечатать

                a(href="#").action-link.js--init-send-to-email-open
                    .action-link-image
                        +add-svg({class: "action-link-image__icon", icon: "envelope"})

                    .action-link-text
                        span Отправить по почте

                a(href="#").action-link.hide-mob
                    .action-link-image
                        +add-svg({class: "action-link-image__icon", icon: "excel"})

                    .action-link-text
                        span Скачать в Excel            
        .credit-calculator-total
            .calculator-total__info-row
                .calculator-total__item
                    .calculator-total__header
                        span Переплата по кредиту
                    .calculator-total__value
                        span 5 300 000T

                .calculator-total__item
                    .calculator-total__header
                        span Выплата за весь срок
                    .calculator-total__value
                        span 24 495 584T

                .calculator-total__item
                    .calculator-total__header
                        span Начисленные проценты
                    .calculator-total__value
                        span 18 596 596T

                .calculator-total__item
                    .calculator-total__header
                        span ЕЖЕмесячный платеж
                    .calculator-total__value
                        span 2 233 500T


                .calculator-total__item
                    .calculator-total__header
                        span СУММА КОМИССИЙ
                    .calculator-total__value
                        span 250 460T

                .calculator-total__item
                    .calculator-total__header
                        span ОКОНЧАНИЕ ВЫПЛАТ
                    .calculator-total__value
                        span 23.05.2024

                .calculator-total__item
                    .calculator-total__header
                        span ОСНОВНОЙ ДОЛГ
                    .calculator-total__value
                        span 24 304 333T
