include ../popup/credit
include ../popup/creditpay
include ../popup/grafic

section.credit-info-section.calculator-section
    .container
        .credit-info
            .credit-info-row
                    h1.credit-info-header Кредитный калькулятор


