doctype html

include ./mixins/breadcrumbs
include ./mixins/buttons
include ./mixins/forms
include ./mixins/image
include ./mixins/svg-sprite
include ./mixins/typography
include ./mixins/seo-text

block variables-init
    -
        // use `opts` var to overwrite the options
        var defaults = {
            sitename: "Rusodot FinBee",
            page: ""
        };

block variables
    //- use `opts` var to overwrite the options

block variables-calculated
    - var options = Object.assign(defaults, opts)

html(lang="RU")
    head
        block title
            title= `${options.sitename} ${options.page}`.trim()

        block head_meta
            include ./head_meta

        block head_custom_css
            link(rel="stylesheet", href="./css/main.min.css")


    body

        main.main.error-main
            .content
                block content

        include ./common/modals
        include ./scripts
        block custom_scripts
