.error503-header
    text-align: center
    padding: 18px 0
    border-bottom: 3px solid#f5f5f5
.error503-content
    padding: 30px 0
    text-align: center
    color: #1e2633
    h1 
        font-size: 43px
        font-weight: 900
        margin-bottom: 10px
    p 
        font-size: 14px
        font-weight: 400
        line-height: 21px
.error503-img
    width: 100%
    overflow: hidden
    text-align: center
    display: flex
    justify-content: center
    margin-bottom: 20px
.error503-mail
    max-width: 360px
    min-height: 101px
    border-radius: 10px
    border: 1px solid #dfdfdf
    width: 100%
    padding: 20px
    margin: auto
    margin-top: 22px
    img 
        margin-bottom: 5px
    a 
        font-weight: 700
        font-size: 14px
.error-main 
    background-color: #fff
@media (max-width: 767px)
    .error503-header img 
        width: 75px
    .error503-img
        img 
            width: 1300px
            height: 300px
    .error503-content
        padding: 25px 5px
        h1 
            font-size: 33px
            line-height: 31px
            margin-bottom: 17px
        p 
            display: inline
    .error503-mail
        margin-top: 20px
        padding: 10px
        min-height: auto
        a 
            margin-left: 4px
        img 
            display: none
