.header-logo
    transition-property: opacity
    transition-duration: $transition-duration

    &:hover
        opacity: .7

    &__mobile
        display: none

        @media screen and (max-width: 900px)
            display: block

        .footer-logo
            @media screen and (max-width: 900px)
                padding: 10px 0

            @media screen and (max-width: 500px)
                padding: 15px 0 13px

    &__desktop
        display: flex
        height: 72px

        @media screen and (max-width: 900px)
            display: none

        .finbee-logo-text
            position: relative
            top: -2px
            align-self: center

            margin: 0 0 0 13px
