.footer-nav-container
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    margin: 0 -25px

    @media screen and (max-width: 1000px)
        margin: 0 (-15px / 2)

    @media screen and (max-width: 500px)
        margin: 0

    > *
        width: 25%
        padding: 30px 27px 29px

        @media screen and (max-width: 1000px)
            width: 50%
            padding: 15px (15px / 2)

        @media screen and (max-width: 500px)
            width: 100%
            padding: 18px 0 19px

.footer
    background: #ffffff

    &-container
        @media screen and (max-width: 500px)
            padding: 0 10px

    & &-nav
        @media screen and (max-width: 500px)
            border-bottom: 1px solid $color-white

            &:last-child
                border-bottom: none

    &-nav
        & &-header
            margin: 0 0 10px

            @media screen and (max-width: 600px)
                user-select: none
                cursor: pointer
                position: relative
                display: flex

                margin: 0

        &-header
            color: $color-cool-grey
            font-size: 24px
            font-weight: 400

            transition-property: color
            transition-duration: $transition-duration

            @media screen and (max-width: 1000px)
                font-size: 18px
                position: relative

            @media screen and (max-width: 500px)
                color: $color-clear-blue

                &:hover
                    color: $color-dark

            &.open
                color: $color-dark
                font-weight: 700

            &:after
                +icon-arrow
                font-size: 12px
                color: currentColor

                position: absolute
                top: 50%
                right: 0

                transform: translate(0, -50%) rotate(90deg)

                display: none

                @media screen and (max-width: 500px)
                    display: block


        & &-items
            @media screen and (max-width: 500px)
                display: none
                padding: 15px 0 0

        &-items
            color: $color-dark
            font-size: 14px
            line-height: 1.86

            padding: 0
            margin: 0

            list-style: none

            @media screen and (max-width: 500px)
                line-height: (23/14)

            a
                color: currentColor

    &-content
        box-shadow: inset 0 2px 0 0 $color-white

    &-bottom
        box-shadow: inset 0 2px 0 0 $color-white
        padding: 15px 0

        @media screen and (max-width: 500px)
            padding: 10px 0

        &-container
            @media screen and (max-width: 1000px)
                display: flex
                flex-wrap: wrap

            @media screen and (max-width: 500px)
                justify-content: space-between

            & > *
                @media screen and (max-width: 1000px)
                    width: 50%


        & &-row
            padding: 11px 0

            &:first-child
                @media screen and (max-width: 500px)
                    
                    width: 153px

            &:last-child
                @media screen and (max-width: 500px)
                    width: auto 
                    width: 115px

        &-row
            display: flex
            flex-wrap: wrap
            justify-content: space-between

            @media screen and (max-width: 1000px)
                flex-direction: column
                align-items: flex-start

            @media screen and (max-width: 700px)
                justify-content: initial

        & &-links-container
            align-self: center

            @media screen and (max-width: 1000px)
                align-self: stretch
                width: 100%

            @media screen and (max-width: 700px)
                margin: 15px 0 0

            @media screen and (max-width: 500px)
                margin: 13px 0 0

        &-links
            color: $color-clear-blue
            font-size: 14px
            line-height: 1.5

            padding: 0
            margin: 0
            list-style: none

            display: flex
            align-items: center
            flex-wrap: wrap

            @media screen and (max-width: 1000px)
                display: block
                column-count: 3

            @media screen and (max-width: 900px)
                column-count: 2

            @media screen and (max-width: 700px)
                column-count: 1
                display: flex
                flex-direction: column
                align-items: flex-start

            @media screen and (max-width: 500px)
                font-size: 12px

            a
                display: block
                color: currentColor

                @media screen and (max-width: 500px)
                    padding: 6px 0

            li
                display: flex
                align-items: center
                flex-wrap: wrap

                @media screen and (max-width: 1000px)
                    display: inline-block

                &:before
                    content: ""
                    display: block

                    width: 6px
                    height: 6px
                    background-color: #d1d1d1

                    border-radius: 100%

                    margin: 0 18px 0 19px

                    @media screen and (max-width: 1100px)
                        margin: 0 10px

                    @media screen and (max-width: 1000px)
                        display: none

                &:first-child
                    &:before
                        display: none

        & &-copyrights
            @media screen and (max-width: 1000px)
                width: 100%

            @media screen and (max-width: 700px)
                margin: 15px 0 0

            @media screen and (max-width: 500px)
                margin: 17px 0 0

        &-copyrights
            color: $color-dark
            font-size: 14px
            line-height: 1.5

            @media screen and (max-width: 1000px)
                text-align: right
                font-size: 12px

            @media screen and (max-width: 500px)
                text-align: left

        & &-socials
            display: flex
            align-items: center
            flex-wrap: wrap
            align-self: center

            @media screen and (max-width: 1000px)
                order: -1
                align-self: flex-end

            @media screen and (max-width: 500px)
                align-self: flex-start

        &-socials
            & > *
                margin-right: 16px

                &:last-child
                    margin-right: 0

    & &-logo
        @media screen and (max-width: 1000px)
            margin: -7px 0 0

        @media screen and (max-width: 500px)
            margin: 2px 0 0

    &-logo
        display: block
        font-size: 30px
        font-weight: 700
        text-transform: uppercase
        color: $color-cool-grey
        text-decoration: none

        transition-property: transform
        transition-duration: $transition-duration

        @media screen and (max-width: 500px)
            font-size: 22px

        &:hover
            text-decoration: none
            transform: translate(0, -2px)

        .blue
            color: $color-clear-blue

        .yellow
            color: $color-orange-yellow

        img
            // width: 99px
            // height: 20px

            // position: relative
            // top: -2px

            // @media screen and (max-width: 500px)
            //     width: 80px
            //     height: 15px
            top: -7px
            height: 50px

            position: relative
            top: -6px

            @media (max-width: 900px) 
                top: -8px

            @media (max-width: 700px) 
                top: -8px

            @media screen and (max-width: 500px)
                height: 40px
                top: -7px

    &-social
        display: flex
        align-items: center
        justify-content: center

        width: 30px
        height: 30px

        color: #c0c2c6

        transition-property: color
        transition-duration: $transition-duration

        &:hover
            color: $color-clear-blue

        &:active
            color: #0033C2

        &__icon
            fill: currentColor
            width: 100%
            height: 100%



.footer 
    .footer-logo
        img
            top: -7px
            height: 50px

            position: relative
            // top: -6px
            top: -9px

            @media (max-width: 700px) 
                top: -9px

            @media screen and (max-width: 500px)
                height: 40px
                top: -12px
.footer-top
    display: flex
    justify-content: space-between
    padding: 14px 0
    &__label
        margin-right: 19px
        font-size: 14px;
        font-weight: 700
        color: #1e2633;   
    &__button
        display: flex
        align-items: center

.button--btn-callback
    font-size: 14px;
    font-weight: 400;
    padding: 9px 19px 10px;
@media (max-width: 767px)
    .footer-top
        display: block
    .footer-top__button
        width: 100%;
        justify-content: center
        margin-top: 15px