.ui-autocomplete {
	border-color: #C5C7D0;
	background: #fff;
	box-shadow: 0 8px 10px rgba(0, 0, 0, 0.12);
}
.ui-menu .ui-menu-item-wrapper {
	padding: 8px 16px;
	color: $color-dark;
	border: 0;
	&:hover, &.ui-state-active {
		background: #F8F9FC;
		color: $color-dark;
		border: 0;
		margin: 0;
	}
}
.ui-widget.ui-datepicker  {
	width: 280px;
	font-size: 12px;
	font-weight: 14px;
	background: #FFFFFF;
	box-shadow: 0px 6px 20px rgba(17, 21, 31, 0.17);
	border: 0;
	font-family:$font-base;
	margin-top: 10px;
		z-index: 20 !important;
		.ui-widget-header {
		    border: 0;
		    background: transparent;
		    color: $color-dark;
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			    padding: 24px 15px;
		}
		.ui-datepicker-title {
	    margin: 0;
	    line-height: 16px;
	    text-align: left;
	    order: 1;
	}
	}
	.ui-datepicker-prev , .ui-datepicker-next {
		top: 20px;
		background: none;
		border: 0;
	}
	.ui-datepicker-next {
		background: none;
	    right: 2px;
	}
	.ui-datepicker-prev {
		background: none;
	    right: 42px;
	   left: auto;
	}
	.ui-datepicker-prev span, .ui-datepicker-next span {
		background: url(../img/arrow-date.svg)  center no-repeat;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		border: 0;
		background-size: 7px;
		display: inline-block;
		background-position: center;
		transition: background .3s ease-in;
		&:hover {
			background: #f2f3f6  url(../img/arrow-date.svg) no-repeat  center!important;
		}
	}
	.ui-datepicker-prev span {
		transform: rotateY(180deg);
	}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0;
    background: transparent;
    font-weight: normal;
    color: $color-dark;
    width: 30px;
height: 30px;
border-radius: 50%;
display: flex;
border: 0;
text-align: center;
justify-content: center;
align-items: center;
margin: 4px;
	&:hover {
		background: #f2f3f6
	};
	.ui-datepicker-today {
		background: #f2f3f6
	}

}
.ui-state-default, .ui-widget-content .ui-datepicker-today .ui-state-default   {
	background: #f2f3f6
}
.ui-datepicker th {
	font-weight: 500
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 21px;
}