include ../popup/credit
include ../popup/creditpay
include ../popup/grafic
include ../popup/ask-question-mob

section.credit-info-section.credit-info-section_bankcredit
    .container
        .credit-info
            .credit-info-row
                .credit-info-left
                    a(href="#").all-credits Все кредиты
                    h1.credit-info-header Кредиты банка Raiifeisen в&nbsp;Караганде
                .credit-info-right
                    .credit-info-image
                        +add-image({src: "static/banks/raiffeisen.png", retina: true})

