section.bank-content
    .bank-list
        .container
            ul.tabs
                li.bank-list__item
                    a.bank-list__link(href='#tab_1') О банке
                li.bank-list__item.active
                    a.bank-list__link(href='#tab_2') Кредиты
                li.bank-list__item
                    a.bank-list__link(href='#tab_3') Ипотека
                li.bank-list__item
                    a.bank-list__link(href='#tab_4') Банковские карты
                li.bank-list__item
                    a.bank-list__link(href='#tab_5') Депозиты
                li.bank-list__item
                    a.bank-list__link(href='#tab_6') Курсы валют
                li.bank-list__item
                    a.bank-list__link(href='#tab_7') Отделения
                li.bank-list__item
                    a.bank-list__link(href='#tab_8') Новости
                li.bank-list__item
                    a.bank-list__link(href='#tab_9') Отзывы
                li.bank-list__item
                    a.bank-list__link(href='#tab_10') Реквизиты
                li.bank-list__item
                    a.bank-list__link(href='#tab_11') Банкоматы
        
    include credit-form                
    include table