.container
    .listcredit-head.listcredit-head_bankcredit
        .listcredit-head__form
            form
                +add-typed-number-input({
                    placeholder: "Сумма",
                    name: "sum",
                    types: ["Тнг", "Руб"],
                    min: 0,
                    max: 30000000,
                    value: 0,
                    classInput: "js-input-sum"
                })

                +add-select-common({
                    placeholder: "Срок",
                    name: "duration",
                    options: ["1 год", "2 года", "3 года", "4 года"],
                    selectedOption: 0,
                    slider: true
                })


                //- +add-button({text: "Расширенный подбор", types: ["secondary", "line"]})
                
                .listcredit-form-btn.button.button--third.button--line.listcredit-form-item
                    span.js__open-extsel
                        | Расширенный 
                        br
                        | подбор
                .listcredit-form-item        
                    +add-button({text: "Подобрать", types: ["primary"], buttonClass: "listcredit-form-btn-sbt bankcredit-form-btn-sbt", isSubmit: true})
                .listcredit-form-item.listcredit-form-item_btn  
                    .listcredit-head__more
                        span.js__open-extsel
                            | Расширенный подбор
                            +add-svg({icon: "arrow"})