section.lcreviews
    .container
        .lcreviews__wrap
            .lcreviews__user
                h2 Задать вопрос по кредитам
                i
                    +add-image({src: "static/listcredit/group.png", retina: true})
                b Павел Пушкин
                p
                    | Эксперт проекта «Финансовое здоровье», консультант проекта Минфина РФ по повышению финансовой грамотности
                +add-button({text: "Спросить эксперта", types: ["third", "line"], buttonClass: "openPopup js__open-ask-question-mob"})
            .lcreviews__form.lcreviews__form_tall
                form(action="/").js__form-block
                    .lcreviews__field
                        span.textarea-max-lenght Осталось 150 символов
                        +add-input({
                            placeholder: "Заголовок",
                            name: "name",
                            required: true
                        })
                    .lcreviews__field
                        span.textarea-max-lenght Осталось 150 символов
                        .block-textarea
                            span  Текст сообщения
                            textarea(name="", class="js__textarea").js__input-two
                    .js__input-block-hidden.active         
                        .lcreviews__field
                            +add-input({
                                placeholder: "Ваш email",
                                name: "name",
                                required: true
                            })

                        +add-custom-checkbox({name: "option12ewdagf2", id: "checkboxAccept", label: "Вопрос виден другим пользователям"})   

                    .group
                        +add-button({text: "Отправить", types: ["primary"], isSubmit: true})
                        p Ответ пришлем на почту не позже 1-3 дней. Без спама.