include svg-sprite

mixin add-breadcrumbs-2(options)
    -
        var defaults = {
            showHome: true,
            homeIcon: "home",
            items: []
        }

        options = Object.assign(defaults, options)

    .container.breadcrumb-container
        .footer-top
            nav
                .breadcrumb
                    if options.showHome
                        .breadcrumb-home
                            a(href="/")
                                +add-svg({class: "breadcrumb-home__icon", icon: options.homeIcon})

                    if options.items.length > 0
                        .breadcrumb-list
                            each breadcrumbHeader, index in options.items
                                .breadcrumb-list-item
                                    span.breadcrumb-list-item__separator

                                    -
                                        var isLastItem = index === options.items.length -1
                                        var isFirstItem = index === 0

                                    if !isLastItem
                                        a(href=isFirstItem ? "/" : "#")
                                            span= breadcrumbHeader

                                    else
                                        span= breadcrumbHeader        
            .footer-top__button
                .footer-top__label Нашли неточность?
                +add-button({text: "Напишите нам", types: ["primary", "line", "btn-callback"]})

