//- extend "svg-sprite"

mixin add-button(options)
    -
        var defaults = {
            buttonClass: null,
            containerClass: null,
            isLink: false,
            isSubmit: false,
            isFancyBoxClose: false,
            link: "#",
            text: ":text",
            types: [],
            icon: false,
            iconBefore: true,
            iconName: "arrow"
        };

        options = Object.assign({}, defaults, options);

    .button-container(
        class=options.containerClass
    )
        if options.isLink
            a(
                href=options.link
                class=options.types.map(type => `button--${type}`).join(" ")
                class=options.buttonClass
            ).button
                span= options.text

        else if options.isSubmit
            label(
                class=options.types.map(type => `button--${type}`).join(" ")
                class=options.buttonClass
            ).button
                input(type="submit").button-native-input
                span= options.text

        else if options.icon
            label(
                class=options.types.map(type => `button--${type}`).join(" ")
                class=options.buttonClass
            ).button
                if options.iconBefore
                    +add-svg({icon: options.iconName})
                    span= options.text
                else
                    span= options.text
                    +add-svg({icon: options.iconName})
        else
            .button(
                class=options.types.map(type => `button--${type}`).join(" ")
                class=options.buttonClass
                data-fancybox-close=options.isFancyBoxClose
            )
                span= options.text
