mixin add-credit-recommend(options)
    -
        var defaults = {
            header: ":header",
            link: "#",
            image: null,
            rate: ":rate",
            name: ":name",
            license: ":license"
        };

        options = Object.assign({}, defaults, options);

    .credit-recommend-block.js-init--credit-recommend-hover
        .credit-recommend.js-init--credit-recommend-content
            .credit-recommend-image
                +add-image({src: options.image, retina: true})

            .credit-recommend-header
                a(href=options.link)= options.header

            .credit-recommend-body
                .credit-recommend-property
                    .credit-recommend-property-header
                        span Ставка

                    .credit-recommend-property-value
                        span от #[strong #{options.rate}]

            .credit-recommend-group
                .credit-recommend-property
                    .credit-recommend-property-header
                        span Срок

                    .credit-recommend-property-value
                        span до #[strong 5 лет]

                .credit-recommend-property
                    .credit-recommend-property-header
                        span Сумма

                    .credit-recommend-property-value
                        span.
                            от #[strong 500 000 ₸]#[br]
                            до #[strong 5 000 000 ₸]

                .credit-recommend-badges
                    .badge.badge--green.badge--dark
                        span 90 дней без процентов

                    .badge.badge--red.badge--dark
                        span Телевизор в подарок

            .credit-recommend-footer
                a(href="#").credit-recommend-bank-name
                    span= options.name

                .credit-recommend-bank-license
                    span= options.license
