mixin add-custom-checkbox(options)
    -
        var defaults = {
            className: null,
            id: null,
            label: null,
            name: null,
            isRequired: false,
        };

        options = Object.assign({}, defaults, options);

    .custom-checkbox-container(
        class=options.className
    )
        input(
            type="checkbox"
            name=options.name
            id=options.id
            required=options.required
        ).custom-checkbox-native

        label(for=options.id).custom-checkbox
            +add-svg({class: "custom-checkbox__icon", icon: "check"})

        if options.label
            label(for=options.id).custom-checkbox-label!= options.label


mixin add-select-common(options)
    -
        var defaults = {
            className: null,
            name: null,
            options: ["Пункт 1", "Пункт 2", "Пункт 3"],
            selectedOption: null,
            placeholder: ":placeholder",
            slider: false,
        };

        options = Object.assign({}, defaults, options);

    .custom-select-container.js-init--custom-select-common-container(class=options.className)
        .custom-select-placeholder
            span= options.placeholder

        .custom-select-arrow.js-init--custom-select-common-trigger
            +add-svg({class: "custom-select-arrow__icon", icon: "arrow"})

        select(
            data-style="custom-select-common-button"
            name=options.name
            title="Выберите опцию"
        ).custom-select.custom-select--common.js-init--custom-select-common
            each text, index in options.options
                option(value=`option${index}` selected=index === options.selectedOption)= text

        if options.slider
            .custom-select-slider.js-init--custom-select-common-slider-container
                // This input is hidden, don't set `name` attribute on it
                input(type="hidden").js-init--custom-select-common-slider


mixin add-common-tab-group(options)
    -
        var defaults = {
            className: null,
            types: [],
            name: ":name",
            tabs: ["Опция 1", "Опция 2"]
        };

        options = Object.assign({}, defaults, options);

    .common-tab-group(
        class=options.className
        class=options.types.map(type => `common-tab-group--${type}`).join(" ")
    )
        each text, index in options.tabs
            .common-tab
                input(
                    type="radio"
                    name=options.name
                    value=`${options.name}_data_${index}`
                    id=`${options.name}_radio_${index}`,
                    checked= index === 0,
                ).common-tab-native-radio

                label(
                    for=`${options.name}_radio_${index}`
                ).common-tab-block= text


mixin add-common-tab(options)
    -
        var defaults = {
            className: null,
            header: null,
            name: ":name",
            tabs: ["Опция 1", "Опция 2"],
        };

        options = Object.assign({}, defaults, options)

    .common-tabs-container(
        class=options.className
    )
        .common-tabs-header
            span= options.header

        +add-common-tab-group({
            name: options.name,
            tabs: options.tabs
        })


mixin add-input(options)
    -
        var defaults = {
            className: null,
            placeholder: ":placeholder",
            name: ":name",
            value: null,
            type: "text",
            inputPlaceholder: null,
            required: false,
            inputClass: ""
        };

        options = Object.assign({}, defaults, options);

    label.input-container.js-init--input-container(
        class=options.className
    )
        span.input-placeholder.js-init--input-placeholder
            span= options.placeholder

        input(
            type=options.type
            name=options.name
            value=options.value
            placeholder=options.inputPlaceholder
            required=options.required
            class=options.inputClass
        ).input.js-init--input



mixin add-typed-number-input(options)
    -
        var defaults = {
            className: null,
            placeholder: ":placeholder",
            name: ":name",
            types: ["Тип 1", "Тип 2", "Тип 3"],
            selectedType: 0,
            value: 0,
            min: 0,
            max: 100,
            inputValue: 0,
            classInput: null
        };

        options = Object.assign({}, defaults, options);

    .custom-select-container.custom-select-container--disable-cursor-pointer.js-init--number-input-container(
        class=options.className
    )
        .custom-select-placeholder
            span= options.placeholder

        .custom-select-input-container
            input(type="text" name=options.name).input.js-init--number-input

        select(
            data-style="custom-select-common-type"
            name=`${options.name}_type`
        ).custom-select-input-type.js-init--custom-select-input-type
            each text, index in options.types
                option(value=`option_${index}` selected=options.selectedType === index)= text

        .custom-select-slider.js-init--number-input-slider-container
            input(type="hidden" data-from=options.value data-min=options.min data-max=options.max class=options.classInput).js-init--number-input-slider
            
mixin add-textarea(options)
    -
        var defaults = {
            className: null,
            placeholder: ":placeholder",
            name: ":name",
            value: null,
            type: "text",
            inputPlaceholder: null,
            required: false,
            inputClass: ""
        };

        options = Object.assign({}, defaults, options);

    label.input-container.js-init--input-container(
        class=options.className
    )
        .input-placeholder.js-init--input-placeholder
            span= options.placeholder

        textarea(
            type=options.type
            name=options.name
            value=options.value
            placeholder=options.inputPlaceholder
            required=options.required
            class=options.inputClass
        ).input.textarea.js-init--input
