mixin seo-text()
	.seo-text
		h2 Как выбрать кредитное предложение
		p Потребительские кредиты – это займы, которые оформляются гражданами в банке в наличной или безналичной форме. Целью кредита может быть любая покупка (телевизора, холодильника, компьютера), оплата услуг (туристической путевки, курсов, лечения) или получение наличных денег для решения повседневных нужд. Потребительские кредиты могут быть целевые и нецелевые, с обеспечением или без. Под потребительскими кредитами на Сравни.ру подразумеваются займы наличными, а также кредиты на товары и услуги.
		
		h3 На что обратить внимание
		p Потребительские кредиты – это займы, которые оформляются гражданами в банке в наличной или безналичной форме. Целью кредита может быть любая покупка (телевизора, холодильника, компьютера), оплата услуг (туристической путевки, курсов, лечения) или получение наличных денег для решения повседневных нужд. Потребительские кредиты могут быть целевые и нецелевые, с обеспечением или без. Под потребительскими кредитами на Сравни.ру подразумеваются займы наличными, а также кредиты на товары и услуги.


