.bank-tabs-section.credit-car__tabs
    .container
        .bank-tabs.js-init--tabs(data-initial-tab-index="0")
            .bank-tabs-nav
                -
                    var items = [
                        {icon: "contract", text: "Условия"},
                        {icon: "face", text: "Требования"},
                        {icon: "passport", text: "Документы"},
                        {icon: "percent", text: "Ставки"},
                    ]

                each item, index in items
                    .bank-tabs-nav-item(data-tabs-to-open=index)
                        +add-svg({class: "bank-tabs-nav-item__icon", icon: item.icon})
                        span= item.text
                        +add-svg({class: "bank-tabs-nav-item__arrow", icon: "arrow"})

            .bank-tabs-content
                .bank-tabs-tab(data-tab-index="0")
                    .bank-condition-container
                        -
                            var items = [
                                {header: "Стоимость автомобиля", info: "150 000T – 6 000 000T"},
                                {header: "Процентная ставка", info: "1-21% (ГЭСВ 23.2%)"},
                                {header: "Первоначальный взнос", info: "от 2 000 000T"},
                                {header: "Подтверждение дохода", info: "Требуется"},
                                {header: "Срок кредитования", info: "5-50 месяцев"},
                                {header: "Обеспечение (залог)", info: "Недвижимость не старше 1999 года, в городах Алматы и Астана"},
                                {header: "Вид транспорта", info: "Сельскохозяйственный"},
                                {header: "Подтверждение дохода", info: "Требуется"},
                                {header: "Состояние", info: "Новые, Б/У"},
                                {header: "Досрочное погашение", info: "Есть. Без мораториев и штрафов"},
                                {header: "Производитель", info: "Любой"},
                                {header: "Схема погашения", info: "Аннуитетный платеж"},
                                {header: "Продавец", info: "Любой"},
                                {header: "Комиссия", info: "Без комиссии"},
                                {header: "КАСКО", info: "Не обязательно"},
                                {header: "Страхование", info: "Разово 2%"}
                            ]

                        each item in items
                            .bank-condition
                                .bank-condition-header= item.header
                                .bank-condition-info= item.info

                .bank-tabs-tab(data-tab-index="1")
                    .bank-condition-container.bank-condition-container--requirements
                        -
                            var items = [
                                {header: "Категория заемщика", info: "Зарплатный клиент Альфа-Банка"},
                                {header: "Возраст", info: "24-63 лет"},
                                {header: "Кредитная история", info: "Положительная"},
                                {header: "Общий стаж", info: "10 лет"},
                                {header: "Цель кредита", info: "Просто деньги"},
                                {header: "Стаж на последнем месте работы", info: "6 месяцев"},
                                {header: "Регистрация", info: "Постоянная"},
                                {header: "Наличие мобильного телефона", info: "Обязательно"},
                                {header: "Наличие рабочего телефона", info: "Обязательно"},
                            ]

                        each item in items
                            .bank-condition
                                .bank-condition-header= item.header
                                .bank-condition-info= item.info

                .bank-tabs-tab(data-tab-index="2")
                    .bank-tabs-documents
                        ul.bank-howto-item-list.bank-howto-item-list--documents
                            li Удостоверение личности
                            li Свидетельство о браке/разводе и свидетельства о рождении детей
                            li Справка о заработной плате за последние 6 месяцев
                            li Адресная справка
                            li Правоустанавливающие документы на недвижимость, являющейся обеспечением займ
                            li Справка о заработной плате за последние 6 месяцев
                            li Отчёт о независимой оценке недвижимости
                            li Согласие супруги/супруга (нотариально оформленное)
                            li Выписка ЕНПФ с индивидуального пенсионного счета
                            li Пенсионное удостоверение
                            li Договор банковского вклада.
                            li Выписка по счету

                .bank-tabs-tab(data-tab-index="3")
                    form(action="#" method="POST").bank-rates-tabs
                        
                        .common-tab-select
                            .common-tab-mobile.js__tab-sort
                                span Тенге
                                +add-svg({icon: "arrow"})

                            +add-common-tab-group({
                                name: "currency",
                                tabs: ["Тенге", "Рубли", "Доллары"],
                                types: ["minw-101", "has-separator"],
                            })
                        //- +add-common-tab-group({
                        //-     name: "currency",
                        //-     tabs: ["Тенге", "Рубли", "Доллары"],
                        //-     types: ["minw-101", "has-separator"],
                        //- })

                    //- TODO: Adaptive .bank-rates-table
                            In mobile should be a gallery... Gosh...
                    //- table.bank-rates-table
                    //-     thead
                    //-         tr
                    //-             th Ставка
                    //-             th Сумма
                    //-             th Срок
                    //-             th Комиссии
                    //-             th Страхование

                    //-     tbody
                    //-         tr.bank-rates-table-row
                    //-             td 1% #[span.tip ГЭСВ ОТ 15%]
                    //-             td 10 000 000T–100 000 000T
                    //-             td 7-60 месяцев
                    //-             td 10% #[small единоразово]
                    //-             td от 1% #[small единоразово]

                    //-         tr.bank-rates-table-row.bank-rates-table-row--bottom-line
                    //-             td(colspan=5)
                    //-                 .bank-rates-table-badges
                    //-                     .bank-rates-table-badge С подтверждением дохода
                    //-                     .bank-rates-table-badge Для зарплатных клиентов
                    //-                     .bank-rates-table-badge Без залога и поручительства

                    //-         tr.bank-rates-table-row
                    //-             td 3% #[span.tip ГЭСВ ОТ 15%]
                    //-             td 10 000 000T–100 000 000T
                    //-             td 7-60 месяцев
                    //-             td 10% #[small единоразово]
                    //-             td от 1% #[small единоразово]

                    //-         tr.bank-rates-table-row.bank-rates-table-row--bottom-line
                    //-             td(colspan=5)
                    //-                 .bank-rates-table-badges
                    //-                     .bank-rates-table-badge С подтверждением дохода

                    //-         tr.bank-rates-table-row
                    //-             td 5% #[span.tip ГЭСВ ОТ 15%]
                    //-             td 10 000 000T–100 000 000T
                    //-             td 7-60 месяцев
                    //-             td 10% #[small единоразово]
                    //-             td от 1% #[small единоразово]

                    //-         tr.bank-rates-table-row.bank-rates-table-row--bottom-line
                    //-             td(colspan=5)
                    //-                 .bank-rates-table-badges
                    //-                     .bank-rates-table-badge С подтверждением дохода
                    //-                     .bank-rates-table-badge Для зарплатных клиентов

                    .banktab

                        //- Header
                        .banktab__header
                            //- Item
                            .banktab__header-item.rate
                                span СТАВКА
                            //- Item
                            .banktab__header-item.summa 
                                span СУММА
                            //- Item
                            .banktab__header-item.time 
                                span СРОК
                            //- Item
                            .banktab__header-item.comissions
                                span КОМИССИИ
                            //- Item
                            .banktab__header-item.insurance 
                                span СТРАХОВАНИЕ

                        //- Content
                        .banktab__content.js__banktab-slider
                            //- Item
                            .banktab__content-item
                                .banktab__content-column.rate
                                    span 
                                        | 1% 
                                        i  ГЭСВ от 15%
                                        
                                .banktab__content-column.summa
                                    small Сумма
                                    span 10 000 000T–100 000 000T
                                    
                                .banktab__content-column.time
                                    small Срок
                                    span 7-60 месяцев
                                
                                .banktab__content-column.comissions
                                    small Комиссии
                                    span 
                                        | 10% 
                                        em единоразово

                                .banktab__content-column.insurance
                                    small Страхование
                                    span 
                                        | от 1% 
                                        em единоразово
                                
                                .banktab__content-column.labelbl
                                    span С подтверждением дохода
                                    span Для зарплатных клиентов
                                    span Без залога и поручительства
                            
                            //- Item
                            .banktab__content-item
                                .banktab__content-column.rate
                                    span 
                                        | 3% 
                                        i  ГЭСВ от 15%
                                        
                                .banktab__content-column.summa
                                    small Сумма
                                    span 10 000 000T–100 000 000T
                                    
                                .banktab__content-column.time
                                    small Срок
                                    span 7-60 месяцев
                                
                                .banktab__content-column.comissions
                                    small Комиссии
                                    span 
                                        | 10% 
                                        em единоразово

                                .banktab__content-column.insurance
                                    small Страхование
                                    span 
                                        | от 1% 
                                        em единоразово
                                
                                .banktab__content-column.labelbl
                                    span С подтверждением дохода
                                    
                            //- Item
                            .banktab__content-item
                                .banktab__content-column.rate
                                    span 
                                        | 5% 
                                        i  ГЭСВ от 15%
                                        
                                .banktab__content-column.summa
                                    small Сумма
                                    span 10 000 000T–100 000 000T
                                    
                                .banktab__content-column.time
                                    small Срок
                                    span 7-60 месяцев
                                
                                .banktab__content-column.comissions
                                    small Комиссии
                                    span 
                                        | 10% 
                                        em единоразово

                                .banktab__content-column.insurance
                                    small Страхование
                                    span 
                                        | от 1% 
                                        em единоразово
                                
                                .banktab__content-column.labelbl
                                    span С подтверждением дохода
                                    span Для зарплатных клиентов