include ../popup/credit
include ../popup/creditpay
include ../popup/grafic

section.credit-info-section
    .container
        .credit-info
            .credit-info-row
                .credit-info-left
                    a(href="#").all-credits Все автокредиты
                    h1.credit-info-header На новую машину
                    .credit-info-description
                        p Кредит на счет или на карту без залога и поручительства для зарплатных клиентов на любые цели
                .credit-info-right
                    .credit-info-image
                        +add-image({src: "static/banks/raiffeisen.png", retina: true})
            .credit-info-description.credit-list-details
                ul.credit-info-list
                    li От 30 000T–3 000 000Т
                    li Срок 3-70 месяцев
                    li 0% первым клиентам
                    li Рассмотрение до 3 дней
                    li Ставка 10% #[span.credit-info-list-tip ГЭСВ от 15%]
                    li Перв. взнос от 2 000 000T
                    li Стаж от 6 месяцев
                    
                .badge.badge--green.badge--dark.badge--big
                    span Страховка в подарок

                .credit-info-buttons-wrapper
                    //- +add-button({text: "Оформить кредит онлайн", isLink: true, types: ["primary", "main-button"], buttonClass: "js__open-credit"})
                    .button-container
                        div.button--primary.button--main-button.js__open-credit.button.active(href='#', data-scroll-to="[data-scroll-to-this]", data-popup-mobile="true")
                            span Оформить кредит онлайн

                    +add-button({text: "Расчитать условия кредита", isLink: true, types: ["primary", "main-button", "line"], containerClass: "button-container--credit-requirements", buttonClass: "js__open-creditpay"})


