section.contacts__form
    .container
        .contacts__form-content
            .contacts__list
                span.contacts__form-title По почте
                ul
                    li.contacts__list-item
                        .contacts__list-icon
                            img(data-src='img/contacts/contacts-list__icon1.svg', alt="Поддержка")
                        .contacts__list-info
                            span Поддержка
                            a(href="mailto:support@finbee.kz") support@finbee.kz
                    li.contacts__list-item
                        .contacts__list-icon
                            img(data-src='img/contacts/contacts-list__icon2.svg', alt="Реклама")
                        .contacts__list-info
                            span Реклама
                            a(href="mailto:partner@finbee.kz") partner@finbee.kz

            .contacts__form-form
                span.contacts__form-title Через эту форму
                form 
                    .contacts__form-row
                        +add-select-common({placeholder: "Тип обращения", name: "value2"})
                    .contacts__form-row
                        span.textarea-max-lenght Осталось 150 символов
                        +add-input({
                            placeholder: "Тема",
                            name: "name",
                            value: "Я хотела бы прояснить один вопрос"
                        })
                    .contacts__form-row
                        span.textarea-max-lenght Осталось 150 символов
                        +add-textarea({
                            placeholder: "Текст сообщения",
                            name: "text",
                            value: "Здесь отображается текст"
                        })
                    .contacts__form-row.contacts__form-upload
                        label(for='contacts-upload').button.button--third.button--line Загрузить изображение
                        input#contacts-upload(type='file', name='upload')
                        span.upload-text JPG, PNG, GIF. До 2 мегабайт
                    .contacts__form-row.contacts__form-mail
                        +add-input({
                            placeholder: "Электронная почта",
                            name: "email"
                        })
                    .contacts__form-row.contacts__form-captcha
                        +add-image({src: 'img/contacts/contacts-captcha.png'})
                    .contacts__form-row.contacts__form-button
                        +add-button({text: "Отправить", types: ["primary"], buttonClass: "js__contacts-btn-submit"})
                .contacts__form-success
                    +add-image({src: 'img/contacts/contacts-success.svg'})
                    span Спасибо за обращение!
                    p Мы обязательно ответим вам в течении рабочих суток