.dynamic-head 
    background-color: #fff
    padding: 18px 0 35px
    h1
        color: #1e2633
        font-size: 44px
        font-weight: 900
        line-height: 45px
    p 
        line-height: 21px
        max-width: 748px
        margin-top: 20px
.dynamic-info
    padding-top: 41px
.dynamic-info__content
    border-radius: 10px
    background-color: #ffffff
    display: flex
    justify-content: space-between
.dynamic-info__schedule
    padding: 25px 31px
    padding-right: 20px
    width: 75%
    h2 
        color: #1e2633
        font-size: 37px
        font-weight: 900
        padding-left: 6px
    span 
        color: #c0c2c6
        font-size: 14px
        font-weight: 400
        display: block
        margin: 10px 0
        padding-left: 6px
    img 
        width: 100%
.dynamic-info__courses
    width: 25%
    padding: 28px 20px
    padding-bottom: 0
.dynamic-info__header
    display: flex
    justify-content: space-between
    color: #c0c2c6
    font-size: 12px
    font-weight: 700
    letter-spacing: 1.09px
    line-height: 20px
    text-transform: uppercase
    padding-bottom: 16px
    border-bottom: 2px solid #f5f5f5
    .col1
        width: 40%
    .col2, .col3 
        width: 30%
.dynamic-info__row
    display: flex
    justify-content: space-between
    padding: 15.8px 0
    border-bottom: 1px solid #f5f5f5
    color: #1e2633
    font-size: 15px
    font-weight: 400
    .list-courses__down, .list-courses__up
        margin: 0
    &:last-of-type
        border: none
    .col1
        width: 40%
    .col2, .col3 
        width: 30%
.dollard-course
    margin-top: 30px
    h3 
        color: #1e2633
        font-size: 25px
        font-weight: 900
        margin-bottom: 22px
    &__flex 
        display: flex
        justify-content: space-between
        margin: 0 -8px
    &__items 
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
    &__item 
        width: 91px
        height: 99px
        border-radius: 10px
        background-color: #ffffff
        display: flex
        justify-content: center
        flex-direction: column
        text-align: center
        align-items: center
        padding-top: 5px
        margin: 0 8.5px
        margin-bottom: 17px
        svg
            width: 36px
            height: 21px
            flex-shrink: 0
        span 
            color: #1e2633
            font-size: 18px
            font-weight: 700
            text-transform: uppercase
            margin: 10px 0 4px
            display: block
        p 
            color: #1e2633
            font-size: 14px
            font-weight: 400

.dynamic-text
    margin-top: 22px
    border-top: 1px solid #c0c2c6
    padding: 29px 0
    h3 
        color: #1e2633
        font-size: 25px
        font-weight: 900
        margin-bottom: 20px
    ul 
        margin: 0
        padding: 0
        li 
            list-style: none
            margin-right: 43px
            color: #1e2633
            display: inline-block
            span 
                display: block
                font-size: 14px
                font-weight: 700
                line-height: 21px
                margin-bottom: 5px
            p 
                font-size: 24px
                font-weight: 400
                text-transform: uppercase
                margin: 0
    p 
        margin-top: 23px
        font-size: 14px
        font-weight: 400
        line-height: 21px
.section-converter-table.dynamic-converter
    padding-top: 30px
    .h2-converter
        font-size: 25px
.dynamic-info__img2, .dynamic-info__switcher
    display: none
#dynamics-chart 
    width: 100%
    height: 351px
    .highcharts-title
        display: none
@media (max-width: 900px)  
    .dynamic-info__schedule 
        width: 65%
    .dynamic-info__courses
        width: 35%
@media (max-width: 767px)
    .dynamic-head h1  
        font-size: 31px
        line-height: 31px
        width: 80%
    .dynamic-head p
        font-size: 12px
        font-weight: 400
        line-height: 18px
        margin-top: 12px
    .dynamic_best-exchange
        margin-top: 15px
    .dynamic-head 
        padding-bottom: 0
        border-bottom: 1px solid #dfdfdf
    .dynamic-info__courses
        display: none
    .dynamic-info
        padding-top: 0
        background-color: #fff
    .dynamic-info__schedule
        width: 100%
        padding: 20px 0px 20px 0px
        h2 
            font-size: 27px
            line-height: 25px
        span 
            font-size: 12px
        img 
            display: none
        img.dynamic-info__img2
            display: block
    .dynamic-text
        background-color: #fff
        border-top: none
        margin-top: 4px
        padding: 20px 0
        border-bottom: 1px solid #f5f5f5
        h3 
            font-size: 22px
            margin-bottom: 10px
        ul
            li 
                margin-right: 14px
                &:last-of-type
                    margin-right: 0
                p 
                    font-size: 20px
    .dollard-course__item
        margin: 0 6.5px 10px
        width: 29%
    .dollard-course
        background-color: #f5f5f5
        padding-top: 19px
    .dollard-course__items
        justify-content: center
    .dynamic-converter
        .container 
            padding: 0
        .converter, .dollard-course
            padding-left: 10px
            padding-right: 10px
    .dollard-course h3
        margin-bottom: 10px
    .dynamic-text p
        margin-top: 20px
    .dynamic-info__switcher
        display: block
    .dynamic-info__courses
        width: 100%
        padding: 20px 0px 20px 0px
    .dynamic-info__content
        flex-direction: column
    .dynamic-info__header .col1,
    .dynamic-info__row .col1
        width: 50%
    .dynamic-info__header .col2, .dynamic-info__header .col3,
    .dynamic-info__row .col2, .dynamic-info__row  .col3
        width: 25%
    .dynamic-info__schedule
        padding-top: 17px
    .dynamic-info__schedule h2,
    .dynamic-info__schedule span
        padding-left: 0
    .dynamic-info__schedule span
        margin: 11px 0
        margin-bottom: 22px
    .dynamic-info__schedule img.dynamic-info__img2
        margin-top: 10px
    .section-converter-table.dynamic-converter
        padding-top: 10px
        .h2-converter 
            font-size: 22px
    .dollard-course h3
        font-size: 22px
        margin-bottom: 20px
    .dollard-course
        padding-top: 10px
    .dynamic-info__courses 
        padding-top: 20px
    #dynamics-chart 
        height: auto!important
    .dynamic-info__schedule
        padding-bottom: 0
    .section-converter-table.dynamic-converter
        padding-top: 0
