.container.tablemax-container.tablemax-container__filtering
    .tablemax
        .tablemax__header
            .tablemax__header-item.tablemax__header-item--bank
                span Банк
            .tablemax__header-item.tablemax__header-item--rate
                span.reverse
                    | ставка
                    +add-svg({icon: "arrow-sort"})
            .tablemax__header-item.tablemax__header-item--summa
                span
                    | ПЕРЕПЛАТА
                    +add-svg({icon: "arrow-sort"})
            .tablemax__header-item.tablemax__header-item--term
                span
                    | ПЛАТЕЖ
                    +add-svg({icon: "arrow-sort"})
            .tablemax__header-item.tablemax__header-item--last
                span
        .tablemax_content
            .tablemax__item

                .tablemax__item-wrap

                    .tablemax__img
                        figure
                            +add-image({src: "static/listcredit/rayffayzenbank.png", retina: true})
                    
                        a(href="#") На любые цели
                        div
                            span Райффайзен банк
                            em Лиц. № 3293

                    //- Rate
                    .tablemax__rate
                        span 
                            | от
                            b 9.90%

                    //- Summa
                    .tablemax__summa(data-title="переплата")
                        span
                            b 357 385
                            | T

                    //- Term
                    .tablemax__term(data-title="платеж")
                        span
                            b 28 954T
                            |  / мес
                            
                    //- Btn
                    .tablemax__btn
                        +add-button({text: "Подать заявку", types: ["secondary"]})
                    
                    //- Footer
                    .tablemax__footer
                        .tablemax__footer-group
                            ul
                                li.color-green Без комиссии
                                li.color-red Страховка бесплатно
                                li 90 дней без процентов
                                li Лучшие условия на рынке

                        .tablemax__footer-btn
                            span.js__open-info-table
                                | Подробнее
                                +add-svg({icon: "arrow"})

                    .tablemax__btn-mobile
                        +add-button({text: "Подробнее", buttonClass: "more js__open-info-table",types: ["third", "line"]})
                        +add-button({text: "Подать заявку", buttonClass: "query",types: ["third"]})

                    .tablemax__more.js__open-subcredit
                        em Еще 2 кредита
                        +add-svg({icon: "arrow"})
                
                .tablemax-info
                    .tablemax-info__wrap
                        .tablemax-info__column-title
                            b Условия
                            +add-svg({icon: "arrow"})
                        .tablemax-info__column.tablemax-info__column--full
                            b Условия
                            div
                                em Цель кредита
                                span Просто деньги
                            div
                                em Ставка
                                span 15%
                            div
                                em Сумма
                                span 50 000&nbsp;₸ – 600 000&nbsp;₸
                            div
                                em Срок
                                span От 1 года до 5 лет
                            div
                                em Сроки рассмотрения
                                span От 1 дня до 5 дней
                            div
                                em Обеспечение
                                span Залог: Недвижимость
                            div
                                em Досрочное погашение
                                span Есть, без штрафов
                            div
                                em Комисиии
                                span Разово 1% за рассмотрение кредита

                        .tablemax-info__column-title
                            b Требования
                            +add-svg({icon: "arrow"})
                        .tablemax-info__column
                            b Требования
                            div
                                em Общий стаж
                                span 6 месяцев
                            div
                                em Ежемесячный доход
                                span 60 000 ₸
                            div
                                em Ежемесячный доход
                                span 
                                    | 25-58 для женщин 
                                    br 
                                    | 23-56 для мужчин

                        .tablemax-info__column-title
                            b Документы
                            +add-svg({icon: "arrow"})
                        .tablemax-info__column
                            b Документы
                            div
                                em Обязательные документы
                                ul
                                    li Удостоверение личности
                                    li Паспорт
                                    li Военный билет
                            div
                                em Подтверждение дохода
                                span Справка с места работы

                    .tablemax-info__btn-footer
                        +add-button({text: "Расчитать ежемесячный платеж", types: ["secondary", "line", "icon", "icon-right"], icon: true, iconBefore: false})


                //- Subcredit block
                .tablemax__subcredit
                    //- Subcredit
                    .tablemax__item

                        .tablemax__item-wrap
                            //- Img
                            .tablemax__img
                                figure
                                    +add-image({src: "static/listcredit/rayffayzenbank.png", retina: true})
                            
                                a(href="#") На любые цели
                                div
                                    span Райффайзен банк
                                    em Лиц. № 3293

                            //- Rate
                            .tablemax__rate
                                span 
                                    | от
                                    b 9.90%

                            //- Summa
                            .tablemax__summa(data-title="переплата")
                                span
                                    b 357 385
                                    | T

                            //- Term
                            .tablemax__term(data-title="платеж")
                                span
                                    b 28 954T
                                    |  / мес   
                            //- Btn
                            .tablemax__btn
                                +add-button({text: "Подать заявку", types: ["secondary"]})
                            
                            //- Footer
                            .tablemax__footer
                                .tablemax__footer-group
                                    .label-group
                                        span.label.label--green(data-title="Если вы оформите этот кредит, страхока вам достанется бесплатно. Это можно понять из названия акции") 90 дней без процентов
                                        span.label.label--red(data-title="Если вы оформите этот кредит, страхока вам достанется бесплатно. Это можно понять из названия акции") Телевизор в подарок

                                    ul
                                        li.color-green Без комиссии
                                        li.color-red Страховка бесплатно
                                        li 90 дней без процентов
                                        li Лучшие условия на рынке

                                .tablemax__footer-btn
                                    span.js__open-info-table
                                        | Подробнее
                                        +add-svg({icon: "arrow"})

                            .tablemax__btn-mobile
                                +add-button({text: "Подробнее", buttonClass: "more js__open-info-table",types: ["third", "line"]})
                                +add-button({text: "Подать заявку", buttonClass: "query",types: ["third"]})

                            //- .tablemax__more
                            //-     em Еще 2 кредита
                            //-     +add-svg({icon: "arrow"})
                        
                        .tablemax-info
                            .tablemax-info__wrap
                                .tablemax-info__column-title
                                    b Условия
                                    +add-svg({icon: "arrow"})
                                .tablemax-info__column.tablemax-info__column--full
                                    b Условия
                                    div
                                        em Цель кредита
                                        span Просто деньги
                                    div
                                        em Ставка
                                        span 15%
                                    div
                                        em Сумма
                                        span 50 000&nbsp;₸ – 600 000&nbsp;₸
                                    div
                                        em Срок
                                        span От 1 года до 5 лет
                                    div
                                        em Сроки рассмотрения
                                        span От 1 дня до 5 дней
                                    div
                                        em Обеспечение
                                        span Залог: Недвижимость
                                    div
                                        em Досрочное погашение
                                        span Есть, без штрафов
                                    div
                                        em Комисиии
                                        span Разово 1% за рассмотрение кредита

                                .tablemax-info__column-title
                                    b Требования
                                    +add-svg({icon: "arrow"})
                                .tablemax-info__column
                                    b Требования
                                    div
                                        em Общий стаж
                                        span 6 месяцев
                                    div
                                        em Ежемесячный доход
                                        span 60 000 ₸
                                    div
                                        em Ежемесячный доход
                                        span 
                                            | 25-58 для женщин 
                                            br 
                                            | 23-56 для мужчин

                                .tablemax-info__column-title
                                    b Документы
                                    +add-svg({icon: "arrow"})
                                .tablemax-info__column
                                    b Документы
                                    div
                                        em Обязательные документы
                                        ul
                                            li Удостоверение личности
                                            li Паспорт
                                            li Военный билет
                                    div
                                        em Подтверждение дохода
                                        span Справка с места работы

                            .tablemax-info__btn-footer
                                +add-button({text: "Расчитать ежемесячный платеж", types: ["secondary", "line", "icon", "icon-right"], icon: true, iconBefore: false})

                    //- Subcredit
                    .tablemax__item

                        .tablemax__item-wrap
                            //- Img
                            .tablemax__img
                                figure
                                    +add-image({src: "static/listcredit/rayffayzenbank.png", retina: true})
                            
                                a(href="#") На любые цели
                                div
                                    span Райффайзен банк
                                    em Лиц. № 3293

                            //- Rate
                            .tablemax__rate
                                span 
                                    | от
                                    b 9.90%

                            //- Summa
                            .tablemax__summa(data-title="переплата")
                                span
                                    b 357 385
                                    | T

                            //- Term
                            .tablemax__term(data-title="платеж")
                                span
                                    b 28 954T
                                    |  / мес                                                                      
                            //- Btn
                            .tablemax__btn
                                +add-button({text: "Подать заявку", types: ["secondary"]})
                            
                            //- Footer
                            .tablemax__footer
                                .tablemax__footer-group
                                    .label-group
                                        span.label.label--green(data-title="Если вы оформите этот кредит, страхока вам достанется бесплатно. Это можно понять из названия акции") 90 дней без процентов
                                        span.label.label--red(data-title="Если вы оформите этот кредит, страхока вам достанется бесплатно. Это можно понять из названия акции") Телевизор в подарок

                                    ul
                                        li.color-green Без комиссии
                                        li.color-red Страховка бесплатно
                                        li 90 дней без процентов
                                        li Лучшие условия на рынке

                                .tablemax__footer-btn
                                    span.js__open-info-table
                                        | Подробнее
                                        +add-svg({icon: "arrow"})

                            .tablemax__btn-mobile
                                +add-button({text: "Подробнее", buttonClass: "more js__open-info-table",types: ["third", "line"]})
                                +add-button({text: "Подать заявку", buttonClass: "query",types: ["third"]})

                            //- .tablemax__more
                            //-     em Еще 2 кредита
                            //-     +add-svg({icon: "arrow"})
                        
                        .tablemax-info
                            .tablemax-info__wrap
                                .tablemax-info__column-title
                                    b Условия
                                    +add-svg({icon: "arrow"})
                                .tablemax-info__column.tablemax-info__column--full
                                    b Условия
                                    div
                                        em Цель кредита
                                        span Просто деньги
                                    div
                                        em Ставка
                                        span 15%
                                    div
                                        em Сумма
                                        span 50 000&nbsp;₸ – 600 000&nbsp;₸
                                    div
                                        em Срок
                                        span От 1 года до 5 лет
                                    div
                                        em Сроки рассмотрения
                                        span От 1 дня до 5 дней
                                    div
                                        em Обеспечение
                                        span Залог: Недвижимость
                                    div
                                        em Досрочное погашение
                                        span Есть, без штрафов
                                    div
                                        em Комисиии
                                        span Разово 1% за рассмотрение кредита

                                .tablemax-info__column-title
                                    b Требования
                                    +add-svg({icon: "arrow"})
                                .tablemax-info__column
                                    b Требования
                                    div
                                        em Общий стаж
                                        span 6 месяцев
                                    div
                                        em Ежемесячный доход
                                        span 60 000 ₸
                                    div
                                        em Ежемесячный доход
                                        span 
                                            | 25-58 для женщин 
                                            br 
                                            | 23-56 для мужчин

                                .tablemax-info__column-title
                                    b Документы
                                    +add-svg({icon: "arrow"})
                                .tablemax-info__column
                                    b Документы
                                    div
                                        em Обязательные документы
                                        ul
                                            li Удостоверение личности
                                            li Паспорт
                                            li Военный билет
                                    div
                                        em Подтверждение дохода
                                        span Справка с места работы

                            .tablemax-info__btn-footer
                                +add-button({text: "Расчитать ежемесячный платеж", types: ["secondary", "line", "icon", "icon-right"], icon: true, iconBefore: false})


            .tablemax__item.tablemax__item--best

                .tablemax__item-wrap
                    .tablemax__item--best-wrap
                        span Лучшее
                    //- Img
                    //- Img
                    .tablemax__img
                        figure
                            +add-image({src: "static/listcredit/rayffayzenbank.png", retina: true})
                        a(href="#") На любые цели
                        div
                            span Райффайзен банк
                            em Лиц. № 3293

                    //- Rate
                    .tablemax__rate
                        span 
                            | от
                            b 9.90%
                    //- Summa
                    .tablemax__summa(data-title="переплата")
                        span
                            b 357 385
                            | T

                    //- Term
                    .tablemax__term(data-title="платеж")
                        span
                            b 28 954T
                            |  / мес   
                    //- Btn
                    .tablemax__btn
                        +add-button({text: "Подать заявку", types: ["secondary"]})
                    
                    //- Footer
                    .tablemax__footer
                        .tablemax__footer-group
                            ul
                                li.color-green Без комиссии
                                li.color-red Страховка бесплатно
                                li 90 дней без процентов
                                li Лучшие условия на рынке

                        .tablemax__footer-btn
                            span.js__open-info-table
                                | Подробнее
                                +add-svg({icon: "arrow"})

                    .tablemax__btn-mobile
                        +add-button({text: "Подробнее", buttonClass: "more js__open-info-table",types: ["third", "line"]})
                        +add-button({text: "Подать заявку", buttonClass: "query",types: ["third"]})

                    .tablemax__more.js__open-subcredit
                        em Еще 2 кредита
                        +add-svg({icon: "arrow"})

                .tablemax-info
                    .tablemax-info__wrap
                        .tablemax-info__column-title
                            b Условия
                            +add-svg({icon: "arrow"})
                        .tablemax-info__column.tablemax-info__column--full
                            b Условия
                            div
                                em Цель кредита
                                span Просто деньги
                            div
                                em Ставка
                                span 15%
                            div
                                em Сумма
                                span 50 000&nbsp;₸ – 600 000&nbsp;₸
                            div
                                em Срок
                                span От 1 года до 5 лет
                            div
                                em Сроки рассмотрения
                                span От 1 дня до 5 дней
                            div
                                em Обеспечение
                                span Залог: Недвижимость
                            div
                                em Досрочное погашение
                                span Есть, без штрафов
                            div
                                em Комисиии
                                span Разово 1% за рассмотрение кредита

                        .tablemax-info__column-title
                            b Требования
                            +add-svg({icon: "arrow"})
                        .tablemax-info__column
                            b Требования
                            div
                                em Общий стаж
                                span 6 месяцев
                            div
                                em Ежемесячный доход
                                span 60 000 ₸
                            div
                                em Ежемесячный доход
                                span 
                                    | 25-58 для женщин 
                                    br 
                                    | 23-56 для мужчин

                        .tablemax-info__column-title
                            b Документы
                            +add-svg({icon: "arrow"})
                        .tablemax-info__column
                            b Документы
                            div
                                em Обязательные документы
                                ul
                                    li Удостоверение личности
                                    li Паспорт
                                    li Военный билет
                            div
                                em Подтверждение дохода
                                span Справка с места работы

                    .tablemax-info__btn-footer
                        +add-button({text: "Расчитать ежемесячный платеж", types: ["secondary", "line", "icon", "icon-right"], icon: true, iconBefore: false})

                //- Subcredit block
                .tablemax__subcredit
                    //- Subcredit
                    .tablemax__item

                        .tablemax__item-wrap
                            //- Img
                            .tablemax__img
                                figure
                                    +add-image({src: "static/listcredit/rayffayzenbank.png", retina: true})
                            
                                a(href="#") На любые цели
                                div
                                    span Райффайзен банк
                                    em Лиц. № 3293

                            //- Rate
                            .tablemax__rate
                                span 
                                    | от
                                    b 9.90%

                            //- Summa
                            .tablemax__summa
                                span
                                    | от
                                    b &nbsp;5 000 000Т
                                
                                span
                                    | до
                                    b &nbsp;500 000 000T

                            //- Term
                            .tablemax__term
                                span
                                    | до
                                    b &nbsp;5 лет
                                    
                            //- Btn
                            .tablemax__btn
                                +add-button({text: "Подать заявку", types: ["secondary"]})
                            
                            //- Footer
                            .tablemax__footer
                                .tablemax__footer-group
                                    .label-group
                                        span.label.label--green(data-title="Если вы оформите этот кредит, страхока вам достанется бесплатно. Это можно понять из названия акции") 90 дней без процентов
                                        span.label.label--red(data-title="Если вы оформите этот кредит, страхока вам достанется бесплатно. Это можно понять из названия акции") Телевизор в подарок

                                    ul
                                        li.color-red Без комиссии
                                        li.color-green Страховка бесплатно
                                        li 90 дней без процентов
                                        li Лучшие условия на рынке

                                .tablemax__footer-btn
                                    span.js__open-info-table
                                        | Подробнее
                                        +add-svg({icon: "arrow"})

                            .tablemax__btn-mobile
                                +add-button({text: "Подробнее", buttonClass: "more js__open-info-table",types: ["third", "line"]})
                                +add-button({text: "Подать заявку", buttonClass: "query",types: ["third"]})

                            //- .tablemax__more
                            //-     em Еще 2 кредита
                            //-     +add-svg({icon: "arrow"})
                        
                        .tablemax-info
                            .tablemax-info__wrap
                                .tablemax-info__column-title
                                    b Условия
                                    +add-svg({icon: "arrow"})
                                .tablemax-info__column.tablemax-info__column--full
                                    b Условия
                                    div
                                        em Цель кредита
                                        span Просто деньги
                                    div
                                        em Ставка
                                        span 15%
                                    div
                                        em Сумма
                                        span 50 000&nbsp;₸ – 600 000&nbsp;₸
                                    div
                                        em Срок
                                        span От 1 года до 5 лет
                                    div
                                        em Сроки рассмотрения
                                        span От 1 дня до 5 дней
                                    div
                                        em Обеспечение
                                        span Залог: Недвижимость
                                    div
                                        em Досрочное погашение
                                        span Есть, без штрафов
                                    div
                                        em Комисиии
                                        span Разово 1% за рассмотрение кредита

                                .tablemax-info__column-title
                                    b Требования
                                    +add-svg({icon: "arrow"})
                                .tablemax-info__column
                                    b Требования
                                    div
                                        em Общий стаж
                                        span 6 месяцев
                                    div
                                        em Ежемесячный доход
                                        span 60 000 ₸
                                    div
                                        em Ежемесячный доход
                                        span 
                                            | 25-58 для женщин 
                                            br 
                                            | 23-56 для мужчин

                                .tablemax-info__column-title
                                    b Документы
                                    +add-svg({icon: "arrow"})
                                .tablemax-info__column
                                    b Документы
                                    div
                                        em Обязательные документы
                                        ul
                                            li Удостоверение личности
                                            li Паспорт
                                            li Военный билет
                                    div
                                        em Подтверждение дохода
                                        span Справка с места работы

                            .tablemax-info__btn-footer
                                +add-button({text: "Расчитать ежемесячный платеж", types: ["secondary", "line", "icon", "icon-right"], icon: true, iconBefore: false})

                    //- Subcredit
                    .tablemax__item

                        .tablemax__item-wrap
                            //- Img
                            .tablemax__img
                                figure
                                    +add-image({src: "static/listcredit/rayffayzenbank.png", retina: true})
                            
                                a(href="#") На любые цели
                                div
                                    span Райффайзен банк
                                    em Лиц. № 3293

                            //- Rate
                            .tablemax__rate
                                span 
                                    | от
                                    b 9.90%

                            //- Summa
                            .tablemax__summa
                                span
                                    | от
                                    b &nbsp;5 000 000Т
                                
                                span
                                    | до
                                    b &nbsp;500 000 000T

                            //- Term
                            .tablemax__term
                                span
                                    | до
                                    b &nbsp;5 лет
                                    
                            //- Btn
                            .tablemax__btn
                                +add-button({text: "Подать заявку", types: ["secondary"]})
                            
                            //- Footer
                            .tablemax__footer
                                .tablemax__footer-group
                                    .label-group
                                        span.label.label--green(data-title="Если вы оформите этот кредит, страхока вам достанется бесплатно. Это можно понять из названия акции") 90 дней без процентов
                                        span.label.label--red(data-title="Если вы оформите этот кредит, страхока вам достанется бесплатно. Это можно понять из названия акции") Телевизор в подарок

                                    ul
                                        li.color-red Без комиссии
                                        li.color-green Страховка бесплатно
                                        li 90 дней без процентов
                                        li Лучшие условия на рынке

                                .tablemax__footer-btn
                                    span.js__open-info-table
                                        | Подробнее
                                        +add-svg({icon: "arrow"})

                            .tablemax__btn-mobile
                                +add-button({text: "Подробнее", buttonClass: "more js__open-info-table",types: ["third", "line"]})
                                +add-button({text: "Подать заявку", buttonClass: "query",types: ["third"]})

                            //- .tablemax__more
                            //-     em Еще 2 кредита
                            //-     +add-svg({icon: "arrow"})
                        
                        .tablemax-info
                            .tablemax-info__wrap
                                .tablemax-info__column-title
                                    b Условия
                                    +add-svg({icon: "arrow"})
                                .tablemax-info__column.tablemax-info__column--full
                                    b Условия
                                    div
                                        em Цель кредита
                                        span Просто деньги
                                    div
                                        em Ставка
                                        span 15%
                                    div
                                        em Сумма
                                        span 50 000&nbsp;₸ – 600 000&nbsp;₸
                                    div
                                        em Срок
                                        span От 1 года до 5 лет
                                    div
                                        em Сроки рассмотрения
                                        span От 1 дня до 5 дней
                                    div
                                        em Обеспечение
                                        span Залог: Недвижимость
                                    div
                                        em Досрочное погашение
                                        span Есть, без штрафов
                                    div
                                        em Комисиии
                                        span Разово 1% за рассмотрение кредита

                                .tablemax-info__column-title
                                    b Требования
                                    +add-svg({icon: "arrow"})
                                .tablemax-info__column
                                    b Требования
                                    div
                                        em Общий стаж
                                        span 6 месяцев
                                    div
                                        em Ежемесячный доход
                                        span 60 000 ₸
                                    div
                                        em Ежемесячный доход
                                        span 
                                            | 25-58 для женщин 
                                            br 
                                            | 23-56 для мужчин

                                .tablemax-info__column-title
                                    b Документы
                                    +add-svg({icon: "arrow"})
                                .tablemax-info__column
                                    b Документы
                                    div
                                        em Обязательные документы
                                        ul
                                            li Удостоверение личности
                                            li Паспорт
                                            li Военный билет
                                    div
                                        em Подтверждение дохода
                                        span Справка с места работы

                            .tablemax-info__btn-footer
                                +add-button({text: "Расчитать ежемесячный платеж", types: ["secondary", "line", "icon", "icon-right"], icon: true, iconBefore: false})


        .tablemax__footer-button
            +add-button({text: "Показать еще", types: ["secondary", "line", "icon", "icon-right"], icon: true, iconBefore: false})
