include ../mixins/credit-recommend

include ../popup/extsel
include ../popup/querycr

section.credit-info-section.listingbank-section
    .container
        .credit-info
            .credit-info-row
                h1.credit-info-header Придумайте новый пароль
               
            .popup__content.popup__content-btnform
                .fornlog
                    form.fornlog__content
                        .form-input
                            +add-input({
                                placeholder: "Новый пароль",
                                type: "password",
                                name: "log-newpas"
                            })

                        p.fornlog__text Латинские буквы и цифры. Не менее 6 символов

                        .form-input
                            +add-input({
                                placeholder: "Повторите пароль",
                                type: "password",
                                name: "log-renewpas"
                            })

                        +add-button({text: "Сменить пароль", types: ["primary"], isSubmit: true})

