.block-banks
    background: #f5f5f5
    position: relative
    padding-bottom: 16px
    padding-top: 32px
    h2
        font-size: 37px
        line-height: 42px
        color: #152c51
        font-weight: 900
.block-banks-list
    background: #FFF
    border-radius: 10px
    display: flex;
    justify-content: space-between
    flex-wrap: wrap
    align-items: center
    padding: 13px 15px 13px 15px
    margin-top: 30px
    margin-bottom: 30px
    &__item
        display: block
        width: 20%
        padding: 40px 20px 42px 20px
    &__img
        display: block
        img
            display: block
            max-width: 100%
            margin: 0 auto
            filter: grayscale(10)
            opacity: 0.6
            transition: filter .4s ease-in, opacity .4s ease-in
        &:hover
            img
                filter: grayscale(0)
                opacity: 1


@media (max-width: 1000px)
    .block-banks-list__item
        padding-left: 10px
        padding-right: 10px
        width: 25%

@media (max-width: 767px)    
    .block-banks
        padding-top: 8px
        padding-bottom: 8px
        h2
            font-size: 27px
            line-height: 27px
    .block-banks-list
        padding: 0 0 0 0
        background: none
        margin-left: -10px
        margin-right: -10px
        margin-top: 25px
        margin-bottom: 5px
        overflow: auto
        white-space: nowrap
        display: block
        padding-left: 10px
        padding-right: 10px
        &__item
            display: inline-block
            vertical-align: top
            width: 140px
            height: 72px
            padding: 10px
            border-radius: 8px
            background: #FFF
            margin-left: 0
            margin-right: 6px
            margin-bottom: 10px
            position: relative
            img
                position: absolute
                left: 50%
                top: 50%
                transform: translate(-50%, -50%)
                max-width: 75%
    
