.bank-howto-section
    .container
        .bank-howto
            .bank-howto-item.bank-howto-item--first
                h3.bank-howto-item-header Как оформить
                .bank-howto-item-content
                    .bank-howto-get
                        .bank-howto-get-item
                            .bank-howto-get-item-photo
                                +add-svg({class: "bank-howto-get-item-photo__icon", icon: "laptop"})

                            .bank-howto-get-item-content
                                .bank-howto-get-item-header
                                    a(href="#") Заполнить заявку на сайте банка

                        .bank-howto-get-item
                            .bank-howto-get-item-photo
                                +add-svg({class: "bank-howto-get-item-photo__icon", icon: "bank"})

                            .bank-howto-get-item-content
                                .bank-howto-get-item-header
                                    a(href="#") В любом отделении Альфа-банка

                        .bank-howto-get-item
                            .bank-howto-get-item-photo
                                +add-svg({class: "bank-howto-get-item-photo__icon", icon: "call"})

                            .bank-howto-get-item-content
                                .bank-howto-get-item-header
                                    span По телефонам

                                .bank-howto-get-item-body
                                    .bank-howto-get-phones
                                        .bank-howto-get-phone
                                            a(href="tel:2051") 2051 (доб. 1)
                                            span Бесплатно для мобильных

                                        .bank-howto-get-phone
                                            a(href="tel:88009076655") 8 800 907-66-55
                                            span Бесплатно по Казахстану

                        .bank-howto-get-item
                            .bank-howto-get-item-photo
                                +add-svg({class: "bank-howto-get-item-photo__icon", icon: "cursor"})

                            .bank-howto-get-item-content
                                .bank-howto-get-item-header
                                    a(href="#") Подать онлайн-заявку


            .bank-howto-item.bank-howto-item--second
                h3.bank-howto-item-header Как погасить
                .bank-howto-item-content
                    ul.bank-howto-item-list.bank-howto-item-list--vertical
                        li Интернет-банк Альфа-клик
                        li Мобильный банк Альфа-Мобайл
                        li Терминалы Альфа-банка
                        li Филиалы и отделения АО ДБ Альфа-Банк
                        li Кассы Казпочты
                        li Терминалы Касса 24
                        li Электронные терминалы Qiwi

            .bank-howto-item.bank-howto-item--third
                h3.bank-howto-item-header Как получить
                .bank-howto-item-content
                    //- If that crap will be reused in future should add additional classes, like d-md-vertical
                    ul.bank-howto-item-list.bank-howto-item-list--horizontal
                        li Наличными
                        li На банковскую карту
                        li На банковский счет

            .bank-howto-item.bank-howto-item--fourth
                .credit-info-buttons-wrapper
                    +add-button({text: "Оформить кредит онлайн", types: ["primary", "main-button"], buttonClass: "js__open-credit"})
                    +add-button({
                        text: "Расчитать условия кредита",
                        types: ["primary", "main-button", "line"],
                        containerClass: "button-container--credit-requirements",
                        buttonClass: "js__open-creditpay"
                    })
