.tablemax-container_bankcredit
	padding-top: 30px
.listcredit-head_bankcredit
	padding-top: 31px
	.listcredit-head__form 
		width: 100%
		form
			display: flex
			margin: 0 -15px
		.custom-select-container, .listcredit-form-item
			margin: 0 15px
			width: calc(25% - 30px)
		.listcredit-form-item_btn
			text-align: right
		.custom-select-container
			background: #fff
	.listcredit-head__more
		margin-top: 19px

.bank__content .credit-info-section_bankcredit 
	.credit-info
		padding-bottom: 23px
	.credit-info-row .credit-info-right .credit-info-image
		margin-top: 15px
.bankcredit-form-btn-sbt
	padding-left: 37px
	padding-right: 37px
.lcreviews__field
	position: relative
.lcreviews__form_tall
	.block-textarea
		min-height: 358px
		textarea
			resize: none
	form .block-textarea, .js__input-block-hidden.active
	    margin-bottom: 20px
	.button--primary
		padding-left: 40px
		padding-right: 40px
	.group p
		max-width: 238px
@media (max-width: 1100px) 	
	.listcredit-head_bankcredit
		.listcredit-head__form 
			.custom-select-container, .listcredit-form-item
				width: calc(33.33% - 30px)
	.listcredit-head_bankcredit .listcredit-head__more
		margin-top: 30px
	.listcredit-head_bankcredit .listcredit-head__form .listcredit-form-item_btn
		text-align: left

	.bankcredit-form-btn-sbt
		width: 100%
@media (max-width: 992px) 	
	.listcredit-head_bankcredit
		.listcredit-head__form 
			.custom-select-container, .listcredit-form-item
				width: calc(50% - 30px)
				margin-bottom: 29px
	.listcredit-head_bankcredit .listcredit-head__form .listcredit-form-item_btn
		text-align: right
	.tablemax-container_bankcredit
		padding-top: 0
	.lcreviews__form_tall
		.block-textarea span
			top: 29px
		.block-textarea.focus span
			top: 8px
	.bankcredit-form-btn-sbt
		padding-left: 25px
		padding-right: 25px

@media (max-width: 900px) and (min-width: 560px)
	.listcredit-head_bankcredit .listcredit-head__form .listcredit-form-btn-sbt
		width: 100%
	.listcredit-head_bankcredit .listcredit-head__more
    	margin-top: 15px
    	margin-bottom: 0
@media (max-width: 767px) 	
	.bank__content .listcredit-head_bankcredit .button-container
		position: static
		transform: none
	.listcredit-head_bankcredit .listcredit-head__form .listcredit-form-btn-sbt
		width: 100%
	.bank__content .credit-info-section_bankcredit .credit-info-row .credit-info-right .credit-info-image
		margin-top: 22px
	.bank__content .credit-info-section_bankcredit .credit-info, .review-item
		padding-bottom: 9px;
	.listcredit-head_bankcredit
		padding-top: 21px;		
@media (max-width: 560px) 
	.listcredit-head_bankcredit
		.listcredit-head__form 
			form
				margin-left: -7px
				margin-right: -7px
			.custom-select-container
				width: calc(100% - 14px)
				margin-bottom: 22px
			.custom-select-container, .listcredit-form-item
				margin-left: 7px
				margin-right: 7px
	.listcredit-head_bankcredit .listcredit-form-item_btn
		display: block
	.listcredit-head_bankcredit .listcredit-head__more
		margin-top: 15px
		margin-bottom: 12px
	.listcredit-head_bankcredit .listcredit-head__form .listcredit-form-item
    	width: calc(55% - 14px)
    	margin-bottom: 18px
	.listcredit-head_bankcredit .listcredit-head__form .listcredit-form-item.listcredit-form-btn
	    width: calc(45% - 14px)
	.listcredit-head_bankcredit .listcredit-head__more
		text-align: left

@media (max-width: 480px) 
	.listcredit-head_bankcredit .listcredit-head__form .listcredit-form-item_btn
		display: none