.articles-listing
    padding-bottom: 40px
    .credit-info
        color: #1e2633
        padding: 4px 0 10px
    .popular-articles
        background-color: #152c51
        padding-top: 42px
        .answers__dots
            margin-bottom: 50px
        h2 
            color: #fff
        .answers__dots .slick-dots li.slick-active:before
            width: 12px
            height: 12px
            background-color: #fff
    &-main
        margin-bottom: 42px
        .bank-list
            margin-bottom: 40px
        &__row 
            display: flex
            justify-content: space-between
            margin-bottom: 30px
            margin-left: -15px
            margin-right: -15px
    .articles__item-big
        min-height: 472px
    .articles__item-big,
    .articles__item-normal,
    .articles__item-middle
        width: calc(67.7% - 30px)
        border-radius: 10px
        transition: .2s linear
        &:hover 
            box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15)
        .popular-articles__img
            height: 387px
        .popular-articles__name
            font-size: 18px
            padding-top: 10px
            line-height: 22px
        .popular-articles__text
            padding-top: 15px
    .articles__item-normal
        width: calc( 33.3% - 30px )
        min-height: auto
        align-self: baseline
        .popular-articles__img
            height: 230px
    .articles__item-middle
        width: calc( 50% - 30px )
        min-height: auto
        align-self: baseline
        .popular-articles__img
            height: 353px
.articles-listing-main__slider-wrap
    max-width: calc(33.3% - 30px)
    margin: 0 15px
    h3 
        color: #1e2633
        font-size: 25px
        font-weight: 900
        margin-bottom: 33px
        text-align: center
        line-height: 20px
    .answers__dots
        justify-content: center
        margin-top: 50px
        margin-bottom: 0
    .articles__item-normal
        margin: 0
        width: 360px
.articles-list
    margin-top: 30px
    .articles-listing-main__row
        flex-wrap: wrap
        margin-bottom: 0
    .popular-articles__item
        margin-bottom: 30px
    .articles-list__pagination
        padding-top: 0
        padding-bottom: 40px

@media (max-width: 767px)
    .articles-listing .popular-articles
        display: none
    .articles-listing .popular-articles.choosing-articles
        display: block
    .choosing-articles
        h2 
            position: relative
            padding-left: 35px
            span
                position: absolute
                left: 0

    .articles-list .articles-list__pagination
        padding-bottom: 20px
    .articles-listing
        padding-bottom: 0
    .articles-listing .articles__item-normal,
    .articles-listing .articles__item-middle,
    .articles-listing .articles__item-big,
    .articles-listing-main__slider-wrap
        width: 100%
        margin: 0 15px
        margin-bottom: 20px
        min-height: auto
        .popular-articles__img
            height: 190px
    .articles-listing-main__slider-wrap
        max-width: 100%
        margin: 0 15px
        margin-bottom: 20px
        margin-top: 8px
        h3 
            margin-bottom: 30px
        .popular-articles__item
            margin: 0
    .articles-listing-main__row-slider
        margin-bottom: 0
    .articles-listing-main__slider
        margin-right: 30px
    .articles-listing-main__row
        flex-wrap: wrap
    .articles-listing-main__row-mob
        margin-bottom: 0
        padding: 0
        .popular-articles__item:first-of-type
            border-radius: 10px 10px 0 0
        &:last-of-type
            .popular-articles__item
                &:first-of-type
                    border-radius: 0
                &:last-of-type
                    border: none
                    border-radius: 0 0 10px 10px
        .popular-articles__img
            display: none
        .popular-articles__item
            margin-bottom: 0
            border-bottom: 1px solid #f5f5f5
            border-radius: 0
    .articles-listing .bank-list .tabs
        width: 830px
    .articles-listing-main__slider-wrap h3
        text-align: left
    .articles-listing-main__slider-wrap
        position: relative
        .listcreditslider__dots--desktop .slick-dots,
        .answers__dots
            display: flex!important
    .articles-listing-main__slider-wrap .answers__dots
        margin: 0 auto
        position: absolute
        top: -2px
        right: 23px
    .articles-listing-main .bank-list
        margin-bottom: 10px
    .articles-listing .articles__item-big .popular-articles__name, 
    .articles-listing .articles__item-middle .popular-articles__name, 
    .articles-listing .articles__item-normal .popular-articles__name
        padding-top: 4px
        font-size: 15px
    .articles-listing .popular-articles
        padding-top: 20px
        h2 
            font-size: 22px
    .articles-list
        margin-top: 5px
    .articles-listing-main
        margin-bottom: 20px

                