.send-to-email
    display: flex
    align-items: center
    flex-wrap: wrap

    @media screen and (max-width: 500px)
        justify-content: center

    & > *
        margin: 5px 20px 5px 0

        @media screen and (max-width: 500px)
            margin: 0 0 5px

    .input-container
        flex: 1
        width: 100%
        max-width: 335px

        @media screen and (max-width: 900px)
            max-width: initial

        @media screen and (max-width: 500px)
            flex: auto

    .button-container
        @media screen and (max-width: 900px)
            margin: 10px 5px 10px 0

        @media screen and (max-width: 500px)
            margin: 5px
