.header-profile
    display: flex
    align-items: center
    justify-content: center

    color: #c0c2c6

    transition-property: color
    transition-duration: $transition-duration

    &:hover
        text-decoration: none
        color: $color-clear-blue

    &__icon
        width: 30px
        height: 30px
        fill: currentColor
