.bank-tabs
    display: flex
    align-items: flex-start
    flex-wrap: wrap

    border-radius: 10px
    background-color: #ffffff

    padding: 20px 39px

    height: auto
    min-height: 422px

    @media screen and (max-width: 1000px)
        border-radius: 0
        padding: 0 15px

    @media screen and (max-width: 900px)
        padding: 0 10px

    &-section
        padding: 41px 0 20px

        @media screen and (max-width: 1000px)
            padding: 0

    &-section .container &
        @media screen and (max-width: 1000px)
            margin: 0 -15px

        @media screen and (max-width: 900px)
            margin: 0 -10px

    & &-nav
        width: 212px

        @media screen and (max-width: 1000px)
            width: 100%

    &-nav
        & &-item
            border-bottom: 1px solid $color-white

            &.active
                @media screen and (max-width: 1000px)
                    border-color: transparent

            &:first-child
                // Seems that shouldn't be here
                //border-top: 1px solid $color-white
                border-top: 1px solid transparent

            &:last-child
                border-bottom: 1px solid transparent

        &-item
            display: flex
            flex-wrap: wrap
            align-items: center

            color: $color-clear-blue
            font-size: 18px
            font-weight: 400

            padding: 14px 0

            user-select: none
            cursor: pointer

            transition-property: color
            transition-duration: $transition-duration

            &.active
                color: $color-dark
                font-size: 18px
                font-weight: 700

            &.active &__arrow
                fill: $color-dark

            & &__icon
                margin: 0 12px 0 0

            &__icon
                display: block
                width: 23px
                height: 30px

                fill: currentColor

            & &__arrow
                margin: 0 5px 0 auto

            &__arrow
                display: block
                width: 7px
                height: 12px

                fill: #c0c2c6

                transition-property: fill
                transition-duration: $transition-duration

                @media screen and (max-width: 1000px)
                    transform: rotate(90deg)

    & &-content
        flex: 1

        @media screen and (max-width: 1000px)
            display: none

    &-content
        padding: 0 0 0 40px

    &-tab
        display: none

        &.active
            display: block

            @media screen and (max-width: 1000px)
                border-bottom: 1px solid $color-white

        .bank-rates-tabs
            margin: 15px 0 16px

        .bank-rates-table
            margin: 0 0 20px

        .common-tab-select 
            @media (max-width: 480px)
                width: 100%



// Banktab
$tabRate: 19.6%
$tabSumma: 32.6%
$tabTime: 17.4%
$tabComissions: 14.7%
$tabInsurance: 15.7%

.banktab
    width: 100%
    margin-bottom: 20px

    &__header
        display: flex
        flex-wrap: wrap
        border-bottom: 3px solid #f5f5f5

        @media (max-width: 680px)
            display: none

        &-item
            padding-bottom: 10px

            span 
                font-size: 12px
                letter-spacing: 1px
                color: #1e2633

            &.rate
                width: $tabRate
            &.summa
                width: $tabSumma
            &.time
                width: $tabTime
            &.comissions
                width: $tabComissions
            &.insurance
                width: $tabInsurance
            &.label
                width: 100%

    &__content
        -webkit-overflow-scrolling: touch

        @media (max-width: 680px) 
            overflow: auto
            white-space: nowrap
            // display: flex

        &-item
            border-bottom: 1px solid #dfdfdf
            display: flex
            flex-wrap: wrap
            padding-bottom: 26px

            @media (max-width: 767px) 
                padding-bottom: 20px
            
            @media (max-width: 680px)
                border-radius: 5px
                border: solid 1px #dfdfdf

                width: 250px
                margin-right: 15px
                overflow: hidden
                display: inline-block
                vertical-align: top

                padding-left: 15px
                padding-right: 15px
                padding-top: 12px
                padding-bottom: 10px

        &-column
            padding-top: 17px

            @media (max-width: 680px)
                padding: 0
                margin: 0
                margin-bottom: 12px

            small
                display: none

                @media (max-width: 680px) 
                    display: block
                    width: 100%
                    font-size: 12px
                    color: #a6a9ae

            span 
                font-size: 18px
                color: #1e2633

                @media (max-width: 1180px) 
                    font-size: 16px
                
                @media (max-width: 680px)
                    font-size: 14px

                em
                    font-size: 14px
                    font-style: normal
                    width: 100%
                    display: inline-block

                i
                    font-size: 12px
                    letter-spacing: 1px
                    color: #1e2633
                    background-color: #f5f5f5
                    font-style: normal

                    margin-left: 6px
                    letter-spacing: 1.1px
                    text-transform: uppercase

            &.rate
                width: $tabRate

                @media (max-width: 680px) 
                    margin-bottom: 11px

                    span
                        font-size: 24px

                        i 
                            background-color: transparent
                            font-size: 24px
                            letter-spacing: -0.4px
            &.summa
                width: $tabSumma

                // @media (max-width: 680px) 

            &.time
                width: $tabTime
            &.comissions
                width: $tabComissions
            &.insurance
                width: $tabInsurance

            &.labelbl
                width: 100%
                padding-top: 19px

                @media (max-width: 767px)
                    padding-top: 10px
                
                @media (max-width: 680px)
                    display: flex
                    flex-direction: column
                    padding-top: 6px
                    margin-bottom: 0px

                span 
                    border-radius: 5px
                    background-color: #e5ecff
                    font-size: 14px
                    color: #1e2633
                    padding: 5px 11px
                    margin-right: 16px

                    @media (max-width: 767px)
                        font-size: 12px
                        color: #1e2633
                        padding: 2px 5px
                        margin-right: 10px

                    @media (max-width: 680px)
                        padding: 7px 13px
                        margin-bottom: 10px

                    &:last-child
                        margin-right: 0px
.credit-car__tabs
    padding-top: 0