include ../mortgage/head
include ../mortgage/calculator
include ../mortgage/bank-tabs
include ../common/credit-recommend
include ../mortgage/bank-howto
include ../mortgage/credit-request
include ../mortgage/mortgage-info