.mortgage-info
    p Потребительские кредиты – это займы, которые оформляются гражданами в банке в наличной или безналичной форме. Целью кредита может быть любая покупка (телевизора, холодильника, компьютера).