.calculator-wrapper
	padding-bottom: 45px
.calculator-section
	.credit-info
		padding-bottom: 20px
.calculator-table
	padding-top: 23px
	padding-bottom: 38px
	margin-bottom: 2px
	background: #fff
	box-shadow: 0 2px 0 0 #f5f5f5;
	.repaiment-schedule-table
		margin-top: 0
.tr-color
	td 
		background: #e5ecff;
.note-sm
	font-size: 12px;
	font-weight: 400;
	display: block
	margin-top: 2px
.repaiment-calculator
	td 
		transition: background 0.3s ease-in
	tbody tr:hover td 
		background: #ecf0fa
	thead th, td 
		padding-right: 35px
	table th:nth-child(2)
		width: 200px	
	table th:nth-child(3)
		width: 150px	
	table th:nth-child(4)
		width: 148px	
	table th:nth-child(5)
		width: 163px
	table th:nth-child(6)
		width: 216px
	table th:nth-child(7)
		width: 190px
	.repaiment-schedule-table
		overflow-y: visible
		overflow-x: auto
.repaiment-schedule-table table .tr-color td:nth-child(2)
	width: auto
.credit-calculator .credit-calculator-row:first-child
	margin-top: 5px
.credit-calculator .credit-calculator-row-1
	margin-top: 33px
	.common-tabs-header
		margin-bottom: 13px
.credit-calculator .credit-calculator-row-2
	margin-bottom: 20px
	margin-top: 20px
.credit-calculator .credit-calculator-row-4
    margin-top: -1px;
.credit-calculator-total
	background: $color-clear-blue
	border-radius: 10px
	padding: 31px 40px 0
	color: #fff
.calculator-block
	display: block
	box-shadow: none
	.calculator-form
		border-radius: 10px
		box-shadow: 0 33px 49px -15px rgba(0, 38, 142, 0.26)
	.credit-calculator-content
		max-width: 852px
		margin: 0 auto
		padding: 40px 50px 39px
.calculator-subtitle
	color: #1e2633;
	font-weight: 900
	margin-bottom: -2px
	margin-top: 35px;
	font-size: 25px;
.common-tab-group-calculator
	.common-tab
		display: flex
		flex-direction: column
	.common-tab-block
		flex-grow: 12
		display: flex;
		justify-content: center
		align-items: center
		text-align: center
.calculator-total
	background: #fff;
	padding: 33px 0 0
.calculator-total__title
	color: #1e2633;
	font-weight: 900
	font-size: 37px;
	line-height: 1.1
	margin-top: -1px;
	margin-bottom: 2px;
.calculator-total__info-row
	display: flex
	flex-wrap: wrap
	margin: 0 -15px 0
.calculator-total__item
	padding: 0 15px
	margin: 0 0 27px
	width: 25%
.calculator-total__header
	font-size: 12px
	font-weight: 700
	letter-spacing: 1.09px;
	line-height: 15px
	margin-bottom: 8px
	text-transform: uppercase;	
.calculator-total__value
	font-size: 37px;
	font-weight: 400;
	text-transform: uppercase;
	white-space: nowrap
.calculator-total__top
	display: flex;
	justify-content: space-between
	margin-bottom: 27px
	.calculator-total__title
		padding-right: 30px
		width: 40%
	.action-links
		width: 60%
		justify-content: flex-end
	.action-links>*
		&:last-child
			margin-right: 0
	.send-to-email-container
		display: none
		margin-top: -17px
		.send-to-email>*:last-child
			margin-right: 0

.btn-calculate
	width: 100%
.credit-calculator-row_action
	position: relative	
.credit-calculator-tab 
	margin-top: 30px
.action-calculator
	position: absolute
	display: inline-block
	vertical-align: top
	cursor: pointer
	right: -43px
	top: 17px
	width: 32px;
	svg
		width: 32px;
		height: 32px
		fill: #a6a9ae;
		transition: fill .3s ease-in
	&:hover
		svg
			fill: $color-clear-blue
.js-add-line
	.cross-close 
		display: none
.js-remove-line
	.add
		display: none
.datepicker-input
	position: relative
	.input-container
		width: 100%
.date-icon
	position: absolute
	pointer-events: none
	right: 16px
	top: 21px
	svg
		width: 15px
		height: 15px
		fill: #c0c2c6
.rate-long .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
		width: 157px
@media screen and (max-width: 1180px)
	.calculator-total__value
		font-size: 34px
	.calculator-total__top .action-links > *
		margin-right: 20px
	.send-to-email
		.button--primary.button--credit-email, .button--primary.button--credit-email-cancel
			padding-left: 20px
			padding-right: 20px
@media screen and (max-width: 1100px)
	.calculator-total__top .calculator-total__title
		width: 43%
@media screen and (max-width: 1040px)
	.calculator-total__top .calculator-total__title
		width: 45%
	.calculator-total__item
		width: 33.33%
	.calculator-total__top .button--primary
		font-size: 22px

@media screen and (max-width: 992px) and (min-width: 601px)
	.send-to-email-container 
		.button--primary.button--credit-email, .button--primary.button--credit-email-cancel
			padding-top: 21px
			padding-bottom: 21px
@media screen and (max-width: 992px)
	.calculator-total__top
		display: block
		.action-links
			justify-content: center
			margin-top: 15px
			width: 100%
		.calculator-total__title
			width: 100%
	.calculator-total__value
		font-size: 30px
	.calculator-total__top .send-to-email-container
		margin-top: 15px
@media screen and (max-width: 1000px)
	.calculator-wrapper
		display: block
	.calculator-block .credit-calculator-content
		padding-left: 20px
		padding-right: 20px
	.credit-calculator-row_action
		padding-right: 40px
	.action-calculator
		right: -5px
@media screen and (max-width: 767px)		
	.calculator-block .credit-calculator-row>*:not(.action-calculator) 
	    width: 100%
	.calculator-block.credit-calculator-row
		margin: 24px 0
	.calculator-block .credit-calculator-content
		padding: 0 15px
	.calculator-wrapper
		padding-top: 0
		background: #fff
		padding-bottom: 19px
	.calculator-block .credit-calculator-content
		padding: 0
	.calculator-block .calculator-form
		box-shadow: none
	.calculator-section .credit-info
		padding-bottom: 9px
	.calculator-block .credit-calculator-row>* + *
		margin-top: 24px
	.calculator-block .credit-calculator-row-1>* + *
		margin-top: 14px
	.calculator-block .credit-calculator-row>*+.action-calculator
		margin-top: 0
	.calculator-block .credit-calculator-row
		margin: 23px 0
	.calculator-block .input-container
		padding: 28px 17px 10px
	.credit-calculator .credit-calculator-row-1
		margin-top: -5px
	.calculator-subtitle
		margin-bottom: -7px;
		margin-top: -3px
	.calculator-total 
		border-top: 1px solid #dfdfdf;
		padding-top: 21px
		.credit-calculator-total
			margin-right: -10px
			margin-left: -10px
			border-radius: 0
			padding: 17px 10px 0
	.calculator-total__top
		margin: 0
		.action-links
			background-color: #f5f5f5;
			margin: 21px -10px 0
			padding: 9px 10px 11px
			width: calc(100% + 20px)
		.action-links>* 
			margin: 5px 11px;
			&:first-child
				margin-left: 0
			&:last-child
				margin-right: 0
		.action-link-text
			font-size: 14px	
	.calculator-total__item
		width: 50%
		border-bottom: 1px solid  rgba(255, 255, 255, 0.2);
		padding-bottom: 13px
		margin: 0 0 17px
	.calculator-total__info-row:last-child
		margin-bottom: -20px
	.calculator-total__value
		font-size: 24px	
	.calculator-total__title
		font-size: 27px
	.credit-calculator-row_3
		padding-right: 0
	.calculator-table
		padding: 0
	.repaiment-calculator
		display: block
		.repaiment-schedule-table table
			display: block
			margin: 0 -10px
			width: calc(100% + 20px)
			thead 
				display: none
		.repaiment-schedule-table
			font-size: 14px
		.repaiment-schedule-table table tr
			display: flex
			padding: 10px 10px 17px
			flex-wrap: wrap
		.repaiment-schedule-table table td
			padding: 5px 10px 5px 0
			width: 50%
		.repaiment-schedule-table table td[data-title]:before 
			content: attr(data-title)
			color: #a6a9ae;
			font-size: 12px;
			line-height: 15px;
			display: block
			margin-bottom: 5px
		.repaiment-schedule-table table td:nth-child(1)
			order: 2
			width: 55px
			text-align: right
			&:before
				content: '№'
		.repaiment-schedule-table table .tr-color td:nth-child(1):before
			display: none
		.repaiment-schedule-table table td:nth-child(2)
			order: 1
			width: calc(100% - 55px)
		.repaiment-schedule-table table td:nth-child(3)
			order: 3
		.repaiment-schedule-table table td:nth-child(4)
			order: 4
		.repaiment-schedule-table table td:nth-child(5)
			order: 5
		.repaiment-schedule-table table td:nth-child(6)
			order: 6
		.repaiment-schedule-table table td:nth-child(7)
			order: 7
		.repaiment-schedule-table table td:nth-child(3),
		.repaiment-schedule-table table td:nth-child(4),
		.repaiment-schedule-table table td:nth-child(5),
		.repaiment-schedule-table table td:nth-child(6),
		.repaiment-schedule-table table td:nth-child(7)
			max-width: 200px;
	.calculator-total__header
		font-size: 10px;
		line-height: 14px;
		margin-bottom: 4px
	.td-date
		font-size: 16px;
		font-weight: 700;
		line-height: 21px

	.tr-color
		background: #e5ecff
		td 
			background: transparent		
	.credit-calculator .credit-calculator-row:first-child
		margin-top: -2px
	.calculator-block .credit-calculator-row > * + .common-tabs-container
		margin-top: 16px
	.calculator-block .credit-calculator-row-4
		margin-top: -8px
	.credit-calculator-row_action
		.custom-select-container:nth-child(2)
			margin-right: -40px
			width: calc(100% + 40px)
	.repaiment-calculator .repaiment-schedule-table
		overflow: visible
	.repaiment-calculator tbody tr:hover td
		background: transparent
@media screen and (max-width: 600px)
	.send-to-email
		justify-content: center
	.send-to-email .input-container 
		width: 100%
		max-width: 100%
		margin-right: 0
		flex: 0 1 100%
@media screen and (max-width: 480px)
	.repaiment-calculator
		.repaiment-schedule-table table td:nth-child(3),
		.repaiment-schedule-table table td:nth-child(4),
		.repaiment-schedule-table table td:nth-child(5),
		.repaiment-schedule-table table td:nth-child(6),
		.repaiment-schedule-table table td:nth-child(7)	
			max-width: 50%	