.deposit__switcher 
    max-width: 350px
    margin-top: 25px
.deposite-tabs-section
    padding-top: 0
    margin-bottom: 10px
    .banktab__content-column.summa,
    .banktab__content-column.time
        span 
            display: block
    .banktab__content-column span
        margin-bottom: 5px
        &:last-of-type
            margin-bottom: 0
    .banktab__content-item
        padding-bottom: 17px
.deposit-request-section
    padding-bottom: 55px
    .credit-request-body
        margin-top: 20px
    .credit-request-row--child-m-15>*
        margin-bottom: 5px
    .credit-request-row--checkboxes
        margin-top: 15px
.deposit-info-section
    .credit-info-row .credit-info-right .credit-info-image
        margin: 42px 0 0
        
        