.blocktest {
  width: 100%;
  height: 100px;
}

.listcredit-section {
  .credit-info {
    padding-bottom: 38px;
    padding-top: 10px;

    @media(max-width: 480px) {
      padding-bottom: 13px;
    }
  }
}


.listcredit-group {
  display: flex;
  flex-direction: column;
  background-color: #fff;

  @media(max-width: 480px) {
    .listcredit-header {
      order: 2;
      margin-top: 15px;
      margin-bottom: 21px; 
    }
  
    .listcredit-raifaizen {
      order: 3;
    }
  
    .listcredit-recomment {
      order: 1;
    }
  }

}

.listcredit-head {
  width: 100%;
  display: flex;
  // margin-top: 38px;
  // background-color: #fff;
  
  &__form {
    width: 68.8%;

    @media(max-width: 768px) {
      width: 100%;
    }
    
    form {
      display: flex;
      justify-content: space-between;

      @media(max-width: 1180px) {
        flex-wrap: wrap;
      }

      .custom-select-container {
        width: 33.5%;

        @media(max-width: 1180px) {
          width: calc(50% - 10px);
          margin-bottom: 30px;
        }

        @media(max-width: 480px) {
          width: 100%;
          margin-bottom: 23px;
        }
      }
    }

    .listcredit-form-btn {
      padding: 7px 17px;
      margin-right: 20px;
      display: none;

      @media(max-width: 480px) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 172px);
        br {
          display: none
        }
        & + .button-container {
          margin-left: 0;
          margin-right: auto;
        }
      }

    }

    .listcredit-form-btn-sbt {
      margin-left: 0;
      margin-right: auto;
      
      @media(max-width: 900px) {
        width: 152px;


      }

      span {
        position: relative;
        // top: 2px;
        
        @media(max-width: 480px) {
          top: 1px;
        }
      }
    }
  }
    
  

  &__img {
    width: calc(100% - 68.8%);

    @media(max-width: 768px) {
      display: none;
    }

    img {
      width: 414px;
      margin-top: -131px;
      margin-left: 53px;
      transition: .2s;

      @media(max-width: 992px) {
        margin-top: -20px;
        width: 150px;
      }

      @media(max-width: 768px) {
        display: none;
      }
    } 
  }

  &__more {
    margin-top: 23px;

    @media(max-width: 480px) {
      display: none;
    }

    @media(max-width: 992px) {
      margin-bottom: 30px;
    }

    span {
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      color: #2d64fc;
      cursor: pointer;
      transition: .2s;

      &:hover {
        color: #1E2633;

        svg {
          fill: #1E2633;
        }
      }

      svg {
        transition: .2s;
        width: 13px;
        height: 13px;
        transform: rotate(90deg);
        margin-left: 8px;
        fill: #d8d8d8;
      }
    }
  }

  &-raifaizen {
    width: 554px;
    border-top: 5px solid #fff200;
    padding-top: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -90px;

    @media(max-width: 1180px) {
      // width: calc(50% - 10px);
      // margin-bottom: 30px;
      margin-top: -40px;
      margin-bottom: 10px;
    }

    @media(max-width: 992px) {
      margin-top: 0px;
    }

    @media(max-width: 768px) {
      width: 100%;
    }

    @media(max-width: 480px) {
      border: solid 5px #fff200;
      border-left: 0%;
      border-right: 0px;
      align-items: flex-start;
      padding-top: 15px;
      padding-bottom: 18px;
      position: relative;

      margin-left: -10px;
      width: calc(100% + 20px);
      padding-left: 10px;
      padding-right: 10px;
      // padding-top: 19px;
      margin-bottom: 0px;
    }

    &__img {
      img {
        width: 131px;
        display: block;

        @media(max-width: 480px) {
          width: 100px;
          // height: 27px;
          margin-top: 4px;
        }
      }
    }

    &__info {
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      b {
        font-size: 18px;
        display: inline-block;
        margin-bottom: 4px;

        @media(max-width: 480px) {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.19;
          text-align: right;
          color: #1e2633;
        }
      }

      em {
        font-size: 14px;
        font-style: normal;

        @media(max-width: 480px) {
          font-size: 12px;
          line-height: 1.33;
          text-align: right;
          color: #1e2633;
          width: 50%;
        }
      }
    }
  }
}
.title-filter-table {
  padding-top: 27px;
  background-color: #f5f5f5;
  .tablemax-title {
    padding-bottom: 0
  }
}    
  
.listcredit-recomment {
  padding-top: 41px;
  padding-bottom: 25px;
  background-color: #f5f5f5;
  z-index: 10;

  .credit-recommend-wrapper {
    padding: 0px;
  }

  @media(max-width: 480px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


.listcredit-recomment_filtering {
    padding-top: 28px
}
.block-textarea {
  box-shadow: inset 0 0 0 1px #c0c2c6;
  transition-property: box-shadow;
  border-radius: 5px;
  position: relative;
  height: auto;
  transition: .2s;
  min-height: 138px;

  &:hover {
    box-shadow: inset 0 0 0 1px #007bff;
  }

  &.active {
    box-shadow: inset 0 0 0 2px #152c51;
  }
  &.active.focus:hover {
    box-shadow: inset 0 0 0 2px #152c51;
  }

  &.focus {

    textarea {
      font-size: 22px;
      line-height: .91;
      color: #1e2633;
      padding-top: 32px;
      height: 100%;
    }

    span {
      font-size: 12px;
      line-height: 1.67;
      color: #1e2633;
      top: 8px;
    }
  }

  span {
    font-size: 22px;
    line-height: .91;
    color: #a6a9ae;
    position: relative;
    top: 19px;
    left: 17px;
    transition: .2s;
  }

  textarea {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0px;
    outline: none;
    padding: 19px 16px 10px;
    transition: .2s;
  }
}



.listcredit-notfound {
  background-color: #f5f5f5;
  padding-top: 41px;
  margin-bottom: 0px;

  @media(max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 0px;
  }
}

.notfound {
  width: 100%;
  border-radius: 5px;
  border: solid 1px #1e2633;
  background-color: #1e2633;
  padding: 24px 0px;

  @media(max-width: 767px) {
    padding: 20px 30px;
  }
  
  p {
    font-size: 19px;
    line-height: 1.32;
    text-align: center;
    color: #ffffff;
    
    @media(max-width: 767px) {
      font-size: 14px;
      line-height: 1.43;
      text-align: center;
      color: #ffffff;
    }
  }
}