.lcreviews {
    margin-bottom: 25px;

    @media(max-width: 767px) {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 0px;
        padding-bottom: 4px;

        .container {
            padding: 0px;
        }
    }
    
    &__wrap {
        border-radius: 10px;
        background-color: #ffffff;
        padding: 40px;
        display: flex;

        @media(max-width: 767px) {
            border-radius: 5px;
            background-color: #2d64fc;
            padding: 25px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 19px;
        }
    }

    &__header {

    }

    &__content {

    }

    &__user {
        width: calc(100% - 48.4%);
        padding-right: 5%;

        @media(max-width: 767px) {
            width: 100%;
            padding-right: 0;
            text-align: center;
        }

        h2 {
            font-weight: 900;
            letter-spacing: -0.3px;
            font-size: 37px;
            color: #1e2633;
            margin-top: -9px;
            margin-bottom: 47px;

            @media(max-width: 767px) {
                font-size: 20px;
                line-height: 1.1;
                text-align: center;
                color: #ffffff;
                font-weight: 300;

                margin-top: 0px;
                margin-bottom: 25px;
            }
        }

        i {
            width: 135px;
            height: 135px;
            display: block;
            border-radius: 100%;
            overflow: hidden;    
            margin-bottom: 15px;

            @media(max-width: 767px) {
                color: #fff;
                display: inline-block;
                margin-bottom: 9px;
            }
            
            img {
                width: 100%;
                @supports (object-fit: cover) {
                    height: 100%;
                    object-position: center center;
                    object-fit: contain;
                }
            }
        }

        b {
            display: block;
            font-size: 18px;
            font-weight: bold;
            line-height: 1.17;
            color: #2d64fc;
            margin-bottom: 4px;

            @media(max-width: 767px) {
                color: #fff;
                font-size: 16px;
                font-weight: bold;
                color: #ffffff;
                font-weight: 500;
                margin-bottom: 9px;
            }
        }

        p {
            font-size: 14px;
            line-height: 1.5;

            @media(max-width: 767px) {
                color: #fff;
                font-size: 12px;
                line-height: 1.42;
                text-align: center;
                color: #ffffff;
                font-weight: 300;
            }
        }

        .openPopup {
            background-color: transparent;
            border-color: #fff;
            box-shadow: inset 0 0 0 1px #fff;
            display: block;
            margin: 0 auto;
            margin-top: 19px;
            transition: .2s;
            
            @media(max-width: 380px) {
                width: 100%;
            }

            &:hover {
                background-color: #fff;

                span {
                    color: #2d64fc;
                }
            }

            &:after, &:before {
                display: none;
            }

            span {
                color: #fff;
            }
        }
    }

    &__form {
        width: 48.4%;

        @media(max-width: 767px) {
            display: none;
        }

        form {
            width: 100%;

            .input-container {
                width: 100%;
                margin-bottom: 20px;
            }

            .block-textarea {
                margin-bottom: 30px;
            }
        }
        .group {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                font-family: ProximaNova;
                font-size: 14px;
                font-weight: normal;
                color: #c0c2c6;
                text-align: right;
                padding-left: 10px;
            }
        }
    }
    .button-container {
        flex-shrink: 0
    }
}

.js__input-block-hidden {
    max-height: 0px;
    overflow: hidden;
    transition: .2s;
    // margin-top: -10px;

    input {
        pointer-events: none;
        display: none;
    }
    
    &.active {
        margin-bottom: 30px;
        max-height: 200px;
        
        input {
            display: block;
            pointer-events: auto;
        }
    }
}

@media (max-width: 992px) {
    .lcreviews__form .button--primary {
        padding-left: 18px;
        padding-right: 18px
    }
}