.listcreditslider {
    margin-bottom: 25px;

    .slick-slide {
        margin-left: 16px;
        margin-right: 16px;
        
        @media(max-width: 768px) {
            margin-left: 0px;
            margin-right: 0px;
            width: 400px;
            margin-right: 10px;
        }

        @media(max-width: 480px) {
            width: 270px;   
        }

        // transform: translateY(20px);
        // opacity: 0;
        // transition: .2s;

        // &.slick-active {
        //     transform: translateY(0px);
        //     opacity: 1;
        // }
    }
    /* the parent */
    .slick-list {
        margin-left: -16px;
        margin-right: -16px;
        
        @media(max-width: 768px) {
            margin-left: 0px;
            margin-right: 0px;
        }
    }


    &__dots {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        @media(max-width: 768px) {
            margin-bottom: 21px;
        }

        &--desktop {
            @media(max-width: 768px) {
                .slick-dots {
                    display: none !important;
                    pointer-events: none;
                }
            }
        }

        &--mobile {
            display: none;

            @media(max-width: 768px) {
                display: block;
                margin-top: 14px;
            }

            ul {
                justify-content: center;
                margin-top: 15px;
            }
        }

        > span {
            font-size: 24px;
            color: #1e2633;
            margin-right: auto;
            position: relative;
            top: -2px;

            @media(max-width: 768px) {
                font-size: 20px;
                line-height: 1.1;
                color: #1e2633;
            }
        }

        a {
            font-size: 14px;
            font-weight: bold;
            color: #2d64fc;
            margin-right: 18px;

            @media(max-width: 768px) {
                margin-right: 0px;

                span {
                    display: none;
                }
            }
        }

        .slick-dots {
            margin-right: -6px;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
            margin: 0;

            // position: absolute;
            // top: 19px;
            // right: -11px;
            z-index: 2;

            @media screen and (max-width: 500px) {
                top: 23px;
                right: -9px;
            }

            li {
                position: relative;

                width: 16px;
                height: 16px;

                margin: 4px 4.5px;

                cursor: pointer;
                user-select: none;

                &.slick-active {
                    &:before {
                        width: 12px;
                        height: 12px;
                        background-color: #2D64FC;
                    }
                }

                &:hover {
                    &:before {
                        background-color: #2D64FC;
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    width: 6px;
                    height: 6px;
                    background-color: #A6A9AE;

                    transform: translate(-50%, -50%);

                    border-radius: 100%;

                    transition: $transition-duration;
                }

                button {
                    display: none;
                }
                    
            }
        }
    }

    &__wrap {

    }

    &__item {
        > div {
            display: flex;
            justify-content: space-between;
        }

        .blockreview {
            // width: calc(50% - 16px)
            width: 100%;
        }
    }
}


.blockreview {
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;

    &__header {
        border-bottom: 2px solid #f5f5f5;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        padding-top: 15px;
        padding-left: 22px;
        padding-bottom: 16px;

        @media(max-width: 992px) {
            flex-wrap: wrap;
            padding-left: 18px;
            padding-right: 18px;
            padding-bottom: 13px;
        } 

        .star-rating {
            @media(max-width: 992px) {
                order: 1;
            } 
        }

        &-link {
            margin-left: 15px;
            margin-right: auto;
            font-size: 12px;
            font-weight: bold;
            color: #1e2633;

            @media(max-width: 992px) {
                order: 3;
                width: 100%;
                margin-left: 0px;
                margin-top: 11px;
            } 

            a {
                font-size: 12px;
                font-weight: bold;
                color: #1e2633;
            }
        }

        em {
            font-size: 12px;
            text-align: right;
            color: #a6a9ae;
            font-style: normal;
            white-space: nowrap;

            @media(max-width: 992px) {
                order: 2;
            } 
        }
    }

    &__content {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 13px;

        @media(max-width: 480px) {
            flex-wrap: wrap;
            padding-top: 5px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 15px;
        }

        .blockreview__content-link {
            font-size: 18px;
            font-weight: bold;
            line-height: 1.17;
            color: #2d64fc;
            margin-bottom: 11px;
            display: inline-block;
            padding-right: 10px;

            @media(max-width: 480px) {
                font-size: 14px;
                font-weight: bold;
                color: #2d64fc;
                margin-bottom: 5px;
            }
        }

        p {
            font-size: 14px;
            line-height: 1.5;
            color: #1e2633;

            @media(max-width: 480px) {
                font-size: 12px;
                color: #1e2633;
                line-height: 1.2;
            }
        }

        img {
            width: 101px;
            height: auto;
        }

        &-text {
            width: calc(100% - 101px);

            @media(max-width: 480px) {
                order: 2;
                width: 100%;
            }
        }

        &-img {
            width: 101px;
            height: auto;

            @media(max-width: 480px) {
                width: 100%;
                order: 1;
            }
        }
    }

    &__footer {
        padding-left: 20px;
        padding-right: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 7px;

        @media(max-width: 480px) {
            margin-top: 0px;
            margin-bottom: 15px;
        }

        .blockreview__footer-link {
            font-size: 12px;
            font-weight: bold;
            line-height: 1;
            letter-spacing: 1.09px;
            color: #c0c2c6;
            text-transform: uppercase;
            font-style: normal;

            @media(max-width: 480px) {
                display: none;
            }
        }

        span {
            font-size: 14px;
            line-height: 1;
            color: #1e2633;
            display: flex;
            align-items: center;
            margin-right: 36px;
            margin-left: auto;

            @media(max-width: 480px) {
                margin-left: 0px;
            }

            svg {
                width: 11px;
                height: 10px;
                fill: #10c410;
                margin-right: 4px;
            }
        }
    }

    &__comment {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        position: relative;
        top: -15px;

        @media(max-width: 480px) {
            width: auto;
            height: auto;
            display: inline-block;
            margin-top: 0px;
            top: 0px;
        }

        &:hover {
            text-decoration: none;

            i {
                span {
                    text-decoration: none !important;
                }
            }

            span {
                text-decoration: underline;
            }
        }

        i {
            width: 30px;
            height: 26px;
            border-radius: 9px;
            background-color: #e8eeff;  
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: normal;
            margin-bottom: 4px;

            @media(max-width: 480px) {
                width: auto;
                height: auto;
                background-color: transparent;
                display: inline-block;
                margin: 0;
                margin-right: 5px;
                line-height: 1;
            }

            span {
                font-size: 18px;
                text-align: center;
                color: #2d64fc;
                font-style: normal;
                margin: 0px;
                display: inline-block;
                line-height: 1;
                position: relative;
                top: 1px;

                @media(max-width: 480px) {
                    width: auto;
                    height: auto;
                    background-color: transparent;
                    display: inline-block;
                    font-size: 14px;
                    color: #2d64fc;
                    line-height: 1;
                }
            }
        }

        span {
            font-size: 14px;
            line-height: 1;
            color: #2d64fc;
            margin: 0px;

            @media(max-width: 480px) {
                display: inline-block;
                font-size: 14px;
                color: #2d64fc;
            }
        }
    }
}

.star-rating {
    display: flex;
        
    svg {
        margin-right: 7px;
        width: 14px;
        height: 14px;
        fill: #a6a9ae;

        &.active {
            fill: #ffaa00;
        }
    }
}