.slidedown {

    @media(max-width: 767px) {
        background-color: #fff;
    }

    &__wrap {
        margin-bottom: 44px;

        @media(max-width: 767px) {
            margin-bottom: 0px;
        }
    }

    &__item {
        border-radius: 10px;
        background-color: #ffffff;
        margin-bottom: 10px;

        padding-top: 13px;
        padding-left: 40px;
        padding-right: 20px;
        padding-bottom: 18px;
        cursor: pointer;
        transition: .2s;
        position: relative;

        &:last-child {
            margin-bottom: 0px;
        }

        @media(max-width: 767px) {
            padding: 0px;
            border-bottom: 1px solid #DFDFDF;
            border-radius: 0px;
            padding-left: 24px;
            margin-bottom: 0px;

            &:last-child {
                border-bottom: 0px;
            }
        }


        &.active {
            padding-top: 7px;
            padding-bottom: 23px;

            @media(max-width: 767px) {
                margin-bottom: 8px;
            }

            h2 {
                font-size: 37px;
                font-weight: 900;
                margin-bottom: 10px;
                letter-spacing: -0.2px;
                user-select: auto;

                @media(max-width: 767px) {
                    font-size: 27px;
                    font-weight: 900;
                    line-height: 0.93;
                    color: #1e2633;

                    padding-top: 7px;
                    margin-bottom: 0;
                    padding-bottom: 7px;
                }
            }

            svg {
                fill: #1e2633;

                @media(max-width: 767px) {
                    top: 19px;
                }
            }
        }
        
        svg {
            width: 10px;
            height: 10px;
            transform: rotate(90deg);
            margin-left: 0;
            fill: #d8d8d8;
            position: absolute;
            top: 24px;
            left: 18px;
            transition: .2s;

            @media(max-width: 767px) {
                // top: 5px;
                top: 25px;
                left: 1px;
                width: 12px;
                height: 12px;
            }
        }
        
        h2 {
            display: inline-block;
            font-size: 24px;
            transition: .2s;
            user-select: none;
            will-change: auto;
            
            @media(max-width: 767px) {
                font-size: 20px;
                line-height: 1.1;
                color: #1e2633;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }

        &-content {
            display: none;

            p {
                font-size: 14px;
                line-height: 1.5;
            }
        }
    }

    &-comment {
        border-top: 1px solid #C0C2C6;
        padding: 0px 80px;
        padding-top: 45px;
        padding-bottom: 42px;

        @media(max-width: 767px) {
            padding: 0px;
            padding: 20px;
            padding-top: 27px;
            padding-bottom: 23px;
            
            p {
                font-size: 14px;
                line-height: 1.5;
                text-align: center;
                color: #1e2633;
            }
        }

        p {
            font-size: 14px;
            line-height: 1.5;
            color: #1e2633;
        }
    }
}

.youtube-video {
    width: 904px;
    height: 491px;
    display: block;
    margin: 0 auto;
    background-color: #1e2633;
    margin-bottom: 34px;

    @media(max-width: 934px) {
        width: 100%;
        height: 58.8vw
    }

    @media(max-width: 767px) {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-bottom: 0;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}