.tablemax {
    margin-bottom: 26px;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;

    @media(max-width: 600px) {
        border: 0px;
    }

    &-container {
        
        @media(max-width: 768px) {
            background: #fff;
            padding-top: 13px;
        }
    }

    &__subcredit {
        display: none;
        border-top: 1px solid #dfdfdf;

        .tablemax__item:last-child {
            border-bottom: 0px;
        }

        .tablemax__item {
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;
        }
    }

    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 25px;

        // @media(max-width: 768px) {
        //     align-items: flex-start;
        // }

        @media(max-width: 680px) {
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 20px;
        }

        > span {
            font-size: 24px;
            color: #1e2633;
            padding-right: 20px;

            @media(max-width: 768px) {
                flex: 20px;
            }

            @media(max-width: 680px) {
                width: 100%;
                padding-right: 0px;
                margin-bottom: 17px;
            }

            b {
                font-weight: normal;

                @media(max-width: 768px) {
                    font-weight: bold;
                }
            }
        }

        .common-tab-group {
            background-color: #fff;

            .common-tab-block {
                white-space: nowrap;
                padding: 10px 20px;
            }
        }

    }
    
    &__header {
        display: flex;
        border-bottom: solid 3px #f5f5f5;

        @media(max-width: 768px) {
            display: none;
        }


        &-item {
            padding: 9px 0px;
            span {
                font-size: 12px;
                letter-spacing: 1px;
                color: #1e2633;
                text-transform: uppercase;
                cursor: pointer;

                svg {
                    width: 11px;
                    height: 11px;
                    display: inline-block;
                    fill: #C0C2C6;
                    vertical-align: bottom;
                    position: relative;
                    top: -3px;
                    margin-left: 4%;
                    transition: .2s;
                    transform-origin: center center;
                }

                &.reverse {
                    svg {
                        transform: rotate(180deg);
                    }
                }

            }

            &--bank {
                width: 40%;
                padding-left: 25px;

                @media(max-width: 992px) {
                    width: 25%;
                }
            }

            &--rate {
                width: 11.3%;

                @media(max-width: 992px) {
                    width: 13%;
                }
            }
            
            &--summa {
                width: 18%;

                @media(max-width: 992px) {
                    width: 20%;
                }
            }

            &--term {
                width: 10%;

                @media(max-width: 992px) {
                    width: 12%;
                }
            }
        }
    }
    
    &__content {
        
    }
    
    &__item {
        border-bottom: 1px solid #dfdfdf;

        @media(max-width: 768px) {
            // padding: 0px;
            // border-bottom: 0px;
        }

        &--bg {
            height: 114px;
            background-color: #444444;
        }

        @media(max-width: 600px) {
            width: calc(100% + 40px);
            margin-left: -10px;
            padding-right: 20px;
        }
        
        &-wrap {
            padding-top: 26px;
            padding-bottom: 22px;
            display: flex;
            // justify-content: space-between;
            flex-wrap: wrap;
            position: relative;



            &.active {
                & + .tablemax-info {
                    display: block;
                }
            }

            @media(max-width: 768px) {
                // width: auto;
                justify-content: space-between;
                padding: 0px 10px;
                padding-top: 25px;
            }

            @media(max-width: 600px) {
                padding-top: 10px;
                padding-bottom: 22px;
            }
        }

        &--best {
            position: relative;

            @media(max-width: 1280px) and (min-width: 601px) {
                & > .tablemax__item--best-wrap {
                    display: none;
                }
            }

            @media(max-width: 600px) {
                border-bottom-width: 3px;
                width: calc(100% + 40px);
                margin-left: -10px;
                padding-right: 20px;
                border-top: none;
                border-bottom: 0px;
            }
            
            & > .tablemax__item-wrap {
                background-image: linear-gradient(to right, #ffffff, #fffdf4);
                // border-right: 3px solid #ffae00;
                position: relative;
                
                @media(max-width: 600px){
                    // border: 1px solid #ffaa00;
                    // border-bottom-width: 3px;
                    // border-right: 0px;
                    background: none;
                    padding-top: 35px;
                } 
             }

            &-wrap {
                display: block;
                position: absolute;
                top: 0px;
                left: -30px;
                width: 30px;
                height: 100%;
                background: transparent;
                background: linear-gradient(90deg, #FFB800, #FFAB00);
                border-radius: 30px 0px 0px 30px;
                border-right: 2px solid #FF8203;
                z-index: 1;
                font-weight: 600;
                color: #fff;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;

                @media(max-width: 600px) {
                    top: 0px;
                    left: 0px;
                    transform: rotate(0deg);
                    width: 100%;
                    border-radius: 0px;
                    height: 25px;
                    display: block;
                    text-align: center;
                    border: 0px;
                    background-color: #ffaa00;
                    border-right: px solid #FF8203;
                }

                span {
                    transform: rotate(-180deg);
                    writing-mode: vertical-lr; 
                    position: relative;
                    transform-origin: 50% 50%;
                    max-width: none;
                    left: 2px;

                    @media(max-width: 600px) {
                        writing-mode: horizontal-tb;
                        transform: none;
                        position: relative;
                        left: 0px;
                        top: 3px;
                    }
                }
            }
            
        }

        &--best {
            
            @media(max-width: 600px){
                background: none;
            } 
            
            > .tablemax__item-wrap {
                background-image: linear-gradient(to right, #ffffff, #fffdf4);
                border-right: 3px solid #ffae00;
                
                @media(max-width: 600px) {
                    // border: 0px;
                    border: 1px solid #ffae00;
                    border-right: 0;
                    border-bottom: 3px solid #ffae00;
                }
            }
        }

        &--hot {
            position: relative;

            @media(max-width: 1280px) and (min-width: 601px) {
                & > .tablemax__item--hot-wrap {
                    display: none;
                }
            }

            @media(max-width: 600px) {
                // border: 1px solid #ff3200;
                border-bottom-width: 3px;
                width: calc(100% + 42px);
                margin-left: -10px;
                padding-right: 20px;
                border-top: none;

                border: 0px;
            }

            & > .tablemax__item-wrap {
                background-image: linear-gradient(to right, #ffffff, #fff8f5);
                border-right: 3px solid #ff3200;

                @media(max-width: 600px){
                    border: 0px;
                    background: none;
                    padding-top: 35px;

                    border: 1px solid #ff3200;
                    border-right: 0;
                    border-bottom: 3px solid #ff3200;
                }
            }

            &-wrap {
                display: block;
                position: absolute;
                top: 0px;
                left: -30px;
                width: 30px;
                height: 100%;
                background: transparent;
                background-image: linear-gradient(to left, #ff2500, #ff4600);
                border-radius: 30px 0px 0px 30px;
                border-right: 2px solid #DA2C00;
                z-index: 1;
                font-weight: 600;
                color: #fff;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;

                @media(max-width: 600px) {
                    top: 0px;
                    left: 0px;
                    transform: rotate(0deg);
                    width: 100%;
                    border-radius: 0px;
                    height: 25px;
                    display: block;
                    text-align: center;
                    border: 0px;
                    background-color: #ff3200;
                    border-right: 0px solid #ff3200;
                    display: block;
                }

                span {
                    transform: rotate(-180deg);
                    writing-mode: vertical-lr; 
                    position: relative;
                    left: 2px;

                    @media(max-width: 600px){
                        writing-mode: horizontal-tb;
                        transform: none;
                        border: 0px;
                        top: 3px;
                    }
                }
            }
        }
    }
    

    &__img {
        padding-left: 25px;
        width: 40%;
        // padding-left: 165px;
        padding-left: 193px;
        

        @media(max-width: 992px) {
            padding-left: 0px;
            padding-left: 25px;
            width: 25%;
        }

        @media(max-width: 768px) {
            width: auto;
            max-width: 250px
        }

        @media(max-width: 600px) {
            width: 100%;
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            // padding-right: 25px;
            padding: 0px;
            margin-bottom: 6px;
        }
        
        figure {
            width: 140px;
            line-height: 1;
            margin: 0px;
            margin-right: 28px;
            align-self: center;
            position: absolute;
            left: 25px;
            top: 26px;
            display: inline-block;

            @media(max-width: 992px) {
                position: static;
            }
            
            
            img {
                width: 100%;
                margin-top: 9px;
                
                @media(max-width: 992px) {
                    margin-bottom: 15px;
                    margin-right: 0px;
                    margin-top: 0px;
                }
            }

            @media(max-width: 600px) {
                order: 1;

            }
        }


        b, a {
            font-size: 18px;
            font-weight: bold;
            line-height: 1.17;
            color: #2d64fc;
            margin-bottom: 3px;
            display: block;

            @media(max-width: 600px) {
                order: 3;
                width: 100%;
                padding-left: 2px;
                padding-right: 25px;
            } 
        }

        > div {
            @media(max-width: 600px) {
                order: 2;
            }
        }

        span {
            font-size: 14px;
            line-height: 1.5;
            color: #1e2633;
            margin-bottom: 3px;
            display: block;
        }
        
        em {
            font-size: 12px;
            color: #a6a9ae;
            font-style: normal;
            display: block;
        }
    }

    &__rate {
        width: 11.3%;

        @media(max-width: 992px) {
            width: 14%;
        }

        @media(max-width: 768px) {
            width: auto;
        }

        span {
            font-size: 18px;
            color: #1e2633;

            b {
                font-style: normal;
                margin-left: 7px;
                font-weight: normal;

                @media(max-width: 600px) {
                    margin-left: 4px;
                    font-weight: bold;
                }
            }

            @media(max-width: 992px) {
                font-size: 16px;
            }
        }
    }

    &__summa {
        width: 18%;

        @media(max-width: 992px) {
            width: 21%;
        }

        @media(max-width: 768px) {
            width: auto;
        }



        span {
            font-size: 18px;
            color: #1e2633;
            display: block;
            letter-spacing: 0.1px;
            display: inline-block;
            margin-bottom: 3px;

            b {
                font-style: normal;
                margin-left: 7px;
                font-weight: normal;

                @media(max-width: 600px) {
                    padding-left: 4px;
                    font-weight: bold;
                }
            }

            @media(max-width: 992px) {
                font-size: 16px;
            }

            @media(max-width: 768px) {
                display: block;
            }
        }
    }

    &__term {
        width: 10%;

        @media(max-width: 992px) {
            width: 13%;
        } 

        @media(max-width: 768px) {
            width: auto;
            // padding-right: 25px;
        }
        span {
            font-size: 18px;
            color: #1e2633;

            b {
                font-style: normal;
                margin-left: 7px;
                font-weight: normal;

                @media(max-width: 600px) {
                    padding-left: 4px;
                    font-weight: bold;
                }
            }

            @media(max-width: 992px) {
                font-size: 16px;
            }
        }
    }

    &__btn {
        width: 20.6%;
        padding-right: 20px;
        text-align: right;

        @media(max-width: 992px) {
            width: 27%;
        }

        @media(max-width: 768px) {
            // width: auto;
            display: none;
        }
        
        .button-container {
            width: 175px;
            display: inline-block;

        }
    }

    &__footer {
        width: 100%;
        // padding-left: 424px;
        padding-left: 40%;
        display: flex;
        padding-right: 20px;
        justify-content: space-between;

        &-group {
            .label-group + ul {
                margin-top: 0px;
            }

            ul {
                margin-top: 16px;
            }
        }

        

        @media(max-width: 992px) {
            padding-left: 25px;
            margin-top: 10px;
            margin-bottom: 30px;
        }

        @media(max-width: 768px) {
            padding-left: 25px;
            padding-right: 24px;
            margin-bottom: 45px;
        }

        @media(max-width: 600px) {
            margin-bottom: 10px;
            padding-left: 0px;
            padding-right: 0px;
        }

        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            margin-top: 2px;

            li {
                display: inline-block;
                font-size: 12px;
                line-height: 1.5;
                color: #1e2633;
                vertical-align: middle;

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
                
                &:after {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    width: 4px;
                    height: 4px;
                    background-color: #a6a9ae;
                    border-radius: 100%;
                    margin-left: 7px;
                    margin-right: 3px;
                }
            }
        }

        &-btn {
            padding-left: 19px;
            display: flex;
            align-items: flex-end;

            @media(max-width: 600px) {
                display: none;
            }

            span {
                font-size: 12px;
                color: #2d64fc; 
                display: inline-block;
                margin-bottom: 2px;
                cursor: pointer;
                transition: .2s;
                user-select: none;
                white-space: nowrap;

                &.active, &:hover {
                    color: #1e2633;
                    // font-weight: bold;
                    color: #1e2633;

                    svg {
                        fill: #1e2633;
                    }
                }

                &.active {
                    svg {
                        transform: rotate(-90deg);
                    }
                }

                svg {
                    width: 10px;
                    height: 10px;
                    fill: #c0c2c6;
                    transform: rotate(90deg);
                    margin-left: 5px;
                    transform-origin: center center;
                    transition: .2s;
                }
            }
        }   
        
        &-button {
            background-color: #fff;
            text-align: center;
            padding-bottom: 26px;
            padding-top: 30px;
            padding-bottom: 30px;

            @media(max-width: 767px) {
                display: none;
            }

            .button-container {
                display: inline-block;
            }
        }
    }

    &__btn-mobile {
        display: flex;

        @media(max-width: 380px) {
            justify-content: space-between;
        }

        @media(min-width: 601px) {
            display: none;
        }

        .more {
            width: 110px;
            padding-left: 10px;
            padding-right: 10px;
            margin-right: 10px;
            transition: .2s;

            &:after, &:before {
                display: none;
            }

            &:hover {
                background: #1e2633;
                // border-color: #1e2633;
                box-shadow: inset 0 0 0 1px #1e2633;
            }
        }

        .query {
            width: 180px;
            padding-left: 10px;
            padding-right: 10px;

            span {
                color: #fff;
            }
        }
    }
    
    &__more {
        width: 142px;
        position: absolute;
        left: 24px;
        bottom: 0px;
        display: flex;
        justify-content: space-between;
        padding: 9px 0px;
        border-top: 2px solid #f5f5f5;
        cursor: pointer;

        user-select: none;

        &.active {
            border-color:#1e2633;

            em {
                color: #1e2633;
                font-weight: bold;
            }

            svg {
                fill: #1e2633;
            }
        }

        @media(max-width: 768px) {
            width: 98px;
            left: 50%;
            transform: translateX(-50%);
            border: 0

            em {
                font-size: 12px;
                color: #2d64fc;
            }
        }

        em {
            font-style: normal;
            font-size: 12px;
            color: #2d64fc;
            line-height: 1;
            position: relative;
            top: -1px;
        }

        svg {
                width: 10px;
                height: 12px;
                fill: #c0c2c6;
                transform: rotate(90deg);
                margin-left: 5px;
                transform-origin: center center;
                transition: .2s;
                margin-top: 0;
            }
    }

    &-info {
        background-color: #f5f5f5;
        padding: 20px;
        padding-top: 0px;
        border-top: 1px solid #dfdfdf;
        display: none;

        @media(max-width: 768px) {
            padding: 0px;
        }

        &__btn-footer {
            text-align: center;
            background-color: #fff;
            padding-bottom: 26px;
            
            @media(max-width: 767px) {
                padding-bottom: 8px;

                .button-container {
                    .button {
                        padding: 9px 35px 10px;
                    }
                    span {
                        font-size: 14px;
                        color: #2d64fc;
                    }

                    &:hover {
                        span {
                            color :#fff;
                        }
                    }
                }
            }

            .button-container {
                display: inline-block;

                svg {
                    transform: rotate(0deg);
                    position: relative;
                    top: -1px;
                }
            }
        }
        
        &__wrap {
            display: flex;
            width: 100%;
            padding: 30px;
            padding-bottom: 7px;
            background-color: #fff;

            @media(max-width: 768px) {
                padding: 15px;
                flex-direction: column;
                border: 0px;
                padding-top: 4px;
            }
        }

        &__column {
            width: 25%;
            // padding: 5%;
            padding-right: 2%;

            // &:nth-child(1) {
            //     width: 26.2%;
            // }
            // &:nth-child(2) {
            //     width: 26.1%;
            // }
            // &:nth-child(3) {
            //     width: 25%;
            // }
            // &:nth-child(4) {
            //     width: 22%;
            //     padding-right: 0px;
            // }

            @media(max-width: 768px) {
                // display: none;
                // height:0px;
                max-height: 0px;
                overflow: hidden;
                width: 100%;
                padding-right: 0px;
                border-bottom: 1px solid #F5F5F5;
                transition: .2s;

                div {
                    width: 50%;
                }
            }

            &--full {
                width: 50%;
                display: flex;
                flex-wrap: wrap;

                @media(max-width: 768px) {
                    // display: none;
                    width: 100%;
                }

                div {
                    width: 50%;
                    padding-right: 10px;
                }
            }

            &-title {
                display: none;
                @media(max-width: 768px) {
                    display: flex;
                    padding: 10px 0px;
                    justify-content: space-between;
                    align-items: center;
                }

                &.active {
                    
                    b {
                        color: #1e2633;
                        // font-weight: bold;
                    }

                    & + .tablemax-info__column {
                        // height: auto;
                        max-height: 6000px;
                        transition: .8s;
                    }

                    svg {
                        fill: #1e2633;
                    }
                }
                
                b {
                    font-size: 18px;
                    color: #2d64fc;
                    font-weight: 500;
                }

                svg {
                    width: 12px;
                    height: 12px;
                    transform: rotate(90deg);
                    fill: #C0C2C6;
                    transition: .2s;
                }
            }

            b {
                font-size: 24px;
                color: #a6a9ae;
                font-weight: normal;
                display: inline-block;
                margin-bottom: 19px;
                min-height: 22px;
                width: 100%;
                
                @media(max-width: 992px) {
                    font-size: 18px;
                    font-weight: bold;
                    // color: #1e2633;
                }

                @media(max-width: 768px) {
                    display: none;
                }
            }

            div {
                em {
                    font-size: 14px;
                    color: #a6a9ae;
                    display: inline;
                    font-style: normal;
                    display: inline-block;
                    margin-bottom: 4px;

                    @media(max-width: 992px) {
                        font-size: 12px;
                        line-height: 1.5;
                        color: #a6a9ae;
                        margin-bottom: 0px;
                    }
                }

                span {
                    display: inline-block;
                    width: 100%;
                    font-size: 18px;
                    color: #1e2633;
                    margin-bottom: 15px;

                    @media(max-width: 992px) {
                        font-size: 14px;
                        line-height: 1.5;
                        color: #1e2633;
                    }
                }
            }

            ul {
                list-style: none;
                margin: 0px;
                padding: 0px;

                margin-top: 7px;
                margin-bottom: 19px;

                li {
                    padding-left: 16px;
                    font-size: 18px;
                    color: #1e2633;
                    position: relative;                
                    margin-bottom: 9px;

                    &:last-child {
                        margin-bottom: 0%;
                    }

                    &:after {
                        content: "";
                        width: 9px;
                        height: 9px;
                        display: block;
                        border: 2px solid #97A7B9;
                        border-radius: 3px;
                        position: absolute;
                        top: 6px;
                        left: 0px;

                        @media(max-width: 992px) {
                            top: 4px;
                        }
                    }

                    @media(max-width: 992px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.button {
    &--icon {
        svg {
            width: 7px;
            height: 13px;
            transform: rotate(90deg);
            margin: 0px;
            margin-left: 6px;
            fill: #2d64fc;
            transition: .2s;
        }

        &:hover {
            svg {
                fill: #fff;
            }
        }
    }
}

.label-group {
    min-height: 16px;
}

.label {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 7.5px;
    background-color: #14c200;
    padding: 1px 7px;
    margin-right: 8px;
    position: relative;
    cursor: pointer;
    transition: .2s;
    z-index: 99;

    &:last-child {
        margin-right: 0px;
    }

    &#{&}--red {
        background-color: #ff2827;
    }

    &#{&}--blue {
        background-color: #2d64fc;
    }

    &:hover {
        background-color: #152C51;
        z-index: 999999;
        
        &:after {
            opacity: 1;
            transform: translateY(0px);
            visibility: visible;
            pointer-events: auto;
            // position: relative;
            
            @media(max-width: 500px) {
                transform: translate(-50%, 0px);
            }
        }
    }
    
    &:after {
        content: attr(data-title);
        position: absolute;
        top: 100%;
        left: 0px;
        margin-top: 6px;
        width: 250px;
        height: 105px;
        border-radius: 5px;
        box-shadow: 0 7px 16px 0 #00000033;
        background-color: #ffffff;

        font-size: 14px;
        line-height: 1.5;
        color: #1e2633;
        font-weight: normal;
        padding: 10px 15px;

        opacity: 0;
        transform: translateY(10px);
        visibility: hidden;
        pointer-events: none;
        transition: .3s;

        @media(max-width: 500px) {
            font-size: 10px;
            left: 50%;
            transform: translate(-50%, 10px);
            max-width: 120px;
            height: auto;
            padding: 5px;
        }

        // &:hover {
        //     opacity: 1;
        //     transform: translateY(0px);
        //     visibility: visible;
        //     pointer-events: auto;
        // }
    }
}
.color-green, .tablemax__footer ul li.color-green {
    color: #14c200
}
.color-red, .tablemax__footer ul li.color-red {
    color: #ff2827
}
.tablemax__term, .tablemax__summa {
    b {
        font-weight: 400;
        &:first-child {
            padding-left: 0;
            margin-left: 0
        }
    }
}
.tablemax-container__filtering .tablemax__term {
    font-size: 24px;
    line-height: 1;
    b {
        font-size: inherit
    }
}
@media (min-width: 993px) {
    .tablemax-container__filtering {
        .tablemax__header-item--summa, .tablemax__summa {
            width: 12.5%;
        }
        .tablemax__header-item--term, .tablemax__term {
            width: 15.4%;
        } 
        .tablemax__footer {
            margin-top: 6px
        }       
    }
}
@media (max-width: 1024px) {
    .tablemax__item--best-wrap,.tablemax__item--hot-wrap {
        left: -15px;
        border-radius: 0
    }
}
@media (max-width: 900px) {
    .tablemax__item--best-wrap,.tablemax__item--hot-wrap {
        left: -10px;
    }
}
@media (max-width: 768px) {
    .tablemax__more {
        position: static;
        transform: none;
        width: auto;
        margin: 8px auto 0;
        justify-content: center
    }
    .tablemax-info__column--all {
        max-height: none
    }
}
@media (max-width: 767px) {
    .tablemax-title > span {
        font-size: 20px;
        line-height: 22px;
    }
}
 @media(max-width: 600px) {
    .tablemax__more {
        margin-bottom: -22px
    }
    .tablemax__footer-group {
        display: none
    }
    .tablemax__summa, .tablemax__term {
        &:after {
            content: attr(data-title);
            color: #1e2633;
            display: block;
            font-size: 12px;
        }
    }
    .tablemax__term, .tablemax__summa {
        b {
            font-weight: 700
        }
    }
    .tablemax-container__filtering .tablemax__rate {
        width: 27%
    }
    .tablemax-container__filtering .tablemax__term {
        width: 41%
    }
    .tablemax-container__filtering .tablemax__summa {
        width: 32%
    }
    .tablemax-container__filtering .tablemax__term, .tablemax-container__filtering .tablemax__term b {
        font-size: 16px;
    }
    .tablemax-container__filtering .tablemax__term b {
        font-weight: 700
    }

    .tablemax__item--best-wrap, .tablemax__item--hot-wrap {
        left: 0;
    }
    .tablemax__img {
        display: flex;
        flex-wrap: wrap;
        align-items: center
    }
    .tablemax__img figure {
        order: 1
    }
    .tablemax__img>div {
        max-width: calc(100% - 168px);
        order: 2;
        text-align: right
    }
    .tablemax__img figure img {
        margin-bottom: 0
    }
    .tablemax__img a {
        order: 3;
        padding-right: 0;
        margin-top: 10px
    }
}