.header-navbar
    display: flex
    align-items: center
.header-nav
    display: flex
    flex-wrap: wrap

    padding: 0
    margin: 0
    list-style: none

    align-self:center


    @media screen and (max-width: 900px)
        background-color: $color-white
        margin: 0 -11px
        flex-wrap: nowrap
        overflow: auto
        width: calc(100% + 22px)

    @media (max-width: 600px) 
        width: 100vw

    & > li
        display: table
        height: 100%
        position: relative

        @media screen and (max-width: 900px)
            display: block
            flex-shrink: 0

    & &-item
        padding: 0 18px

        @media (max-width: 1080px)
            padding: 0 10px

        @media screen and (max-width: 900px)
            padding: 12px 11px 14px

    &-item
        display: table-cell
        vertical-align: middle

        color: $color-dark
        font-size: 15px
        letter-spacing: 0.58px
        text-transform: uppercase

        transition-property: color
        transition-duration: $transition-duration

        animation-name: menuAnim
        // animation-delay: .2s
        animation-duration: .1s
        animation-fill-mode: both
        animation-timing-function: linear

        @media screen and (max-width: 900px)
            font-size: 12px
            letter-spacing: 1px
            display: flex

        &:hover,
        &:active
            text-decoration: none
            color: $color-clear-blue

        &.active
            @media screen and (max-width: 900px)
                font-weight: 700

        &--dropdown
            &:after
                +icon-arrow
                transform: rotate(90deg)
                color: #c0c2c6

                font-size: 10px

                margin: 0 0 0 8px

                position: relative
                top: 1px

                transition-property: color
                transition-duration: $transition-duration

                @media screen and (max-width: 900px)
                    margin: 0 0 0 2px
                    top: 1px

            &:hover
                &:after
                    color: $color-clear-blue

        
        // Open Submenu
        // &:hover 
        @media (min-width: 993px)
            &:hover
                & + .header-nav__submenu 
                    display: block

                    transform: translateY(0)
                    visibility: visible
                    opacity: 1
                    pointer-events: auto
        &.open
            & + .header-nav__submenu 
                display: block

                transform: translateY(0)
                visibility: visible
                opacity: 1
                pointer-events: auto

                // animation-name: menuAnim
                // animation-delay: .2s
                // animation-duration: .1s
                // animation-fill-mode: both
                // animation-timing-function: linear

    &__submenu 
        width: 303px
        border-radius: 5px
        box-shadow: 0 2px 15px 0 rgba(#000000, .25)
        border: solid 1px #dfdfdf
        background-color: #ffffff
        padding-top: 13px
        padding-left: 14px
        padding-bottom: 17px
        padding-right: 15px

        position: absolute
        top: 54px
        left: -3px
        // display: none

        // animation-name: menuAnimReverse
        // animation-direction: .2s
        // animation-fill-mode: both

        transition: .2s
        transform: translateY(-10px)
        visibility: hidden
        opacity: 0
        pointer-events: none

        @media (min-width: 993px)
            &:hover
                display: block

                transform: translateY(0)
                visibility: visible
                opacity: 1
                pointer-events: auto

        @media (max-width: 992px)
            position: fixed
            // top: 94px 
            top: 65px  
            z-index: 999

            border-radius: 5px
            box-shadow: 0 2px 15px 0 rgba(#000000, .25)
            background-color: #ffffff
            width: calc( 100% - 18px)
            left: 9px

        @media (max-width: 900px) 
            top: 110px

        @media (max-width: 500px) 
            top: 108px

        &.open
            transform: translateY(0)
            visibility: visible
            opacity: 1
            pointer-events: auto


        // &:hover 

        &.-full 
            width: calc(100% + 10px)
            // margin-left: -10px
            position: fixed
            z-index: 99
            border-radius: 0
            // box-shadow: 0px 0px 0px transparent
            box-shadow: 0 20px 10px 0 rgba(#000000, .08)
            border: 0px

            @media (max-width: 992px)

                border-radius: 0px
                box-shadow: 0 0 transparent
                background-color: #ffffff
                width: 100%
                left: 0

            @media (max-width: 768px)
                padding-left: 10px
                padding-right: 10px
                overflow: auto
                height: calc(100% - 95px)

                .container
                    padding: 0px

            .header-nav__exchange 
                margin-top: 20px

        &-container 
            display: flex

            @media (max-width: 768px)
                flex-wrap: wrap

        &-column
            width: 25%
            padding-right: 2%

            @media (max-width: 1080px) 
                padding-right: 1%

            @media (max-width: 768px)
                width: 100%
                padding-right: 0px

            a 
                position: relative
                left: -10px 

            .submenublock b
                font-size: 24px
                color: #a6a9ae
                font-weight: normal
                margin-top: 30px
                display: inline-block
                margin-bottom: 19px
        
        a
            font-size: 18px
            color: #152c51
            width: 100%
            display: block
            // padding-left: 10px
            // padding-top: 5px
            // padding-bottom: 5px
            // padding-right: 5px
            padding: 5px 10px
            margin-bottom: 4px
            transition: .2s

            @media (max-width: 1080px)
                font-size: 16px

            &:last-child
                margin-bottom: 0px

            &:hover
                border-radius: 5px
                background-color: #ffaa00
                text-decoration: none
                // font-weight: bold
                color: #ffffff

    & #{&}__exchange 
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        width: 100%

        @media (max-width: 768px)
            justify-content: flex-start
        
        @media (max-width: 480px)
            justify-content: space-between

        &-item
            width: calc(50% - 5px)

            @media (max-width: 1080px) 
                width: 100%

            @media (max-width: 768px) 
                width: 114px
                margin-right: 14px

            @media (max-width: 480px)
                width: calc(50% - 5px)
                margin-right: 0px

            border-radius: 5px
            background-color: #f5f5f5
            margin-bottom: 10px
            display: flex
            padding-left: 15px
            padding-top: 9px
            padding-bottom: 7px
            padding-right: 10px

            &.-red 
                span
                    color: #ff2827
                    fill: #ff2827

                i
                    svg 
                        transform: rotate(180deg)
                        transform-origin: center center

            > i
                font-size: 37px
                font-weight: bold
                color: #a6a9ae
                font-style: normal
                margin-right: 10px

            span 
                display: flex
                flex-wrap: wrap
                align-items: center
                color: #14c200
                fill: #14c200
                
                > b 
                    width: 100%
                    font-size: 16px
                    line-height: 1
                    font-weight: bold 
                    color: inherit !important
                    margin: 0
                i 
                    display: inline-block
                    font-style: normal
                    font-size: 12px
                    font-weight: normal
                    vertical-align: middle
                    position: relative
                    top: -2px
                    color: inherit

                    svg
                        width: 11px
                        height: 11px
                        display: inline-block
                        color: inherit
                        position: relative
                        top: -1px
                        margin-right: 3px
                    

.header-nav .submenublock 
    @media (max-width: 768px)
        border-bottom: 1px solid #f5f5f5
        padding-bottom: 16px
        margin-bottom: 16px
            
    &__header 
        @media (max-width: 768px)
            display: flex
            justify-content: space-between
            align-items: center
            cursor: pointer
            user-select: none

            &.active
                margin-bottom: 13px

            &.active, &:hover
                > b
                    color: #1e2633
                > svg
                    fill: #1e2633

            > b
                font-size: 18px
                font-weight: bold
                color: #2d64fc
                margin: 0px
                // margin-bottom: 11px
            > svg
                display: none

                width: 12px
                height: 12px
                fill: #C5C7CA
                display: block
                transform: rotate(90deg)
    &__container
        @media (max-width: 768px)
            display: none
            a
                margin-bottom: 6px

        @media (min-width: 769px) 
            display: block !important

.submenublock__header 
    @media (min-width: 769px)
        svg 
            display: none


// Header City
.header-city 
    margin-left: 8.2%
    position: relative
    top: -1px
    display: flex;
    align-items: center
    &:hover
        > span 
            color: #2d64fc
        svg 
            fill: #2d64fc

    &.active 
        span 
            color: #1e2633
            font-weight: bold
        svg 
            fill: #1e2633

    @media (max-width: 1180px)
        margin-left: 3%

    @media (max-width: 1080px)
        // margin-left: 1.5%
        margin-left: 4.5%

    &:hover .header-city__popup 
        // transform: translateY(0)
        // visibility: visible
        // opacity: 1
        // pointer-events: auto

    &.show-popup .header-city__popup 
        transform: translateY(0)
        visibility: visible
        opacity: 1
        pointer-events: auto

    i
        display: inline-block
        vertical-align: middle
        margin-right: 4px
        cursor: pointer

        svg
            transition: .2s
            width: 16px
            height: 16px
            fill: #c0c2c6
            display: inline-block
            vertical-align: middle
            position: relative
            top: -1px   

    > span 
        transition: .2s
        vertical-align: middle
        font-size: 15px
        color: #1e2633
        text-transform: uppercase
        letter-spacing: 0.8px
        cursor: pointer
        transition: .2s
        user-select: none

        @media (max-width: 768px) 
            width: 103px
            overflow: hidden
            display: inline-block
            text-overflow: ellipsis
            white-space: nowrap
            font-size: 12px
            letter-spacing: 1px
            color: #1e2633

    &__popup 
        width: 300px
        border-radius: 5px
        box-shadow: 0 2px 15px 0 rgba(#000000, .25)
        background-color: #ffffff
        transition: .2s

        position: absolute
        top: 35px
        left: 4px

        padding: 19px
        padding-top: 17px
        padding-left: 21px
        z-index: 99

        transform: translateY(-10px)
        visibility: hidden
        opacity: 0
        pointer-events: none

        @media (max-width: 480px) 
            width: calc(100% - 20px)
            position: fixed
            top: 54px
            left: 10px
            background: #fff

        // &:hover 
        //     transform: translateY(0)
        //     visibility: visible
        //     opacity: 1
        //     pointer-events: auto

        &-btn 
            display: flex
            align-items: center

            > span 
                font-size: 14px
                color: #2d64fc
                margin-left: 20px
                cursor: pointer
                user-select: none

                &:hover
                    text-decoration: underline
            
            .button 
                padding: 9px 29px 10px

        > span
            font-size: 18px
            color: #1e2633
            font-weight: normal
            width: 100%

            margin-bottom: 17px
            display: inline-block

            b
                font-weight: bold
