@import "../../node_modules/bootstrap/scss/bootstrap-reboot"

@import "./components/functions"
@import "./components/vars"
@import "./components/mixins"
@import "./components/mixins-glyphter"
@import "./components/zeplin-fonts-mixins"
@import "./components/fonts"
@import "./components/typography"

@import "./components/node_modules"
@import "./components/vendor/index"
@import "./components/bem/index"
@import "./components/pages/index"

// Animate.css
// @import "./components/animate"

@import "./components/head"

// Custom styles here

body 
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.block-scroll 
    overflow: hidden
    // /* Allows content to fill the viewport and go beyond the bottom */
    // height: 100%
    
    // /* Allows you to scroll below the viewport; default value is visible */
    // overflow-y: scroll
    
    // /* To smooth any scrolling behavior */
    // -webkit-overflow-scrolling: touch
