$container-width: 1140px
$padding: 30px

.container
    max-width: ($container-width + $padding * 2)
    width: 100%
    box-sizing: border-box

    margin: 0 auto
    padding: 0 $padding

    @media screen and (max-width: 1024px)
        padding: 0 15px
    @media screen and (max-width: 900px)
        padding: 0 10px
