.credit-branding 
    background-color: #6b778d
    padding-top: 15px
    .all-credits,
    .credit-info-header,
    .credit-info-description,
    .credit-info-list
        color: #ffffff
    .credit-info-list-tip
        color: #1e2633
    .button--primary
        background-color: #ffdd2d
        background-image: none
        color: #152c51
        font-size: 23px
        font-weight: 700
    .credit-info-list li:before
        color: #ffdd2d
    .credit-branding__man
        position: absolute
        right: -80px
        bottom: 0
    .credit-info
        position: relative
        padding-bottom: 55px
    .credit-info-row .credit-info-right .credit-info-image
        margin: 40px 0 0
    .credit-info-list-tip
        background-color: #f5f5f5
    .button.button--line
        box-shadow: none