.content-row
	display: flex
	&__main
		padding-right: 29px;
		width: calc(100% - 263px)
	&__right
		width: 263px;
.converter
    border-radius: 10px
    background: #fff
    padding: 23px 39px 41px
    &-row
	    display: flex
	    align-items: center
    .custom-select-container
        width: calc(50% - 37px)
.h2-converter
	color: #1e2633
	font-weight: 900
	font-size: 37px
	margin-bottom: 24px
.btn-light
	height: 36px
	border-radius: 5px;
	border: 1px solid #dfdfdf
	background: #fff
	color: #152c51
	font-family: $font-base;
	font-size: 14px;
	line-height: 34px	
	padding: 0 15px
	text-align: center
	display: inline-block
	transition color .3s ease-in, border .3s ease-in
	&:hover
		color: $color-link
		text-decoration: none
		border-color: #c0c2c6

.btn_best-exchange
	margin: 0 0 20px
	width: 100%
.exchange-section
	.credit-info-right
		text-align: right
	.credit-info
		padding-bottom: 15px
.logo-national
	margin-top: 6px
.section-converter-table
	padding-top: 40px
.tablemax_converter
	margin-top: 30px
	border: 1px solid #dfdfdf
	border-bottom: 0
	.tablemax__header
		font-size: 12px
	.tablemax_content
		font-size: 18px
	.tablemax__header-item
		padding-top: 11px
		padding-bottom: 10px
	.tablemax__item-wrap
		padding-top: 16px;
		padding-bottom: 15px
.converter-icon
	display: block;
	padding: 5px 8px
	margin: 0 16px
	svg
		width: 22px
		height: 28px	
		fill: #c0c2c6;
		transition: fill .3s ease-in
	&:hover svg
		fill: $color-clear-blue
.converter-currency
    display: inline-flex
    svg
        width: 24px
        height: 14px
        margin-right: 10px
        flex-shrink: 0
    span
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
.icon-direction        
    width: 11px
    height: 11px
    margin-right: 5px
    margin-top: -3px
.growth-course
    color: #14c200;
    svg
        fill: #14c200;
.depreciation
    color: #ff2827;
    svg
        fill: #ff2827;
.table-item-currency
	padding-left: 25px
	width: calc(100% - 528px)  
	padding-right: 20px
.table-item-code
	width: 98px
	text-align: center
	padding-right: 52px
.table-item-symbol
	width: 98px
.table-item-units
	width: 112px
.table-item-course
	width: 112px
.table-item-different
	padding-right: 25px
	width: 108px
.reverse 
	flex-direction: row-reverse
	justify-content: flex-end
@media (max-width: 1100px)
	.converter
		padding-left: 25px
		padding-right: 25px
@media (max-width: 992px)
	.exchange-section .credit-info-row .credit-info-left
		width: calc(100% - 120px)
	.exchange-section .credit-info-row .credit-info-right
		display: block
		width: 120px	
	.content-row
		flex-direction: column-reverse
	.content-row__main, .content-row__right
		width: 100%;
		padding: 0
	.content-row__right
		text-align: center
		.promo
			display: none
	.btn_best-exchange
		max-width: 300px;
	.table-item-units
		width: 100px
	.table-item-code
		width: 88px
		padding-right: 42px
	.table-item-currency
		width: calc(100% - 506px)
	.tablemax_converter .tablemax_content, .converter-currency span
		font-size: 16px
		line-height: 19px;
	.section-converter-table
		padding-top: 15px	

@media (max-width: 768px)
	.tablemax_converter .tablemax__header
		display: flex
	.tablemax_converter .tablemax__item-wrap
		padding-left: 0;
		padding-right: 0
		justify-content: flex-start
@media (max-width: 767px)
	.exchange-section .credit-info-row .credit-info-right
		width: 78px
	.exchange-section .credit-info-row .credit-info-left
		width: calc(100% - 78px)
	.logo-national
		width: 58px
	.section-converter-table
		padding-top: 1px
	.converter-row
		flex-direction: column
		&.reverse
			flex-direction: column-reverse
			justify-content: center
	.converter .custom-select-container
		width: 100%
	.converter-icon
		width: 40px
		margin: 12px auto 6px
		svg
			transform: rotate(90deg)
			transition-origin: 50% 50%
	.tablemax_converter .tablemax__header
		display: none
	.table-item-currency
		width: 100%
		padding: 0
		margin-bottom: 6px
		order: 1
	.converter-currency
		display: flex
		align-items: flex-start
		justify-content: space-between
		flex-direction: row-reverse
	.tablemax_converter
		border-left: 0
		border-right: 0
		margin-left: -10px
		margin-right: -10px
		margin-top: 22px;
		margin-bottom: 0

	.converter-currency span
		margin-right: 13px
	.tablemax_converter .tablemax__item
		margin-left: 0
		margin-right: 0
	.tablemax_converter .tablemax__item-wrap
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 16px;
	.converter-currency svg
		margin-right: 0
	.table-item-course
		width: 80px;
		order: 2
	.table-item-different
		padding-right: 0;
		width: calc(100% - 80px)
		order: 3
	.table-item-code, .table-item-symbol, .table-item-units
		margin-top: 12px
		font-size: 14px
		line-height: 17px
		&:before
			content: attr(data-title)
			color: #a6a9ae;
			font-size: 12px;
			line-height: 18px;
			display: block	
	.table-item-code	
		width: 84px	
		padding-right: 15px
		text-align: left
		order: 4	
	.table-item-symbol	
		min-width: 60px
		padding-right: 15px
		order: 5		
	.table-item-units	
		width: 60px	
		order: 6
	.section-converter-table
		background: #fff
	.converter
		padding: 0 0 0
		&:before
			content: ''
			background: #dfdfdf
			display: block
			height: 1px;
			margin: 0 -10px 14px;
	.h2-converter
		font-size: 27px;
		margin-bottom: 17px;
	.exchange-section
		.credit-info-row
			align-items: center
		.credit-info-description
			font-size: 12px
			line-height: 18px
			margin-top: 4px
		.credit-info .credit-info-header
			margin-bottom: 9px
		.credit-info
			padding-top: 7px

	.tablemax_converter .tablemax__item-wrap
		padding-top: 14px
	.converter-currency svg
		margin-top: 1px
	.video-block_exchange, .seo-section_exchange
		background: #fff
	.video-block_exchange
		padding-top: 0;
		margin-top: 0
	.seo-section_exchange
		border: 0
		margin-top: 0
		padding-top: 20px
	.tablemax_converter .tablemax__item:last-child
		border-bottom: 0
@media (max-width: 600px)
	.tablemax_converter .tablemax__item
		width: 100%
		padding-right: 0
	.converter-icon
		display: none
	.converter .custom-select-container
		margin-bottom: 22px
		&:last-child
			margin-bottom: 0