.section-converter-table.dynamic-converter
	.container
		.content-row
			.content-row__main
				include converter
				.dollard-course
					h3 Кросс-курсы 1 Доллара США
					.dollard-course__flex
						.dollard-course__items
							.dollard-course__item
								+add-svg({icon: "rubl"})
								span RUB
								p 2 425.89
							.dollard-course__item
								+add-svg({icon: "gbp"})
								span GBP
								p 2 425.89
							.dollard-course__item
								+add-svg({icon: "eur"})
								span EUR
								p 2 425.89
							.dollard-course__item
								+add-svg({icon: "rubl"})
								span RUB
								p 2 425.89
							.dollard-course__item
								+add-svg({icon: "gbp"})
								span GPB
								p 2 425.89
							.dollard-course__item
								+add-svg({icon: "eur"})
								span EUR
								p 2 425.89
							.dollard-course__item
								+add-svg({icon: "rubl"})
								span RUB
								p 2 425.89
							.dollard-course__item
								+add-svg({icon: "gbp"})
								span GBP
								p 2 425.89
							.dollard-course__item
								+add-svg({icon: "rubl"})
								span RUB
								p 2 425.89
							.dollard-course__item
								+add-svg({icon: "gbp"})
								span GBP
								p 2 425.89
							.dollard-course__item
								+add-svg({icon: "eur"})
								span EUR
								p 2 425.89
							.dollard-course__item
								+add-svg({icon: "rubl"})
								span RUB
								p 2 425.89
							.dollard-course__item
								+add-svg({icon: "gbp"})
								span GBP
								p 2 425.89
			.content-row__right
				a(href="#").btn-light.btn_best-exchange.dynamic_best-exchange Лучшие курсы обмена в Алматы
				a(href="#").promo
					+add-image({src: "static/promo/drweb.png", retina: true})
					