section.dynamic-head
    .container
        h1 Курс доллара США к тенге
        p Курс доллара к тенге на сегодня, прогноз на завтра, динамика по курсу Нацбанка РК, онлайн конвентер и график колебаний курса австрлаийского доллара за неделю, месяц и год