section.dynamic-text
    .container
        .dynamic-text__content
            h3 Информация о долларе
            ul 
                li 
                    span Буквенный код
                    p USD
                li 
                    span Цифровой код
                    p 887
                li 
                    span Символ
                    p $
            p Являясь денежной единицей Арабских Эмиратов, курс Дирхама к тенге отличается сравнительной стабильностью и небольшим периодическим повышением, которые, скорее всего, связаны с острой политической ситуацией в стране. Валюта характеризуется хорошей устойчивостью, так как ее курс напрямую зависит от уровня добычи нефти в стране. За несколько последних недель с помощью графика можно увидеть динамичное падение курса, но это искусственно вызванное явление экономикой страны, поэтому в скором времени можно ожидать динамичную тенденцию роста курса.
            p Прогноз на ее повышение очевиден исходя из диаграммы. Валюта в современную жизнь Арабских Эмиратов пришла еще с древности и ранее называлась драхмой. Официальный курс Дирхама целиком и полностью зависит от доллара и евро, так как наиболее плотно привязан к ним. В обращение также существуют монеты различных номиналов, которые называются Филсы. Так 1 Дирхам составляет 100 Филс. С момента своего появления Дирхам не претерпевал значительных изменений и всегда характеризовался своей устойчивостью и положительной динамикой роста по отношению к другим валютам. Однако его прямая связь с долларом и евро, что в случае их обесценивания, он также потеряет свою изначальную цену.