section.dynamic-info
    .container
        .dynamic-info__content
            .dynamic-info__schedule
                h2 Динамика курса доллара США к тенге
                span Обновлено сегодня в 13:46
                .dynamic-info__switcher
                    +add-common-tab({
                        name: "dynamic-switcher",
                        tabs: ["На графике", "Таблицей"]
                    })
                #dynamics-chart
            .dynamic-info__courses
                .dynamic-info__header
                    .col1 ДАТА
                    .col2 КУРС
                    .col3 ИЗМен.
                .dynamic-info__row
                    .col1 27.06.2019
                    .col2 435.46
                    .list-courses__up.col3 26.46
                .dynamic-info__row
                    .col1 26.06.2019
                    .col2 433.55
                    .list-courses__down.col3 5.10
                .dynamic-info__row
                    .col1 25.06.2019
                    .col2 434.95
                    .list-courses__down.col3 0.78
                .dynamic-info__row
                    .col1 24.06.2019
                    .col2 433.55
                    .list-courses__up.col3 0.10
                .dynamic-info__row
                    .col1 23.06.2019
                    .col2 434.95
                    .list-courses__down.col3 0.78
                .dynamic-info__row
                    .col1 22.06.2019
                    .col2 434.95
                    .list-courses__down.col3 0.78
                .dynamic-info__row
                    .col1 21.06.2019
                    .col2 433.55
                    .list-courses__up.col3 0.10
                .dynamic-info__row
                    .col1 20.06.2019
                    .col2 434.95
                    .list-courses__down.col3 0.78