.bank-tabs-section.deposite-tabs-section
    .container
        .bank-tabs.js-init--tabs(data-initial-tab-index="0")
            .bank-tabs-nav
                -
                    var items = [
                        {icon: "contract", text: "Условия"},
                        {icon: "percent", text: "Ставки"}
                    ]

                each item, index in items
                    .bank-tabs-nav-item(data-tabs-to-open=index)
                        +add-svg({class: "bank-tabs-nav-item__icon", icon: item.icon})
                        span= item.text
                        +add-svg({class: "bank-tabs-nav-item__arrow", icon: "arrow"})

            .bank-tabs-content
                .bank-tabs-tab(data-tab-index="0")
                    .bank-condition-container
                        -
                            var items = [
                                {header: "Сумма депозита", info: "От 6 000 000T"},
                                {header: "Частичное снятие", info: "Требуется"},
                                {header: "Срок", info: "От 6 месяцев"},
                                {header: "Неснижаемый остаток", info: "100 000T"},
                                {header: "Процентная ставка", info: "1-21% (ГЭСВ 23.2%)"},
                                {header: "Досрочное расторжение", info: "Есть"},
                                {header: "Капитализация", info: "Ежегодная"},
                                {header: "Пролонгация", info: "Есть"},
                                {header: "Пополнение", info: "Без ограничений"},
                                {header: "Возраст заемщика", info: "от 18 лет"},
                                {header: "Выплата процентов", info: "Каждый месяц"}
                            ]

                        each item in items
                            .bank-condition
                                .bank-condition-header= item.header
                                .bank-condition-info= item.info

                .bank-tabs-tab(data-tab-index="1")
                    form(action="#" method="POST").bank-rates-tabs
                        
                        .common-tab-select
                            .common-tab-mobile.js__tab-sort
                                span Тенге
                                +add-svg({icon: "arrow"})

                            +add-common-tab-group({
                                name: "currency",
                                tabs: ["Тенге", "Рубли", "Доллары"],
                                types: ["minw-101", "has-separator"],
                            })
                        //- +add-common-tab-group({
                        //-     name: "currency",
                        //-     tabs: ["Тенге", "Рубли", "Доллары"],
                        //-     types: ["minw-101", "has-separator"],
                        //- })

                    //- TODO: Adaptive .bank-rates-table
                            In mobile should be a gallery... Gosh...
                    //- table.bank-rates-table
                    //-     thead
                    //-         tr
                    //-             th Ставка
                    //-             th Сумма
                    //-             th Срок
                    //-             th Комиссии
                    //-             th Страхование

                    //-     tbody
                    //-         tr.bank-rates-table-row
                    //-             td 1% #[span.tip ГЭСВ ОТ 15%]
                    //-             td 10 000 000T–100 000 000T
                    //-             td 7-60 месяцев
                    //-             td 10% #[small единоразово]
                    //-             td от 1% #[small единоразово]

                    //-         tr.bank-rates-table-row.bank-rates-table-row--bottom-line
                    //-             td(colspan=5)
                    //-                 .bank-rates-table-badges
                    //-                     .bank-rates-table-badge С подтверждением дохода
                    //-                     .bank-rates-table-badge Для зарплатных клиентов
                    //-                     .bank-rates-table-badge Без залога и поручительства

                    //-         tr.bank-rates-table-row
                    //-             td 3% #[span.tip ГЭСВ ОТ 15%]
                    //-             td 10 000 000T–100 000 000T
                    //-             td 7-60 месяцев
                    //-             td 10% #[small единоразово]
                    //-             td от 1% #[small единоразово]

                    //-         tr.bank-rates-table-row.bank-rates-table-row--bottom-line
                    //-             td(colspan=5)
                    //-                 .bank-rates-table-badges
                    //-                     .bank-rates-table-badge С подтверждением дохода

                    //-         tr.bank-rates-table-row
                    //-             td 5% #[span.tip ГЭСВ ОТ 15%]
                    //-             td 10 000 000T–100 000 000T
                    //-             td 7-60 месяцев
                    //-             td 10% #[small единоразово]
                    //-             td от 1% #[small единоразово]

                    //-         tr.bank-rates-table-row.bank-rates-table-row--bottom-line
                    //-             td(colspan=5)
                    //-                 .bank-rates-table-badges
                    //-                     .bank-rates-table-badge С подтверждением дохода
                    //-                     .bank-rates-table-badge Для зарплатных клиентов

                    .banktab

                        //- Header
                        .banktab__header
                            //- Item
                            .banktab__header-item.rate
                                span СУММА
                            //- Item
                            .banktab__header-item.summa 
                                span СРОК
                            //- Item
                            .banktab__header-item.time 
                                span СТАВКА

                        //- Content
                        .banktab__content.js__banktab-slider
                            //- Item
                            .banktab__content-item
                                .banktab__content-column.rate
                                    small Сумма
                                    span От 30 000Т
                                .banktab__content-column.summa
                                    small Срок
                                    span 7-20 месяцев
                                    span 20-30 месяцев
                                    span 30-60 месяцев
                                .banktab__content-column.time
                                    span 
                                        | 1% 
                                        i  ГЭСВ от 1%
                                    span 
                                        | 2% 
                                        i  ГЭСВ от 3%
                                    span 
                                        | 15% 
                                        i  ГЭСВ от 6%
                            //- Item
                            .banktab__content-item
                                .banktab__content-column.rate
                                    small Сумма
                                    span От 500 000Т
                                .banktab__content-column.summa
                                    small Срок
                                    span 7-20 месяцев
                                    span 20-30 месяцев
                                    span 30-60 месяцев
                                .banktab__content-column.time
                                    span 
                                        | 1% 
                                        i  ГЭСВ от 1%
                                    span 
                                        | 2% 
                                        i  ГЭСВ от 3%
                                    span 
                                        | 15% 
                                        i  ГЭСВ от 6%
                            //- Item
                            .banktab__content-item
                                .banktab__content-column.rate
                                    small Сумма
                                    span От 1 000 000Т
                                .banktab__content-column.summa
                                    small Срок
                                    span 7-20 месяцев
                                    span 20-30 месяцев
                                    span 30-60 месяцев
                                .banktab__content-column.time
                                    span 
                                        | 1% 
                                        i  ГЭСВ от 1%
                                    span 
                                        | 2% 
                                        i  ГЭСВ от 3%
                                    span 
                                        | 15% 
                                        i  ГЭСВ от 6%
                            