.credit-calculator-wrapper
    .container.credit-calculator-container
        form(action="#").credit-calculator
            .credit-calculator-left
                h2.credit-calculator-header
                    span Расчет депозита

                .credit-calculator-content

                    .credit-calculator-row
                        +add-typed-number-input({
                            placeholder: "Сумма",
                            name: "sum",
                            types: ["Тнг", "Руб"],
                            min: 0,
                            max: 30000000,
                            value: 0,
                            classInput: "js-input-sum"
                        })

                        +add-select-common({placeholder: "Срок", name: "duration", options: ["3 месяца", "4 месяца", "5 месяцев", "6 месяцев"], selectedOption: 0, slider: true})

                    .credit-calculator-row
                        +add-select-common({placeholder: "Пополнение", name: "adding", options: ["Раз в месяц", "2 раза в месяц"], selectedOption: 0, slider: true})
                        +add-typed-number-input({
                            placeholder: "Сумма пополнения",
                            name: "sum",
                            types: ["Тнг", "Руб"],
                            min: 0,
                            max: 400000,
                            value: 0
                        })

                    .credit-calculator-row
                        +add-select-common({placeholder: "Капитализация", name: "duration", options: ["3 месяца", "4 месяца", "5 месяцев", "6 месяцев"], slider: true})


            .credit-calculator-right
                .credit-calculator-info-row
                    .credit-calculator-info
                        .credit-calculator-info-header
                            span СУММА В КОНЦЕ СРОКА
                        .credit-calculator-info-value
                            span 250 855T

                    .credit-calculator-info
                        .credit-calculator-info-header
                            span Ставка
                        .credit-calculator-info-value
                            span 10%

                .credit-calculator-info-row
                    .credit-calculator-info
                        .credit-calculator-info-header
                            span НАЧИСЛЕННЫЕ ПРОЦЕНТЫ
                        .credit-calculator-info-value
                            span 48 495T

                    .credit-calculator-info
                        .credit-calculator-info-header
                            span ГЭСВ
                                i(aria-label="Дополнительная информация" data-balloon-pos="up")
                                    span.icon.icon-question-tips-invert

                        .credit-calculator-info-value
                            span 15%

                .credit-calculator-info-footer
                    //- +add-button({text: "Оформить кредит онлайн", types: ["primary", "line", "invert"], isSubmit: true})
                    //- .button-container
                    //-     label.button--primary.button--main-button.button--invert.button(href='#', data-scroll-to="[data-scroll-to-this]")
                    //-         input.button-native-input(type="submit")
                    //-         span Оформить кредит онлайн
                        
                    .button-container
                        div.button--primary.button--main-button.button--invert.button--line.button(data-scroll-to="[data-scroll-to-this]")
                            span Оформить депозит онлайн
