.credit-request-section.deposit-request-section(data-scroll-to-this="true")
    .container
        form(action="#" data-initial-tab-index="0").credit-request.js-init--credit-request
            .credit-request-head
                h2.credit-request-header Онлайн-заявка на депозит

            .credit-request-body

                //- Step
                .credit-request-body-step.active.show.credit-request-body-step--1(data-tab-index="0")
                    div.credit-request-body-step__wrap
                        .credit-request-row.credit-request-row--selects.credit-request-row--child-m-15
                            +add-input({
                                placeholder: "Фамилия",
                                name: "surname",
                                value: "Константинопольский"
                            })

                            +add-input({
                                placeholder: "Имя",
                                name: "name",
                                value: "Константин"
                            })

                            +add-input({
                                placeholder: "Отчество",
                                name: "middlename",
                                value: "Анатольевич"
                            })

                            +add-input({
                                placeholder: "Дата рождения",
                                name: "birth_date",
                                type: "date",
                            })

                            +add-select-common({
                                placeholder: "Город",
                                name: "city",
                                options: ["Москва", "Алмааты"]
                            })

                            +add-input({
                                placeholder: "Телефон",
                                name: "phone",
                                value: "+7",
                                type: "tel",
                                inputPlaceholder: "+7 (999) 999 99 99"
                            })

                            +add-input({
                                placeholder: "Почта",
                                name: "email",
                                value: "captainanch@ya.ru"
                            })

                        .credit-request-row.credit-request-row--checkboxes
                            +add-custom-checkbox({
                                id: "deposit-request-checkbox-1",
                                name: "submition",
                                label: `Отправляя онлайн-заявку, я согласен на сбор и обработку своих персональных данных согласно <a href="#">Закону РК №09-V «О персональных данных и их защите»</a>`
                            })

                        .credit-request-row.credit-request-row--button
                            +add-button({
                                text: "Отправить заявку",
                                types: ["primary", "next-step"]
                            })
