include ../popup/credit
include ../popup/creditpay
include ../popup/grafic

section.credit-info-section.deposit-info-section
    .container
        .credit-info
            .credit-info-row
                .credit-info-left
                    a(href="#").all-credits Все депозиты
                    h1.credit-info-header Просто депозит
                    .credit-info-description
                        p Депозит с пополнением и капитализацией на долгий срок
                        .deposit__switcher
                            +add-common-tab-group({
                                name: "deposite",
                                tabs: ["Тенге", "Рубли", "Доллары"],
                                types: ["minw-101", "has-separator"],
                            })


                .credit-info-right
                    .credit-info-image
                        +add-image({src: "static/banks/raiffeisen.png", retina: true})

            .credit-info-description.credit-list-details
                .deposit-tab
                    ul.credit-info-list
                        li От 30 000T 
                        li От 3 месяцев
                        li Ставка от 3% до 5%
                        li Капитализация ежемесячно
                        li Без пополнения
                        li Частичное снятие каждый год

                    .credit-info-buttons-wrapper
                        .button-container
                            div.button--primary.button--main-button.js__open-credit.button.active(href='#', data-scroll-to="[data-scroll-to-this]", data-popup-mobile="true")
                                span Оформить депозит онлайн

                        +add-button({text: "Расчитать условия депозита", isLink: true, types: ["primary", "main-button", "line"], containerClass: "button-container--credit-requirements", buttonClass: "js__open-creditpay"})
                .deposit-tab.hide-tab
                    ul.credit-info-list
                        li От 30 000Р 
                        li От 3 месяцев
                        li Ставка от 3% до 5%
                        li Капитализация ежемесячно
                        li Без пополнения
                        li Частичное снятие каждый год

                    .credit-info-buttons-wrapper
                        .button-container
                            div.button--primary.button--main-button.js__open-credit.button.active(href='#', data-scroll-to="[data-scroll-to-this]", data-popup-mobile="true")
                                span Оформить депозит онлайн

                        +add-button({text: "Расчитать условия депозита", isLink: true, types: ["primary", "main-button", "line"], containerClass: "button-container--credit-requirements", buttonClass: "js__open-creditpay"})
                .deposit-tab.hide-tab
                    ul.credit-info-list
                        li От 30 000$ 
                        li От 3 месяцев
                        li Ставка от 3% до 5%
                        li Капитализация ежемесячно
                        li Без пополнения
                        li Частичное снятие каждый год

                    .credit-info-buttons-wrapper
                        .button-container
                            div.button--primary.button--main-button.js__open-credit.button.active(href='#', data-scroll-to="[data-scroll-to-this]", data-popup-mobile="true")
                                span Оформить депозит онлайн

                        +add-button({text: "Расчитать условия депозита", isLink: true, types: ["primary", "main-button", "line"], containerClass: "button-container--credit-requirements", buttonClass: "js__open-creditpay"})