.credit-info
    color: $color-dark
    padding: 4px 0 50px

    @media screen and (max-width: 900px)
        padding: 4px 0 20px

    @media screen and (max-width: 500px)
        padding: 4px 0 15px

    &-section
        background: #ffffff

    &-row
        display: flex
        align-items: flex-start
        flex-wrap: wrap

    &-row &-left
        width: calc(8/12 * 100%)

        @media screen and (max-width: 900px)
            width: 100%

    &-row &-right
        width: calc(4/12 * 100%)

        @media screen and (max-width: 900px)
            display: none

        .credit-info-image
            margin: 17px 0 0

    & &-header
        margin: 9px 0 15px

        @media screen and (max-width: 500px)
            margin: 10px 0 12px

    &-header
        font-size: 43px
        font-weight: $font-weight-black
        line-height: 1.05

        @media screen and (max-width: 900px)
            font-size: 35px

        @media screen and (max-width: 500px)
            color: $color-dark
            font-size: 31px
            line-height: 1

    &-description
        font-size: 14px
        font-weight: 400
        line-height: 1.5
        @media screen and (max-width: 767px)
            font-size: 12px
            line-height: 18px

        .badge
            margin: 0 5px 15px 0

            @media screen and (max-width: 900px)
                margin: 0 5px 5px 0

        .button-container
            margin: 14px 10px 0 0

            @media screen and (max-width: 1000px)
                margin: 15px 10px 0 0

            @media screen and (max-width: 500px)
                margin: 15px 0 0
                width: 100%

            .button
                @media screen and (max-width: 500px)
                    width: 100%

            &--credit-requirements
                display: none

                @media screen and (max-width: 1000px)
                    display: flex

    &-buttons-wrapper
        display: flex
        flex-wrap: wrap

    & &-list
        margin-top: 17px
        margin-bottom: 15px

        @media screen and (max-width: 500px)
            margin-top: 11px
            margin-bottom: 6px

    &-list
        color: $color-dark
        font-size: 24px

        margin: 0
        padding: 0
        list-style: none
        columns: 2
        width: auto
        &:last-child
            margin-right: 0
        @media screen and (max-width: 1200px)
            font-size: 20px

        @media screen and (max-width: 700px)
            font-size: 16px

        @media screen and (max-width: 500px)
            font-size: 12px
            font-weight: 700

        li
            display: inline-block
            margin: 8px 0
            width: 100%
            position: relative
            padding-left: 28px
            break-inside: avoid
            @media screen and (max-width: 500px)
                position: relative
                padding: 0 0 0 21px

                margin: 8px 0

            &:before
                +icon-check-circle
                flex-shrink: 0
                color: $color-cool-grey

                font-size: 20px
                margin: 0 8px 0 0
                left: 0
                position: absolute
                top: 7px

                @media screen and (max-width: 1200px)
                    font-size: 16px
                    top: 7px

                @media screen and (max-width: 767px)
                    top: 1px
                @media screen and (max-width: 500px)
                    margin: 0 5px 0 0

                    right: calc(100% - 21px)

        &-tip
            @media screen and (min-width: 501px)
                font-size: 12px
                letter-spacing: 1px
                text-transform: uppercase
                vertical-align: middle
                background-color: $color-white

                padding: 2px 5px 1px

                position: relative
                top: -1px

            @media screen and (max-width: 1200px)
                font-size: 10px

            @media screen and (max-width: 500px)
                display: inline-block

    &-image
        display: flex
        justify-content: flex-end

@media screen and (max-width: 1000px)
    .credit-info-description .button-container, .credit-info-buttons-wrapper .button--primary.button--main-button
        width: 370px
        max-width: 100%