.header
    background: #ffffff

    &-container
        display: flex
        flex-wrap: wrap

    &-container &-navbar
        margin: 0 0 0 auto

        @media screen and (max-width: 900px)
            order: 1
            width: 100%
            margin: 0

    &-container &-search
        margin: 0 0 0 39px

        @media (max-width: 1080px) and (min-width: 901px)
            margin-left: 10px

        @media screen and (max-width: 900px)
            margin-left: auto

    &-container &-profile
        margin: 0 0 0 18px

        @media (max-width: 1080px) and (min-width: 901px)
            margin-left: 10px
