.listautocredit-header
	.listcredit-head__img img
		width: 745px
		max-width: 57.31vw;
		margin-left: -288px;
		margin-top: -58px;		
.listcredit-raifaizen_autocredit .listcredit-head-raifaizen
	margin-top: -104px
.listcredit-raifaizen_autocredit
	position: relative
	z-index: 2	
@media (min-width: 769px)	
	.listcredit-raifaizen_autocredit .listcredit-head-raifaizen
		padding-top: 24px
@media (max-width: 1180px)		
	.listautocredit-header .listcredit-head__img img
		margin-left: -74%;
		max-width: 47.31vw
@media (max-width: 1180px) and (min-width: 769px)
	.listcredit-raifaizen_autocredit .listcredit-head-raifaizen
	    width: 484px;
@media (max-width: 992px)
	.listcredit-raifaizen_autocredit .listcredit-head-raifaizen
	    margin-top: -83px;
	.listautocredit-header .listcredit-head__img img
	    margin-left: -35%
	    max-width: 36.31vw    
@media (max-width: 768px)
	.listcredit-raifaizen_autocredit .listcredit-head-raifaizen
	    margin-top: -23px;
@media (max-width: 767px)	
	.listcredit-raifaizen_autocredit .listcredit-head-raifaizen
	    margin-top: -23px;	
@media (max-width: 560px)	
	.listcredit-raifaizen_autocredit .listcredit-head-raifaizen
	    margin-top: -8px;	
@media (max-width: 479px)	
	.listcredit-raifaizen_autocredit .listcredit-head-raifaizen
	    margin-top: -35px;	