// TODO: Seems to be adaptive too

.credit-calculator
    display: flex
    flex-wrap: wrap

    box-shadow: 0 33px 49px -15px rgba(0, 38, 142, 0.26)
    border-radius: 10px
    background-color: #ffffff

    &-wrapper
        padding: 40px 0

        @media screen and (max-width: 1000px)
            display: none

    & &-left
        flex: 1

    &-left
        padding: 31px 39px

    & &-right
        margin: 0 0 0 auto

    &-right
        width: (431/1140 * 100%)
        background-color: $color-clear-blue

        border-radius: 0 10px 10px 0
        padding: 0 40px 32px

        *::selection
            background-color: rgba(#000, .7)

    &-info
        color: #ffffff
        text-transform: uppercase

        &-header
            font-size: 14px
            font-weight: 700
            letter-spacing: 1.27px

            i
                position: relative
                top: 1px
                margin: 0 0 0 2px
                text-transform: none

                .icon
                    font-size: 13px
                    vertical-align: middle

        &-footer
            .button-container
                display: flex
                justify-content: center
                margin: 31px 0 0

            .button.button--primary
                font-size: 23px
                width: 100%
                padding: 20px 20px 17px

            .payments-calendar-open-button-container
                margin: 25px 0 0

        & &-value
            margin: 12px 0 0

        &-value
            font-size: 43px

        &-row
            display: flex
            flex-wrap: wrap
            justify-content: space-between

            border-bottom: 1px solid rgba(#fff, 0.2)
            padding: 29px 0 16px

    &-header
        color: $color-dark
        font-weight: $font-weight-extra-bold
        font-size: 37px
        margin-bottom: 28px

    & &-row
        margin: 30px 0

        &:last-child
            margin-bottom: 0

        &.credit-calculator-row--checkboxes
            margin: 27px 0 -3px

    &-row
        display: flex
        flex-wrap: wrap
        align-items: flex-end
        justify-content: space-between

        & > *
            width: calc(50% - 30px/2)

        &.credit-calculator-row--checkboxes
            justify-content: flex-start
            align-items: center

            & > *
                width: auto

        .custom-checkbox-container
            margin-right: 15px
[aria-label][data-balloon-pos]:before
    border-top-color: #000 !important
[aria-label][data-balloon-pos=left]:before
    border-top-color:  transparent !important
    border-left-color: #000 !important
[aria-label][data-balloon-pos]:after
    background: #000 !important
@media (max-width: 1260px) and (min-width: 768px)
    .credit-calculator-info [aria-label][data-balloon-pos=up]:after 
        right: -40px !important
        left: auto !important
        transform: none !important