.articles-list
    .container
        .articles-listing-main__row
            a.popular-articles__item.articles__item-normal(href="#")
                .popular-articles__img(data-bg="static/articles-list/article_6.jpg")
                .popular-articles__text
                    .popular-articles__category ПОЛЕЗНАЯ РЕКЛАМА
                    .popular-articles__name Новые правила: как меняются визовые процедуры США и других стран
            a.popular-articles__item.articles__item-normal(href="#")
                .popular-articles__img(data-bg="static/articles-list/article_5.jpg")
                .popular-articles__text
                    .popular-articles__category Ипотека
                    .popular-articles__name Не просто квартиры: как инвестировать в недвижимость за рубежом
            a.popular-articles__item.articles__item-normal.hide-mob(href="#")
                .popular-articles__img(data-bg="img/main_page/article_3.jpg")
                .popular-articles__text
                    .popular-articles__category Ипотека
                    .popular-articles__name 9 необычных мест для свадьбы в Москве
            a.popular-articles__item.articles__item-normal.hide-mob(href="#")
                .popular-articles__img(data-bg="static/articles-list/article_6.jpg")
                .popular-articles__text
                    .popular-articles__category ПОЛЕЗНАЯ РЕКЛАМА
                    .popular-articles__name Новые правила: как меняются визовые процедуры США и других стран
            a.popular-articles__item.articles__item-normal.hide-mob(href="#")
                .popular-articles__img(data-bg="static/articles-list/article_5.jpg")
                .popular-articles__text
                    .popular-articles__category Ипотека
                    .popular-articles__name Не просто квартиры: как инвестировать в недвижимость за рубежом
            a.popular-articles__item.articles__item-normal.hide-mob(href="#")
                .popular-articles__img(data-bg="img/main_page/article_3.jpg")
                .popular-articles__text
                    .popular-articles__category Ипотека
                    .popular-articles__name 9 необычных мест для свадьбы в Москве
        .reviews-list__pagination.articles-list__pagination
            +add-button({text: "Показать еще", types: ["secondary", "line", "icon", "icon-right"], icon: true, iconBefore: false})
            ul.paging-list
                li.paging-list__item
                    a.paging-list__link 1
                li.paging-list__item
                    a.paging-list__link ...
                li.paging-list__item
                    a.paging-list__link 22
                li.paging-list__item
                    a.paging-list__link 23
                li.paging-list__item
                    a.paging-list__link 24
                li.paging-list__item
                    a.paging-list__link 25
                li.paging-list__item
                    a.paging-list__link 26
                li.paging-list__item.hide-mob
                    a.paging-list__link 27
                li.paging-list__item.hide-mob
                    a.paging-list__link 28
                li.paging-list__item.hide-mob
                    a.paging-list__link 29
                li.paging-list__item
                    a.paging-list__link ...
                li.paging-list__item
                    a.paging-list__link 346