section.bank-content.articles-listing-main
    .tab-wrap
        .bank-list
            .container
                ul.tabs
                    li.bank-list__item.active
                        a.bank-list__link(href='#tab_1') Новое и интересное
                    li.bank-list__item
                        a.bank-list__link(href='#tab_2') Экономика
                    li.bank-list__item
                        a.bank-list__link(href='#tab_3') Личные финансы
                    li.bank-list__item
                        a.bank-list__link(href='#tab_4') Семейный бюджет
                    li.bank-list__item
                        a.bank-list__link(href='#tab_5') Безопасность
                    li.bank-list__item
                        a.bank-list__link(href='#tab_6') Технологии
                    li.bank-list__item
                        a.bank-list__link(href='#tab_7') Политика
        
        .tab-cont#tab_1
            .container
                .articles-listing-main__row.articles-listing-main__row-slider
                    a.popular-articles__item.articles__item-big(href="#")
                        .popular-articles__img(data-bg="img/article/article-img1.png")
                        .popular-articles__text
                            .popular-articles__category Технологии
                            .popular-articles__name Где дешевле: битва онлайн-магазинов одежды
                    .articles-listing-main__slider-wrap
                        h3 Обсуждаемое
                        .articles-listing-main__slider.js--articles-listing-main__slider
                            a.popular-articles__item.articles__item-normal(href="#")
                                .popular-articles__img(data-bg="img/main_page/article_1.jpg")
                                .popular-articles__text
                                    .popular-articles__category Ипотека
                                    .popular-articles__name Что такое ипотечный кредит и как его оформить
                            a.popular-articles__item.articles__item-normal(href="#")
                                .popular-articles__img(data-bg="img/main_page/article_2.jpg")
                                .popular-articles__text
                                    .popular-articles__category Ипотека
                                    .popular-articles__name Что такое ипотечный кредит и как его оформить
                            a.popular-articles__item.articles__item-normal(href="#")
                                .popular-articles__img(data-bg="img/main_page/article_3.jpg")
                                .popular-articles__text
                                    .popular-articles__category Ипотека
                                    .popular-articles__name Что такое ипотечный кредит и как его оформить
                        .section.answers__dots.listcreditslider__dots--desktop.js-init--articles-lisiting-dots
                .articles-listing-main__row.articles-listing-main__row-mob
                    a.popular-articles__item.articles__item-normal(href="#")
                                .popular-articles__img(data-bg="static/articles-list/article_5.jpg")
                                .popular-articles__text
                                    .popular-articles__category Ипотека
                                    .popular-articles__name Не просто квартиры: как инвестировать в недвижимость за рубежом
                    a.popular-articles__item.articles__item-normal(href="#")
                                .popular-articles__img(data-bg="img/main_page/article_3.jpg")
                                .popular-articles__text
                                    .popular-articles__category Ипотека
                                    .popular-articles__name 9 необычных мест для свадьбы в Москве
                    a.popular-articles__item.articles__item-normal(href="#")
                                .popular-articles__img(data-bg="static/articles-list/article_6.jpg")
                                .popular-articles__text
                                    .popular-articles__category Ипотека
                                    .popular-articles__name Новые правила: как меняются визовые процедуры США и других стран
                .articles-listing-main__row.articles-listing-main__row-mob
                    a.popular-articles__item.articles__item-middle(href="#")
                                .popular-articles__img(data-bg="static/articles-list/article_7.png")
                                .popular-articles__text
                                    .popular-articles__category ТЕХНОЛОГИИ
                                    .popular-articles__name Битва операторов: СберМобайл против Тинькофф Мобайл
                    a.popular-articles__item.articles__item-middle(href="#")
                                .popular-articles__img(data-bg="static/articles-list/article_8.jpg")
                                .popular-articles__text
                                    .popular-articles__category ЖИЗА
                                    .popular-articles__name 7 способов помыться горячей водой, когда её отключили



                                                                             