extends ./pug/base_template

block variables
	-
		var opts = {
			page: "Articles Listing"
		}

block content
		.articles-listing
			include ./pug/articles-listing/index

block footer-breadcrumbs
	+add-breadcrumbs({items: ["Банки", "Потребительский кредит"]})