extends ./pug/base_template

block variables
	-
		var opts = {
			page: "Article"
		}

block content
		.article
			include ./pug/article/index

block footer-breadcrumbs
	+add-breadcrumbs({items: ["Банки", "Потребительский кредит"]})