extends ./pug/base_template

block variables
	-
		var opts = {
			page: "ATM and branches"
		}

block content
	include ./pug/atm_branches/head
	include ./pug/atm_branches/map
	.reviews-atm
		include ./pug/listing-banks/slider