extends ./pug/base_template

block variables
    -
        var opts = {
            page: "List Credit"
        }

block content
    //- include ./pug/credit/index
    include ./pug/autocredit_advanced_selection/head
    include ./pug/listcredit/table
    include ./pug/listcredit/slider
    include ./pug/listcredit/reviews
    include ./pug/listcredit/slidedown

//- block footer-breadcrumbs
//- 	+add-breadcrumbs({items: ["Банки", "Потребительский кредит"]})
