extends ./pug/base_template

block variables
    -
        var opts = {
            page: "Bank Credit"
        }

block content
    .bank__content
        include ./pug/bank-credit/index

block footer-breadcrumbs
    +add-breadcrumbs({items: ["Банки", "Потребительский кредит"]})

