extends ./pug/base_template

block variables
	-
		var opts = {
			page: "Bank"
		}

block content
	.bank__content
		include ./pug/bank/index

block footer-breadcrumbs
	+add-breadcrumbs({items: ["Банки", "Потребительский кредит"]})