extends ./pug/base_template

block variables
	-
		var opts = {
			page: "Credit"
		}

block content
	include ./pug/calculator-credit_variable_rate/index
block footer-breadcrumbs
	+add-breadcrumbs({items: ["Банки", "Потребительский кредит"]})
