extends ./pug/base_template

block variables
	-
		var opts = {
			page: "Contacts"
		}

block content
	include ./pug/contacts/index

block footer-breadcrumbs
	+add-breadcrumbs({items: ["Банки", "Потребительский кредит"]})