extends ./pug/base_template

block variables
	-
		var opts = {
			page: "Credit Car"
		}

block content
	include ./pug/credit-car/index

block footer-breadcrumbs
	+add-breadcrumbs({items: ["Банки", "Потребительский кредит"]})