extends ./pug/base_template

block variables
	-
		var opts = {
			page: "Credit Branding"
		}

block content
	include ./pug/credit-branding/index

block footer-breadcrumbs
	+add-breadcrumbs({items: ["Банки", "Потребительский кредит"]})