extends ./pug/base_template

block variables
	-
		var opts = {
			page: "Currency Dynamic"
		}

block content
	include ./pug/currency_dynamic/index

block footer-breadcrumbs
	+add-breadcrumbs({items: ["Банки", "Потребительский кредит"]})