extends ./pug/base_template

block variables
	-
		var opts = {
			page: "Deposit"
		}

block content
	include ./pug/deposit/index

block footer-breadcrumbs
	+add-breadcrumbs({items: ["Банки", "Потребительский кредит"]})