extends ./pug/base_template
include ./pug/mixins/typography
include ./pug/mixins/buttons

block variables
    -
        var opts = {
            page: "Dev Kits"
        }

block content
    .container
        h1 Buttons
        h2 Primary
        .dev-flex-container
            +add-button({text: "Отправить", types: ["primary"]})
            +add-button({text: "Отправить", types: ["primary"], isLink: true})
            +add-button({text: "Отправить", types: ["primary"], isSubmit: true})
            +add-button({text: "Отправить", types: ["primary", "disabled"]})

        h2 Secondary
        .dev-flex-container
            +add-button({text: "Подать заявку", types: ["secondary"]})
            +add-button({text: "Подать заявку", types: ["secondary"], isLink: true})
            +add-button({text: "Подать заявку", types: ["secondary"], isSubmit: true})
            +add-button({text: "Подать заявку", types: ["secondary", "disabled"]})

        h2 Line Primary
        .dev-flex-container
            +add-button({text: "Закрыть", types: ["primary", "line"]})
            +add-button({text: "Закрыть", types: ["primary", "line"], isLink: true})
            +add-button({text: "Закрыть", types: ["primary", "line"], isSubmit: true})
            +add-button({text: "Закрыть", types: ["primary", "line", "disabled"]})

        h2 Line Secondary
        .dev-flex-container
            +add-button({text: "Заказать звонок", types: ["secondary", "line"]})
            +add-button({text: "Заказать звонок", types: ["secondary", "line"], isLink: true})
            +add-button({text: "Заказать звонок", types: ["secondary", "line"], isSubmit: true})

        h2 Line Third
        .dev-flex-container
            +add-button({text: "Название", types: ["third", "line"]})
            +add-button({text: "Название", types: ["third", "line"], isLink: true})
            +add-button({text: "Название", types: ["third", "line"], isSubmit: true})

    .container
        br
        h1 Inputs

        +add-input({
            placeholder: "Название",
            name: "name"
        })

        +add-input({
            placeholder: "Название",
            name: "name",
            value: "Заполненное поле"
        })

    .container
        br
        h1 Common select

        +add-select-common()
        +add-select-common({slider: true})
        +add-select-common({selectedOption: 0, slider: true})

    .container
        br
        h1 Sliders

        input(type="text" name="sliderBasic" data-min="0" data-max="2000").js-init--slider-basic
        input(type="text" name="sliderBasic" data-min="0" data-max="10" data-step="1").js-init--slider-basic
