extends ./pug/base_template

block variables
    -
        var opts = {
            page: "Exchange Rate"
        }

block content
    include ./pug/exchange-rate/head
    include ./pug/exchange-rate/content
    include ./pug/exchange-rate/video
    include ./pug/exchange-rate/seo-text

block footer-breadcrumbs 
    +add-breadcrumbs-2({items: ["Банки", "Потребительский кредит"]}) 