extends ./pug/base_template

block content
    .container
        -
            var pages = [
                "credit",
                "home",
                "main-page",
                "listcredit",
                "reviews",
                "reviews-list",
                "article",
                "home",
                "articles-listing",
                "atm_branches",
                "autocredit_advanced_selection",
                "bank-credit",
                "bank",
                "calculator-credit",
                "calculator-credit_variable_rate",
                "calculator-mortgage",
                "contacts",
                "credit-branding",
                "credit",
                "currency_dynamic",
                "deposit",
                "deposit_advanced_selection",
                "error404",
                "error503",
                "exchange-rate",
                "listcredit_filter_table",
                "listing-autocredit",
                "listing-banks",
                "listing-deposits",
                "listing-loan",
                "listing-mortgage",
                "mortgage",
                "mortgage_advanced_selection",
                "recovery-password-2"
            ]

        ol
            each page in pages
                li
                    a(href=`./${page}.html`)= page
