extends ./pug/base_template

block variables
    -
        var opts = {
            page: "List Credit"
        }

block content
    //- include ./pug/credit/index
    include ./pug/listing-banks/head
    include ./pug/listing-banks/table
    include ./pug/listing-banks/slider
    include ./pug/listing-banks/video
    include ./pug/listing-banks/seo-text
    

//- block footer-breadcrumbs
//- 	+add-breadcrumbs({items: ["Банки", "Потребительский кредит"]})
