extends ./pug/base_template

block variables
    -
        var opts = {
            page: "List Loan"
        }

block content
    include ./pug/listing-loan/head
    include ./pug/listing-loan/table
    include ./pug/listcredit/slider
    include ./pug/listcredit/reviews
    include ./pug/listcredit/slidedown


