extends ./pug/base_template

block variables
    -
        var opts = {
            page: "List Credit"
        }

block content
    
    include ./pug/main-page/first-screen
    include ./pug/main-page/best-proposition
    include ./pug/main-page/useful-services
    include ./pug/main-page/answers
    include ./pug/main-page/popular-articles
    include ./pug/main-page/block-banks
block footer-breadcrumbs
    +add-breadcrumbs({items: ["Банки", "Потребительский кредит"]})
    

