extends ./pug/base_template

block variables
	-
		var opts = {
			page: "Mortgage"
		}

block content
	.mortgage__content
		include ./pug/mortgage/index

block footer-breadcrumbs
	+add-breadcrumbs({items: ["Банки", "Потребительский кредит"]})