extends ./pug/base_template

block variables
	-
		var opts = {
			page: "reviews"
		}

block content
	include ./pug/reviews/index

block footer-breadcrumbs
	+add-breadcrumbs({items: ["Банки", "Потребительский кредит"]})
