include ../mixins/credit-recommend

include ../popup/extsel
include ../popup/querycr

section.credit-info-section.listcredit-section
    .container
        .credit-info
            .credit-info-row
                .credit-info-left
                    h1.credit-info-header Потребительские кредиты
                    .credit-info-description
                        p Получить кредит под низкую ставку процента: поиск предложений физическим лицам и оформление онлайн-заявки на выгодных условиях

.listcredit-group
    .listcredit-header

        .container
            .listcredit-head
                .listcredit-head__form
                    form
                        +add-typed-number-input({
                            placeholder: "Сумма",
                            name: "sum",
                            types: ["Тнг", "Руб"],
                            min: 0,
                            max: 30000000,
                            value: 0,
                            classInput: 'js-input-sum'
                        })

                        +add-select-common({
                            placeholder: "Срок",
                            name: "duration",
                            options: ["1 год", "2 года", "3 года", "4 года"],
                            selectedOption: 0,
                            slider: true
                        })

                        //- +add-button({text: "Расширенный подбор", types: ["secondary", "line"]})
                        
                        .listcredit-form-btn.button.button--third.button--line
                            span.js__open-extsel
                                | Расширенный 
                                br
                                | подбор

                        +add-button({text: "Подобрать", types: ["primary"], buttonClass: "listcredit-form-btn-sbt", isSubmit: true})

                    .listcredit-head__more
                        span.js__open-extsel
                            | Расширенный подбор
                            +add-svg({icon: "arrow"})

                .listcredit-head__img
                    +add-image({src: "static/listcredit/listcredit-head.svg"})

    .listcredit-raifaizen
        .container
            .listcredit-head-raifaizen
                .listcredit-head-raifaizen__img
                    +add-image({src: "static/listcredit/rayffayzenbank.png"})
                .listcredit-head-raifaizen__info
                    b Легкий кредит в Райффайзен банке
                    em По ставке 10%. До 3 000 000 тенге


    .listcredit-notfound
        .container
            .notfound
                p 
                    |К сожалению, по вашим параметрам не найдено ни одного кредита. 
                    br
                    |Попробуйте их изменить.


    .listcredit-recomment
        .credit-recommend-wrapper
            .container.credit-recommend-container
                .credit-recommend-row
                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/aliance.png",
                        header: "Универсальный",
                        rate: "9.90%",
                        name: "АльянсБанк",
                        license: "Лиц. №3293"
                    })

                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/kaspi.png",
                        header: "Кредит на ремонт",
                        rate: "9.95%",
                        name: "Каспийский банк",
                        license: "Лиц. №3293"
                    })

                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/halyk.png",
                        header: "Кредит на бизнес",
                        rate: "7.43%",
                        name: "Халык Банк",
                        license: "Лиц. №3293"
                    })

                    +add-credit-recommend({
                        image: "static/credit-recommend/bank-logo/raiffeisen.png",
                        header: "Валютный кредит",
                        rate: "9.99%",
                        name: "Райффайзен Банк",
                        license: "Лиц. №3293"
                    })
