section.lcreviews
    .container
        .lcreviews__wrap
            .lcreviews__user
                h2 Задать вопрос по кредитам
                i
                    +add-image({src: "static/listcredit/group.png", retina: true})
                b Павел Пушкин
                p
                    | Эксперт проекта «Финансовое здоровье», консультант проекта Минфина РФ по повышению финансовой грамотности
                +add-button({text: "Спросить эксперта", types: ["third", "line"], buttonClass: "openPopup js__open-querycr"})
            .lcreviews__form
                form(action="/").js__form-block
                    +add-input({
                        placeholder: "Заголовок",
                        name: "name",
                        required: true,
                        className: "js__input-one"
                    })
                    
                    .block-textarea
                        span  Текст сообщения
                        textarea(name="", class="js__textarea").js__input-two

                    .lcreviews__form-block-hidden.js__input-block-hidden
                        +add-input({
                            placeholder: "Ваш email",
                            name: "name",
                            required: true
                        })

                        +add-custom-checkbox({name: "option12ewdagf2", id: "checkboxOption234awdawd", label: "Вопрос виден другим пользователям"})   

                    .group
                        +add-button({text: "Отправить", types: ["primary"], isSubmit: true})
                        p Ответ пришлем на почту не позже 1-3 дней. Без спама.