section.slidedown
    .container
        .slidedown__wrap
            .slidedown__item.js__slidedown
                +add-svg({icon: "arrow"})
                h2 Как я могу отправить сына учиться за границу?
                .slidedown__item-content
                    p 
                        | Как бы банально это ни звучало, но сперва нужно определиться с типом вина, которое вы собираетесь покупать. В доступном ценовом сегменте, вероятнее всего, вы не сможете купить качественное сладкое или полусладкое вино за 300–600 рублей. Как бы банально это ни звучало, но сперва нужно определиться. Всероссийский центр изучения общественного мнения выяснил, сколько россиян используют пластиковые пакеты повторно. Согласно опросу, отказаться или сократить использование пластиковых пакетов готовы 85 % россиян
            .slidedown__item.js__slidedown
                +add-svg({icon: "arrow"})
                h2 На сколько лет я могу взять кредит?
                .slidedown__item-content
                    p 
                        | Как бы банально это ни звучало, но сперва нужно определиться с типом вина, которое вы собираетесь покупать. В доступном ценовом сегменте, вероятнее всего, вы не сможете купить качественное сладкое или полусладкое вино за 300–600 рублей. Как бы банально это ни звучало, но сперва нужно определиться. Всероссийский центр изучения общественного мнения выяснил, сколько россиян используют пластиковые пакеты повторно. Согласно опросу, отказаться или сократить использование пластиковых пакетов готовы 85 % россиян
            .slidedown__item.js__slidedown
                +add-svg({icon: "arrow"})
                h2 Обязательно работать, чтобы получить кредит?
                .slidedown__item-content
                    p 
                        | Как бы банально это ни звучало, но сперва нужно определиться с типом вина, которое вы собираетесь покупать. В доступном ценовом сегменте, вероятнее всего, вы не сможете купить качественное сладкое или полусладкое вино за 300–600 рублей. Как бы банально это ни звучало, но сперва нужно определиться. Всероссийский центр изучения общественного мнения выяснил, сколько россиян используют пластиковые пакеты повторно. Согласно опросу, отказаться или сократить использование пластиковых пакетов готовы 85 % россиян
            .slidedown__item.js__slidedown
                +add-svg({icon: "arrow"})
                h2 Можно ли получить кредит до 18 лет?
                .slidedown__item-content
                    p 
                        | Как бы банально это ни звучало, но сперва нужно определиться с типом вина, которое вы собираетесь покупать. В доступном ценовом сегменте, вероятнее всего, вы не сможете купить качественное сладкое или полусладкое вино за 300–600 рублей. Как бы банально это ни звучало, но сперва нужно определиться. Всероссийский центр изучения общественного мнения выяснил, сколько россиян используют пластиковые пакеты повторно. Согласно опросу, отказаться или сократить использование пластиковых пакетов готовы 85 % россиян
            .slidedown__item.js__slidedown
                +add-svg({icon: "arrow"})
                h2 В каком банке проще взять кредит?
                .slidedown__item-content
                    p 
                        | Как бы банально это ни звучало, но сперва нужно определиться с типом вина, которое вы собираетесь покупать. В доступном ценовом сегменте, вероятнее всего, вы не сможете купить качественное сладкое или полусладкое вино за 300–600 рублей. Как бы банально это ни звучало, но сперва нужно определиться. Всероссийский центр изучения общественного мнения выяснил, сколько россиян используют пластиковые пакеты повторно. Согласно опросу, отказаться или сократить использование пластиковых пакетов готовы 85 % россиян


        .youtube-video
            iframe(width='560', height='315', data-src='https://www.youtube.com/embed/Rb0UmrCXxVA', class="js__init-youtube", frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')


        //- .slidedown-comment
        //-     p
        //-         | Потребительские кредиты – это займы, которые оформляются гражданами в банке в наличной или безналичной форме. Целью кредита может быть любая покупка (телевизора, холодильника, компьютера), оплата услуг (туристической путевки, курсов, лечения) или получение наличных денег для решения повседневных нужд. Потребительские кредиты могут быть целевые и нецелевые, с обеспечением или без. Под потребительскими кредитами на Сравни.ру подразумеваются займы наличными, а также кредиты на товары и услуги.