.listmortgage-section
	.credit-info
		padding-bottom: 38px
.listmortgage-header
	.listcredit-head__img img
		vertical-align: top
		width: 835px
		max-width: 64.23vw
		margin-left: -151px
		margin-top: -89px
	.listcredit-head
		min-height: 305px
	form
		flex-wrap: wrap
		margin-left: -15px
		margin-right: -15px
		justify-content: flex-start
		.custom-select-container, .listcredit-form-item
			width: calc(33.33% - 30px)
			margin: 0 15px 29px
	.listcredit-head__form
		width: 74.3%
		position: relative
		z-index: 1
	.listcredit-head__img
		width: calc(100% - 74.3%);
		position: relative
		z-index: 0
	.button
		width: 100%
.listcredit-raifaizen_mortgage
	position: relative
	z-index: 2
	.listcredit-head-raifaizen
		margin-top: -105px
		padding-top: 24px
.btn_callback
	padding-left: 12px
	padding-right: 12px	

@media (max-width: 1199px)
	.listmortgage-header form .custom-select-container, .listmortgage-header form .listcredit-form-item 
		width: calc(50% - 30px)
	.listmortgage-header .listcredit-head__more
		margin-bottom: 15px
		margin-top: 0
	.listmortgage-header .listcredit-head__img
		display: flex
		align-items: flex-end
		img
			max-width: 150%
			margin-left: -50px
	.listmortgage-header .listcredit-head
		min-height: 385px;	
@media (max-width: 1199px) and (min-width: 561px)
	.listmortgage-header .listcredit-form-btn-sbt
		font-size: 24px;
		padding: 16px 44px 20px;
@media (max-width: 992px)			
	.listcredit-raifaizen_mortgage
		.listcredit-head-raifaizen
			margin-top: -36px;
			padding-top: 14px;
@media (max-width: 860px)
	.listmortgage-header .listcredit-head__img img
		margin-left: -10px
@media (max-width: 768px)
	.listmortgage-header .listcredit-head__form
		width: 100%	
	.listmortgage-header .listcredit-head__img
		display: none		
	.listmortgage-header .listcredit-head
		min-height: 0
	.listcredit-raifaizen_mortgage .listcredit-head-raifaizen
		margin-top: -23px
@media (max-width: 767px)
	.listmortgage-header img, .listmortgage-header .listcredit-head__img
		display: none
	.listmortgage-header .listcredit-head__form
		width: 100%
	.listmortgage-section .credit-info
		padding-bottom: 13px
		padding-top: 8px
	.listmortgage-header .listcredit-head
		min-height: 0
	.listcredit-raifaizen_mortgage .listcredit-head-raifaizen
		margin-top: -22px
@media (max-width: 560px)
	.listmortgage-header form
		margin-left: -7px
		margin-right: -7px
	.listmortgage-header form .custom-select-container
		width: calc(100% - 14px)
		margin-bottom: 24px
	.listcredit-form-item
		.button
			height: 48px
			font-size
	.listmortgage-header form .listcredit-form-item
		width: calc(55% - 14px)
		&.listcredit-form-btn
			width: calc(45% - 14px)
	.listmortgage-header form .custom-select-container, .listmortgage-header form .listcredit-form-item
		margin-left: 7px
		margin-right: 7px
@media (max-width: 480px)
	.listmortgage-header .listcredit-form-item_btn
		display: none
	.listcredit-raifaizen_mortgage .listcredit-head-raifaizen
		margin-top: -38px