.payments-calendar-open-button-container
    display: flex
    justify-content: center
    flex-wrap: wrap

.payments-calendar-open-button
    display: flex
    align-items: center
    flex-wrap: wrap

    color: #ffffff
    font-size: 14px
    font-weight: 700
    line-height: normal

    transition-property: color
    transition-duration: $transition-duration

    &:hover,
    &:active
        color: $color-orange-yellow
        text-decoration: none

    & &__icon
        margin: 0 7px 0 0

    &__icon
        width: 15px
        height: 15px
        fill: currentColor

    span
        flex: 1
