section.error503-content
    .error503-img
        +add-image({src: "static/errors/error-img.png"})
    h1 Что-то пошло не так
    p Мы уже решаем проблему. Скоро все заработает.
    p Попробуйте обновить страницу через несколько минут.
    .error503-mail
        +add-image({src: "static/errors/error-mail-icon.svg", retina: true})
        p Если есть срочный вопрос, напишите на почту
        a(href="#")
            | boss@finbee.kz