.irs--finbee
    height: 50px

    .irs-handle
        top: 26px
        width: 17px
        height: 17px

        border-radius: 100%
        cursor: pointer

        position: relative
        z-index: 2

        box-shadow: inset 0 0 0 2px $color-clear-blue

        &:hover
            &:before
                box-shadow: inset 0 0 0 10px $color-clear-blue, 0 0 0 2px $color-clear-blue

            &:after
                box-shadow: 0 0 0 5px #ffffff

        &:active
            &:before
                box-shadow: inset 0 0 0 10px #0033C2, 0 0 0 2px #0033C2

            &:after
                box-shadow: 0 0 0 5px #ffffff

        &:before
            content: ""
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0

            background-color: #fff

            border-radius: 100%
            box-shadow: inset 0 0 0 2px $color-clear-blue

            transition-property: box-shadow
            transition-duration: .1s
            transition-timing-function: ease-out

        &:after
            content: ""
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0

            border-radius: 100%
            box-shadow: 0 0 0 3px #ffffff

            z-index: -1

            transition-property: box-shadow
            transition-duration: .1s
            transition-timing-function: ease-out

    .irs-line
        top: 36px
        height: 3px
        background-color: #d8d8d8
        border-radius: 4px

    .irs-bar
        top: 36px
        height: 3px
        background-color: $color-clear-blue

    .irs-bar--single
        border-radius: 4px 0 0 4px

    .irs-shadow
        height: 3px
        bottom: 21px
        background-color: rgba(222, 228, 236, 0.5)

    .irs-max,
    .irs-min
        color: #333
        font-size: 14px
        line-height: 1
        top: 0
        padding: 3px 5px
        background-color: rgba(0, 0, 0, 0.1)
        border-radius: 4px

    .irs-from,
    .irs-single,
    .irs-to
        font-size: 14px
        line-height: 1
        text-shadow: none
        padding: 3px 5px
        background-color: #006cfa
        color: #fff
        border-radius: 4px

    .irs-from:before,
    .irs-single:before,
    .irs-to:before
        position: absolute
        display: block
        content: ""
        bottom: -6px
        left: 50%
        width: 0
        height: 0
        margin-left: -3px
        overflow: hidden
        border: 3px solid transparent
        border-top-color: #006cfa

    .irs-grid
        height: 25px
