.mortgage__content
    .credit-info-list li 
        word-break: break-word
    .credit-calculator-wrapper
        padding-bottom: 0
    .credit-request-section
        padding-bottom: 55px
    .mortgage-info 
        padding: 28px 13px 24px
        width: 100%
        text-align: center
        display: none
        p 
            font-size: 14px
            color: #1e2633
            line-height: 21px
    .credit-info-row .credit-info-right .credit-info-image
        margin-top: 40px
    .button--primary.button--main-button
        padding: 18px 28px 18px
.button--primary.button--credit-email,
.button--primary.button--credit-email-cancel,
.button--primary.button--close-repaiment
    padding: 18px 42px 17px

@media screen and (max-width: 767px)
    .mortgage__content
        .mortgage-info 
            display: block
        .button-container--credit-requirements
            .button--primary.button--main-button
                padding: 7px 28px
        .bank-tabs 
            min-height: auto
@media screen and (max-width: 500px)
    .popup-credit .button--primary.js__close-popup
        font-size: 15px
        line-height: 15px
        padding: 10px 25px 10px
    .form-el-group .custom-checkbox-container
        margin-right: 10px
        min-width: 139px
    .form-el-group .custom-checkbox-container:last-of-type 
        margin-right: 0


