include ../mixins/credit-recommend

.credit-recommend-wrapper
    .container.credit-recommend-container
        .credit-recommend-row
            h4.credit-recommend-container-header
                span Рекомендуем еще 4 кредита

        .credit-recommend-row
            +add-credit-recommend({
                image: "static/credit-recommend/bank-logo/aliance.png",
                header: "Универсальный",
                rate: "9.90%",
                name: "АльянсБанк",
                license: "Лиц. №3293"
            })

            +add-credit-recommend({
                image: "static/credit-recommend/bank-logo/kaspi.png",
                header: "Кредит на ремонт",
                rate: "9.95%",
                name: "Каспийский банк",
                license: "Лиц. №3293"
            })

            +add-credit-recommend({
                image: "static/credit-recommend/bank-logo/halyk.png",
                header: "Кредит на бизнес",
                rate: "7.43%",
                name: "Халык Банк",
                license: "Лиц. №3293"
            })

            +add-credit-recommend({
                image: "static/credit-recommend/bank-logo/raiffeisen.png",
                header: "Валютный кредит",
                rate: "9.99%",
                name: "Райффайзен Банк",
                license: "Лиц. №3293"
            })
