.footer
    block footer-breadcrumbs

    .footer-content
        .container.footer-container
            nav.footer-nav-container
                -
                    var navs = [
                        {
                            header: "Популярное",
                            items: [
                                "Кредитный калькулятор",
                                "Кредиты наличными",
                                "Онлайн заявка",
                                "Рефинансирование",
                                "Самые выгодные кредиты",
                                "Срочные наличными",
                                "Онлайн на карту",
                                "С плохой кредитной историей",
                                "Калькулятор с досрочным погашением",
                                "Без залога и поручителей",
                                "Без справки 2 НДФЛ",
                                "За час",
                            ]
                        }, {
                            header: "Рекомендованное",
                            items: [
                                "В день обращения",
                                "Без отказа",
                                "Без справок",
                                "Без трудоустройства",
                                "Заявка с моментальным",
                                "решением",
                                "Калькулятор рефинансирования",
                                "По 2 документам",
                                "Безработным",
                                "Калькулятор аннуитетных",
                                "платежей",
                                "Без кредитной истории",
                                "По паспорту",
                                "Без обеспечения",
                            ]
                        }, {
                            header: "По виду обеспечения",
                            items: [
                                "Под залог недвижимости",
                                "Под залог авто",
                                "Под залог птс",
                                "Под залог дома",
                                "Под залог коммерческой",
                                "недвижимости",
                                "Под залог доли в квартире",
                                "Под залог участка",
                                "Под залог материнского",
                                "капитала",
                                "Под залог с плохой кредитной",
                                "историей",
                                "Нецелевые под залог",
                            ]
                        }, {
                            header: "Популярные суммы",
                            items: [
                                "На 100 000 рублей",
                                "На 150 000 рублей",
                                "На 200 000 рублей",
                                "На 250 000 рублей",
                                "На 300 000 рублей",
                                "На 350 000 рублей",
                                "На 400 000 рублей",
                                "На 450 000 рублей",
                                "На 500 000 рублей",
                                "На 550 000 рублей",
                                "На 600 000 рублей",
                                "На 650 000 рублей",
                            ]
                        }
                    ]

                each nav in navs
                    .footer-nav
                        h4.footer-nav-header
                            span= nav.header

                        ul.footer-nav-items
                            each item in nav.items
                                li
                                    a(href="#")= item

    .footer-bottom
        .container.footer-bottom-container
            .footer-bottom-row
                a(href="/").footer-logo
                    +add-image({src: "img/logo-footer.svg"})

                nav.footer-bottom-links-container
                    ul.footer-bottom-links
                        -
                            var links = [
                                "О проекте",
                                "Контакты",
                                "Партнерская программа",
                                "Реклама на сайте",
                                "Политика конфиденциальности",
                                "Карта сайта",
                            ]

                        each item in links
                            li
                                a(href="#")= item

            .footer-bottom-row
                .footer-bottom-copyrights
                    span.
                        © 2009-2019. Потребительские кредиты в Алматы. #[br]
                        При использовании материалов ссылка на сайт bai.kz обязательна

                .footer-bottom-socials
                    a(href="#").footer-social
                        +add-svg({class: "footer-social__icon", icon: "vk"})

                    a(href="#").footer-social
                        +add-svg({class: "footer-social__icon", icon: "facebook"})
