//- Popup
include ../popup/city
//- include ../popup/extsel
//- include ../popup/credit

.container(style="z-index: 9999; position: relative;")
    .header-container
        a(href="#").header-logo
            .header-logo__desktop
                +add-image({src: "img/finbee.svg", class: "finbee-logo"})
                +add-image({src: "img/finbee-text.svg", class: "finbee-logo-text"})

        .header-logo__mobile
            a(href="/").footer-logo
                +add-image({src: "img/logo-footer.svg"})
        .header-city.js__open-city-select
            i
                +add-svg({icon: "pin"})
            span Караганда
            .header-city__popup
                span
                    | Ваш город 
                    b Усть-Каменогорск?
                .header-city__popup-btn
                    +add-button({text: "Да", types: ["third", "line"], buttonClass: "js__close-popup-city-show"})
                    span.js__open-city-popup Выбрать другой
                


        nav.header-navbar
            ul.header-nav
                li
                    a(href="#").header-nav-item Карты
                li
                    a(href="#").header-nav-item.header-nav-item--dropdown Кредиты
                li
                    a(href="#").header-nav-item.header-nav-item--dropdown Ипотека
                    .header-nav__submenu
                        a(href="#") Новостройки
                        a(href="#") Вторичное жилье
                        a(href="#") Вопросы по ипотеке
                        a(href="#") Новости недвижимости
                li
                    a(href="#").header-nav-item.header-nav-item--dropdown Депозиты
                li
                    a(href="#").header-nav-item.header-nav-item--dropdown Еще
                    .header-nav__submenu.-full
                        .container.header-nav__submenu-container
                            .header-nav__submenu-column
                                .submenublock
                                    .submenublock__header
                                        b Страхование
                                        +add-svg({icon: "arrow"})
                                    .submenublock__container
                                        a(href="#") КАСКО
                                        a(href="#") ОГПО
                                        a(href="#") Несчастный случай
                                        a(href="#") Здоровье
                                        a(href="#") Недвижимость

                            .header-nav__submenu-column
                                .submenublock
                                    .submenublock__header
                                        b Курсы валют
                                        +add-svg({icon: "arrow"})
                                    .submenublock__container
                                        a(href="#") Курсы валют Нацбанка РК
                                        a(href="#") Курсы валют в банках
                                        a(href="#") Виджет курсов валют

                                        .header-nav__exchange
                                            .header-nav__exchange-item.-red
                                                i $
                                                span
                                                    b 32.46
                                                    i
                                                        +add-svg({icon: "arrow-sort"})
                                                        | 0.35

                                            .header-nav__exchange-item.-red
                                                i €
                                                span
                                                    b 443.46
                                                    i
                                                        +add-svg({icon: "arrow-sort"})
                                                        | 0.48

                                            .header-nav__exchange-item
                                                i ₽
                                                span
                                                    b 5.22
                                                    i
                                                        +add-svg({icon: "arrow-sort"})
                                                        | 0.13


                            .header-nav__submenu-column
                                .submenublock
                                    .submenublock__header
                                        b Банки
                                        +add-svg({icon: "arrow"})
                                    .submenublock__container
                                        a(href="#") Банки Казахстана
                                        a(href="#") Банки Алматы
                                        a(href="#") Отзывы о банках
                                        a(href="#") Банкоматы
                                        a(href="#") Отделения
                                        a(href="#") Народный рейтинг
                                        a(href="#") Финансовый рейтинг
                                        a(href="#") Кредитный рейтинг

                            .header-nav__submenu-column
                                .submenublock
                                    .submenublock__header
                                        b Информация
                                        +add-svg({icon: "arrow"})
                                    .submenublock__container
                                        a(href="#") Новости
                                        a(href="#") Статьи
                                        a(href="#") Вопросы-ответы



        a(href="#").header-search.js__open-search-select
            +add-svg({class: "header-search__icon", icon: "search"})

        a(href="#").header-profile.js__open-login-select
            +add-svg({class: "header-profile__icon", icon: "auth"})

