mixin add-modal(options)
    -
        const defaults = {
            id: null,
            class: null
        };

        options = Object.assign(defaults, options);

    .custom-modal(
        id=options.id,
        class=options.class
    )
        .custom-modal-close(data-fancybox-close)
            +add-svg({class: "custom-modal-close__icon", icon: "cross-small"})

        if block
            .custom-modal-content
                block

.modals
    +add-modal({id: "modal-calendar"})
        .repaiment-schedule
            .repaiment-schedule-head
                .repaiment-schedule-header
                    span График погашения

                .repaiment-schedule-body
                    .repaiment-schedule-table
                        .repaiment-schedule-table-head(data-simplebar)
                            table
                                thead
                                    tr
                                        th №
                                        th дата
                                        th сумма платежа
                                        th основной долг
                                        th начисленные проценты
                                        th комиссии, иные платежи
                                        th остаток задолженности

                        .repaiment-schedule-table-body(data-simplebar)
                            table
                                tbody
                                    each _ in new Array(30)
                                        tr
                                            td 1
                                            td 23 сентября 2019
                                            td 20 499T
                                            td 350 384T
                                            td 2 394T
                                            td 294T
                                            td 406 395T


                .repaiment-schedule-footer
                    form(method="POST").send-to-email-container
                        .send-to-email
                            +add-input({placeholder: "Электронная почта", name: "email", type: "email", required: true})
                            +add-button({text: "Отправить", isSubmit: true, types: ["primary", "credit-email"]})
                            +add-button({text: "Отменить", buttonClass: "js--init-email-close", types: ["primary", "line", "credit-email-cancel"]})

                    .action-links
                        a(href="#").action-link
                            .action-link-image
                                +add-svg({class: "action-link-image__icon", icon: "printer"})

                            .action-link-text
                                span Распечатать

                        a(href="#").action-link.js--init-send-to-email-open
                            .action-link-image
                                +add-svg({class: "action-link-image__icon", icon: "envelope"})

                            .action-link-text
                                span Отправить по почте

                        a(href="#").action-link
                            .action-link-image
                                +add-svg({class: "action-link-image__icon", icon: "excel"})

                            .action-link-text
                                span Скачать в Excel

                    +add-button({text: "Закрыть", types: ["primary", "line", "close-repaiment"], isFancyBoxClose: true})

