.listdeposits-section
	.credit-info
		padding-bottom: 18px
.listdeposits-header
	.listcredit-head__img 
		width: 702px
		max-width: 54vw
		margin-left: 15px
		margin-top: -137px
		margin-right: -22vw
		max-height: 523px;
		overflow: hidden
		position: relative
		z-index: 0
		img
			vertical-align: top
			margin: 0
			max-height: none;
			height: auto
			width: auto
			max-width: 100%

	form
		flex-wrap: wrap
		margin-left: -15px
		margin-right: -15px
		justify-content: flex-start
		.custom-select-container, .listcredit-form-item
			width: calc(33.33% - 30px)
			margin: 0 15px 29px
	.listcredit-head__form
		width: 74.3%
		position: relative
		z-index: 1

	.button--primary
		padding-left: 40px
		padding-right: 40px
	.listcredit-head__more 
	    margin-top: -7px
.tablemax_mortgage
	.button--secondary
		padding-left: 12px
		padding-right: 12px	
.listcredit-raifaizen_deposits 
	position: relative
	z-index: 2
	.listcredit-head-raifaizen
	    margin-top: -103px;
	    padding-top: 24px;
.tablemax-info__column--all 
	width: 100%
	display: flex
	flex-wrap: wrap
	padding-right: 0
	justify-content: space-between
	div
		width: 33.33%;
		padding-right: 10px
		max-width: 326px
@media (max-width: 1200px)
	.tablemax-title .common-tab-select-1 .common-tab-group .common-tab-block
		padding-left: 23px
		padding-right: 23px
@media (max-width: 1199px)
	.listdeposits-header form .custom-select-container, .listdeposits-header form .listcredit-form-item 
		width: calc(50% - 30px)
	.listdeposits-header .listcredit-head__more
		margin-bottom: 15px
		margin-top: 23px
	.listdeposits-header .listcredit-head__img
		display: flex
		align-items: flex-end
		img
			max-width: 100%
			margin-left: 0
	.listdeposit-form-btn-sbt
		width: 100%
@media (max-width: 992px)			
	.listcredit-raifaizen_deposits
		.listcredit-head-raifaizen
			margin-top: -36px
			padding-top: 14px
	.listdeposits-header .listcredit-head__img
		align-items: center	
	.listdeposit-form-btn-sbt.listdeposit-form-btn-sbt
		width: 100%
	.listcredit-raifaizen_deposits .listcredit-head-raifaizen
		margin-top: 0
@media (max-width: 900px)		
	.listdeposits-header .listcredit-head__img
		margin-right: 0
		max-width: 25.7%
		margin-top: 0
	.listdeposits-header .listcredit-head__more
		margin-top: 12px
		margin-bottom: 0
@media (max-width: 768px)
	.listdeposits-header .listcredit-head__form
		width: 100%	
	.listdeposits-header .listcredit-head__img
		display: none		
@media (max-width: 767px)
	.listdeposits-header img, .listdeposits-header .listcredit-head__img
		display: none
	.listdeposits-header .listcredit-head__form
		width: 100%
	.listdeposits-section .credit-info
		padding-bottom: 13px
		padding-top: 8px
	.listdeposits-header .listcredit-head
		min-height: 0
	.listcredit-raifaizen_deposits .listcredit-head-raifaizen
		margin-top: 0
	.tablemax-info__column--all div
		width: 50%
@media (max-width: 560px)
	.listdeposits-header form
		margin-left: -7px
		margin-right: -7px
	.listdeposits-header form .custom-select-container
		width: calc(100% - 14px)
		margin-bottom: 24px

	.listdeposits-header form .listcredit-form-item
		width: calc(55% - 14px)
		&.listcredit-form-btn
			width: calc(45% - 14px)
	.listdeposits-header form .custom-select-container, .listdeposits-header form .listcredit-form-item
		margin-left: 7px
		margin-right: 7px

	.listcredit-raifaizen_deposits .listcredit-head-raifaizen
		margin-top: -29px
	.listdeposits-header .listcredit-head__more
		margin-top: -8px
		margin-bottom: 25px
	.listdeposits-header .button--primary
		padding-left: 30px
		padding-right: 30px
@media (max-width: 479px)
	.tablemax-info__column--all div
		width: 100%
	.listdeposits-header .listcredit-form-item_btn
		display: none		