section.review-item
	.container
		a(href="#").all-credits Все отзывы
		.review-item-top
			.review-item-top__left
				h1.review-item-top__title Я никогда не буду больше обращаться в этот банк
				.review-item-top__user
					ul.rating
						li.rating__item.active
							+add-svg({class: "rating__icon", icon: "star"})
						li.rating__item.active
							+add-svg({class: "rating__icon", icon: "star"})
						li.rating__item.active
							+add-svg({class: "rating__icon", icon: "star"})
						li.rating__item
							+add-svg({class: "rating__icon", icon: "star"})
						li.rating__item
							+add-svg({class: "rating__icon", icon: "star"})

					.review-item-top__col-mob
						.review-user-inf
							span Андрей Сергеевич
							span Краснодар
						span.review-date 21 сен 2019		
			.review-item-top__right
				a(href="#").review-bank
					span.review-bank__logo
						+add-image({src: "static/credit-recommend/bank-logo/halyk.png", retina: true})
					span.review-bank__text
						span.review-bank__name Халык Банк
						span.review-bank__count 230 отзывов
		.row-with-banner
			.row-with-banner__main
				p Сегодня все больше москвичей обращаются за помощью к психотерапевту и психиатру. Депрессия, пограничное расстройство личности, биполярное расстройство перестали быть чем-то исключительным и спокойно обсуждаются в соцсетях и на встречах с друзьями, а терапия заняла устойчивые позиции среди бытовых статей расходов, таких как покупка еды, оплата жилья и коммунальных услуг. 
				.review-type-servise Страхование
				.bank-response
					.bank-response__logo
						+add-image({src: "static/credit-recommend/bank-logo/halyk.png", retina: true})
					.bank-response__main
						.bank-response__row
							.bank-response__title Ответ банка
							.bank-response__date 22 апр 2019
						p Уважаемый Автор! <br>Благодарим Вас за обращение. Мы приняли Ваш запрос в работу и постараемся разобраться в возникшей ситуации как можно быстрее. О результатах уведомим Вас дополнительно.
						p За прошедшие с момента официального открытия девять месяцев в кластере завершили основные работы по благоустройству территории. Полностью замостили территорию плиткой.
						p Поставили дополнительную уличную мебель — в том числе симпатичные круглые скамейки в форме катушек для кабеля. Почти у каждого кафе и бара на территории кластера появилась собственная терраса.
						p С уважением,<br>ПАО КБ "Восточный
			.row-with-banner__rigth
				a(href="#").promo
					+add-image({src: "static/promo/drweb.png", retina: true})

        
       


        

