.all-credits
    display: inline-block
    color: $color-clear-blue
    font-size: 14px
    line-height: normal
    position: relative

    @media screen and (max-width: 1200px)
        display: inline-flex
        align-items: center

        padding: 0 0 0 15px

        margin: 15px 0 0

    &:before
        @include icon-arrow
        color: $color-cool-grey

        font-size: 11px

        position: absolute
        top: calc(50% - 2px)
        right: calc(100% + 4px)

        transform: translate(0, -50%) rotate(180deg)

        @media screen and (max-width: 1200px)
            display: block
            color: currentColor
            position: absolute

            top: 50%
            right: unset
            left: 0

            transform: translate(0, -50%) rotate(180deg)
            transform-origin: 50% 50%
