.bank-condition
    &-container
        display: flex
        flex-wrap: wrap
        justify-content: space-between

        padding: 0 32px 0 0

        @media screen and (max-width: 1000px)
            padding: 0

        & > *
            width: (100% / 2)
            margin: (25px / 2) 0

            @media screen and (max-width: 1000px)
                padding: 0 10px 0 0

            @media screen and (max-width: 500px)
                margin: 10px 0

        &.bank-condition-container--requirements
            margin: 0 0 27px

            @media screen and (max-width: 1000px)
                margin: 0 0 13px

            @media screen and (max-width: 500px)
                margin: -3px 0 13px


    & &-header
        margin: 0 0 4px

        @media screen and (max-width: 500px)
            margin: 0 0 6px

    &-header
        color: $color-cool-grey
        font-size: 14px
        line-height: 1.29

        @media screen and (max-width: 500px)
            font-size: 12px

    &-info
        color: $color-dark
        font-size: 18px

        @media screen and (max-width: 500px)
            font-size: 14px
