.promo-section
    background-image: radial-gradient(circle at 50% 0, #ffab52, #da0d0d)

.promo-gallery
    
    &-item
        width: 100%
        color: #ffffff
        padding: 52px 0 39px

        @media screen and (max-width: 500px)
            padding: 52px 0 25px

        &-container
            display: flex
            flex-wrap: wrap
            padding: 0px

        & &-content
            flex: 1
            margin: 0 45px 0 40px

            @media screen and (max-width: 1000px)
                flex: auto
                margin: 0

        & &-image
            @media screen and (max-width: 1000px)
                margin: 25px auto 10px

            @media screen and (max-width: 500px)
                margin: 25px auto 11px

        &-image
            width: 348px
            height: 209px

            @media screen and (max-width: 700px)
                height: 150px

            @media screen and (max-width: 500px)
                width: 100%
                height: 138px

            img
                width: 100%
                height: 100%
                object-fit: scale-down

        & &-header
            margin: 4px 0 10px

            @media screen and (max-width: 500px)
                margin: 0 0 8px

        &-header
            font-weight: $font-weight-extra-bold
            font-size: 37px

            @media screen and (max-width: 1000px)
                text-align: center

            @media screen and (max-width: 700px)
                font-size: 25px

            @media screen and (max-width: 500px)
                font-size: 24px
                font-weight: 700
                line-height: 1.04

        &-info
            color: #ffffff
            font-size: 18px
            line-height: (25/18)

            @media screen and (max-width: 1000px)
                text-align: center

            @media screen and (max-width: 700px)
                font-size: 16px

            @media screen and (max-width: 500px)
                font-size: 14px
                line-height: (20/14)

        & &-button
            margin: 19px 0 0

            @media screen and (max-width: 1000px)
                display: flex
                justify-content: center

            @media screen and (max-width: 500px)
                margin: 16px 0 0

        & &-category
            position: absolute
            top: 20px
            left: 50%

            transform: translate(-50%, 0)

        &-category
            display: flex
            align-items: center
            justify-content: center

            border-radius: 16px
            background-color: #ffffff

            color: $color-dark
            font-size: 13px
            font-weight: 700
            letter-spacing: 3.25px
            text-align: center

            padding: 7px 11px 8px 16px

            &.promo-gallery-item-category--show-on-mobile
                display: none

                @media screen and (max-width: 1000px)
                    display: flex
