.answers
    background: #FFF
    border-bottom: 1px solid #dfdfdf
    position: relative
    padding-bottom: 42px
    padding-top: 30px
    h2
        font-size: 37px
        line-height: 42px
        color: #152c51
        font-weight: 900
        
.answers__dots
    position: relative
    display: flex
    align-items: center
    justify-content: flex-end
    margin-bottom: 43px
    a
        font-size: 14px
        font-weight: 700
        color: #2d64fc
        margin-right: 18px
    .slick-dots
        display: flex
        flex-wrap: wrap
        list-style: none
        padding: 0
        margin: 0
        z-index: 2
        li
            position: relative
            width: 16px
            height: 16px
            margin: 4px 4.5px
            user-select: none
            &:before
                content: ""
                position: absolute
                top: 50%
                left: 50%
                width: 6px
                height: 6px
                background-color: #a6a9ae
                transform: translate(-50%,-50%)
                border-radius: 100%
                transition: .2s
            &.slick-active
                &:before
                    width: 12px;
                    height: 12px;
                    background-color: #2d64fc;
            button
                display: none
.listcreditslider__dots--mobile
    display: none
.answers-list
    padding: 0 0 0 0
    margin-top: -29px
    padding-top: 0
    &__wrap
        margin-left: -15px
        margin-right: -15px
    &__item
        display: block
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
        border-radius: 10px
        margin-left: 15px
        margin-right: 15px
        min-height: 222px
        position: relative
        padding: 20px 24px 20px 24px
        color: #FFF
        &:hover
            opacity: 0.9
            color: #FFF
    &__name
        display: block
        font-size: 24px
        line-height: 29px
        color: #ffffff
        padding-bottom: 50px
    &__category
        font-size: 12px
        line-height: 16px
        text-transform: uppercase
        font-weight: 700
        position: absolute
        left: 24px
        bottom: 20px
        color: rgba(255, 255, 255, 0.5)
        letter-spacing: 1px
    &__number
        display: block
        position: absolute
        right: 23px
        bottom: 20px
        text-align: center
        font-size: 14px
        line-height: 21px
        color: #ffffff
        padding-top: 28px
        span
            font-size: 18px
            line-height: 26px
            height: 26px
            display: block
            position: absolute
            left: 50%
            transform: translateX(-50%)
            top: 0
            background: #e8eeff
            border-radius: 9px
            min-width: 30px
            color: #2d64fc
            
@media (max-width: 1000px)
    .answers-list__name
        font-size: 20px
        line-height: 26px

@media (max-width: 767px)    
    .answers
        padding-top: 17px
        padding-bottom: 15px
        h2
            font-size: 27px
            line-height: 27px
    .answers__dots
        display: none!important
    .answers-list
        margin-top: 20px
        margin-bottom: 0
        margin-left: 0
        margin-right: 0
        padding-right: 40px
        .slick-list
            overflow: visible!important
        &__item
            margin-left: 15px
            margin-right: 0
            padding-left: 19px
            padding-right: 19px
            min-height: 172px
        &__name
            font-size: 17px
            line-height: 24px
            
            
